[2019-05-18 13:10] scissorsneedfoodtoo commented on #101
@vkWeb, that's great! Glad they went well.

The current plan is to keep all the required projects the same, and use these other projects as a way to teach concepts that students will need when they're working on said required projects. This project will likely come after the required Caesar's Cipher project, assuming students work through the curriculum from beginning to end. So using Vigenere's C

[2019-05-19 05:55] sw-yx commented on #116
added scoring and "slamming" with the spacebar. https://glitch.com/edit/#!/swyx-redux-tetris-fcc?path=src/reducers/game.js:129:0

at this point the demo is pretty much done except for coding the game over and then clearing up the action/reducer logic

![tetris](https://user-images.githubusercontent.com/6764957/57978321-20670f80-79d9-11e9-8485-eb251f86fb48.gif)

[2019-05-19 07:04] sw-yx commented on #116
i've been running into issues with Glitch. https://support.glitch.com/t/the-app-exceeded-the-memory-limit-300-memory-cannot-kill-with-refresh/10661

i honestly would suggest moving to codesandbox. it's just as beginner friendly, but is far more polished especially for people who someday will transition to a full IDE setup.

[2019-05-19 20:29] sw-yx commented on #116
Game over is done:

![tetris](https://user-images.githubusercontent.com/6764957/57987704-2e597680-7a53-11e9-87c7-12d9bdd4866d.gif)

at this point the project is more or less done @scissorsneedfoodtoo pending breaking it up into lessons n stuff like that

[2019-05-19 21:09] sw-yx commented on #116
https://glitch.com/~swyx-redux-tetris-fcc

[2019-05-19 21:27] markerikson commented on #116
Nice!  I particularly like the use of Redux Starter Kit here - it's something that I want to strongly emphasize when I finally have time to revamp the Redux docs.

The one downside here is that RSK is still pre-1.0, and hooks are still in alpha.  Both are still likely to change.  For example, right now I'm looking at merging in [changes to how `useSelector` checks equality](https://github.com/redu

[2019-05-19 21:53] sw-yx commented on #116
dont worry i think FCC moves a lot slower than you do. completely comfortable adapting to your final API. hardest part’s been done. we ought to push RSK as the default way to do Redux, with the option to drop down to lower level if needed.

[2019-05-20 03:09] scissorsneedfoodtoo commented on #116
@sw-yx, just played a few rounds and everything looks great! Sorry you've run into issues with Glitch. Please feel free to move to CodeSandbox if you'd like. I just found out about it recently and it does seem to model a full IDE much better than Glitch.

[2019-05-20 20:04] RafaelDavisH commented on #126
@scissorsneedfoodtoo this repo is ready to merge. I’m working on the rest of the steps and soon I will push those too.

[2019-05-21 09:24] scissorsneedfoodtoo commented on #126
@RafaelDavisH, okay, thank you! I'll take a look now.

[2019-05-21 13:04] beaucarnes commented on #105
This project looks good so far. I'll start working on updating / creating the instructions.

[2019-05-21 13:30] beaucarnes commented on #105
Just saw in https://github.com/freeCodeCamp/CurriculumExpansion/pull/143
that @lmilliken is working on this again so I'll hold off for now.

[2019-05-21 14:58] beaucarnes commented on #121
I'm working on a simple project that can be "debugged" for this challenge.

[2019-05-21 19:08] beaucarnes commented on #121
I created this simple "Dice Game" program. I'm going to add some bugs, and then create challenges / instructions to fix the bugs.

https://codepen.io/beaucarnes/pen/YbEpZM

[2019-05-21 22:15] vkWeb commented on #101
@scissorsneedfoodtoo Oh. If this project will come after Caesar cipher then I think we should not implement any of the shared key encryption algorithms like Vigenere or columnar transposition.

Instead, we should take a step forward and dive to public key (asymmetric) cryptography. This will help us in introducing the amazing concept of public and private keys - the underlying principle of our sec

[2019-05-22 02:44] scissorsneedfoodtoo opened #173 "Learn Basic CSS by Building a Blog"
This project will teach students basic CSS concepts by styling a simple blog post similar to this: https://victoria.dev/verbose/on-doing-great-things/

[2019-05-22 04:10] RafaelDavisH commented on #173
@scissorsneedfoodtoo may I?

[2019-05-22 08:53] scissorsneedfoodtoo commented on #101
@vkWeb, sorry, I fear I've been letting this project grow too large in scope. This could really be much simpler, and teach some fundamentals of cryptography by having the student build a simple password hasher, then teach how password hashes should be stored rather than plain text, along with other concepts like salt and pepper. We could just use a simple algorithm to encode the passwords, with th

[2019-05-22 09:02] scissorsneedfoodtoo commented on #121
@beaucarnes, this looks great! Seems like a really good project to teach the concepts that were discussed above without being overwhelming. I'll go ahead and change the project title here and over on the forum.

[2019-05-22 10:08] scissorsneedfoodtoo commented on #173
@RafaelDavisH, would you mind if we finish the Responsive Web Design Piano first? That one is almost finished. Once that's done you're more than welcome to take this project on!

[2019-05-22 16:20] codingk8 commented on #132
[This](https://codepen.io/codingk8/pen/XwVVKW?editors=1100) is a new draft with:
- a guitar neck 🎸
- no CSS variables for colors
- colors mixing hex, rgb and webcolors
- no flexbox (much easier than I thought, great opportunity to see how simple things can be)
- a better balance between classes and ids (and even one or two mix of both)
Slightly modified the steps descriptions but the structure rem

[2019-05-22 16:36] vkWeb commented on #101
@scissorsneedfoodtoo Yes, this project has grown up to a very large extent. I am super excited to see how we together unfold and ship this project. I think we should cover both the topics i.e. asymmetric cryptography and password hashing. Implementing RSA will enable us to teach asymmetric cryptography and then in the hash project, we'll teach about password hashes, attacks, salts and why password

[2019-05-23 01:29] picolloo commented on #98
I have made a file that works like a db so all connected users will be placed in there.

I'm almost finishing the project but it has some limitations that might be discussed:
- There is only one room for all users
- The only customizable is the username that is chosen in the login page

What do you think about that @scissorsneedfoodtoo?

[2019-05-23 03:34] QuincyLarson commented on #101
@vkWeb Keep in mind that we will need to write a series of tests (lessons) that walk learners through building this step by step, and it needs to be simple to explain. We can't say "here's an MIT lecture on [math concept] and expect them to go watch it. Everything has to be communicatable through one- or two- sentence test messages.

Could you build a basic prototype with the RSA implemented? I am

[2019-05-23 03:45] scissorsneedfoodtoo commented on #98
@picolloo, that's great! Glad you found a way to store all the users locally. Looking forward to seeing your chatroom soon!

About the limitations, one chatroom for all users is totally fine. Having multiple rooms might over complicate things. And having the username be the only customization option also seems fine. This is just a simple app, so I don't think giving users the option of changing th

[2019-05-23 06:53] scissorsneedfoodtoo commented on #127
Hi @lionel-rowe, just wanted to check in and see how things are going. Your first draft was great! I really enjoyed going through your lessons and can't wait for fCC students to do the same.

Were you able to start working on a second draft by any chance? I left some review comments over in #152 that I hope will help when you take another pass at this project. Please feel to discuss them here or i

[2019-05-23 08:10] scissorsneedfoodtoo commented on #132
@codingk8, this looks amazing! Can't tell the difference between this and your last prototype. Glad that replacing Flexbox wasn't too difficult in the end.

The only suggestion I have now is to consider putting the characters into a container just in case students have a really wide monitor. Then you can set a max-width on the container to keep the characters together. Here's a fork where I implem

[2019-05-23 12:54] codingk8 commented on #132
[This could be the final version](https://codepen.io/codingk8/pen/NVywrR?editors=1100)
@scissorsneedfoodtoo I added the div container for the 3 characters and also added it as a new steps (7 steps now).
I also removed the `body` tag in the HTML as you but we may have to put it back for the tests (so I keep that in mind).
Let me know and if we're good I'll move to the next step and begin to create

[2019-05-23 13:09] HKuz commented on #108
Thanks for checking on that @scissorsneedfoodtoo ! For now, to keep offline functionality simple, I saved the D3 scripts (what the CDNs were pointing to) into the project folder and link to them vs the CDN. I'm thinking that we can update this with the optimal bundling/module import system when there's more info about how the platform will run. Time to get cranking on these lessons! 👍

[2019-05-23 13:21] scissorsneedfoodtoo commented on #108
@HKuz, awesome! Glad that it worked, and hopefully we'll know more about the platform soon. Looking forward to seeing your lessons!

[2019-05-23 18:33] vkWeb commented on #101
@QuincyLarson Okay, I'll keep that in mind. Though I might need to write some theory of one or two paragraphs to explain some concepts.

Btw, I'll think more deeply how to deal with those concepts while designing the project. Right now, I am focusing on understanding RSA and learning JavaScript. I'll soon update you about the progress. It won't take more than two weeks to come with a prototype.

[2019-05-23 20:23] beaucarnes commented on #132
This overall project looks really good!

I think the instructions need to be MUCH more specific. From my understanding from Quincy, there should be very close to one correct answer for everything. When a user completes a step and goes to the next step, we will show our version of the correct code, _not_ the actual code that the user typed in. Maybe we could create a different type of project that

[2019-05-24 02:21] scissorsneedfoodtoo commented on #132
This prototype looks great! I'd say this is ready to go.

As for the `<body>` tag, I just removed it on CodePen because it's included automatically. You're right, it'll definitely be needed in the actual project as you break it down into short lessons.

A good example would be Beau's [CSS Animations Ferris Wheel](https://github.com/freeCodeCamp/CurriculumExpansion/tree/master/learn-css-animations-

[2019-05-24 05:23] scissorsneedfoodtoo commented on #106
Hi @padunk, just wanted to check in and see how everything's going. Were you able to take a look at the new Node server project?

[2019-05-24 05:25] scissorsneedfoodtoo commented on #115
Hi @S1ngS1ng, how's everything going with converting your prototype to TypeScript? Anything we can help out with?

[2019-05-24 05:28] scissorsneedfoodtoo commented on #107
Hi @dingjy94, thank you again for all of your hard work on this project. Students will definitely learn a lot as they work through it. I left some comments in #168 for rewrites and how we can break down some of the lessons a bit more. Were you able to start on a second draft?

[2019-05-24 05:30] scissorsneedfoodtoo commented on #120
@shimphillip, sorry for the delay! Not sure how I missed your comment. Could you submit this as a PR? It will make things a bit easier to review. I'll start reading through your lessons in the meantime.

[2019-05-24 10:20] codingk8 commented on #132
@beaucarnes Thanks for the feedback! Yes, I figured there's be some breaking down into smaller steps to do. But I guess we needed a final version before moving forward to that. We're ready now.
@scissorsneedfoodtoo Will have a close look at the example.
So next step is to start with one HTML file and break down only the CSS in all the small steps, am I right? Nothing to do on the HTML part?
+ Is i

[2019-05-24 11:57] scissorsneedfoodtoo commented on #132
@codingk8, yes, you can start with one HTML file like in the CSS Animations Project and break down just the CSS. No need to worry about the HTML -- a single `index.html` is totally fine!

Yes, you can create a branch, maybe `feat/picasso-painting-first-draft`, and push it to your fork of the CurriculumExpansion repo. Then if you could post the link to your CSS files with the first 10 or so lessons

[2019-05-24 17:06] RafaelDavisH commented on #173
👀

[2019-05-24 19:10] S1ngS1ng commented on #115
@scissorsneedfoodtoo
Hey, my apologize for the delay. We've been working on the moving since last week, and we'll be on a vacation in the next few days.
I've made some changes on my local machine regarding the conversion of TypeScript, will push those changes before we head off tomorrow.

[2019-05-25 04:32] scissorsneedfoodtoo commented on #173
Please take this one @RafaelDavisH - - you did an awesome job with the Responsive Piano, so I can't wait to see what you come up with here!

[2019-05-25 18:18] RafaelDavisH commented on #173
🕺🏽 Thanks @scissorsneedfoodtoo

[2019-05-25 18:37] RafaelDavisH commented on #173
The example above is a responsive blog. For this project, we are not covering responsive web design correct?

[2019-05-25 20:06] RafaelDavisH commented on #173
@scissorsneedfoodtoo I found blog under the `Learn Responsive Web Design` so it will be responsive.

[2019-05-26 01:52] scissorsneedfoodtoo commented on #173
Yes, no need for this to be responsive since this will be the first CSS project. Just basic styling for the photo and text for the desktop view is totally fine!

[2019-05-26 04:07] shimphillip commented on #120
@scissorsneedfoodtoo

No worries! Just did!

[2019-05-27 06:09] padunk commented on #106
@scissorsneedfoodtoo Yup, I need to make some changes, I think I can finish it tomorrow.

[2019-05-29 02:29] scissorsneedfoodtoo commented on #106
@padunk, okay, sounds great! Saw you submitted a PR and I'll take a look at it ASAP.

[2019-05-29 02:56] picolloo commented on #98
Hey @scissorsneedfoodtoo , I'm having some doubts about how can I link the socket.io-client with the express-socket.io-session , right now I can send messages through chat but without any username. I'll still work on this issue but it might take a little longer than I expected.

[2019-05-29 04:37] sw-yx commented on #116
for the record i'm fine with Glitch as it is now but may move in future. i'm not sure what the next steps are.

[2019-05-30 01:52] lavanganji commented on #119
hi @scissorsneedfoodtoo https://codepen.io/lganji/pen/gJwEKL?editors=0010
I am just thinking that writing the function like convertToF() is our basic idea right , i mean we write the functions like getArticles() getHeadlines() getAuthors() getUpvotes() so on ..
correct me if i am wrong.

[2019-05-30 14:24] DanCouper commented on #109
Hi @scissorsneedfoodtoo , I'm sorry I didn't get back to this, got stuck with family stuff and let it lapse. I have a fully functional prototype [here](https://codepen.io/DanielCouper/full/JqmvLM), covering basic SVG primitives (just circle tbh), placing them via coordinates, styling via SVG, animating using SVG. The CP demo uses JS to render out the SVG based on a set of data, but almost cut into

[2019-05-30 20:21] beaucarnes commented on #104
@shimphillip Are you going to work on this one? If not, I can give it a try.

[2019-05-31 04:28] shimphillip commented on #120
@scissorsneedfoodtoo

Have you had a chance to look at the PR?

[2019-05-31 04:29] shimphillip commented on #104
@beaucarnes Sure you can take it.

[2019-05-31 06:53] scissorsneedfoodtoo commented on #98
@picolloo, I see. No problem, just take your time with this. Also, when I go to https://codesandbox.io/s/k5q426knjo I get an error that causes the app to crash. Is that happening on your end as well?

[2019-06-01 04:20] RafaelDavisH commented on #173
@scissorsneedfoodtoo I have a [draft](https://learn-css-by-building-a-blog--rafaeldavish.repl.co/index.html) completed for the Blog. Please let know what you think. 🤞

[2019-06-03 02:44] scissorsneedfoodtoo commented on #119
Hey @lavanganji, sorry, I'm not sure I understand. Are you asking if the function `convertToF()` looks good in terms of formatting? If so, yes, it looks fine, though it would be better to declare variables with `let` and `const` rather than `var`.

All the other functions that you mentioned sound good in terms of teaching the basics, though I worry that it might get a bit repetitive since the meth

[2019-06-03 03:06] scissorsneedfoodtoo commented on #116
Sorry for the delay @sw-yx. Just did more testing and everything LGTM!

Please go ahead and start breaking the game down into steps like the [basic JS roleplaying game](https://github.com/freeCodeCamp/CurriculumExpansion/tree/master/basic-javascript-role-playing-game). While we would like for students to build as much of the game as possible, it's more important to focus on teaching Redux. This pr

[2019-06-03 04:36] scissorsneedfoodtoo commented on #173
@RafaelDavisH, this looks great! Looks just like the example.

Before you start breaking this down, would it be possible to style an actual blog post like in the example above? Originally I was thinking that this project would just be styling one single post, but an About page, a Blog page with several articles, and one actual article might be a better way to go. It would be good to remove the Pro

[2019-06-03 05:28] scissorsneedfoodtoo commented on #109
Hi @DanCouper, no need to apologize! Family and other things definitely come first.

Your project looks great! Unfortunately I didn't hear back for some time, so I assumed it was open and gave it to another contributor. If you have some free time now, would you be interested in picking up another project? We still have a few unclaimed ones [here](https://github.com/freeCodeCamp/CurriculumExpansion

[2019-06-03 20:23] RafaelDavisH commented on #173
I agree with you. When I finished I thought it was a bit much for a basic CSS project. I'm ok with the idea of just having the About, the Blog page with several fake articles and the one actual article.

I can definitely simplify this. I'll let you know when I finished the changes.

[2019-06-03 20:57] RafaelDavisH commented on #173
How this looks so far @scissorsneedfoodtoo?  [link](https://Learn-CSS-by-building-a-Blog--rafaeldavish.repl.co)

[2019-06-04 01:50] lavanganji commented on #119
@scissorsneedfoodtoo  SOUNDS GOOD LET ME WORK ON IT.

[2019-06-05 02:50] scissorsneedfoodtoo commented on #173
@RafaelDavisH, looks good! Definitely headed in the right direction in terms of simplicity. I like the look of the header, though it might be a bit complicated for this project given the fixed position. It could probably be just a regular header at the top, but what do you think?

[2019-06-05 18:28] picolloo commented on #98
Oh, I have moved the project from CodeSandbox because I was getting too many errors when saving and open the application even with the chat working, I don't know why it happened.
Now I'm working on VSCode in my local but still trying to link the client-socket.io to the express-session to establish a session to the user, it has been such a challenge to me and I'm learning how to do it.

I'll move i

[2019-06-05 20:24] RafaelDavisH commented on #173
okay. @scissorsneedfoodtoo I placed the header in a regular position, added the article page, and removed the box-sizing reset as well. [updated Blog project](https://learn-css-by-building-a-blog--rafaeldavish.repl.co/index.html)

I am okay with the changes,  I don't mind. I'm enjoying working on these projects.

[2019-06-07 15:17] vkWeb commented on #101
@QuincyLarson It's over two weeks now so here I am to update you about the project status. I have already updated @scissorsneedfoodtoo through email.

After understanding RSA and looking to its application in the real world, I have decided to build a Digital Signature System. The process of digital signing is as stated below:

Step 1: Hash the message or data to be sent
Step 2: Generate key pairs

[2019-06-10 12:40] codingk8 commented on #132
Working on it

[2019-06-10 15:33] picolloo commented on #98
I am refactoring the project to see what I did wrong and how can I serve static html with session-socket.io, I'll bring news as soon as possible.

[2019-06-11 21:03] beaucarnes commented on #104
I've been working on this a bit and have been thinking about the best way to show aspects of a RESTful API. I think @ritute was right with the comment about how a weather API is not the best project for this. Weather APIs mainly only accept GET requests. But to really learn about RESTful APIs people should see all the basic CRUD routes.

In my opinion, the MongoDB project (issue #103 ) is already

[2019-06-12 03:52] scissorsneedfoodtoo commented on #104
@beaucarnes, yes, I agree. While I could see this as a high level overview of RESTful APIs, teaching all the core concepts would lead to a lot of overlap with the MongoDB Movie Review DB project. It would probably be better to remove this project and rename the MongoDB project to something like "Learn RESTful APIs and Express by Building a Movie Review Database", or even just "Learn RESTful APIs b

[2019-06-12 20:14] beaucarnes commented on #102
I assume this project is supposed to cover the content in the "Introduction to Information Security with HelmetJS Challenges" section from the current curriculum.

I do not think the project should be building a credit card form. Isn't it common knowledge that you should never create your own payment processing? There are so many potential security problems that it is best to use a third party to

[2019-06-14 01:06] scissorsneedfoodtoo commented on #102
@beaucarnes, your analysis is spot on. I agree that we should change the project from building a credit card form to something else to avoid teaching bad practices. I like the idea of a sign up form, though it might be a bit similar to the signup page in https://github.com/freeCodeCamp/CurriculumExpansion/issues/99. Perhaps it could be another type of page to gather user information where security

[2019-06-17 01:22] scissorsneedfoodtoo commented on #101
@vkWeb, awesome! This is looking great so far. Thank you for all your hard work on this. It's certainly a daunting subject, but I think your project will do an excellent job of teaching the fundamentals of modern cryptography. Great work!

I've been playing with your prototype (https://vkweb.github.io/Digital-Signature-System/) and it looks great. Just a couple of things I noticed:

- The initial

[2019-06-17 03:13] scissorsneedfoodtoo commented on #101
@vkWeb, I looked at your prototype a bit longer and I think the problem is that the max safe integer in JS is 9007199254740991, and `Math.pow(digitalSignature, publicKey)` returns a larger number than that. There's a way around this with BigInt, and I have a working prototype here: https://codepen.io/scissorsneedfoodtoo/pen/mZPMdN.

BigInt isn't supported in the current version of FireFox, though

[2019-06-17 04:30] vkWeb commented on #101
@scissorsneedfoodtoo Thank you so much, man! I played with your prototype and it's working with bigger primes too! 🎉 Btw RSA was easier than I thought, campers will enjoy the lesson :stuck_out_tongue:

I'll soon push commits to #184  to fix the prime issue and message text. @scissorsneedfoodtoo Please rename this issue and move it to "writing test description" in the kanban board.

[2019-06-17 05:10] scissorsneedfoodtoo commented on #98
@picolloo, alright, that sounds great! Thank you for updating us. Looking forward to hearing more news soon.

[2019-06-17 05:13] scissorsneedfoodtoo commented on #101
@vkWeb, no worries, glad to help a little bit. Awesome job breaking this down! Should be a really fun project and I'm sure all the campers will enjoy working through it.

[2019-06-17 05:24] scissorsneedfoodtoo commented on #173
@RafaelDavisH, thanks for your patience. Awesome! This is looking great -- very minimal, modern, and stylish.

Maybe one more suggestion I have is to just have one or two articles on the blog.html page. If you would rather have two separate articles, it might be better for them to actually link to different articles with a different picture. Also, could you remove the link to pexels.com below the

[2019-06-17 09:21] vkWeb commented on #101
@scissorsneedfoodtoo Yeah!

[2019-06-19 02:48] scissorsneedfoodtoo commented on #115
@S1ngS1ng, no need to apologize! Hope the move went well and you had a nice vacation.

I'm sorry for taking so long to respond. Not sure if you saw, but we moved off of Medium, and it was all hands on deck for a while there. Now that things have settled down I'm getting all caught up on things around here. Looking forward to seeing your changes soon!

[2019-06-19 02:52] QuincyLarson commented on #102
Hi @beaucarnes That's a good point. I don't know if a password and security question form would be much better though since it's a fool's errand to "roll your own authentication". (One of the reasons we use Auth0 for this). Can either of you think of another form-type project idea that could involve some of the helmet.js and/or OWASP features?

[2019-06-19 04:34] QuincyLarson commented on #173
@RafaelDavisH This looks solid. I like your suggestions, too, @scissorsneedfoodtoo. The simpler this is, the better. We will self-host all the assets on freeCodeCamp so that they can build this locally without an internet connection.

[2019-06-19 04:38] QuincyLarson commented on #104
@beaucarnes Even if the project accomplishes much the same goals as the MongoDB project, we should build in a bit more redundancy into the curriculum so learners get more opportunities to practice.

Rather than removing this from the curriculum, I recommend we come up with a similar project, so that learners can practice the the CRUD operations in the context of just an API before they start mixin

[2019-06-19 17:47] RafaelDavisH commented on #173
@scissorsneedfoodtoo and @QuincyLarson, Fantastic! I'll make these changes and start on breaking it down.

@scissorsneedfoodtoo how's the `responsive piano`  project going? anything else I need to add?

[2019-06-20 02:52] scissorsneedfoodtoo commented on #173
@RafaelDavisH, awesome! Looking forward to seeing this all broken down :+1: :+1:

I believe we're good on the responsive piano project, but I'll take another look and will leave a comment in that project issue if I notice anything.

[2019-06-20 15:27] vkWeb commented on #119
@scissorsneedfoodtoo Algorithms - this project looks interesting to me ;) After breaking down the Cryptography project, I'll look to this one closely.

@lavanganji Can you share your progress so that I can see the direction in which this is going?

[2019-06-20 17:20] beaucarnes commented on #102
I'm thinking "Learn Information Security by securing a Contact page".

The actual content of the page does not really matter as helmet.js can be used in any express web server. Since there are a few other projects where students build express servers from scratch, my idea is that the express server portion of the code for this project will already be written. The student will just have to add more

[2019-06-20 17:45] beaucarnes commented on #104
"Learn RESTful APIs by Building a Grocery List App"

I created a simple Node / Express server API to keep track of a grocery list. I tested it locally and it works as expected. Instead of storing data using a database, it just stores data in memory using an array.

If @QuincyLarson / @scissorsneedfoodtoo likes this idea, I will start creating instructions.

Here is the code: https://gist.github.co

[2019-06-21 13:26] picolloo commented on #98
The good news is that I've finally found what I was doing wrong, the bad news is that I'll have to refactor the project structure. I'll bring updates asap, thank you for being so patient @scissorsneedfoodtoo.

[2019-06-24 06:06] lavanganji commented on #119
@vkWeb  this is my latest work https://codepen.io/lganji/pen/gJwEKL?editors=0010.   i thought i writing this methods, getArticles() getHeadlines() getAuthors() getUpvotes()  .. got really busy on something else. please let me know if you need anything else.

[2019-06-24 07:45] vkWeb commented on #119
@lavanganji Thanks for sharing your progress. Since you are busy, I would like to take this project further. May I?

[2019-06-24 10:26] lavanganji commented on #119
@vkWeb  sure and thanks

[2019-06-24 12:49] scissorsneedfoodtoo commented on #104
@beaucarnes, this is a great idea. Using an array for temporary storage is a good way to shift the focus away from databases while still teaching CRUD operations.

[2019-06-24 13:33] scissorsneedfoodtoo commented on #102
You're right that the content of the page doesn't really matter here. A contact page sounds good because it might give us the opportunity to introduce some other concepts like validation and sanitization.

[2019-06-24 13:36] scissorsneedfoodtoo commented on #98
@picolloo, no need to apologize! Thank you for continuing to work on this. Good luck with the refactor and please let us know if there's anything we can do to help.

[2019-06-24 13:50] scissorsneedfoodtoo commented on #118
@UsamaHameed, hows everything going? Were you able to make any progress on a prototype?

[2019-06-24 13:56] scissorsneedfoodtoo commented on #116
@sw-yx, just wanted to check in and see how things are going. Did you have a chance to start breaking this project down into steps?

By the way, I saw your video about Netlify identity and functions on Jason Lengstorf's channel the other week. Good stuff! I learned a lot.

[2019-06-24 13:57] scissorsneedfoodtoo commented on #110
@lsurasani, how's everything going? Did you get a chance to start on the prototype?

[2019-06-24 13:58] scissorsneedfoodtoo commented on #99
@truclyle, how's everything going with your prototype? Is there anything we can help with?

[2019-06-24 13:59] scissorsneedfoodtoo commented on #125
@abhisekp, thank you for sending over your outline the other week. Were you able to start breaking this project down into steps?

[2019-06-24 14:05] scissorsneedfoodtoo commented on #117
@Marmiz, how's everything going? Were you able to adjust the difficulty of the game? Even if you weren't, this project is probably ready to be broken down into steps like the [JavaScript RPG Game](https://github.com/freeCodeCamp/CurriculumExpansion/tree/master/basic-javascript-role-playing-game).

[2019-06-24 14:08] scissorsneedfoodtoo commented on #127
Hi @lionel-rowe, just wondering if you were able to start on a second draft and break down this project into more steps. Please let us know your status and if there's anything we can help with!

[2019-06-24 14:13] scissorsneedfoodtoo commented on #107
@dingjy94, hope your job interviews have been going well! Just wanted to check in and see how everything's going and if you were able to start on a second draft. Please just let us know your status and if there's anything we can do to help!

[2019-06-24 14:37] scissorsneedfoodtoo commented on #120
@shimphillip, sorry for the delay in reviewing your PR the other week. Were you able to start on a second draft by any chance? I left some review notes over in https://github.com/freeCodeCamp/CurriculumExpansion/pull/179.

[2019-06-24 14:41] scissorsneedfoodtoo commented on #122
Hi @lionel-rowe, just wanted to check on the status of this project, too. Were you able to start on another draft by any chance?

[2019-06-24 14:47] scissorsneedfoodtoo commented on #111
@karuppiah7890, how's everything going? Were you able to start breaking this project down into steps? Please let us know your status and if there's anything we can help out with!

[2019-06-24 15:29] akintoluvic commented on #125
@scissorsneedfoodtoo yes and I already removed the irrelevant ones on the outline.

[2019-06-24 16:06] vkWeb commented on #119
@lavanganji Thanks ;)

@scissorsneedfoodtoo I'll look into this soon.

[2019-06-24 16:12] vkWeb commented on #101
@scissorsneedfoodtoo Please rename this issue to "Learn Cryptography By Building a Digital Signature System".

[2019-06-24 17:28] shimphillip commented on #120
@scissorsneedfoodtoo no worries. I will work on it this week.

[2019-06-24 19:19] sw-yx commented on #116
i haven't! been  a bit of busy period in my life right now with a lot of conference commitments. i am probably not gonna get to this at least until august. if anyone else wants to help break this down i'd love help or else this'll have to wait

[2019-06-24 20:21] lionel-rowe commented on #122
Draft 2 should be coming shortly, though I'm somewhat swamped with work at the moment. Aiming for within the week.

[2019-06-24 20:21] lionel-rowe commented on #127
Draft 2 should be coming shortly, though I'm somewhat swamped with work at the moment. Aiming for within the week.

[2019-06-24 22:51] dingjy94 commented on #107
Hi @scissorsneedfoodtoo,
Really sorry for the reply. I think I have some spare time this week so I can start work on that this week. Hope I can finish the second draft this weekend.

[2019-06-25 02:10] RafaelDavisH commented on #173
@scissorsneedfoodtoo, I made the changes you suggested. Here is the again [link](https://Learn-CSS-by-building-a-Blog--rafaeldavish.repl.co) if you want to check them out.

[2019-06-25 02:32] truclyle commented on #99
@scissorsneedfoodtoo I'm working on breaking things down (still in progress) like one of the examples by Beau. Can you take a look and let me know if I need to break things down even more? https://github.com/truclyle/CurriculumExpansion/tree/authentication/learn-authentication-by-building-signup-page

[2019-06-25 04:31] truclyle commented on #99
@scissorsneedfoodtoo Update: I've completed breaking the prototype down. See https://github.com/truclyle/CurriculumExpansion/tree/authentication/learn-authentication-by-building-signup-page

Please let me know if I need to break things down even more or there is something I should do with the hashed password. Right now I just have a comment in the code where the app can do something with the hashe

[2019-06-25 04:49] scissorsneedfoodtoo commented on #125
@akintoluvic, awesome! Please just open up a PR with your broken down steps when you can.

[2019-06-26 02:21] scissorsneedfoodtoo commented on #107
@dingjy94. no need to apologize! Thank you for all of the time and effort you've put into this project so far. Hope everything's going well with the interviews. Please just take your time on the second draft and submit another PR when you can.

Also, do you have some time to hop on a quick 20-30 minute call some time next week? I'd love to hear more about you and answer any questions you might hav

[2019-06-26 02:22] scissorsneedfoodtoo commented on #127
@lionel-rowe, that's great! Thank you for the update. Looking forward to seeing your next draft soon :+1: :+1:

[2019-06-26 02:23] scissorsneedfoodtoo commented on #122
@lionel-rowe, thank you for the update! Looking forward to seeing it soon.

[2019-06-26 02:24] scissorsneedfoodtoo commented on #116
@sw-yx, no worries, thank you for the update! Looking forward to seeing some of your conferences if they're posted to YouTube.

I'll put the Help Wanted label on this for now, but it's not a problem for this to wait until August or so.

[2019-06-26 02:31] scissorsneedfoodtoo commented on #120
@shimphillip, great! Thank you for your continued effort on this project. Looking forward to seeing your next draft soon!

Also, do you have some time to hop on a 20 or 30 minute call sometime next week? I'd love to learn more about you and answer any questions that you might have about this project. If so, please send a message to kris@freecodecamp.org and we can set something up.

[2019-06-26 02:32] scissorsneedfoodtoo commented on #101
Awesome! Thank you for thinking of a more appropriate project name. I'll update the title here and in Quincy's forum post now.

[2019-06-26 05:21] QuincyLarson commented on #102
Agreed. A contact page is more realistic since you wouldn't generally want to roll your own credit card form either.

[2019-06-26 05:21] QuincyLarson commented on #104
@beaucarnes Great idea. I've updated the title of this project.

[2019-06-26 05:24] QuincyLarson commented on #119
@vkWeb Just a quick thank you for all your work on these projects. You are coming up with some really ingenious approaches.

[2019-06-26 05:29] QuincyLarson commented on #109
@DanCouper Your SVG solar system looks fantastic. It looks like it could be in a contemporary art museum.

Is there a way you could refactor it a little so it makes even more use of SVG?

[2019-06-26 05:39] QuincyLarson commented on #99
Hi @truclyle thanks for sharing your prototype. This is off to a great start. Quick question: is there a way we can make it more apparent that people are signed in once they click the "sign up" button - such as showing: "You're signed in. Debug mode - email: [email] password: [password] hashed password: [hashed password]."

Also, for the sake of simplicity in terms of learners building this step-b

[2019-06-26 05:40] QuincyLarson commented on #100
Hey @brandenbyers I hope your summer is going great. Have you had a chance to think more about this project? Let me know if I can do anything to help. This is one of the most important projects in the entire curriculum and I am stoked to see what you do with it.

[2019-06-26 05:48] QuincyLarson commented on #125
@akintoluvic This looks great so far. I encourage you to keep it simple like you have so far, but to also see if you can add some different column layouts as well.

[2019-06-26 05:53] QuincyLarson commented on #98
@picolloo I just wanted to chime in and say this looks amazing and works great.

I encourage you to strip out everything that isn't absolutely necessary. We want as few files and as few lines of code as possible.

For example, I found your todo list and it said:
- [ ] private rooms
- [ ] group rooms
- [ ] user avatar

These would all be awesome but I think we could probably do without these advanc

[2019-06-26 05:57] QuincyLarson commented on #117
@Marmiz This is off to a great start. I encourage you to keep the code as simple as possible. Instead of having hotkeys to start / restart I would just have the game start as soon as it loads, then restart whenever the player crashes.

Remember that the learner is going to build this project line-by-line so we want to minimize the number of lines of code and thus the features.

[2019-06-26 05:59] QuincyLarson commented on #115
Hi @S1ngS1ng how is this project coming along? We are excited to get Typescript into the curriculum. This is commonly requested.

[2019-06-26 06:01] QuincyLarson commented on #132
@codingk8 I hope your summer is off to a fantastic start. I am really excited about your project. If I can be of any help or give you any clarity on these test messages, please let me know. Thanks again for your hard work on this Picasso project. Picasso would be proud and probably have something funny to say about it. 😸

[2019-06-26 06:12] vkWeb commented on #119
@QuincyLarson This means a lot to me. Thank you so much for the appreciation :)
As soon as I'm done with writing test descriptions of cryptography project, I'll start working on this one ;)

[2019-06-26 06:20] QuincyLarson commented on #173
@RafaelDavisH Just chiming in to say this looks fantastic. Thanks again for your hard work on this so far.  I am excited about getting thousands of people working through this, building this one line at a time.

[2019-06-26 06:21] QuincyLarson commented on #116
@sw-yx Thanks for your candor. This project is off to a great start.

Hey @beaucarnes would you be interested in dramatically simplifying this and stripping out all but the most essential parts, then breaking this down into tests?

[2019-06-26 06:49] scissorsneedfoodtoo commented on #173
@RafaelDavisH, this looks great, thank you for taking the time to make so many revisions. Hope you don't mind, but I have a couple more suggestions -- could you change "email" to "Email"? Also, would it be possible to change the "Medium" link the the author bio to "Developer News" and link to https://www.freecodecamp.org/news/? I'm sure you already saw, but we switched off of Medium and will start

[2019-06-26 14:06] picolloo commented on #98
Hey @QuincyLarson , thank you for taking some time to see what I'm doing lately and for the advice, I am stripping out everything that I found unnecessary and keep it as simple as possible.

Right now I'm reorganizing the project accordingly to express middlewares necessity and applying the session to the client's socket to enforce a single connection for each user.

I had to learn a few new conce

[2019-06-26 15:28] S1ngS1ng commented on #115
@QuincyLarson Hey Quincy. I've been constantly working on it. I ran into some OOP design issues, and have it mostly resolved over last weekend.
I'll try to make some updates before this weekend. What I am doing now is rewriting some classes and putting them together.

[2019-06-26 18:49] vkWeb commented on #119
@scissorsneedfoodtoo By reading your previous comments and looking into the forum post, I think you are expecting this project to use concepts of Data structures and replace `Basic and Intermediate Algorithm Scripting` of the current curriculum to prepare students for the final projects.
I hope my understanding is correct?

[2019-06-27 01:42] RafaelDavisH commented on #173
@QuincyLarson, thank you. I am also thrilled about the positive impacted this new curriculum will have on future students, on which I'm excited to know I'm able to contribute my grain of sand.
@scissorsneedfoodtoo, sure I'll make the changes I don't mind. Question: I thought one of the main purposes of the curriculum is to work offline, and we were not adding URL links.

[2019-06-27 01:44] scissorsneedfoodtoo commented on #119
@vkWeb, yes, that's right. This project will replace the challenges in the Basic and Intermediate Algorithm Scripting sections, and should cover as many of those concepts as possible in preparation for the required JavaScript Algorithms and Data Structures Projects.

[2019-06-27 03:57] truclyle commented on #99
Thanks for your feedback @QuincyLarson. I'll make it more apparent that the user has signed up successfully. I can remove the CSS file. As for the name field, do you mean the form's text input for the user's name or the name attribute on the form's inputs?

[2019-06-27 14:41] beaucarnes commented on #116
Sure, I can simplify this and add tests. This project is off to a great start!

[2019-06-27 17:57] beaucarnes commented on #104
I just made a PR with the code and tests for this project.

[2019-06-28 08:37] scissorsneedfoodtoo commented on #99
@truclyle, I believe what @QuincyLarson meant is that it's not necessary to get the user's name, so you can remove that text input on the form.

[2019-06-28 10:16] vkWeb commented on #119
@scissorsneedfoodtoo Okay. I'll go through the challenges first.

See, what's on my mind right now is that we won't build a full project here. We'll solve problems related to a project that can cover a huge amount of challenging situations. This section needs to be challenging. Extremely challenging. Campers love this challenging part of freeCodeCamp. So, we shouldn't disappoint them, right? ;)

[2019-06-29 07:12] karuppiah7890 commented on #111
@scissorsneedfoodtoo No, I got busy in between. Gonna go stuff today!

[2019-06-29 08:40] scissorsneedfoodtoo commented on #111
@karuppiah7890, great, thank you. Please keep us posted on your progress.

[2019-06-29 13:35] karuppiah7890 commented on #111
@scissorsneedfoodtoo I just finished writing some index.html files with comments for the span tag and for the introduction. But midway I realized I made it a bit verbose. So cutting down the details and trying to add just the instructions. Will raise a WIP PR just to show how it looks like.

[2019-06-29 13:43] karuppiah7890 commented on #111
@scissorsneedfoodtoo I raised a draft PR for this issue!

[2019-06-29 15:42] akintoluvic commented on #125
Thanks @QuincyLarson @scissorsneedfoodtoo I'll open a PR next week, I'm a little busy till Monday

[2019-06-30 13:34] scissorsneedfoodtoo commented on #119
@vkWeb, we should be creating full projects here, though this doesn't require a full UI similar to the RSA digital signature project. Just a console based application is fine here, too. Also it should be challenging, but not so much that learners will get discouraged. Try to keep the difficulty level about the same as the current beginner and intermediate challenges while covering concepts that ma

[2019-06-30 15:00] Marmiz commented on #117
Apologises for the late response.

@QuincyLarson I integrated those features mainly as an addition to the game engine, and I agree that they may be an overkill, perhaps those are more game development oriented.

I can start working on a step by step section as @scissorsneedfoodtoo pointed out.
But before I start, is there any official resource / guide on how to do it?

Or is mainly up to my own di

[2019-07-03 04:14] scissorsneedfoodtoo commented on #117
@Marmiz, sounds good. Please take out those things and refer to the [Contributor's Guide](https://github.com/freeCodeCamp/CurriculumExpansion/blob/master/CONTRIBUTING.md) before you start breaking down this project into steps. You can also take a look at the [JS RPG Game](https://github.com/freeCodeCamp/CurriculumExpansion/tree/master/basic-javascript-role-playing-game) for a good example of how l

[2019-07-03 04:15] scissorsneedfoodtoo commented on #125
@akintoluvic, sounds good. Looking forward to seeing your project broken down into steps :+1: :+1:

[2019-07-05 13:17] ieliz opened #209 "OpenCV.js tutorial at freeCodeCamp.org"
Greetings!
We are Summer Intel Interns.
Our team would like to collaborate with freeCodeCamp.org project.

We want to create beginner's course about OpenCV.js. The course will include topics like: installing, resize image and image processing, camera management and others by means of short theory sentences, interactive examples, tasks for self test.

Based on this, better way to create this course

[2019-07-05 14:16] JiwoonKim commented on #118
Hi! I'd love to contribute to creating this project!

Just looked into the Functional Programming section for the Javascript Algorithms And Data Structures Certification, and noticed a lot of it revolves around basic array methods.
I was wondering what you had in mind in using array methods (filter, splice, slice, concat, etc.) for the spreadsheet. Should it just provide specifications for the arr

[2019-07-05 18:03] shimphillip commented on #120
@scissorsneedfoodtoo

Made another pull request. Sure, can you send me a calendar schedule of your avaliability where I can pick a time?

[2019-07-06 13:40] codingk8 commented on #132
@QuincyLarson Ah ah... For sure! This guy had a great sense of humor 😃
@scissorsneedfoodtoo Sorry things are moving slow. All my time is still absorbed by one big real-life priority but you're 2nd on the list. Doing my best to send you the tests asap.

[2019-07-07 22:23] Ramon92 commented on #114
@QuincyLarson I would like to take this on and build a prototype.
My take on this is to make it possible to select an csv file with first names, surnames and emails.
Being able to parse several csv formats and outputting it in JS as an array. Or to output is as an array of objects in which each object has as keys the header of the csv file.
The result will be displayed on the page in a table forma

[2019-07-09 00:47] dingjy94 commented on #107
Hi @scissorsneedfoodtoo,
I just made a PR #190, which is the second draft of this learn npm thing.

[2019-07-09 02:12] picolloo commented on #98
I have finally made it work, the client's socket now can send and receive messages with the right username. I had never handle session so it was a huge experience and I'm glad that I could handle it.

For the project to be done, I have to make some adjustments on the layout and some functionalities like the logged user list. I had some trouble trying to import the project to de CodeSandbox so if y

[2019-07-09 09:15] scissorsneedfoodtoo commented on #132
@codingk8, sounds great, thank you for keeping us in the loop. Please just let us know when you submit your test descriptions and I'll go over them right away.

[2019-07-09 09:22] scissorsneedfoodtoo commented on #120
@shimphillip, awesome, I'll take a look at your new pull request ASAP. I sent over a calendar invite, but just picked a random time and date. Please change it to one that works best for you and we'll shoot for that.

[2019-07-09 09:50] scissorsneedfoodtoo commented on #118
@JiwoonKim, awesome! It would be great if you could pick up this project.

You're right, the current Functional Programming sections does include a lot of basic array methods. Many of these concepts will be covered in other projects like the Algorithmic News Feed, Shopping Cart, and Calorie Counter which all come before your project. This could be more of a review / brief overview of the filter, s

[2019-07-09 23:09] moT01 commented on #110
I can try and take this one.

[2019-07-10 12:01] Nirajn2311 commented on #124
Hi, is this up for taking or is it done?

[2019-07-10 15:38] thecodingaviator commented on #124
@Nirajn2311 check with @ryanwaltmurray

[2019-07-11 04:26] Nirajn2311 commented on #124
@ryanwaltmurray any update?

[2019-07-11 04:29] JiwoonKim commented on #118
@scissorsneedfoodtoo Thanks for the explanation! I'd like to take this project if it's okay. I'll try to come up with a prototype and share it as soon as possible!

[2019-07-11 13:11] ryanwaltmurray commented on #124
@Nirajn2311 please go ahead and finish it off if you have time, that would be great. I’ve become quite busy and had this on the back burner. The CodePen link above is the still the latest progress. If you have any questions about it feel free to message me.

[2019-07-12 05:38] scissorsneedfoodtoo commented on #110
Okay, sounds great. Thank you for picking this up @moT01.

[2019-07-12 05:40] scissorsneedfoodtoo commented on #118
Sounds great @JiwoonKim. Looking forward to seeing what you come up with. Please check out the [Contributor's Guide](https://github.com/freeCodeCamp/CurriculumExpansion/blob/master/CONTRIBUTING.md) for some frequently asked questions, and don't hesitate to reach out if there's anything we can help with.

[2019-07-12 05:41] scissorsneedfoodtoo commented on #124
Thank you for the update @ryanwaltmurray, and for offering to pick this up @Nirajn2311.

[2019-07-13 02:31] moT01 commented on #110
https://codepen.io/moT01/pen/jjRJmY

[2019-07-13 06:40] brandenbyers commented on #100
Hey! Sorry this message slipped by. I have definitely still had this on my mind, but it was an unexpectedly busy spring. I have an big event I'm organizing that takes place at the end of July, so I've had to push off the actual implementation of this again. But I'm very serious when I say this is at the TOP of my list of priorities come the beginning of August. Sorry that time slipped away.

I hav

[2019-07-15 06:08] scissorsneedfoodtoo commented on #100
@brandenbyers, no problem, thank you for the update. Glad to hear that you have example test cases and a story in mind.

I don't think you need to worry about how to automate verifying the tests now -- that's something we can figure out on our end later. For the current [Quality Assurance with Chai](https://learn.freecodecamp.org/information-security-and-quality-assurance/quality-assurance-and-tes

[2019-07-15 23:48] GlynL commented on #102
Anyone working on this? I'd be happy to build something.

Imagining this is a simple frontend form submitting to a backend secured with Helmet.js?

[2019-07-16 03:07] scissorsneedfoodtoo commented on #102
Hi @GlynL, this project is all yours.

Yes, that's right. Just a simple contact form with very limited or even no styling is fine, along with a simple backend like you mentioned. Please take a look at the [Contributor's Guide](https://github.com/freeCodeCamp/CurriculumExpansion/blob/master/CONTRIBUTING.md) before you start working on a prototype. And feel free to reach out if you have any question

[2019-07-16 07:42] GlynL commented on #102
Here's a basic version. Let me know if this is what you were thinking.

https://codesandbox.io/s/learn-information-security-by-building-a-contact-form-lmvm9?fontsize=14

[2019-07-16 08:12] scissorsneedfoodtoo commented on #102
This is off to a great start. One suggestion I have is to consider adding more Helmet.js features. This project will be replacing the current lessons on information security, and should cover as many of those concepts as possible. Check out this Glitch project for more details about what's currently being taught: https://glitch.com/edit/#!/woozy-bill?path=myApp.js:10:0

[2019-07-16 19:23] QuincyLarson commented on #110
@moT01 This looks excellent. The code is clean and simple, and I can visualize how we would walk people through setting up the dashboard one element at a time. Could you start breaking this down into a series of tests?

For the data, we could pre-include that so they don't have to type it out themselves but everything else should be coded by them one or two lines at a time.

[2019-07-16 20:28] beaucarnes commented on #110
This looks nice! I'm excited to see how this is broken up for the tests.

[2019-07-16 20:40] moT01 commented on #110
Thanks for the feedback @QuincyLarson & @beaucarnes - quick question... should I break the project up into separate css and js files or should I just put all the code in an html file and use script/style tags like it is on codepen? And if I break it up, how would I direct users to different files and determine the order of lessons? The other project I did was all in the html file so it was easy to

[2019-07-17 09:28] scissorsneedfoodtoo commented on #114
@Ramon92, thanks for your patience. I believe this project is more about creating the actual CSV file itself while teaching the fundamentals like the general format, how there should be no unnecessary spaces at the beginning or end of an entry, how to include commas in a value by wrapping the whole thing in double quotation marks, and so on. The list could include properties like first and last na

[2019-07-17 09:49] scissorsneedfoodtoo commented on #110
@moT01, great question. The new platform will support multiple files, so it would be best to break your lessons up into separate HTML, CSS, and JS files. Every time a learner completes a step, the editor will focus on the area where the new lines of code will go. So if the learner adds a new CSS ruleset, then has to go back to the HTML file, the editor will switch to the HTML file automatically an

[2019-07-17 09:53] scissorsneedfoodtoo commented on #99
Hi @truclyle, were you able to make any progress on simplifying your prototype? Looking forward to seeing the final version and to start breaking it down into steps.

[2019-07-17 09:55] scissorsneedfoodtoo commented on #125
@akintoluvic, were you able to start breaking this down into steps? Looking forward to seeing your PR soon.

[2019-07-17 10:15] scissorsneedfoodtoo commented on #98
@picolloo, glad that you were able to get it working and have been working steadily on it. Pulled your repo and took a look, and everything seems to be working fine. No errors like on CodeSandbox.

My only suggestion would be to keep things as simple as possible. We want learners to write as much of the code as possible, including any views and styling you have. By logged users list, do you mean a

[2019-07-17 10:16] scissorsneedfoodtoo commented on #127
Hi @lionel-rowe, were you able to make any progress on a second draft?

[2019-07-17 10:35] scissorsneedfoodtoo commented on #105
@lmilliken, were you able to make any progress on a third draft? I left a few suggestions and thoughts in #180.

[2019-07-17 10:36] scissorsneedfoodtoo commented on #122
@lionel-rowe, were you able to make any progress on your next draft? Looking forward to seeing it soon.

[2019-07-17 10:36] scissorsneedfoodtoo commented on #108
Hi @HKuz, were you able to start breaking this project down into steps? Looking forward to seeing them soon.

[2019-07-17 11:05] akintoluvic commented on #125
@scissorsneedfoodtoo I have started already, would send in my first PR before weekend.

[2019-07-17 13:21] picolloo commented on #98
Oh, thank you @scissorsneedfoodtoo for the feedback.

After made the chat work as I expected I have stripped out everything I thought it's too much and made the username be shown in the message, but I forgot to merge the branch so when I get home I'll fix that and open the PR on the FCC repo.

[2019-07-17 18:51] beaucarnes commented on #110
Another method I'm going to try for a different project (that will have at least 10 files) is to put all the instructions in a single text file. For each instruction, I will indicate the file name that the instruction applies to. I will use sequential numbers on the file names for each step, just like in the other projects.

[2019-07-17 19:02] moT01 commented on #110
I think I have a method that looks like it will work for me - I just named each file a number and gave it whatever extension it needed.
<img width="185" alt="Screen Shot 2019-07-17 at 1 58 12 PM" src="https://user-images.githubusercontent.com/20648924/61403517-1196bf00-a89b-11e9-8f98-1be8925d62ba.png">

[2019-07-17 19:19] beaucarnes commented on #110
Seems like a good method to me.

[2019-07-17 22:49] GlynL commented on #102
@scissorsneedfoodtoo I was thinking about this when I made it and included everything that was mentioned in the curriculum. If you check https://helmetjs.github.io/ most of the security methods are included by a simple `app.use(helmet())`. You can configure these or enable extras by passing a config object into the function.

Do we want to have people enabling them for the sake of teaching or do w

[2019-07-18 08:13] lmilliken commented on #105
Ah, sorry I didn't see it before @scissorsneedfoodtoo , I'll submit the third draft shortly.

[2019-07-19 03:04] scissorsneedfoodtoo commented on #105
No need to apologize, just a few minor things I noticed. Looking forward to seeing your next draft :1st_place_medal:

[2019-07-19 03:16] scissorsneedfoodtoo commented on #98
@picolloo, awesome! Saw your PR yesterday and I'm looking forward to going through it.

[2019-07-19 03:17] scissorsneedfoodtoo commented on #125
@akintoluvic, that's great. Looking forward to going through your project.

[2019-07-19 03:57] scissorsneedfoodtoo commented on #110
@moT01 and @beaucarnes, both seem like great methods given the projects. Having all the instructions in one place for the Redux project will make it much easier to review.

[2019-07-19 04:05] scissorsneedfoodtoo commented on #102
@GlynL, I see. Didn't realize that most were enabled by default. In that case, it might be best to follow the current lesson structure as learners build the page. Explain a vulnerability and introduce a piece of middleware that solves it, then go back and refactor to use `app.use(helmet())` and a more normal configuration. Otherwise it seems like there won't be a good way to show all the different

[2019-07-19 05:13] GlynL commented on #102
@scissorsneedfoodtoo Yepp, I was wondering about that and it's probably best. I've updated my demo https://codesandbox.io/s/learn-information-security-by-building-a-contact-form-lmvm9?fontsize=14

The process I have in mind is:
* Enable each of the packages which are included by default separately.
* Let them know these are included by default using `helmet.use()` and get them to refactor.
* Then

[2019-07-19 09:07] raisedadead commented on #155
See https://github.com/freeCodeCamp/CurriculumExpansion/issues/194

[2019-07-19 09:07] #155 closed

[2019-07-23 01:37] HKuz commented on #108
Hi @scissorsneedfoodtoo - yes, I've been working on breaking this down over on my repo for the project. I've been stretched a little thin lately, so my progress is on the slower side, but I'd say I've got about half of the lessons done - getting there!

[2019-07-23 02:52] scissorsneedfoodtoo commented on #102
@GlynL, that all sounds great! Your demo also LGTM :+1: :+1:

This should be ready to be broken down into steps. Your project is quite similar to the [Express Stock Trading](https://github.com/freeCodeCamp/CurriculumExpansion/tree/master/express-stock-trading-platform) one, so feel free to take a look at that and the [Contributor's Guide](https://github.com/freeCodeCamp/CurriculumExpansion/blob/ma

[2019-07-23 03:00] scissorsneedfoodtoo commented on #98
@picolloo, thanks for your patience. Just merged your PR and I'm happy that we got it into the repo. If you have some time to hop on a call later this week, please send me an email at kris@freecodecamp.org. I'd be happy to talk more about your project and answer any questions you might have before you finish breaking it down into steps.

[2019-07-23 03:16] scissorsneedfoodtoo commented on #108
@HKuz, okay! Thank you for the update. Glad to hear that you've been making steady progress on breaking this project down. Half of the lessons already is great, especially considering how complex this project is. Will check them out over on your repo!

[2019-07-23 18:28] vkWeb commented on #119
@scissorsneedfoodtoo I'm extremely sorry for the delay. Actually, after finishing the RSA project, I got busy with some college work.

Okay, I'll keep your points in mind. Btw, I'll first solve all the algorithm problems myself so this project may take some time but trust me, you will not be disappointed with the final project.

[2019-07-25 07:36] scissorsneedfoodtoo commented on #119
@vkWeb, no need to apologize! Thank you for all of your hard work on the RSA project, and for taking on this one. Looking forward to seeing what you do with this news feed.

[2019-07-29 21:54] shimphillip commented on #120
@scissorsneedfoodtoo Hello, trying to work on it this week. Do you know where I can go to see the comments you made to make some modifications to the files?

[2019-07-31 06:39] scissorsneedfoodtoo commented on #120
@shimphillip, awesome! Yes, the comments are in the are in your last PR here: https://github.com/freeCodeCamp/CurriculumExpansion/pull/189.

[2019-07-31 06:48] scissorsneedfoodtoo commented on #114
Hi @Ramon92, were you still interested in working on this project? If so, what do you think of the possible topics I mentioned in my last comment?

[2019-08-01 04:24] shimphillip commented on #120
@scissorsneedfoodtoo Thx! Made a PR.

[2019-08-02 16:18] codingk8 commented on #132
@scissorsneedfoodtoo I'm back in code land & moving on with the project.
Will PR a first something asap 🌸

[2019-08-04 06:13] scissorsneedfoodtoo commented on #132
@codingk8, awesome, thanks for the update. Looking forward to seeing your PR :confetti_ball:

[2019-08-04 14:39] #195 closed

[2019-08-04 14:52] scissorsneedfoodtoo commented on #125
Hey @akintoluvic, were you able to start breaking this project down?

[2019-08-04 15:06] akintoluvic commented on #125
I am stuck, I will send a PR now, so I can get suggestion on how best to move @scissorsneedfoodtoo

[2019-08-04 15:17] akintoluvic commented on #125
Got issues when I tried to push
![image](https://user-images.githubusercontent.com/32616421/62425609-48f6cf80-b6d3-11e9-9715-b901403b1329.png)

[2019-08-05 01:47] scissorsneedfoodtoo commented on #125
Hi @akintoluvic, great to hear that you have a PR ready.

What program are you using? Also, which repo are you pushing to? If you're trying to push directly to freeCodeCamp/CurriculumExpansion, then you might get an error like that about permissions. Are you pushing to akintoluvic/CurriculumExpansion?

[2019-08-05 02:39] scissorsneedfoodtoo commented on #102
Hi @GlynL, did you have a chance to start breaking your project down?

[2019-08-05 02:40] scissorsneedfoodtoo commented on #100
Hi @brandenbyers, were you able to think more on this project and start getting all of your lesson ideas and notes together?

[2019-08-05 08:28] akintoluvic commented on #125
No, I was pushing to freeCodeCamp/CurriculumExpansion @scissorsneedfoodtoo

[2019-08-05 09:10] scissorsneedfoodtoo commented on #125
I see. That probably explains the error. Could you push your branch to akintoluvic/CurriculumExpansion? Then you can open a PR here for review.

[2019-08-05 14:54] brandenbyers commented on #100
Yes, I was. I should have something ready to share by the end of this week...finally!

[2019-08-05 16:40] codingk8 commented on #132
Hi @scissorsneedfoodtoo A few questions: am I right to put all instructions/explanations in the HTML files? Is it OK for this project to have steps both on the HTML and on the CSS parts? Or do we "give" the total HTML to the students and only ask them to add the CSS? 😃

[2019-08-06 04:06] scissorsneedfoodtoo commented on #100
@brandenbyers, awesome! Looking forward to seeing what you came up with :+1: :+1:

[2019-08-06 04:18] scissorsneedfoodtoo commented on #132
@codingk8, those are great questions. It's totally fine for your project to have both HTML and CSS files since the new interface will support multiple files. Since your project will be the third on the list, we should have learners code all of the HTML and CSS to reinforce what they've already learned.

Your project will fall after the [Beginner CSS Blog](https://github.com/freeCodeCamp/Curriculum

[2019-08-06 08:43] GlynL commented on #102
@scissorsneedfoodtoo Hi, I haven't had a chance yet. Just started a new job last week but I will have a look this week.

[2019-08-06 14:33] codingk8 commented on #132
Hello @scissorsneedfoodtoo Just sent the first PR with breakdown for steps 1 to 3.
Please let me know what you think so that I can adjust right now and for the coming steps 😃

[2019-08-07 02:04] scissorsneedfoodtoo commented on #102
@GlynL, no problem, thanks for the update. Take a look when you can and I look forward to seeing your lessons soon.

[2019-08-07 02:05] scissorsneedfoodtoo commented on #132
@codingk8, just saw your PR. I'll take a look now and leave some review comments.

[2019-08-07 15:47] codingk8 commented on #132
@scissorsneedfoodtoo Just read your comments. Will answer in the PR 😉

[2019-08-08 09:58] SomeDer commented on #118
@scissorsneedfoodtoo can I work on this?

[2019-08-08 10:18] scissorsneedfoodtoo commented on #118
@SomeDer, sure, this project is all yours. The first step is to build a prototype on a platform like CodePen or CodeSandbox. Feel free to check out the [Contributor's Guide](https://github.com/freeCodeCamp/CurriculumExpansion/blob/master/CONTRIBUTING.md) for general information and FAQs, and please don't hesitate to reach out if you have any questions.

Looking forward to seeing what you come up w

[2019-08-08 16:11] hatr1ck commented on #99
Hello everyone!
I gave it a quick read and added some aditions to prototype:
https://github.com/hatr1ck/Learn-Authentication
- deleted css,
- aded user info to the res.send() after registration
- deleted a couple beginner unfriendy stuff like destructuring

Also I made couple steps closer to the real life example here:
https://github.com/hatr1ck/Learn-Authentication-and-Login-
- added login form t

[2019-08-09 03:20] SomeDer commented on #118
@scissorsneedfoodtoo I've finished the prototype:
https://codepen.io/someder/pen/VoxwxX

[2019-08-09 04:35] RandellDawson commented on #118
@SomeDer I looked over your current code and had a couple of observations:

1. Noticed you intermix ES6 arrow function syntax with traditional function declaration syntax.  Is there a reason you are not using arrow function and const/let throughout?

2. How do use the spreadsheet functions?  I expected to be able to enter something like:
`=sum(A1,B1)` or `=sum(A1:B1)` or =A1+B1
in say cell C1 and

[2019-08-10 06:28] GlynL commented on #102
@scissorsneedfoodtoo I've added created a project stepping through the helmet parts. Wasn't too sure whether to add steps for building out the express server and front-end or whether we will provide that as it's covered in other sections? Should I also create a pull request into the fcc repo yet?

https://github.com/GlynL/CurriculumExpansion/tree/Learn-Information-Security-by-Building-a-Contact-Fo

[2019-08-10 13:01] SomeDer commented on #118
@RandellDawson thank you for the review. I've edited the code:
* It now uses arrow functions throughout
* The function names are no longer case sensitive
* Infix operators (`+`,`-`,`*`,`/`) are now supported
* The `A1:B1` syntax is now supported

[2019-08-11 07:44] scissorsneedfoodtoo commented on #99
@hatr1ck, great, thank you for offering to pick up this project.

Both of your prototypes look good. Looking at [Quincy's forum post](https://www.freecodecamp.org/forum/t/help-us-build-version-7-0-of-the-freecodecamp-curriculum/263546) introducing the new curriculum, this will be one of the last projects, so I'm sure your second prototype with the fake DB is still within scope. We want learners to

[2019-08-11 08:47] scissorsneedfoodtoo commented on #102
@GlynL, great, looks like it's headed in the right direction. We want learners to write as much of the code as possible for these projects, so please break down the form section of the HTML and the Express server as well. You're right that HTML and Express have been covered by other projects up to this point in the curriculum, but we imagine that the repetition of certain concepts would be good fo

[2019-08-11 11:36] hatr1ck commented on #99
Well, we can move further into begginers rabbit hole with more libraries :), something like:
mongoose+=passport+=passport-local+=cookie-session
 But as I understand from  [Quincy's forum post](https://www.freecodecamp.org/forum/t/help-us-build-version-7-0-of-the-freecodecamp-curriculum/263546) campers have some familiarity only with mongodb.
[Glitch](https://glitch.com/edit/#!/responsible-bakery?p

[2019-08-12 03:28] scissorsneedfoodtoo commented on #118
@SomeDer, amazing! Looks just like the Google Sheets spreadsheet I had open in another tab. And thank you for your observations and suggestions, @RandellDawson. The only other thing I noticed is that, while both `=sum(A1:A2)`, `=A1+A2`, and `A1+A2` all work, if I use either of the first two the `=` sign is left in the cell.

[2019-08-12 03:38] brandenbyers commented on #100
I'm not certain how I should share what I have so far since it isn't a legitimate PR as this point. Let me know if you would like me to roll this into a PR anyway. Otherwise, I have a couple of gists to convey the basic gist of the lesson structure as it is written now:

Lesson text: https://gist.github.com/brandenbyers/86101570463339cc1100e398d5e3c740

Tests with example failures and passing resu

[2019-08-12 04:03] SomeDer commented on #118
@scissorsneedfoodtoo OK.
* The cell names can now use both upper and lowercase letters (so both `A1` and `a1` work).
* When the user want  the expression to be expanded, it must now start with an `=` sign, and the sign is now removed. This means the third example no longer works, but that's the behavior of Google Sheets.

[2019-08-12 06:47] S1ngS1ng commented on #115
@QuincyLarson @scissorsneedfoodtoo @sw-yx https://github.com/S1ngS1ng/freeCodeCampProject/tree/master/poker-game-ts

Here is a quick preview of what I currently have. Still, it is not fully functional since I am still working on some refactoring on my side.
Please let me know if you guys have any questions or concerns. Comments and suggestions are always welcome, for sure XD

[2019-08-15 08:42] scissorsneedfoodtoo commented on #99
@hatr1ck, that makes sense. If learners go through the new project based curriculum from beginning to end, then they should be familiar with Node, Express, and MongoDB/Mongoose by the time they reach this project. Seems like it would be best to focus on the basics here -- introducing bcrypt and teaching the basics of authentication is more than enough.

The only other suggestion I have at this poi

[2019-08-15 13:01] scissorsneedfoodtoo commented on #118
@SomeDer, awesome, thank you for continuing to work on this prototype. Really incredible what you've been able to do here.

Now that I've taken a better look at the code, my only suggestion would be to try and simplify things as much as possible. Taking a look at Quincy's [forum post](https://www.freecodecamp.org/forum/t/help-us-build-version-7-0-of-the-freecodecamp-curriculum/263546) about the ne

[2019-08-15 13:01] scissorsneedfoodtoo commented on #119
Hi @vkWeb, were you able to start working on this news feed project?

[2019-08-15 13:04] scissorsneedfoodtoo commented on #98
Hi @picolloo, just wanted to check in since our talk a little while ago. Were you able to start working on another PR for this project?

[2019-08-15 13:06] scissorsneedfoodtoo commented on #117
Hey @Marmiz, just wanted to check in and see how things are going. Were you able to start breaking this project down into steps?

[2019-08-15 13:09] scissorsneedfoodtoo commented on #127
@lionel-rowe, just wanted to see if there's an update on your second draft.

[2019-08-15 13:12] scissorsneedfoodtoo commented on #107
Hi @dingjy94, just wanted to check in and see how everything's going. I left some review comments in #190. Were you able to start on a third draft?

[2019-08-15 13:28] scissorsneedfoodtoo commented on #122
Hi @lionel-rowe, were you able to start on a new draft?

[2019-08-15 13:30] scissorsneedfoodtoo commented on #124
Hi @Nirajn2311, were you able to make any progress on breaking this project down into smaller steps?

[2019-08-15 13:39] scissorsneedfoodtoo commented on #120
Hi @shimphillip, thank you for all of your work on this project. I've been going through all the projects individually, and I believe yours is very close to being finished. Rather than going back to your old PR that touches the files, I thought I'd just list them here.

The example in `index23.js` gives the answer away. Would it be possible to break this down into several steps, and walk learners

[2019-08-15 16:29] Nirajn2311 commented on #124
@scissorsneedfoodtoo sry mate, I was busy. Imma sit down and look at this in the weekend.

[2019-08-15 22:30] dingjy94 commented on #107
Hi @scissorsneedfoodtoo, I will start to work on the third draft next week. I think I can finish it by next Sunday.

[2019-08-16 05:58] SomeDer commented on #118
@scissorsneedfoodtoo I've broken down two blocks of code:
[code]
[code]
[code]
[code]
Are there any other lines that need breaking down? Perhaps the `window.onload` function, but I think that's fairly simple, because it's mostly imperative code.

Also, can a single line can be broken down into multiple lessons? For example:
[code]

[2019-08-16 06:21] scissorsneedfoodtoo commented on #107
That's great to hear. Looking forward to your next draft.

[2019-08-16 06:23] scissorsneedfoodtoo commented on #124
Awesome, thank you @Nirajn2311. Also, please don't hesitate to send me an email at kris@freecodecamp.org if you want to set up a call to talk more about this project before you really start breaking it down.

[2019-08-16 13:16] scissorsneedfoodtoo commented on #100
@brandenbyers, I really enjoyed reading through your lesson text. Made me hungry to learn more about testing, and also just plain hungry.

This definitely seems to be headed in the right direction. While we did discuss a fast paced lesson structure, with each lesson having up to 5 or so sentences of descriptive text, I'm sure we could find creative ways to break the text you have into smaller less

[2019-08-17 16:50] brandenbyers commented on #100
I like the direction you're going with capturing the test cases and results. How strict do you think the evaluation of the tests would be? As in, does the user need to enter an exact test string in order for the lesson to pass?

I have been thinking more about a quasi mutation testing strategy for more open ended test coverage in the later tests. More to get the users thinking like testers. Maybe

[2019-08-19 01:22] scissorsneedfoodtoo commented on #118
@SomeDer, thanks for your patience and for taking the time to simplify those sections. My concern is that the the longer lines using `replace` will still be a bit too advanced for students at this stage of the curriculum, but perhaps that can't be avoided easily with all of the features of the spreadsheet.

For the single `charRange` lines, yes, that's exactly how we could break them down, though

[2019-08-19 04:14] QuincyLarson commented on #118
@SomeDer I am really impressed with this project so far. It works great, and looks great, too. It's quite amazing considering how few lines of code you've written here.

I encourage you to start writing the series of tests that will help learners build this project up, one line at a time. These should be only one or two sentences long. You don't need to actually code the tests - just write the tex

[2019-08-19 04:58] scissorsneedfoodtoo commented on #118
@SomeDer, please take a look at the [FAQs](https://github.com/freeCodeCamp/CurriculumExpansion/blob/master/CONTRIBUTING.md) and [D3 Dashboard](https://github.com/freeCodeCamp/CurriculumExpansion/tree/master/d3-dashboard) to get a better idea of how we'd like to break these projects down into short lessons.

Also, send me a message at kris@freecodecamp.org if you have some time to hop on a call. We

[2019-08-19 07:35] scissorsneedfoodtoo commented on #100
Great, I'm glad to hear that I might be on to something. I'm in the process of writing tests for another project, and I'm hopeful that we'll be able to for find a good way to write tests for this project as well.

Sorry for any confusion. I have a tendency to use the words "step" and "lesson" interchangeably when talking about these projects. It's my understanding that we'll be quite flexible in e

[2019-08-19 13:02] beaucarnes commented on #118
@SomeDer This looks great! I would recommend that the project starts with the HTML and CSS already created and the tests / instructions only focus on the JavaScript. You can consider hard coding some instructions in the HTML about how to perform the calculations in the spreadsheet.

Like Quincy, I'm impressed by how much functionality you squeezed into so few lines of code. You may also consider l

[2019-08-19 13:17] picolloo commented on #98
Hey @scissorsneedfoodtoo, sorry for the late response, I had been really busy these weeks so I didn't have time move forward on this 'breaking into steps' part of the project. Next week I gonna have more time to dedicate to it because I'll finish a project that I'm doing to apply for a new job, I hope you understand it and I'll keep you updated.

[2019-08-21 01:20] scissorsneedfoodtoo commented on #98
@picolloo, thank you for the update. Good luck with the job application! Just keeps us posted and I look forward to seeing your steps soon.

[2019-08-26 04:02] dingjy94 commented on #107
Hi @scissorsneedfoodtoo, I had finished the 3rd draft #208. Please just leave comments there so that I can now how to make further improvement.

[2019-08-26 05:03] sw-yx commented on #115
interesting way to code this. looks like Angular, but entirely done with dom api's!

not much comments apart from that i personally would opt for far fewer files, collapsing interfaces w implementations where possible. many files is scary to me as a beginner.

[2019-08-26 14:49] SimpleVlad commented on #209
We wrote a message about occurred problem as @raisedadead said and are waiting for your reply.(https://gitter.im/FreeCodeCamp/Contributors?at=5d63efcf022dba538e642c13)

[2019-08-27 02:30] scissorsneedfoodtoo commented on #209
Hi @SimpleVlad, thank you for continuing to work on the OpenCV tutorial. Unfortunately we're not looking to add new courses to the current curriculum or the upcoming one in the CurriculumExpansion repository.

As I said in our [earlier conversation](https://github.com/freeCodeCamp/CurriculumExpansion/issues/209#issuecomment-510891166), the best thing to do is to create an in-depth text tutorial fi

[2019-08-27 06:24] scissorsneedfoodtoo commented on #107
@dingjy94, thank you for your latest draft. I just merged it a little while ago. We should be good to go now unless we later decide to further break down some of the steps. Will move this project into the "Coding Project Tests" section of the project board now.

[2019-08-28 02:37] scissorsneedfoodtoo commented on #115
Thank you for your continued efforts on this project, @S1ngS1ng. Looking forward to seeing your fully functional project.

@sw-yx brings up a good point. Would it be possible to simplify further and reduce the number of files? Having a few longer files will be easier for learners to grasp, and will also make things easier on us when it's time to start breaking this project up into steps.

[2019-08-28 02:40] scissorsneedfoodtoo commented on #111
@karuppiah7890, I left some review comments over in #188. Were you able to start working on another draft?

[2019-08-28 02:42] scissorsneedfoodtoo commented on #102
Hi @GlynL, were you able to continue breaking this project down?

[2019-08-28 02:44] scissorsneedfoodtoo commented on #125
@akintoluvic, I left some review comments over in #202. Were you able to continue breaking this project down into small steps?

[2019-08-29 02:07] scissorsneedfoodtoo commented on #115
@S1ngS1ng, that's also a valid point.

It's hard to say right now because I don't have any concrete details about the new platform yet, it's just something we've talked about. Why don't we stick to the way you've been splitting files based on logic/duty now? Then we can consider consolidating later if it's necessary due to platform limitations or how learners react to projects earlier in the curri

[2019-08-29 06:10] vkWeb commented on #119
@scissorsneedfoodtoo Yes, I am solving different algorithm problems and I am also learning more about JS. I have solved the data structures and basic algorithm section of the current curriculum and I have realized something.

I think news feed won't be the best approach here. IMHO, the current challenge-based approach seems perfect for the algorithms section. There are certain intermediate challen

[2019-08-29 16:49] DanCouper commented on #109
Hi Quincy! Sorry about the delay, had a wedding to be married at so last week has been somewhat of a write-off. Yes, I've got one using moar SVG; this was literally because I wanted elliptical orbits, then that led to using animation in SVG instead of CSS. This may be a slight deal-breaker as it won't work in IE/Edge, but I can investigate polyfills. Also needs a nice subtle star field background

[2019-08-30 04:28] scissorsneedfoodtoo commented on #119
@vkWeb, it's true that we won't be able to cover every concept or problem in the current curriculum with these projects, but that's one of the reasons we're moving in this direction. In my opinion, coding challenges like the ones in the Intermediate Algorithm Scripting section are great at exercising already existing programming knowledge. However, they're not great for teaching someone how to pro

[2019-08-30 15:54] picolloo commented on #98
Hey, @scissorsneedfoodtoo I started to break the project into steps and would be great to get some feedback to know if I'm doing it right. I've tried to abstract all the npm complexity and to keep it as simple as possible as you recommended.

 The link for my repo is [https://github.com/picolloo/CurriculumExpansion/tree/steps](url), thank you and we keep in touch.

[2019-09-01 10:33] hatr1ck commented on #99
Hi!
I have some [fist drafts](https://github.com/hatr1ck/FCC-Auth)
Would glad to hear your opinion on that. Say whatever you have in mind.
More/less code splitting,change order of exercises, or better english grammar :)
Thank you!

[2019-09-02 04:15] karuppiah7890 commented on #111
@scissorsneedfoodtoo No 🙈 got caught up with other things. Also, about explaining `.open`, `.send` is it okay to let them read by giving links and just saying "now we will create a http request, and then send it" ?

[2019-09-02 05:12] scissorsneedfoodtoo commented on #111
@karuppiah7890, it would be best if we can explain all of those concepts ourselves in just a few short sentences per step. The [Express Stock Trading](https://github.com/freeCodeCamp/CurriculumExpansion/tree/master/express-stock-trading-platform) project does a great job of this. If you go through that project, you can see some simple explanations of different Express methods and code examples tha

[2019-09-03 03:39] scissorsneedfoodtoo commented on #109
Congratulations on your wedding @DanCouper! This is looking great--I'm excited to see the finished prototype with the star field and a rocket.

Only about 2% of people that visited fCC in the last month used IE or Edge, so I don't think you need to worry about the polyfills. I couldn't test your pen above on Safari, but it's working well on Chrome and Firefox.

[2019-09-04 03:29] scissorsneedfoodtoo commented on #99
@hatr1ck, I started writing some general feedback here, but it was turning into a big wall of text. I'll email you some thoughts about your first drafts now.

[2019-09-10 07:28] scissorsneedfoodtoo commented on #118
@SomeDer, we're starting the process of porting some of these projects over to the current platform for people to beta test. Would you be interested in helping us write the unit tests for each step in your project?

[2019-09-10 15:18] SomeDer commented on #118
@scissorsneedfoodtoo, yes I'm interested in helping. What's the syntax for adding the tests?

[2019-09-11 04:02] scissorsneedfoodtoo commented on #118
@SomeDer, awesome! Thank you for continuing to help with this project.

Each test is just a Node `assert` statement. The tricky part is writing just one test per step that's flexible enough for different possible answers. I've been using a combination of regex and calling functions before `assert` to write the tests for the RPG game. Here's my branch so far for your reference: https://github.com/f

[2019-09-11 20:46] picolloo commented on #98
Hey you guys, I want to know if I can abstract the html part of client-side and focus on the client socket.io connection.

I am using some of the other projects as a guide but no other project deal with this much of files so I'm kinda doing it as I think is the best way.

[2019-09-13 10:26] codingk8 commented on #132
@scissorsneedfoodtoo OK, I'm back. Papers are signed for the new home. Picasso is my priority now until it's finished.
Updating my fork and pulling down things today. Will re-read yours comments and submit a new PR asap 👩‍💻

[2019-09-13 15:06] scissorsneedfoodtoo commented on #130
@moT01, we're starting the process of porting some of these projects over to the current platform for people to test. Would you be interested in helping us write the unit tests for each step in your project?

[2019-09-13 17:35] codingk8 commented on #132
@scissorsneedfoodtoo One question for you: in the previous PR comments you said it would be better to include the Font awesome locally.
Am I supposed to do it right now in the project and PR that file with the rest?
If yes, do you want it in the css file or in a dedicated fontawesome file?

[2019-09-16 02:58] scissorsneedfoodtoo commented on #132
@codingk8, thanks for your patience. For the Font Awesome file, it's fine to include it as a dedicated file in your upcoming PR. It would be similar to how @HKuz included d3 in the Map of Earth project here: https://github.com/HKuz/fCC_D3_CurrExp. You could have a CSS directory with the CSS file learners will work on throughout the project, and a separate Font Awesome file in the same directory.

[2019-09-17 02:36] scissorsneedfoodtoo commented on #98
@picolloo, thanks for your patience.

Sure, that sounds like a good way to do it for now. Just focus on the Express and Socket.io side of things and we can always add more steps for the HTML and CSS later.

I took a quick look at your steps and it seems like you're headed in the right direction. My only suggestion would be to be more explicit in your instructions and to try and break things down e

[2019-09-17 09:09] raisedadead commented on #209
Hi @ilbalance this is still an ongoing topic and implementation that we are likely to add.

[2019-09-17 14:22] dkurt commented on #209
@raisedadead, Can we ask you about the structure of the samples. In example, https://github.com/freeCodeCamp/CurriculumExpansion/tree/master/build-npm-module. Am I right that it's a kind of sequence? Is there Web GUI which can show them one-by-one?

[2019-09-17 14:48] raisedadead commented on #209
Am I right that it's a kind of sequence?

Yes, this is an sample sequence for node js bases projects/challenges. I'll defer to @scissorsneedfoodtoo for an exact requirement.

Is there Web GUI which can show them one-by-one?

Not at the minute, we can develop a UI depending on the content. That is something will come after the fact. The content needs to be curated first as a part if the research an

[2019-09-17 15:31] QuincyLarson commented on #119
@vkWeb I agree. We can have a basic algorithms project, an intermediate, an advanced - all different projects. And I'm not married to the notion of an algorithmic news feed project. Train schedules and other algorithmic projects would be great. The main thing is we give learners lots of practice building distinct, substantial projects that will involve them applying algorithm concepts.

[2019-09-17 15:40] vkWeb commented on #119
@QuincyLarson Yes exactly, that's what I was thinking last night! We can have multiple small projects. It will cover different challenges in terms of difficulty and taste.

Btw I had a talk with @scissorsneedfoodtoo via email and we decided to write a forum post to know camper's views and to take their suggestion on this approach. I will ask them if they know some good projects which can cover a b

[2019-09-17 15:51] scissorsneedfoodtoo commented on #119
@vkWeb, that sounds good. We could split the projects up like we're doing with the basic CSS blog and intermediate Picasso painting projects now. The train ticket booking application you proposed would make for a good intermediate algorithms project.

[2019-09-17 17:00] vkWeb commented on #119
@scissorsneedfoodtoo I have created a forum post: https://www.freecodecamp.org/forum/t/tell-us-your-ideas-for-the-upcoming-algorithms-section/315113.

Let's see how things turn out.

[2019-09-17 23:54] scissorsneedfoodtoo commented on #119
Awesome, thank you for posting that to the forum.

[2019-09-18 00:30] scissorsneedfoodtoo commented on #209
Hi @dkurt, @SimpleVlad, and @ilbalance. Talked this over with @QuincyLarson and last night and we're excited by the prospect of making OpenCV content available to freeCodeCamp learners, especially since there isn't much out there for the JS library right now. Building an interactive curriculum is a huge undertaking, so here's what we suggest:

1. Create an in-depth article that covers the basics s

[2019-09-19 09:49] thecodingaviator commented on #107
The discussion above is TL so I DR, but I was thinking that mom is so much more than just creating a package of your own. It includes everything from installing CLIs to dependencies and removing them, etc. I don’t think from the current title that it is what we are approaching.

[2019-09-20 03:03] scissorsneedfoodtoo commented on #107
@thecodingaviator, thanks for your input.

It's true that npm is much more than creating a module and that there's a lot involved before you even get to that point. It's hard to predict exactly what the scope should be for this project now since we're still trying to work out how the next platform will work with these types of challenges that require a CLI. Until then I feel this is a good start t

[2019-09-23 13:00] picolloo commented on #98
Alright then, I'll break the steps even more. Thanks for your help.

[2019-09-23 15:33] DanCouper commented on #109
Just a check-in - sorry this has been a little while, I am on it & should have a PR by this time next week, I've just been extremely busy at work.

[2019-09-24 05:16] scissorsneedfoodtoo commented on #119
As per [this](https://www.freecodecamp.org/forum/t/tell-us-your-ideas-for-the-upcoming-project-based-algorithms-section/315113) post on the forum, we will split this section up into separate projects.

[2019-09-24 05:17] scissorsneedfoodtoo opened #217 "Learn Intermediate Algorithms by Building a Dice Game"

[2019-09-24 05:20] scissorsneedfoodtoo commented on #98
@picolloo, great, thank you. Looking forward to seeing the rest of your steps. Please let me know if there's anything I can do to help or if you'd like more early feedback before submitting a PR.

[2019-09-24 05:23] scissorsneedfoodtoo commented on #109
No need to apologize @DanCouper. Thank you for keeping us in the loop and looking forward to seeing your PR whenever it's ready.

[2019-09-24 18:57] vkWeb commented on #217
If you (the one who's reading this) is interested in helping us then I would encourage you to take a look at the problem spec: https://github.com/vkWeb/C-Yahtzee-Game/blob/master/Specs.pdf and the same repo has my implementation of the game in C language. It's not complete yet but 80% of the work has been done on it.

[2019-09-24 19:00] vkWeb commented on #217
@scissorsneedfoodtoo If we don't get a response from the community in a week to help us in building this game then I'll take this project further.

[2019-09-24 19:08] vkWeb commented on #119
@scissorsneedfoodtoo The apps/games we will be building are not finalized. I am still looking for different possibilities, here's my reddit post to ask the internet about project ideas: https://www.reddit.com/r/learnprogramming/comments/d8rjas/please_tell_us_your_ideas_for_the_upcoming/

I won't hold this for too long. I'll look for replies on the post only for 2 - 3 days and then we'll start work

[2019-09-24 19:27] moT01 commented on #130
Once a branch on the main repo is created for these projects, I will make a PR there - for now, these challenges are viewable [here](https://github.com/freeCodeCamp/freeCodeCamp/compare/master...moT01:feat/add-tests-for-skyline-project?expand=1) - the tests are all created, and I'm pretty satisfied with all of the challenges.

[2019-09-28 16:05] SomeDer commented on #118
@scissorsneedfoodtoo I've noticed that you've replaced code tags with backticks, but the backticks don't seem to be working.

[2019-09-30 06:27] scissorsneedfoodtoo commented on #118
@SomeDer, thank you for your patience and for moving your PR over to the main repo.

The trick with the backticks is that there needs to be a space between the opening `<section>` tag and the first paragraph featuring backticks. In `step-002.md`, the following will render code as intended:

[code]

[2019-10-02 17:41] karuppiah7890 commented on #111
Sorry folks, I have been caught up with multiple other things. Should have posted here about it. Really sorry. 😞

[2019-10-05 03:13] scissorsneedfoodtoo commented on #111
@karuppiah7890, no need to apologize. Thank you for checking in. How's everything going now? Will you be able to work on the next draft of your project?

[2019-10-05 03:51] karuppiah7890 commented on #111
I figured I'm good at making small projects, but explaining them, not so much. I would recommend someone else to pick it up 🙈 this could be a good hacktoberfest issue

[2019-10-07 04:55] scissorsneedfoodtoo commented on #111
@karuppiah7890, that sounds good. Thank you again for your help so far and for letting us know.

[2019-10-08 13:47] manoj10101996 commented on #20
<body>
  <script>
    const dataset = [
                  [ 34,     78 ],
                  [ 109,   280 ],
                  [ 310,   120 ],
                  [ 79,   411 ],
                  [ 420,   220 ],
                  [ 233,   145 ],
                  [ 333,   96 ],
                  [ 222,    333 ],
                  [ 78,    320 ],
                  [ 21,   123 ]
                ];

[2019-10-10 23:46] Ast2435 commented on #125
Hi @scissorsneedfoodtoo , is there anything left to do? I could start breaking it down into steps, is there some guidelines or examples i can see first to see if i'm capable enough?

[2019-10-11 13:08] scissorsneedfoodtoo commented on #125
@Ast2435, yes, there is still quite a bit to do on this project.

The latest prototype is here, so please feel free to take a look and to add your own spin on it: https://codepen.io/akintoluvic/pen/zXbYrq. Many Flexbox concepts like flex direction, aligning items with justify content and align items, and other things like Flexbox sizing. Also, the current prototype is not very responsive. That wou

[2019-10-11 13:12] scissorsneedfoodtoo commented on #102
Hi @GlynL, were you able to start working on your next draft? I left some review comments in https://github.com/freeCodeCamp/CurriculumExpansion/pull/212.

[2019-10-12 00:00] Ast2435 commented on #125
@scissorsneedfoodtoo Ok, for now i would like to at least update the prototype to include more Flexbox concepts, i should be able to finish it before Tuesday. If somethings happens, i'll keep you posted.

[2019-10-12 08:45] GlynL commented on #102
@scissorsneedfoodtoo Hey, sorry I've been busy with some other things and hadn't noticed your comments. I'll have a look into it soon

[2019-10-13 10:51] scissorsneedfoodtoo commented on #125
@Ast2435, awesome, sounds great. I understand that you won't be able to get all the Flexbox concepts that we want to teach in the final prototype, so what I'm thinking is that we can refactor the project as we go along, teaching several concepts then going back and changing the code wherever it makes sense. But that's just a thought I had about this project -- there's still lots of time to discuss

[2019-10-13 10:57] scissorsneedfoodtoo commented on #102
@GlynL, no problem. Take a look when you can and let me know if there's anything I can do to help.

[2019-10-20 07:35] MathewtheCoder opened #225 "Integrating react hooks into our curriculum."
**Is your feature request related to a problem? Please describe.**
React hooks is the biggest addition to React in the recent years and it's fairly evident that it's going to be their main focus from now on. Most people are switching from class components to functional components because of the power React hooks provide. So it's surprising that we haven't integrated react hooks into our curriculum

[2019-10-23 12:38] scissorsneedfoodtoo commented on #225
@MathewtheCoder, you bring up good points. Our current React curriculum is a bit dated, though we plan to introduce hooks in the [Redux Tetris](https://github.com/freeCodeCamp/CurriculumExpansion/issues/116) game, and also possibly in the [React Flappy Bird](https://github.com/freeCodeCamp/CurriculumExpansion/issues/117) game that falls a bit earlier in the new project based curriculum.

Please fe

[2019-10-23 12:38] #225 closed

[2019-10-25 05:14] scissorsneedfoodtoo commented on #227
While these challenges would be a better fit in the current curriculum, some of the new projects might be able to use the concepts covered here. Closing this for now, but thank you for all of your hard work so far, @Flarp.

I'll ask around and see if anyone is interested in picking this up for inclusion in the current curriculum. If so, I'll reopen this issue and move it back to the main repo for

[2019-10-25 05:14] #227 closed

[2019-10-29 01:27] perezvon commented on #217
I have some time and inclination to work on this! I will try to bash out a prototype in the next few days.

[2019-10-29 06:25] vkWeb commented on #217
@perezvon Amazing! I'll be looking forward to your prototype.

[2019-10-29 14:10] NA-E commented on #119
Hi @vkWeb. Do we now have any finalized game/app list? From the discussion above it appears that this section is going to get split into separate projects. I would love to contribute prototyping a project and progress forward with further developments.

[2019-10-30 01:55] scissorsneedfoodtoo commented on #217
Sounds great, @perezvon. Please feel free to reach out if you have any questions.

[2019-10-30 02:11] scissorsneedfoodtoo commented on #119
@NA-E, please feel free to work on a prototype for this project or pitch a totally new one as @vkWeb mentioned.

The main thing we want to do with this project is to cover most, if not all, of the concepts used in the [Basic Algorithm Scripting](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-algorithm-scripting/) section of the current curriculum.

[2019-10-30 03:38] perezvon commented on #217
OK here's something just to see if I've got the right idea: https://codesandbox.io/s/broken-sea-3ixfn

I kept it vanilla because I'm not sure where along the curriculum it will fall, but it might make sense to do it in React if it's after the React lessons or what-have-you. The checkboxes are kinda unintuitive (you uncheck to keep the die value); I didn't want to spend too much time fiddling with

[2019-10-30 07:43] scissorsneedfoodtoo commented on #217
@perezvon, wow, that was fast! On first glance this is looking really good. The difficulty of parts of the code seems about on par with the challenges in the current [Intermediate Algorithms](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/) section.

If you take a look at [Quincy's post](https://www.freecodecamp.org/forum/t/help-us-bui

[2019-10-30 07:44] vkWeb commented on #217
@perezvon It's a very quick start. 😄

We actually expect this to be a command-line application. The reason why we are insisting on a command-line app is that we want campers to solely focus on Algorithms. And just to clarify, we want to use 100% vanilla JS. No libraries.

Coming to your app here are some suggestions:

- I didn't see Chance, Yahtzee, Small Straight, Straight mentioned anywhere. I h

[2019-10-30 07:52] vkWeb commented on #217
@scissorsneedfoodtoo Looks like our comments fired up at the same time. 😄

@perezvon  I realized just now that we can't accept inputs from command line in vanilla JS. Let there be a minimal UI. Please ignore my previous comment regarding the app being a command-line interface.

[2019-10-30 11:46] beaucarnes commented on #217
This looks really good! A few additional recommendations:
- When 'Play again' is clicked, the score and list of rolls should reset. Currently they don't
- Consider moving all initial HTML from the JavaScript file to the HTML file. I think rules should also be in the HTML file. The HTML file will be given to the user and the user will just have to develop the JavaScript file.
- I don't know if we n

[2019-10-30 12:43] NA-E commented on #119
@vkWeb @scissorsneedfoodtoo Okay. Allow me some time to do some brainstorming on my own. I'll give you guys an update in one week.

[2019-10-31 03:14] perezvon commented on #217
Cool, thanks for all the feedback! I've made some changes based on your aggregated comments, take a look-see: https://codesandbox.io/s/broken-sea-3ixfn

@scissorsneedfoodtoo I had to do this one fast because last time (Tetris game) I kept dragging my feet until all my free time evaporated 😃

@vkWeb I realized as I'm typing this that I'm still using `Array.sort()` -- I'm a little torn on your feedb

[2019-10-31 04:41] RandellDawson commented on #217
@perezvon Since the whole purpose of this project is to learn algorithms, I agree with @vkWeb that the sort should be implemented by the user and not use the built-in method.

[2019-10-31 06:25] vkWeb commented on #217
@perezvon This looks very nice! I'm sure we can make it much better and more challenging:

- The core of the problem is to list all the possible score combinations as per spec and allow user to select one. This is where things become interesting. Otherwise, this isn't at all par with the current Intermediate challenges in my opinion.

- The current score doesn't reset when clicked on "play again".

[2019-10-31 19:47] jhnsml commented on #125
Hello,

I am interested in helping you guys finishing this one. I learnt flexbox not long ago from FCC(like 2 or 3 months) now it's come full circle I guess.

https://codepen.io/Xqzit/pen/dyyZKKv

Please check the above pen and let me know if there is something I need to change. I have broken the same gallery code into the following chapter-like list:

css-01: justify-content
css-02: align-items
c

[2019-11-02 13:29] perezvon commented on #217
OK, I need no further convincing 🙂 Working on this now. There are also a few `.map()` calls, perhaps we should be building that algo out by hand as well?

[2019-11-02 17:43] vkWeb commented on #217
@perezvon Yes we should make algo of `.map` too. We should restrict campers from using `.map` in a challenge to allow them to come up with their own solution then in later challenges we can lift the restrictions and tell them there's an JS function that does this for us.

[2019-11-02 18:15] perezvon commented on #217
OK done -- let's see what we think about things now. (I myself have never built `sort()` from scratch before, so it might be an incomplete implementation!) https://codesandbox.io/s/broken-sea-3ixfn

[2019-11-02 20:29] vkWeb commented on #217
@perezvon I think we should not confuse campers with `indicator` in the sort function. Let's just simply arrange it in ascending order. Also, the dice roll isn't working.

Btw, can you create a GitHub repository to host this game? I want to send you a pull request to help you with this :)

[2019-11-02 20:38] vkWeb commented on #217
@scissorsneedfoodtoo I think object-oriented programming is missing in the new curriculum. Is it intentional?

[2019-11-03 00:01] scissorsneedfoodtoo commented on #217
Wow, lots of great discussion here. I especially like the idea of walking learners through implementing their own simple sorting algorithm. It might be discouraging if we walk them through all that, then have them refactor just to use `.sort`, so we could probably just mention the method in the test descriptions.

@vkWeb, right now we're thinking that we'll focus on object oriented programming mor

[2019-11-03 00:07] scissorsneedfoodtoo commented on #119
@NA-E, awesome. Please let us know what you're thinking and we can discuss it here.

[2019-11-03 03:14] perezvon commented on #217
@vkWeb https://github.com/perezvon/fcc-dice-game/

Updated the die-rolling behavior to make more sense and refactored the sort. (Though now there are two different sorting functions for two different types of sorts needed, one simple ascending and one based on object properties) https://codesandbox.io/s/parcel-sandbox-ngqot

[2019-11-03 10:35] vkWeb commented on #217
Yeah, that's fine.

@scissorsneedfoodtoo Yes. Our solution will be selection sort. We can tell campers about its theory and will leave implementation to them. We can also mention that they will learn more sorting algorithms in the interview prep section.

[2019-11-04 06:20] scissorsneedfoodtoo commented on #125
Hi @jhnsml, glad that you've gotten something from the current Flexbox curriculum and that you want to contribute to the new project based one.

Took a quick look at your prototype and it seems to be headed in the right direction. I'm not sure if it's finished based on the code I can see, though -- I don't see `justify-content`, `align-items`, or any of the other properties that you mentioned. Cou

[2019-11-05 14:20] jhnsml commented on #125
@scissorsneedfoodtoo

Hey,

Sorry I deleted the prev pen by mistake. Please check the new one - https://codepen.io/Xqzit/pen/XWWEmgJ

Changes made:
 * Image size to 300px
 * Justify-content: added to the body
 * Align-items: added to the body

The other files that I was talking about are in the following repo:
https://github.com/jhnsml/CurriculumExpansion/tree/master/css-flexbox-photo-gallery

**N

[2019-11-06 06:12] scissorsneedfoodtoo commented on #125
@jhnsml, thank you for continuing to work on this.

Took a look at your pen and noticed some collapsing here and there. I believe it was because the body's height was set to 100vh and the gallery's height and width were both set to 80%. Also I moved everything Flexbox related from `body` to `gallery` since we don't need to use Flexbox for anything in the header. Anyway, I made a couple of changes

[2019-11-09 06:21] vkWeb commented on #217
I just want to update you all about the progress.

I am changing the logic of the game to make it interesting for a single player. I'm also learning about JS OOPs concepts. I will soon send a PR to @perezvon and it will get things moving.

[2019-11-09 06:26] vkWeb commented on #119
Hey @NA-E. Did you get an idea for this lesson?

[2019-11-09 15:09] Bam92 commented on #122
Yo!

How far is this project? Can I consider it as unclaimed?

[2019-11-13 17:30] vkWeb commented on #217
@scissorsneedfoodtoo I have created a PR on @perezvon's repository: https://github.com/perezvon/fcc-dice-game/pull/1

After cleaning and optimizing things, we'll merge it and send a PR to this repo.

I have been working on this for around a week and I still think the old challenge-based approach will be better :) I don't know why but I am not satisfied with the challenges we gonna offer. Maybe I a

[2019-11-13 20:47] jhnsml commented on #125
@scissorsneedfoodtoo

My pleasure. Sorry for the late reply, I'm just a little busy trying to land my first job as a developer.

That's good. I did check the pen it is looking good and very clean.

I'm up for it. Do you have any sizes for breakpoints in mind? For eg do you want the size of the image for mob res to be larger as all the images are in column-like structure?

I have sent you an email.

[2019-11-15 23:20] HKuz commented on #108
Just a quick update on this project - late summer/early fall got a bit nuts, but I've been making steady progress on it recently. I'm estimating that there will be around 130 total lessons with about 35 still outstanding. Lessons covering background D3 info, setup, map functionality, and the tooltip are done, with the pan/zoom and legend ones still to-do. Onwards and upwards!

[2019-11-18 06:12] scissorsneedfoodtoo commented on #108
@HKuz, great! Thank you for such a detailed update and glad to hear that you've been making steady progress. 130 total lessons for such a big topic/project sounds about right given everything you'll be covering.

[2019-11-18 06:35] scissorsneedfoodtoo commented on #125
Hi @jhnsml, thanks for your patience.

For the breakpoints, we could use the ones from freecodecamp.org/news as a general guide. It's a mobile first single column layout that changes when the width is 768px or wider.

We could do something similar here where it's a single column with larger pictures until the screen is 767px wide to account for smartphones and smaller tablets. From 768px to 999px

[2019-11-18 06:54] scissorsneedfoodtoo commented on #217
Hi @vkWeb and @perezvon, thank you for your patience and your continued efforts with this project. I took a look at the PR posted above and everything is looking great! Can't wait to play the finished prototype.

About whether or not the old challenge based approach is better, it's hard to say. While there are certainly benefits to the way these concepts are taught in the current curriculum, being

[2019-11-18 06:56] scissorsneedfoodtoo commented on #122
Hi @Bam92, thank you for your patience and sorry about the delay.

Yes, this project is unclaimed. Feel free to work on a prototype and post updates here as you go along.

[2019-11-18 06:58] scissorsneedfoodtoo commented on #119
Hi @NA-E, any updates on the concepts you'd like to teach? Also, feel free to work on a prototype and post it here for early feedback. That might help us get a better idea of what to teach and how to teach it.

[2019-11-18 11:14] vkWeb commented on #217
@scissorsneedfoodtoo we have discussed this in the past and we reached a consensus that we will build multiple projects. So instead of stalling this more I think let's get this rolling :) we can add an advanced project if we think this isn't enough.

Here's the full working prototype: https://perezvon.github.io/fcc-dice-game/

We just need to add some generic functions and we'll send a PR to this

[2019-11-19 07:34] scissorsneedfoodtoo commented on #217
@vkWeb, very true. We can always make changes or additions down the road as we get more feedback from the community.

Great idea creating a project board for this project. Looking forward to seeing how this turns out.

[2019-11-20 02:46] 01Clarian commented on #119
@scissorsneedfoodtoo
Hey there! I'd like to do this one if that's OK?

I sketched out the basics in sand box below.
1. We can look at simple algorithm through databases for sign in and authentication.
2. We can map out the newsfeed if the authenticated.
3. We can create databases and do some basic clean function structures and look at logic and returning loops correctly.
In sandbox sketched out qu

[2019-11-22 07:53] scissorsneedfoodtoo commented on #119
Hi @01Clarian, thanks for your patience and for working on a prototype.

Looking at your code I think you're definitely headed in the right direction in terms of difficulty and the types of things we would want to teach here (for loops to go through an array of objects, small helper functions, and so on).

Originally we envisioned this and the Intermediate Algorithms project being console based to

[2019-11-22 13:23] 01Clarian commented on #119
@scissorsneedfoodtoo  Hey, awesome.  Thanks for getting back.

OK. That makes sense if there's already an overview covered in Sign Up to avoid redundancies.

What about tweaking those similar concepts then of the small helper functions and for loops, and applying them to filtering and sort arrays etc to access  data of a similar style from the articles written up in https://codepen.io/scissorsneed

[2019-11-25 08:34] scissorsneedfoodtoo commented on #119
Hi @01Clarian, those are all excellent ideas, and should cover most if not all of the concepts covered in the current [Basic Algorithm Scripting](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-algorithm-scripting/) section. Feel free to add or remove any functionality that makes sense for this type of project, and to modify that list of articles however you see

[2019-11-25 14:47] 01Clarian commented on #119
@scissorsneedfoodtoo  Very cool. Sounds good.

Look forward to get it going this week and will stay tuned regarding UI and/or additional input.

[2019-11-26 17:25] 01Clarian commented on #119
@scissorsneedfoodtoo  Hey, Managed to write up a quick prototype this morning. Taking into consideration the data object you provided and instead running some loops and sorting.

Covers:
Array vs. objects.
Filter and reduce
Objects.keys / for in
Sort method including compare conditions and helper function
Filter search for Author
And reduce, .push and function to sort by sections into new arrays.

[2019-11-27 15:22] beaucarnes opened #231 "Arithmetic Formatter (Certification Project)"
Create project from the Python scientific computing certification.

[2019-11-27 15:25] beaucarnes opened #232 "Time Calculator (Certification Project)"
Create project from the Python scientific computing certification.

[2019-11-27 15:25] beaucarnes opened #233 "Probability Calculator Calculator (Certification Project)"
Create project from the Python scientific computing certification.

[2019-11-27 15:26] beaucarnes opened #234 "Polygon Area Calculator (Certification Project)"
Create project from the Python scientific computing certification.

[2019-11-27 15:27] beaucarnes opened #235 "N Queens Solver (Certification Project)"
Create project from the Python scientific computing certification.

[2019-11-27 15:28] beaucarnes opened #236 "Mean-Variance-Standard Deviation Calculator (Certification Project)"
Create project from the Python data analysis certification.

[2019-11-27 15:29] beaucarnes opened #237 "Demographic Data Time Series Analyzer (Certification Project)"
Create project from the Python data analysis certification.

[2019-11-27 15:30] beaucarnes opened #238 "Medical Data Visualizer (Certification Project)"
Create project from the Python data analysis certification.

[2019-11-27 15:30] beaucarnes opened #239 "Academic Citation Grapher (Certification Project)"
Create project from the Python data analysis certification.

[2019-11-27 15:30] beaucarnes opened #240 "Product Review Data Dashboard (Certification Project)"
Create project from the Python data analysis certification.

[2019-11-27 15:35] beaucarnes opened #241 "Learn About Network Security by Building a Packet Sniffer"
Create project from the Python information security certification.

[2019-11-27 15:36] beaucarnes opened #242 "Learn Scapy by Creating Packets from Scratch"

[2019-11-27 15:37] beaucarnes opened #243 "Port Scanner (Certification Project)"
Create project from the Python information security certification.

[2019-11-27 15:37] beaucarnes opened #244 "SHA-1 Password Cracker (Certification Project)"
Create project from the Python information security certification.

[2019-11-27 15:38] beaucarnes opened #245 "Secure Real Time Multiplayer Game (Certification Project)"
Create project from the Python information security certification.

[2019-11-27 15:39] beaucarnes opened #246 "Learn Unit Testing by Writing Tests for an E-Commerce Site"

[2019-11-27 15:39] beaucarnes opened #247 "Learn Integration Testing by Writing Tests for an E-Commerce Site"

[2019-11-27 15:39] beaucarnes opened #248 "Learn Functional Testing by Writing Tests for an E-Commerce Site"

[2019-11-27 15:40] beaucarnes opened #249 "Learn Jest and React Testing Library by Testing a React Tic Tac Toe Game"

[2019-11-27 15:40] beaucarnes opened #250 "Sudoku Solver (Certification Project)"
Create project from the quality assurance certification.

[2019-11-27 15:41] beaucarnes opened #251 "American / British English Translator (Certification Project)"
Create project from the quality assurance certification.

[2019-11-27 15:42] beaucarnes opened #252 "Learn Python Basics by Building a Blackjack Game"

[2019-11-27 15:42] beaucarnes opened #253 "Learn Intermediate Python by Building a Contact Book Program"

[2019-11-27 15:42] beaucarnes opened #254 "Learn Object Oriented Programming by Building a Minesweeper Game"

[2019-11-27 15:42] beaucarnes opened #255 "Learn Recursion by Solving the Tower of Hanoi Puzzle"

[2019-11-27 15:43] beaucarnes opened #256 "Learn Concurrency by Building a Prime Number Generator [Python]"

[2019-11-27 15:45] beaucarnes opened #257 "Learn Basic NumPy by Creating and Manipulating Arrays"

[2019-11-27 15:45] beaucarnes opened #258 "Learn Intermediate NumPy by Building Conway's Game of Life"

[2019-11-27 15:45] beaucarnes opened #259 "Learn Pandas by Analyzing Sales Data"

[2019-11-27 15:45] beaucarnes opened #260 "Learn Data Wrangling by Organizing the USDA Food Database"

[2019-11-27 15:46] beaucarnes opened #261 "Learn matplotlib and Data Visualization by Graphing Website Analytics"

[2019-11-27 15:46] beaucarnes opened #262 "Learn the Basics of Machine Learning by Building a Program to Identify Handwritten Digits"

[2019-11-27 15:46] beaucarnes opened #263 "Learn Tensorflow by Building a Movie Recommendation System"

[2019-11-27 15:47] beaucarnes opened #264 "Learn Regression Models by Building a House Price Predictor"

[2019-11-27 15:47] beaucarnes opened #265 "Learn Classification Algorithms by Classifying Iris Flower Images"

[2019-11-27 15:47] beaucarnes opened #266 "Learn Deep Learning by Analyzing Traffic Signals"

[2019-11-27 15:48] beaucarnes opened #267 "Rock Paper Scissors Analyzer (Certification Project)"
Create project from the Python machine learning certification.

[2019-11-27 15:48] beaucarnes opened #268 "Cat and Dog Image Classifier (Certification Project)"
Create project from the Python machine learning certification.

[2019-11-27 15:48] beaucarnes opened #269 "Book Recommendation Engine (Certification Project)"
Create project from the Python machine learning certification.

[2019-11-27 15:49] beaucarnes opened #270 "Linear Regression Health Costs Calculator (Certification Project)"
Create project from the Python machine learning certification.

[2019-11-27 15:49] beaucarnes opened #271 "Neural Network SMS Text Classifier (Certification Project)"
Create project from the Python machine learning certification.

[2019-11-27 15:49] beaucarnes opened #272 "Learn SQL by Building a University Database (Crash Course)"

[2019-11-27 15:50] beaucarnes opened #273 "Learn Bash basics by Playing Capture the Flag (Crash Course)"

[2019-11-27 15:50] beaucarnes opened #274 "Learn Git by Creating an Open Source Project (Crash Course)"

[2019-11-28 03:18] padunk commented on #124
Can I take this one? or is it done?

[2019-11-28 12:49] thecodingaviator commented on #124
@padunk please go ahead

[2019-12-02 02:11] scissorsneedfoodtoo commented on #124
Hi @padunk, thanks for taking this other project. Please post an updated prototype here when you get the chance, and don't hesitate to reach out if there's anything we can help with.

[2019-12-02 02:31] padunk commented on #124
@thecodingaviator great, I will work on it this week. Thanks.

[2019-12-04 04:08] scissorsneedfoodtoo commented on #119
@01Clarian, sorry for the delay and thank you for your patience.

I took a look at your latest prototype and it's headed in the right direction. All of those points you listed are definitely things that we want to cover in the final project.

Some quick suggestions would be to use `let` or `const` rather than `var` wherever possible, and to try and group things into functions wherever possible. Fo

[2019-12-04 12:49] 01Clarian commented on #119
@scissorsneedfoodtoo  No problemo - Sent you an email.

Cheers

[2019-12-04 21:51] fheld commented on #257
I would be interested in helping with this project.

[2019-12-05 06:41] Manish-Giri commented on #272
I have some DB background, I'll be interested in helping build this. (There's no 'help-wanted' label here, so not sure if you needed someone working on this).

[2019-12-07 07:44] padunk commented on #124
Hi @scissorsneedfoodtoo ,
Here is the updated prototype that I made. [link-1](https://codepen.io/padunk/pen/GRgRLQo).
I didn't make a new one,  just take the old one and change it a little bit.
What do you think? Or should I work with the old one made by @ryanwaltmurray ?

[2019-12-07 11:14] jean commented on #256
Is this going to cover `async`/`await` and the event loop libraries like [`anyio`](https://github.com/agronholm/anyio)?  Hope so! :grinning:

[2019-12-07 16:23] CatalanCabbage commented on #122
Hi @Bam92 and @scissorsneedfoodtoo , I'd be glad to contribute.
I'm back-end and not familiar with JS or Python, which rules out many of the listed projects; however, I believe I can contribute to this section, since it's regex based.
Do let me know if I can help!

[2019-12-09 02:35] Bam92 commented on #122
Hi @CatalanCabbage
As for now, I am busy, you can go for if you can.

[2019-12-09 05:23] scissorsneedfoodtoo commented on #122
Hi @CatalanCabbage, please go ahead and work on a prototype for this. There's already been some work done that's been merged into the repo, but please feel free to start from scratch if that's easier.

[2019-12-09 06:57] scissorsneedfoodtoo commented on #124
Hi @padunk, just took a look at your prototype and it's looking good. I like the changes that you made to the older prototype -- it looks like something you would see in an actual online magazine.

One thing I noticed is that the mobile view could use a bit of tweaking. The hero image doesn't seem to scale to the size of the screen, and you have to scroll horizontally to read all the text on the p

[2019-12-10 04:31] padunk commented on #124
@scissorsneedfoodtoo , Yes, I noticed that the image doesn't responsive, yet I still figuring it out. Cause grid kind of work differently with different browsers.
For the author and icon name, I will surely fix it.

[2019-12-10 05:28] scissorsneedfoodtoo commented on #124
Awesome, thank you for all your hard work on this. Looking forward to seeing your next prototype.

[2019-12-12 18:06] CatalanCabbage commented on #122
@scissorsneedfoodtoo, first off, you're doing great work. :)
There are some questions I have, and I'd be grateful if you could point me in the right direction. Also seeing how this seems to change hands so often, this could serve as a guide for anybody to pick it up, if I fail to(touch wood!) :)

**UI**: You had asked me to make a mock-up on CodePen; when we speak of regex, the learner generally p

[2019-12-13 09:14] padunk commented on #124
HI @scissorsneedfoodtoo, I already update the prototype. Could you please check? Thank you.
https://codepen.io/padunk/pen/GRgRLQo?editors=0100

[2019-12-17 05:09] scissorsneedfoodtoo commented on #122
Hi @CatalanCabbage, thanks again for your patience. You have some great questions here, and I'll do my best to answer them one by one.

* UI: I don't think there needs to be any sort of UI for this project. Looking at the current [Regular Expressions](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/regular-expressions/) section, learners just have the editor to focus o

[2019-12-17 11:55] scissorsneedfoodtoo commented on #124
@padunk, thanks for your patience.

This looks great on mobile and desktop. Very responsive now, and it seems like there will be a lot of CSS Grid concepts we can teach here.

Just going to ask @beaucarnes and @QuincyLarson for some feedback before we start breaking this project down into steps.

[2019-12-17 19:42] beaucarnes commented on #124
This looks good!

I think maybe when it was fixed for a mobile layout that may have broke part of the desktop layout.

Is it supposed to look like this?:
![image](https://user-images.githubusercontent.com/1513130/71028417-39ed4880-20db-11ea-98c8-450316fe3955.png)

Also, this is a very minor fix, but the hero subtitle sentence should have a period.

[2019-12-19 08:43] scissorsneedfoodtoo commented on #124
Thanks for your review, @beaucarnes. Great catch with the missing period in the hero subtitle.

@padunk, could you change that sentence to the following?: "Typically, when you look for role models, you want someone who has your interests and came from the same background." It's just missing the period at the end of the sentence.

Also as Beau mentioned, the images around the hero subtitle could us

[2019-12-19 18:15] moT01 opened #278 "Script for creating formatted files..."
A while back I made a script to turn the files for one of my projects from the format in this repo, where they just have the seed code and instructions, into the format required for the main repo. Meaning it adds the instruction, description, and challenge seed, etc. sections and puts the content from these files in the challenge seed area. As well as create database ID's and the other files neede

[2019-12-20 07:35] scissorsneedfoodtoo commented on #236
Project prototype: https://repl.it/@BeauCarnes/fcc-mean-var-std

[2019-12-20 07:38] scissorsneedfoodtoo commented on #237
Project prototype: https://repl.it/@BeauCarnes/fcc-medical-data-visualizer

[2019-12-20 07:39] scissorsneedfoodtoo commented on #238
Project prototype: https://repl.it/@BeauCarnes/fcc-medical-data-visualizer

[2019-12-20 07:41] scissorsneedfoodtoo commented on #231
Project prototype: https://repl.it/@BeauCarnes/fcc-arithmetic-arranger

[2019-12-20 07:42] scissorsneedfoodtoo commented on #232
Project prototype: https://repl.it/@BeauCarnes/fcc-time-calculator

[2019-12-20 07:45] scissorsneedfoodtoo commented on #234
Project prototype: https://repl.it/@BeauCarnes/fcc-shape-calculator

[2019-12-20 07:45] scissorsneedfoodtoo commented on #233
Project prototype: https://repl.it/@BeauCarnes/fcc-probability-calculator

[2019-12-20 07:46] scissorsneedfoodtoo commented on #243
Project prototype: https://repl.it/@BeauCarnes/fcc-port-scanner

[2019-12-20 07:46] scissorsneedfoodtoo commented on #244
Project prototype: https://repl.it/@BeauCarnes/fcc-brute-force-password-cracker

[2019-12-20 07:48] scissorsneedfoodtoo commented on #237
Project prototype: https://repl.it/@BeauCarnes/fcc-demographic-data-analyzer

[2019-12-20 07:57] scissorsneedfoodtoo opened #279 "Sea Level Predictor (Certification project)"
Project prototype: https://repl.it/@BeauCarnes/fcc-sea-level-predictor

[2019-12-20 07:58] scissorsneedfoodtoo opened #280 "Budget App (Certification Project)"
Project prototype: https://repl.it/@BeauCarnes/fcc-budget-app

[2019-12-20 08:07] scissorsneedfoodtoo opened #281 "Page View Time Series Visualizer (Certification Project)"
Project prototype: https://repl.it/@BeauCarnes/fcc-time-series-visualizer

[2019-12-21 12:13] padunk commented on #124
@scissorsneedfoodtoo and @beaucarnes. Thank you for the input.
I made the images overlap intentionally to show that we could style it outside of the grid area with a negative margin. But I could fix it if that looks odd.
And noted for the random images, I will find good images with this.
Anyway, I will start to break this code little by little tomorrow.

[2019-12-23 07:53] scissorsneedfoodtoo commented on #124
@padunk, I see, thank you for your explanation. It does look a little odd since the images overlap like that.

If I remember correctly, negative margins are covered in other projects like the Typography Nutrition Label, so it could be good review here. Perhaps it could be fixed by selecting images with transparent backgrounds that look good when overlapping. If that's not possible, then it might b

[2020-01-02 07:09] padunk commented on #124
Happy new year.
@scissorsneedfoodtoo , I update the prototype and deleting the negative margin.
I'm on the processed of breaking the codes to small code now.
Hopefully, I can finish it this week. No promise though.

[2020-01-06 02:37] scissorsneedfoodtoo commented on #124
@padunk, awesome, thank you for the update and for all of your efforts :+1:

Please feel free to submit a PR with the first 10 or 15 steps if you'd like some early feedback. Otherwise, looking forward to seeing all of your broken down steps.

[2020-01-11 06:25] padunk commented on #124
@scissorsneedfoodtoo I already submit a PR with the first 25 steps.
But please review it. I think if we want to focus on Grid the step on file 90 - 170 can be skipped.
Thank you.

[2020-01-11 06:55] chandu4ai commented on #252
Hi beaucarnes , waiting eagerly for the 2020 update. Can u tell me the how much work work has been completed for this thread(Learn Python Basics by Building a Blackjack Game). I want to contribute so if there is anything i can help you with just drop me a message or email to chandu.nsd@gmail.com

                   THANK YOU FOR THE HARD WORK

[2020-01-14 01:00] ArieRS commented on #236
https://repl.it/repls/BitesizedOutstandingWheel

Make the readme with point bullet so it is easier to understand
It is easy for people that have knowledge in unit test so he knows what program expected...

[2020-01-14 01:41] logankilpatrick opened #285 "Building a Julia Programming track"
Hey all, is this the right place to start the discussion on how we (in the broader Julia community) can contribute a Julia Programming course?

Thanks!

[2020-01-14 03:16] rlabuonora commented on #236
Hi! Here are a few thoughts on the Mean-Variance-Standard deviation project (it's my first time giving feedback so excuse me if I'm on the wrong track):

1) Instructions:

I'm not sure a matrix has a mean, a standard deviation and a variance. I would rephrase it to something like:

2) If the list is not length 9, I would raise an error instead of returning a string with an error message.

3) I mos

[2020-01-14 03:27] notingGone commented on #231
Typo on the sixth bullet point.
I assume this:
"There should be a single space between the operator the following number."
should be:
"There should be a single space between the operator and the following number."

[2020-01-14 04:49] scissorsneedfoodtoo commented on #231
Thank you for catching this @notingGone. We'll be sure to update this before the release.

[2020-01-14 04:55] scissorsneedfoodtoo commented on #236
Awesome, thank you for your feedback @ArieRS and @rlabuonora. We'll work on making the description easier to read with bullet points, and adjust the wording so the goal is more clear. Also, thank you for the suggestions about how to improve the tests and for posting your solution. Both will be very helpful going forward.

[2020-01-14 04:57] scissorsneedfoodtoo commented on #124
@padunk, awesome, thank you for the heads up about your PR. I'll go through it soon and leave some feedback there.

[2020-01-14 08:15] aitorp6 commented on #234
Hi,

I've finished this challenge and I've seen one thing that is not clear on the readme.md. When you say:

it should be:

[2020-01-14 08:18] RaviTejaCMS commented on #243
Grammatical error in the Description
In the port_scanner.py file, ............... port_range is a list of two numbers indicating the first and last numbers of the range of ports **to be checked.**

[2020-01-14 08:35] RaviTejaCMS commented on #243
I think these is a Grammatical error in the Description
I guess it should be

In the port_scanner.py file, ............... port_range is a list of two numbers indicating the first and last numbers of the range of ports **to be checked.**

[2020-01-14 08:57] RaviTejaCMS commented on #244
Probably a Typo in the 3rd Paragraph of the Description
I assume this
'NOT of a password in the database, return "NOT IN DATABASE".'
should be this
'NOT of a password in the database, return "PASSWORD NOT IN DATABASE".'
with reference to given test cases.

[2020-01-14 10:55] EricRovell commented on #234
Completed project: https://repl.it/repls/CrookedGiddyVertex

Everything was clear for me, thanks for the project. The only issue I encountered is typo in tests: when the string representation checked it asks for __heigh__ instead of __height__.

[code]

[2020-01-14 13:04] notingGone commented on #231
*"Accepts between one and five problems. Otherwise, the function should return Error: Too many problems.."*
implies:
`if (len(problems) > 5 or len(problems) < 1):
      return "Error: Numbers cannot be more than four digits."`
whereas the solution code only tests for the upper limit:
`if len(problems) > 5:
    return "Error: Too many problems."`

[2020-01-14 18:50] arthigos commented on #236
Hello!
This is the first alpha project I tried.
I'll get better at generating feedback as I go through the other assignments.

### Feedback
The README.md specification was clear.
Without having much background in Numpy, I watched the FCC YT Video 'Python Numpy Tutorial for Beginners' and was able to get a hang of the syntax.
The troubles I ran into were related to array dimensions, axis, axis inde

[2020-01-15 00:49] ArieRS commented on #243
https://repl.it/@ArieRS/fcc-port-scanner

Maybe, the readme is more clearly if you give en example of the parameter of  get_open_ports. Thanks

"In the port_scanner.py file, create a function called get_open_ports that takes a target argument and a port_range argument. target can be a URL or IP address. port_range is a list of two numbers indicating the first and last numbers of the range of ports

[2020-01-15 12:46] behrtam commented on #231
[code]

For me it was helpfull to have a very simple test based on the first README example before the `test_arangement` test with 4 problems.

[2020-01-15 22:34] borntofrappe commented on #231
And

As @notingGone points out, the text describes a range, while the error message seems to suggest we should test for the upper threshold only.

The function has always at least one problem, and we always consider positive integers, so perhaps the text should describe only the greater boundary?

---

I believe the single space should be between the operator and the longest of the two numbers.

F

[2020-01-16 13:38] arthigos commented on #237
I found the instructions to be clear and the questions well specified
Never used the pandas library before and my python isn't sharp
So I apologize in advance for the messy solution
Here's my [forked project](https://repl.it/@arthigos/fcc-demographic-data-analyzer)
I found some typos on the README.md file starting on line 25

[2020-01-17 09:01] borntofrappe commented on #232
The README and especially the examples do a great job at introducing the project.

Regarding the section dedicated to the assignment, it ends with the following line

I was wondering if the sentence should be moved in the section dedicated to testing the project.

[2020-01-17 16:09] borntofrappe commented on #280
I have few notes for the README file.

I had a hard time visualizing the project until I reached the example of the output. Moving the example at the top might be excessive, but perhaps we could add a few categories to further explain the purpose of the `Category` class. Picking from the testing suite, we could add the line _based on different budget categories **like Food, Clothing, Entertainment

[2020-01-18 04:01] rlabuonora commented on #237
Hi! This assigment was pretty cool! I learned quite a bit of pandas solving it, here are a few thoughts:

- Exploratory data analysis is all about context, so I would add a little bit of information about the data in the opening paragraph (where does it come from? what kind of information does it contain? what kind of questions are we looking to answer from it?). Also, if the rows of the data repr

[2020-01-18 09:59] borntofrappe commented on #234
Completed the project too; https://repl.it/@borntofrappe/fcc-shape-calculator

The README has also a couple of typos:

- The word **height** is misspelled as **hight**. This happens in both paragraphs introducing the classes.

- In the paragraph introducing the square class, the word **length** is misspelled as **legth**.

[2020-01-18 10:03] borntofrappe commented on #234
I believe the number of parenthesis is also off by one.

[code]

[2020-01-18 14:57] adamdune commented on #231
I agree with what @borntofrappe said (https://github.com/freeCodeCamp/CurriculumExpansion/issues/231#issuecomment-574889042).
The parts he highlighted did come off as a little confusing to me.

All I have to add is a nitpick (I know these aren't important 😅): these two bullet points do not have their full stops.

[2020-01-19 01:02] rlabuonora commented on #238
## Opening paragraph:

I would write a little more about the context of the data:
 - What do the rows represent? (Patients) 
 - What information do the columns contains (patient's body measurements, results from various blood tests, and lifestyle choices).

## Questions

- The stub for this function in `medical_data_visualizer.py` is `draw_cat_plot`, but `main.py` calls `medical_data_visualizer.dr

[2020-01-19 18:13] rayjohnson529 opened #287 "Problems with Solution"
The solution doesn't seem to result in the figure posted.

I am going to submit my results soon, but this seems like maybe an earlier draft of the starter problem?

I peaked at the solution to try to see how mine compared and copied the code and the resulting graph didn't match 'figure 1' - I believe the problem has something to do with the part using "fig, ax" (unless somehow I've made a major mi

[2020-01-19 23:15] notingGone commented on #280
Under the *Development* heading, the text refers to another project: [Polygon Area Calculator](https://repl.it/@BeauCarnes/fcc-shape-calculator)

[2020-01-20 02:48] rayjohnson529 commented on #238
I posted this in the wrong place initially:

The solution doesn't seem to result in the figure posted.

I am going to submit my results soon, but this seems like maybe an earlier draft of the starter problem?

I peaked at the solution to try to see how mine compared and copied the code and the resulting graph didn't match 'figure 1' - I believe the problem has something to do with the part using "

[2020-01-20 12:46] Wahe3bru commented on #232
The README.md file, just below the codeblock in Assignment. The line:

" Assume **that** the start times are valid times." might be better.

otherwise instructions are clear and tests passed with no issues.

[2020-01-21 00:34] ArieRS commented on #244
https://repl.it/@ArieRS/fcc-brute-force-password-cracker?lite=&classroom_template=&outputonly=&fileName=

Yes, @RaviTejaCMS has already discussed the typo in the readme. And  one more input from me to provide a link that can be read by the user regarding the use of the hashlib.

[2020-01-21 09:42] borntofrappe commented on #233
Completed project: https://repl.it/@borntofrappe/fcc-probability-calculator

---

The README file is quite exhaustive and considerably longer than the previous challenges. It is overall understandable, but it might take a couple of reads to sink in.

Two minor corrections:

The text should refer to the number of balls specified by the input arguments, not **two**.

Here we refer to a **bag**, whil

[2020-01-21 09:44] borntofrappe commented on #233
For the contents of the README, I have also two suggestions:

1. the last test performs a draw in which the number of balls exceeds the number of balls available in the contents list. Should we make specific mention of this case when describing the `Hat` class? Something along the lines of "if the number of balls exceeds the available quantity, return the entire list"

1. `prob_calculator.py` begi

[2020-01-22 02:42] allocthon commented on #236
Fun little problem.  I think the only thing that wasn't clear to me is which axis to use the different operators on first..
e.g.
np.mean(arr[0,:]) vs np.mean(arr[:,0])

other than that the problem was quite clear.

I used **np.array**, **np.mean**, **np.var**, **np.std**, and **.reshape** methods.

Also, this problem might be a nice opportunity to state that you can use different axes, or use the

[2020-01-22 08:27] adamdune commented on #244
I really liked this project 👍 , great job.
It's simple, yet teaches some valuable background information about password security.

I agree with @ArieRS. The only confusing part for me was using the hashlib library. So the docs can provide some pointer or a link to a good explanation on its usage.

[2020-01-22 12:56] borntofrappe commented on #236
Completed project: https://repl.it/@borntofrappe/fcc-mean-var-std

---

I had no issues with the README, and as a first-timer with Numpy, this was a nice project to get acclimated with the library.

There's a small typo where the sentence describes the length of the list (emphasis mine)

I've misspelled _contains_ so often, that I pay extra attention to the verb.

[2020-01-22 20:18] rlabuonora commented on #281
## General comments

- I really liked this project. I would add a few words about the overall objectives of the project (understanding the patterns in visits to fcc page teasing out the year by year growth from monthly seasonality).
- The structure of the project (and starter code) could be a little clearer. I think the data loading and preparation for each visualization should be in a different f

[2020-01-23 06:13] scissorsneedfoodtoo commented on #236
Thank you for your feedback @allocthon. We will try to update the instructions to make that more clear. And thank you for catching that typo @borntofrappe :+1: :+1:

[2020-01-23 06:16] adamdune commented on #243
After reading the README, I got the impression that we should check the ports in the `port_range` including the last number.

However, once I completed this project and checked the solution. I found that the solution does not check the last number of the `port_range`.

If the last number in the `port_range` is excluded on purpose, it should be clearly stated in the `README`.

[2020-01-23 06:19] scissorsneedfoodtoo commented on #244
Thank you for catching that typo @RaviTejaCMS. We will definitely update that before launching. Also, good call on including a link to `hashlib` in the README. It's worth mentioning there since it's imported into `password_cracker.py` by default.

[2020-01-23 07:04] scissorsneedfoodtoo commented on #281
@rlabuonora, thank you for your detailed review. We certainly want to make the instructions as clear as possible and can look into the best way to have comments in both `time_series_visualizer.py` and `README.md`.

 We can explore having the data copying and prep for each visualization handled by separate functions, though I worry the code will get a bit messy for the user. My thinking is that, so

[2020-01-23 07:39] scissorsneedfoodtoo commented on #233
Thank you for your review, @borntofrappe. Great catch with the ball/hat mismatch. That's something I totally missed in my initial review. We'll definitely fix this before release.

If the number of balls being drawn is greater than the total number in the hat, having the `Hat` class return the whole list or a specific message is a good idea. What do you think @beaucarnes?

For your second point, w

[2020-01-23 08:00] scissorsneedfoodtoo commented on #238
Thank you for your detailed reviews @rlabuonora and @rayjohnson529. The `draw_cat_plot`/`draw_factor_plot` is something we forgot to update in the boilerplate. Also good catch with the wording and `df['ap_lo'] <= df['ap_hi'])` -- we will have to check the graphs and adjust either the wording or the snippet itself. Also, you're right that `Figure_1` doesn't include the overweight column, but `Figur

[2020-01-23 08:03] scissorsneedfoodtoo commented on #280
Thank you for your reviews @borntofrappe and @notingGone. Your suggestions will really help us clean up the text before we launch this project.

[2020-01-23 08:19] borntofrappe commented on #233
Thanks for the quick response @scissorsneedfoodtoo

I didn't roll up my own version. I found the `random` module in the official docs, but I felt guilty importing the library (espcially since the previous problems didn't use any external code). I went back to the REPL to give the project another read and saw the two lines at the top. The rest, I guess, is documented in my code :)

The error messag

[2020-01-23 08:35] scissorsneedfoodtoo commented on #231
Thanks everyone for your review. We'll take this all into account as we work on the next draft.

Given that each number in the problem should be between one and four digits long, the text `There should be a single space between the operator the following number` should probably be changed to `There should be at least one space between the operator the following number`.

As for testing only the up

[2020-01-23 08:39] scissorsneedfoodtoo commented on #237
Thank you for your reviews @arthigos and @rlabuonora. We'll definitely fix that typo and take all of your other suggestions into account for the next draft. All of the suggestions about the wording, filenames, and adjustments to the tests so they're not as brittle is very helpful.

[2020-01-23 08:47] scissorsneedfoodtoo commented on #243
Thanks everyone for your review. We'll clean up the grammar and consider including examples of both the input and expected output in the README.

Good catch on the solution not checking the last port in the range @adamdune. I always forget that `range` is exclusive and missed that in my initial review. Keep in mind that the solution code will not be included when the projects are launched, though,

[2020-01-23 09:15] borntofrappe commented on #231
@scissorsneedfoodtoo quite challenging indeed

Beside updating the text, I would also suggest we'd swap the last two bullet points. This because the very last point describing the dashes refers to the individual problem, and is more connected to the previous points than the penultimate one. Perhaps this is what confused me in the first place.

Hope it's not brash, but maybe the following descripti

[2020-01-23 14:48] rlabuonora commented on #281
It is sometimes said that 80 percent of a data scientist’s valuable time is spent simply finding, cleansing, and organizing data, leaving only 20 percent to actually perform analysis.

I think separating the code has highlights the importance of data preparation, which is arguably the most important step in creating a visualization.  I also think that adding tests will help guide the student throu

[2020-01-23 14:55] rlabuonora commented on #238
I meant the starter code raises syntax errors as is, That's probably because of lines like:

[code]
This means that you can't use `main.py` as is for experimenting without commenting out the line that imports the solution.

[2020-01-23 20:40] chris-tse commented on #280
I noticed in the main.py file that withdraw is being called without a description on line 13, but from what I can gather in the readme and the unit tests, it shouldn't be an optional parameter. Is this just a typo?

[2020-01-24 08:11] scissorsneedfoodtoo commented on #238
@rlabuonora, I see, that's a good point. Thank you for clarifying.

What we could do is have those bits of unfinished code commented out and change the comments to read, "Uncomment and fill in the parenthesis".

[2020-01-24 08:24] scissorsneedfoodtoo commented on #281
I have heard that from data scientists, too.

It's true that we want to teach `groupby`, `reset_index`, and other functions for data prep, but generally we want these projects to be as open ended as possible. These are all things we will definitely go into with the optional projects leading up to these required projects, though. I could see writing more tests if it's required to use those function

[2020-01-24 08:31] scissorsneedfoodtoo commented on #231
@borntofrappe, not brash at all, we really appreciate all the input. We're so familiar with these problems and what the expected output should be that it's difficult for us to see the parts that are unclear. Your perspective is a huge help making these descriptions as clear as possible.

I agree, switching those two bullet points is a good idea and should help with clarity. Also those alternative

[2020-01-24 08:34] scissorsneedfoodtoo commented on #234
@borntofrappe, great catch. The typo and the extra opening parenthesis are both things we'll fix in the next draft.

[2020-01-24 08:39] scissorsneedfoodtoo commented on #233
@borntofrappe, no need to feel guilty! We generally encourage people to use whatever modules or libraries they want while working on these required projects, especially if they're part of the language.

Thank you for that code snippet. We'll look more into it and consider changing the requirements / adding a test if `num_balls_drawn` exceeds the total number of balls in the hat.

[2020-01-24 14:54] rlabuonora commented on #238
Yes, I think that would work.

[2020-01-24 17:30] rlabuonora commented on #281
I created separate variables, here is a [link to my solution](https://repl.it/@rlabuonora/fcc-time-series-visualizer). Maybe you could add tests for `df_box`, `df_no_outliers` and `df_bar` directly?

I caught another typo: in the starter code, `main.py` calls `time_series_visualizer.draw_box_plot()`, but the template in `time_series_visualizer.py` is for `draw_box_plots()`.

[2020-01-24 18:35] brillout opened #288 "Add REST, GraphQL, and RPC to curriculum?"
Hi!

API creation is something many beginners do wrong.

For example, nowadays, many default to GraphQL although creating ad-hoc Node.js/Express controllers is most of the time just fine. GraphQL is nice and it's good to know about it but it shouldn't be the default choice.

There are many valuable lessons to teach in this area.

Would adding REST, GraphQL, and RPC to the curriculum be of interest

[2020-01-24 20:00] beaucarnes commented on #231
Thanks everybody for the suggestions! I've implemented all the suggestions so far.

[2020-01-24 20:26] beaucarnes commented on #280
@borntofrappe Thanks for catching all those mistakes. I have to admit I was embarrassed that I didn't catch some of those previously. :)
@notingGone Your right! Thanks.

[2020-01-24 20:49] beaucarnes commented on #234
Thanks for the suggestions everybody. I made the fixes.

[2020-01-24 21:01] beaucarnes commented on #233
@borntofrappe Thanks for your suggestions. I implemented most of them.

As far as mentioning the `random` and `copy` modules, those are actually specifically mentioned but maybe not in the location you were expecting. Here are the first three lines of the starter code (`prob_calculator.py`):
[code]
Do you think it would be better to move that comment to the readme instead of the starter code file?

[2020-01-24 21:26] beaucarnes commented on #236
I've implemented a lot of the feedback. Thanks everybody.

I used suggestion of @rlabuonora and changed the requirement to raising an exception instead of printing a message when there not 9 numbers in the array.

[2020-01-24 21:37] borntofrappe commented on #233
@beaucarnes I eventually noticed the modules in the `.py` file, and I'm going back and forth on whether or not there should be a specific mention in the README.

As @scissorsneedfoodtoo said, campers develop the project in the REPL. If we consider there won't be the solution file either, `prob_calculator.py` is going to be the first file opened after the markdown file.

That being said, it is also

[2020-01-25 11:29] erezhazan1 commented on #243
https://repl.it/@erezhazan1/fcc-port-scanner

It wasn't clear to me if there is any need for input validation,
and if there is any special request for this as I started learning this topic I noticed that there are so many options to do it (but maybe it's only me..)

[2020-01-26 04:33] allocthon commented on #234
other than spelling, good little problem.  Was fun.

[2020-01-29 17:43] beaucarnes commented on #237
@arthigos & @rlabuonora Thanks! I made your recommended changes.

[2020-01-30 02:03] adamdune commented on #232
The `README` is clear and concise. And I liked the project. 🎆

I only have a couple of nitpicks for your consideration:

1. > The minutes in the duration time will be 60 or less, but the hour can be any whole number.
This line seems to imply that the duration time's minutes could be 60 (example: 2:60).

2. I found this project to be significantly easier than the `Arithmetic Formatter`. I guess the

[2020-01-30 06:02] adamdune commented on #280
I think this is a typo, it should be `a list` instead of `an list`.

---

When the budget object is printed, I found out the test suite doesn't actually check for a `title` in the `title line`, but instead it checks once for `*************Food*************`.

This means if we hardcoded the title line as `*************Food*************` we would still pass the test, even though the title line shoul

[2020-01-30 16:52] borntofrappe commented on #237
Completed Project: https://repl.it/@borntofrappe/fcc-demographic-data-analyzer

I worked on a previous version of the project, so I apologize if what I mention has already been fixed (I made sure to check the new version, but you never know).

---

In `README.md`:

- describing the starter code, the name of the file is misspelled to `deomgraphic_data_anaylizer`. There's also a missing backtick at

[2020-01-30 17:16] borntofrappe commented on #237
I wanted to add a couple of notes on the project itself. Hope you don't mind :)

As a first-timer with the library, I quite struggled to understand how to select specific columns, rows, values. I went through the official documentation, but found it quite difficult to navigate.

The sheer amount of data was also a tad overwhelming, and I found it really helpful to practice in a separate REPL with

[2020-02-01 00:45] Ramon92 commented on #114
Hi @scissorsneedfoodtoo completely missed your message, sorry for the way too long delayed reply.
I have some time this month, I am still interested.

Okay so if I understand correctly, the goal here is to just create a csv file with JS right.
For example based on some input you can export a csv to be downloaded?
And display the data in a simple table, before exporting it to a csv.

[2020-02-01 04:30] adamdune commented on #234
Thanks for the project 😃

There is a typo in the `test_module.py` line 66
` "Rectangle(width=7, heigh=8)"` should be  `"Rectangle(width=7, height=8)"`

[2020-02-02 11:09] adamdune commented on #236
I don't have much to add, it's a nice little project. I probably should've tried dedicating more time understanding `numpy` before jumping in. 👍

I was surprised to find the solution in `mean_var_std.py`, perhaps you guys accidentally left it there.

Also, the unit test raises a deprecationWarning (`test_module.py` line 13)
[code]

[2020-02-02 23:43] rayjohnson529 commented on #281
1) "Clean data by filtering out days when the page views were in the top 2.5% of the dataset or bottom 2.5% of the dataset"

Just an opinion here, so feel free to skip . . . I found that resolving this problem with numpy was more readable/mapped to the wording of the question/ and was more practical (to me).

Not sure if Numpy is used in order data analysis projects, but if not, this might be a ch

[2020-02-03 05:51] scissorsneedfoodtoo commented on #114
Hi @Ramon92, no need to apologize. Thank you for your help with this project.

There's a lot of ways we could tackle this project. I was thinking something more along the lines of learners creating their own CSV mailing list, perhaps with the names, mailing and email addresses, phone numbers, and some notes about popular animated characters. Ones like Lisa Simpson, Morty Smith, and so on.

After t

[2020-02-04 07:58] adamdune commented on #267
I tried this project on and off for about two weeks, and I was finally able to beat all four bots. At the end of the day, I really liked the concept of this project 😄.

Maybe, I am quite daft, but this project was really challenging for me. Perhaps I don't have the prior knowledge required.

I felt the instructions were too vague and open ended, and I ended up doing deep dives on a few solutions t

[2020-02-05 17:33] beaucarnes commented on #244
@ArieRS & @adamdune:
Thanks for the suggestions. I implemented them in the code.

[2020-02-06 17:06] beaucarnes commented on #243
I made a lot of the recommended changes. Thanks for your suggestions.

@adamdune I updated the solution code so it checks every port in the provided range inclusive of both numbers. That was a mistake to not check the final number in the range.

@erezhazan1 We are not requiring input validation for this challenge.

[2020-02-06 17:54] beaucarnes commented on #267
@adamdune Thanks for your input. You said you thought the instructions were too vague. Do you have any specific suggestions on how to make the instructions more clear?

[2020-02-06 18:35] beaucarnes commented on #232
Thanks everybody. I've implemented most of the suggestions.

[2020-02-06 18:42] beaucarnes commented on #280
@adamdune Fixed the typo, thanks. I updated the test so the title is not hard-coded. However, there is only so much we can do to prevent people from looking at the tests and then passing the tests in ways that we didn't intend.

[2020-02-06 18:44] beaucarnes commented on #234
@adamdune Fixed, thanks.

[2020-02-06 18:46] beaucarnes commented on #233
@borntofrappe I added a hint in the readme about the imported modules.

[2020-02-06 18:51] beaucarnes commented on #236
@adamdune Thanks, fixed both those issues.

[2020-02-06 19:04] Ramon92 commented on #114
Hi @scissorsneedfoodtoo
Sounds good, I can built the project the coming week and make a PR to be reviewed. What do you think?

[2020-02-06 19:15] beaucarnes commented on #237
@borntofrappe Thanks for your comments. I made the changes you recommended. The plan is for the projects leading up to this one (that we still have to develop) will prepare people for this one.

I didn't realize that pandas was just updated. If you learn anything that we should include, please share!

[2020-02-07 06:06] scissorsneedfoodtoo commented on #114
@Ramon92, awesome, sounds good. Please build a prototype on something ike [CodeSandbox](https://codesandbox.io/) before submitting a PR. Then we can take a look at the finished project and discuss it more before we start breaking it down into steps.

Also, please send me an email at kris@freeecodecamp.org if you have some time to talk about this project next week. I can answer any questions you mi

[2020-02-07 13:29] adamdune commented on #267
@beaucarnes I suppose it's not really vague as much as it's very open-ended. However, I assume the nature of this project in particular is meant to be open-ended to encourage the camper to think for themselves. Which is perfectly fine.

But, I felt like there isn't many options to beat Abbey aside from implementing a Markov Chain.

Of course, I definitely could be wrong here. If there are many pos

[2020-02-07 22:55] beaucarnes commented on #281
@rlabuonora Thanks so much for your detailed suggestions. I incorporated some of your suggestions, including testing some of the data cleaning. While you had a good point why to move the data preparation out of the main functions, so far I've kept that part in the functions. Since the data preparation is specific to a type of chart, it makes since to me to keep the related code together.

@rayjohn

[2020-02-09 17:52] borntofrappe commented on #267
I haven't completed the project yet, as I'm trying out different approaches, but I've already a few suggestions for the README file.

## Typos

- when introducing the program the word **usually** is misspelled to **usualy**

- describing the `RPS` file, the word **argument** is misspelled **agument**

- describing the first argument, the word **receive** is misspelled **recieve**

- describing the

[2020-02-10 00:42] rayjohnson529 commented on #279
**Type O**
Third bullet: "Make sure the line **goes** through the year 2050 to predict the sea level rise in 2050.

This project was straight forward and reasonable.

I'm having trouble giving any feedback - I guess depending on where it falls in the coursework -- but this does seem like it is a bit briefer/easier than the others.

Following the tutorial on scipy, I noticed this method of getting

[2020-02-11 10:43] adamdune commented on #237
Thanks for the project. I learned quite a lot about Pandas. 👍

I believe there is an error with one of the test case.
In `test_module.py:9`
[code]
The `README` asks for `race_count` to be a list of integers. I don't think a list of integers would have a property called `values`, also the `sort` method returns `None`. So, I believe assigning `actual` to the result of `sort` is a mistake.

[2020-02-11 20:40] beaucarnes commented on #238
I implemented a lot of the suggestions.

@rlabuonora You had some very helpful advice. It would be great if you had a chance to review this again with the changes. I tried to get your solution code to work but it was changing the value of "total". In the original code, the highest total value is around 30K but in your code it is around 10K. The truth is I'm kind of new to pandas myself so I wasn't

[2020-02-11 22:13] rahls77 commented on #271
I am getting the following error when trying to run the imports in the first cell:
<img width="1562" alt="Screen Shot 2020-02-11 at 5 12 37 PM" src="https://user-images.githubusercontent.com/59658917/74284475-cd18b800-4cf1-11ea-8fce-c10322b34279.png">

[2020-02-15 15:56] markerikson commented on #116
Hi, wanted to follow up on this a bit.

Since the last activity here in this issue:

- We released [our React-Redux hooks API as final in v7.1](https://react-redux.js.org/api/hooks)
- [Redux Starter Kit was renamed to Redux Toolkit and hit 1.0](https://blog.isquaredsoftware.com/2019/10/redux-starter-kit-1.0/)
- [We've added a new "Style Guide" page to the Redux docs with recommended patterns](http

[2020-02-15 16:59] sw-yx commented on #116
i think this is very valid and something i wondered while making the thing. @beaucarnes do you think we could add some sort of mock data storage maybe? or real (temporary) data storage. i actually dont know the persistence model of Glitch, would love to do it all on one free platform.

[2020-02-16 05:41] scissorsneedfoodtoo commented on #116
@markerikson, thanks for reaching out on the forum and for your thorough update. Great to know that you all have made so much progress on Redux Toolkit in the last year. Your top-down approach showing how to use RTK rather than why seems like a good way to go. That's exactly what I'm looking for when I read a "Quick Start" guide.

As for the rest of the tutorial, that seems like the same approach

[2020-02-17 12:19] Ramon92 commented on #114
I made a start of an example of a csv file and one way to parse it.
https://codesandbox.io/s/learn-csv-by-building-a-mailing-list-z52ue
I can setup multiple csv formats.

What would the end project look like?
As I was thinking of adding in here the steps to teach someone how to setup a csv, by explaining the concept in multiple steps.

I understood that the Final project is built first and then it

[2020-02-17 14:59] Gerschel commented on #231
I may have gotten carried away, but I felt there were some subtleties that would make the assignment more clear. So I went through most of the README and made the modifications, mostly in the Rules section that I added.

### Assignment

Students in primary school often arrange arithmetic problems vertically to make them easier to solve. For example, "235 + 52" becomes:
[code]

Create a function th

[2020-02-17 15:03] Gerschel commented on #231
Perhaps the line that says "four spaces" should have the word "should" be changed to "will", so that way someone doesn't assume they can string fomat a tab in there like I did.

[2020-02-19 08:15] scissorsneedfoodtoo commented on #114
Hi @Ramon92, sorry about that. There was a typo in the email address in my last comment. It should be kris@freecodecamp.org with two e's, not three.

This looks like it's off to a good start. The inclusion of notes is nice so we can get an idea of what you'll teach and how things will be broken down.

Yes, that's right. We want to have very short steps that have learners do one thing at a time. So

[2020-02-20 07:25] QuincyLarson commented on #114
@Ramon92 Thanks for creating this and sharing this with us. You're off to a great start.

Rather than Jessica Alba and Tony Robbins perhaps we could use more well-known and widely-liked figures Keanu Reeves or Malala.

Like @scissorsneedfoodtoo I am very interested in seeing the end version of this project. Keep in mind that campers will need to type all this in themselves when they're creating it

[2020-02-20 10:01] scissorsneedfoodtoo commented on #114
@QuincyLarson, thank you for your input. I agree that we can update the examples to use more current and liked figures as you suggested.

[2020-02-20 18:50] beaucarnes commented on #114
@Ramon92 I agree with Quincy that this is a great start!

I wonder if a different format for the project could work better to teach csv? Currently, the code seems to focus on the JavaScript and creating the CSV with JavaScript. Here is what @scissorsneedfoodtoo said back in July, which I agree with: " [the] project is more about creating the actual CSV file itself... Perhaps it could then branch o

[2020-02-21 14:46] beaucarnes commented on #231
@Gerschel I really like your wording! Thanks for taking the time to rewrite this. I updated the project to incorporate most of your suggestions.

[2020-02-21 20:06] beaucarnes commented on #237
@adamdune Thanks for catching that problem. I updated the instructions, test, and solution code. It no longer asks for a list of integers. Now the instruction is "How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (`race` column)" Do you think that is clear enough?

[2020-02-21 20:22] beaucarnes commented on #279
@rayjohnson529 Thanks for your review and input!

Maybe we should switch the order and put this project earlier since it is easier. Your way of getting the values is a little quicker. We won't be giving the solution to students so you could be right about people using that method. As long as people get the values, different methods are allowed.

Your rephrase of the third bullet makes since but af

[2020-02-21 21:06] beaucarnes commented on #267
@borntofrappe Thanks for your input. I incorporated most of it. I added a new section in the README to explain why the example `player` function had two arguments. It only is ever called with one argument. I'd love your input on if the new explanation makes since. Here is the paragraph I added about the `player` function arguments.

[2020-02-21 22:00] beaucarnes commented on #271
@rahls77 If you run the [solution code](https://colab.research.google.com/drive/1mJjwgUMeI2PPoPaTXf6cLEz9Fn88MnTf), do you get errors on any of the other cells?

When I looked at your screen, it looks like a few of those errors are fixed in the lines after the errors. For instance, one of the errors shown is that "you'll have gast 0.3.3 which is incompatible". If you look a few more lines down it

[2020-02-22 08:22] borntofrappe commented on #267
I think I understand the point regarding `player()`: `opponent_history` is not passed in the function, but it is updated by the function to keep track of the moves. The explanation seems a tad excessive, especially considering that the previous paragraphs already describe the `player()` function.

I'd suggest something along the lines of:

---

I know it's a small change, but I'd also remove the w

[2020-02-22 21:09] jdelarubia commented on #233
Only a little spelling correction in the `test_module.py`.`test_prob_experiment()` function.
in both `.assertEqual()` calls, the string message reads "Expected experiemnt" when it should "Expected experiment".

[2020-02-24 06:58] adamdune commented on #237
@beaucarnes I suppose it should be clear enough for the campers as long as they have an understanding of Pandas. 😄

[2020-02-24 20:15] Ramon92 commented on #114
@QuincyLarson Valid point for the final project to have more well-known figures.
@beaucarnes You are right, it now seems to focus indeed a bit too much on JS and how to parse CSV with JS. I will update the project with your Feedback, I will keep you posted.

[2020-03-03 08:12] scissorsneedfoodtoo commented on #250
Boilerplate: https://glitch.com/~fir-ethernet
Solution: https://glitch.com/~bottlenose-eucalyptus

[2020-03-04 01:22] Steffan153 commented on #100
@scissorsneedfoodtoo I see this has the "help wanted" tag, so I'm wondering how I can help with this?

[2020-03-05 08:30] lefthand3r commented on #233
I currently find it very hard to understand what is meant by

What is one item? a tuple, a new class, a dictionary?

[2020-03-05 09:14] scissorsneedfoodtoo commented on #285
Hi @logankilpatrick, thanks for your patience.

This repo is a place for developing the planned updates to the freeCodeCamp curriculum. We're currently working on incorporating Python certifications and moving to a project based curriculum. Unfortunately we don't have plans to add Julia or other languages for the time being.

That said, we're always open to discussion. There was some talk about in

[2020-03-05 09:18] scissorsneedfoodtoo commented on #251
Solution: https://glitch.com/~youthful-grave-scabiosa

[2020-03-05 09:21] scissorsneedfoodtoo commented on #287
@rayjohnson529, thanks for your patience and your feedback.

I'll close this for now, but please let us know how everything's going in the [issue for this project](https://github.com/freeCodeCamp/CurriculumExpansion/issues/238).

[2020-03-05 09:21] #287 closed

[2020-03-05 09:22] scissorsneedfoodtoo commented on #238
Unfortunately I can't move comments from one issue to another. @rayjohnson529 had some thoughts in https://github.com/freeCodeCamp/CurriculumExpansion/issues/287.

[2020-03-05 09:30] jdelarubia commented on #233
Hi @lefthand3r , I'll give you my take on this.

contents must be a list with one item per ball/color. For example, if your bag is {"red": 2, "blue": 1}, contents should be ["red", "red", "blue"].

About your last question, yes, you need to remove the extracted balls while running each single experiment. When you finish an experiment, you need to update your counters and somehow reset the bag by p

[2020-03-05 09:43] scissorsneedfoodtoo commented on #288
Hi @brillout, thanks for your patience.

This repo is a place for developing the planned updates to the freeCodeCamp curriculum. We're currently working on incorporating Python certifications and moving to a project based curriculum. While some of our new projects will focus on developing an API, we don't currently have plans for GraphQL yet.

That said, we're always open to discussion. There was

[2020-03-05 15:46] darrentriplett commented on #236
This was the first project I tried and I thought the instructions were really clear for the most part.

The only thing I was unsure about was the last instruction:

Submitting
Copy your project's URL and submit it to freeCodeCamp.

When you say submit to freeCodeCamp do you mean here or somewhere else?

It could be helpfult to have a hyperlink that takes you right to the place to submit your feedb

[2020-03-08 08:33] lefthand3r commented on #233
Hey @jdelarubia - thank you for explaining- I was able to piece most of this together using the test cases.
However, I think it is not clearly written in the readme, so possibly the readme should be changed to clarify
1. what specifically is expected to be an item- maybe add an example such as the one you presented - or is this part of the 'figure it out?'
2. IMHO it could also be phrased differen

[2020-03-08 18:16] chakradhar123 commented on #268
I completed this project and it took me about 3 hrs. I was stuck at the test_data_gen in the beginning and rest went smoothly. It was a nice practice for me as I recently learned CNN and TensorFlow.I suggest some **corrections/improvements**:-

**1)**containng->containing
![image](https://user-images.githubusercontent.com/42428956/76168498-55299a80-6196-11ea-8ab0-2851abfdb301.png)
**2)**karas->ker

[2020-03-09 04:43] scissorsneedfoodtoo commented on #100
@Steffan153, thanks for your patience. Yes, this project is open and we would appreciate your help.

Just to give you a bit context, originally the plan was to cover all aspects of testing with this single project. In the end we decided that there's too much to cover. Instead, we're planning to [break this section up](https://www.freecodecamp.org/news/python-curriculum/#-javascript-quality-assuran

[2020-03-09 12:59] Rnso commented on #280
test_to_string fails with the error
AttributeError: 'Category' object has no attribute 'name'

I think it is because i declared category object with an attribute 'category' instead of 'name'. I feel the name of the attribute should not be restricted to 'name' unless otherwise mention so in the description of the assignment.

[2020-03-10 11:43] jdelarubia commented on #233
Hi @lefthand3r , Adding examples to the readme it is indeed a good idea. However, the specification for a problem (any problem, really) is never complete. On the positive side, we have the project issues page and the Discord #help channel. In my view, we better off incorporate those help channels to our toolbox rather than trying to solo-code through all the problems (hey, a solo-coder talking her

[2020-03-11 09:25] lefthand3r commented on #233
I think I found a 'bug', which might be an edge case:

`
def draw_not_working(self, num_balls: int):
        # if the number of balls that should be drawn
        # exceed the number of available balls, return all balls
        if num_balls >= len(self.contents):
            return self.contents
        # randomly take out num_balls balls from the hat
        # and delete them from the hat subsequ

[2020-03-11 17:09] lefthand3r commented on #270
Hello - I just tried my hands on this challenge and have found a couple of things that I am not sure about:

In data science one mostly wants to use the simplest possible model in order to understand the influence of certain parameters better (linear regression over neural net) and there are a lot of implementations that come to mind before using keras/tf for such a model - especially sklearn.

Th

[2020-03-12 11:45] scissorsneedfoodtoo commented on #280
@Rnso, that's a good point. It might be difficult to mention that in the description, so we might be able to include it in the seed code. For example, we could have

[code]

Instead of the current

[code]

Alternatively, we could change the test so it expects `*************Food*************` since we know that's what the category should be.

[2020-03-12 14:02] Rnso commented on #280
@scissorsneedfoodtoo both options are okay. I would prefer the first one though (i.e, include it in the seed code).

[2020-03-12 22:08] lefthand3r commented on #234
I have one logic question - The square has a set_width and set_height method which was inherited from the parent class, however the functionality should be different for a square, no?
Right now there is no mention in the readme that this logic needs to be adjusted as well in order to make a proper 'square', should this be added?

[2020-03-13 21:32] jdelarubia commented on #231
The url to my project is: [arithmetic formatter](https://repl.it/@jdelarubia/01-fcc-arithmetic-arranger).
The difficulty for me was not being able to fully use Python string formatting options.
Things like [`f"{operand:>6d}"`](url) , because we cannot include a variable number of spaces that operand can take. However, I managed to find my way around it.
Maybe, relaxing the tests by requiring a fix

[2020-03-13 21:36] jdelarubia commented on #280
Little ticket printing app.
Here's the url to my repo [budget app](https://repl.it/@jdelarubia/03-fcc-budget-app).

[2020-03-13 21:39] jdelarubia commented on #236
Link to my solution [mean var std](https://repl.it/@jdelarubia/06-fcc-mean-var-std).
No problems found with the problem requirements.

[2020-03-16 05:30] hassaanp commented on #254
This is a suggested flow for teaching OOP mentioned in #38365

[2020-03-17 05:58] rgroves commented on #232
Minor grammatical issue—need space between between "less" and "than" in the last sentence of the assignment description.

[2020-03-17 06:14] hassaanp commented on #120
Hi, @scissorsneedfoodtoo
It looks like the project has had a lot of work already put in.
How do you propose we proceed?

Quincy referenced another project] (#254 ) to me in the original discussion [#38365](https://github.com/freeCodeCamp/freeCodeCamp/issues/38365)

If it makes more sense to incorporate the suggested flow in the Shopping Cart project then I would love to hear your thoughts on how t

[2020-03-17 06:54] scissorsneedfoodtoo commented on #120
@hassaanp, good question. We've discussed introducing more OOP concepts into this project to more closely mirror #254, which will be a Python project. Given that this is a JS project, it might be a better fit for what you proposed in https://github.com/freeCodeCamp/freeCodeCamp/issues/38365.

I'll get more concrete details in a meeting later tonight and will write back with next steps.

[2020-03-17 13:11] Rnso commented on #280
@jdelarubia  looked into your solution.
I am sorry actually the error in my case was because of the name of property (self.category = category) and not the name of attribute (def __init__(self, category)).

In that case, the second option is more apt I suppose.

[2020-03-18 03:32] scissorsneedfoodtoo commented on #280
@Rnso, no worries. Thank you for bringing this to our attention. This is still something we should investigate since we want the tests to be as flexible as possible. Ideally you would be able to name the attributes whatever you want.

@beaucarnes, what do you think about changing the `expected` string in `test_to_string`? I'm thinking it could check for `*************Food*************` rather than

[2020-03-18 03:38] scissorsneedfoodtoo commented on #270
@lefthand3r, thank you for checking out this project and your thorough explanation. Those diagrams are really helpful! These are all things we definitely want to consider before we release this project.

[2020-03-18 03:41] scissorsneedfoodtoo commented on #268
@chakradhar123, thanks for catching those typos! We'll go in and fix them as soon as possible.

Your third and fourth points might make things a bit more clear for people working through this project. What do you think @beaucarnes?

[2020-03-18 03:57] scissorsneedfoodtoo commented on #267
@borntofrappe, thanks for your patience and your thorough review of this project. I agree that we should remove the word "should" from that sentence.

I went in and updated the README. Now the full sentence reads:

`The function takes an argument that is a string describing the last move of the opponent ("R", "P", or "S").`

[2020-03-18 04:03] scissorsneedfoodtoo commented on #257
@fheld, thanks for your patience and your interest in this project.

We're currently working on the required Python certification projects. Once they're released, we'll circle back around to these optional projects.

[2020-03-18 04:04] scissorsneedfoodtoo commented on #256
Thanks for the suggestion @jean. We'll look into that once we start working on these optional projects.

[2020-03-18 04:06] scissorsneedfoodtoo commented on #252
@random-bot, thanks for your patience and interest in this project. We're currently working on the required Python certification projects. Once we release those, we'll circle back around to these optional projects.

[2020-03-18 04:22] scissorsneedfoodtoo commented on #120
@hassaanp, thanks for your patience.

I think it's best to incorporate your suggestions for teaching JS OOP into this project. We may even consider revamping it to focus more on OOP rather than data structures like it does now.

We should start in this step, before the current instructions ask students to build a class: https://github.com/freeCodeCamp/CurriculumExpansion/blob/master/learn-data-str

[2020-03-18 04:32] scissorsneedfoodtoo commented on #236
@darrentriplett, sorry for the confusion. When these projects are released, campers will submit a URL to their working project like they do for [other required projects](https://www.freecodecamp.org/learn/front-end-libraries/front-end-libraries-projects/build-a-random-quote-machine). That's what those instructions refer to.

One improvement we could make to the README files is to have a link to ea

[2020-03-18 04:39] hassaanp commented on #120
That sounds perfect. Thank you so much for detailing this out.
We can definitely get on a call. I will send you an email with my calendar link.

[2020-03-18 04:40] scissorsneedfoodtoo commented on #234
@lefthand3r, that's a good point. I don't think it's strictly necessary given the solution here, but definitely worth considering since those methods will be inherited from Rectangle. I suspect that a lot of people will think along the same lines.

[2020-03-18 04:44] scissorsneedfoodtoo commented on #233
Thanks for catching that typo, @jdelarubia. I fixed it in the main project here: https://repl.it/@freeCodeCamp/fcc-probability-calculator

Also, thanks to both you and @lefthand3r for your discussion. These are all points we should consider before the release.

[2020-03-18 04:47] scissorsneedfoodtoo commented on #232
Great catch @rgroves. I've fixed it over in the main project here: https://repl.it/@freeCodeCamp/fcc-time-calculator

[2020-03-18 20:07] beaucarnes commented on #280
I updated the test to check for `*************Food*************`.

[2020-03-18 20:12] beaucarnes commented on #270
@lefthand3r Thanks for reviewing this and giving your input. Would you be interested in helping to redo this challenge to address the issues you brought up?

[2020-03-18 20:20] beaucarnes commented on #268
@chakradhar123 Thanks for your input. I have updated the project to include all of your suggestions.

[2020-03-18 20:22] beaucarnes commented on #238
I'm pretty sure the issues brought up by @rayjohnson529 have already been fixed.

[2020-03-18 20:36] beaucarnes commented on #234
@lefthand3r That is a good point. I added the line below to the instructions and also added a test for this. Do you think this is a good way to address the issue you brought up.

[2020-03-18 21:19] beaucarnes commented on #233
Thanks, I added clarification in the readme to what `contents` should be. I also addressed the edge case of creating draw function differently by changing the test to "assertAlmostEqual" so the probability can be off by 0.01.

@lefthand3r Do you have a wording suggestion on how to better clarify the experiment and draw functions?

[2020-03-19 07:50] lefthand3r commented on #270
@beaucarnes / @scissorsneedfoodtoo  Thank you very much for the feedback! It feels awesome to contribute to open source when there is welcoming people like the two of you!

I would love to contribute to the challenge and will also take a look at the other machine learning challenges later this week.

@beaucarnes please tell me how to help.

[2020-03-19 20:05] beaucarnes commented on #270
@lefthand3r Can you update the instruction and solution to include your suggestions including sklearn?

[2020-03-20 08:29] lefthand3r commented on #270
It will take me a couple of days but I will suggest something

[2020-03-23 04:03] scissorsneedfoodtoo commented on #270
@lefthand3r, awesome, looking forward to your suggestions.

[2020-03-24 14:36] scissorsneedfoodtoo commented on #245
Solution: https://glitch.com/~thread-valley-lipstick

[2020-03-24 15:34] RandellDawson commented on #245
@scissorsneedfoodtoo @beaucarnes Any particular reason to not use the arrow keys instead of "W", "A", "S", or "D"?  It would be a lot more intuitive for a game to allow that.  Also, since it is a multiplayer game, I think it would make sense to require that the game show the current user's score rank as `Rank: currentRanking/totalPlayers `.  This allows a user to know where they stand with respect

[2020-03-24 15:37] lefthand3r commented on #270
Please find my first draft of the challenge here:

https://colab.research.google.com/drive/1W_7_ztx8ahU_8MwUKq1_9Pbjobke-Tf7

[2020-03-24 17:13] lefthand3r commented on #233
I thought about this for a while and this is what I came up with for now - my changes are **bold** :

draw:

experiment:
1. the experiment function should be called a function and not a method since it is not associated with a class, right?
2. I would rename the balls_to_draw to expected_balls or experimental_balls? - I changed it to expected_balls for now

    hat: A hat object containing balls *

[2020-03-24 19:18] lefthand3r commented on #269
I started this project about an hour ago and can say for now that the start is very unintuitive since there is a lot of mingling needed with the format of the CSVs (iso-encoding, headers, c parsing errors, delimiters etc)
IMHO it would make sense to give some hints concerning the reading

[2020-03-25 07:35] scissorsneedfoodtoo commented on #245
@RandellDawson, that's true, we can adjust the user stories and tests to use either the arrow keys or WASD. The method we're testing could accept "up", "down", "left", or "right" instead of a specific key. Then campers can have more flexibility with the keys they want to use for their game.

I like your idea for showing the player's score as a rank instead, especially for the sample project. One t

[2020-03-25 22:46] sw-yx commented on #116
happy to, im between jobs right now and can spend some cycles on this. will email

[2020-03-30 05:14] scissorsneedfoodtoo commented on #233
@lefthand3r, thanks for your patience and for your suggestions. I believe you're right, `experiment` should be called a function rather than a method. Also, renaming `balls_to_draw` to `expected_balls` is a good idea since we're trying to determine the probability of drawing those exact colors.

The one change I would make is to break your first addition out into its own sentence:

What do you thi

[2020-03-30 05:25] scissorsneedfoodtoo commented on #270
@lefthand3r, thank you for your patience and for all of your hard work on this draft! I know very little about data science and machine learning, so I won't be able to make very helpful suggestions with this project. But I read through your descriptions, ran all the cells, and everything LGTM as far as I can tell.

Could you take a look at this @beaucarnes?

[2020-04-01 02:24] mramire6 commented on #232
I liked the project a lot. Thanks for inviting me. My comments below.

From the README

The minutes in the duration time are also whole numbers, but the way the sentence is written makes it seem like only the hour is.

[2020-04-01 04:29] scissorsneedfoodtoo commented on #232
@mramire6, thanks for your input. I agree that the wording there could be a bit confusing. Perhaps it could read: "The minutes in the duration time will be a whole number less than 60, but the hour can be any whole number."

Do you think that sounds better? Or is there an alternative that you can suggest?

[2020-04-01 11:39] scissorsneedfoodtoo commented on #245
Hi @RandellDawson, thank you again for your suggestions. We updated the code so the `movePlayer` method is more flexible, and added another user story and test to check for the player's rank rather than score like you suggested.

[2020-04-01 11:40] mramire6 commented on #232
I think that reads well.

[2020-04-03 20:04] mesporas1 commented on #100
Hey @scissorsneedfoodtoo , I created a prototype "Garden" program that users can write basic tests against. The main idea is that the learner will be given some requirements and a program made according to those requirements. Then, the learner will write tests to verify the functionality. https://codesandbox.io/s/test-program-qldjt

Let me know what you think about it and how it can be improved or

[2020-04-04 16:21] Steffan153 commented on #100
@scissorsneedfoodtoo I started on CodeSandbox, but it was way too slow, so I went to StackBlitz (It's way faster, and I like it better. It even hot reloads the preview which is handy.) I'm thinking something like this, but I'm not completely sure: https://stackblitz.com/edit/js-yejfpz

What do you think?

[2020-04-04 19:24] Steffan153 commented on #100
Alright, this one turns it into JSON. I think this fits this project well: https://stackblitz.com/edit/js-pm4kte

[2020-04-07 18:55] jdelarubia commented on #243
Clear instructions (by the time I got here). [Link to my solution](https://repl.it/@jdelarubia/fcc-port-scanner).
Cheers!

[2020-04-08 06:53] scissorsneedfoodtoo commented on #100
@Steffan153, thank you for posting both of your prototypes. I'm sorry, I must have gotten some wires crossed by asking both you and @mesporas1 to work on this project.

We will probably go with @mesporas1's prototype for this project. After some internal discussion we realized that a recipe ingredient parser might be a bit too difficult to build and test, and will go for something that can be done

[2020-04-08 06:59] scissorsneedfoodtoo commented on #100
@mesporas1, thank you for sending us your prototype. I've played around with it a bit and it seems like a great project to teach the basics of testing. I really like your garden idea, too -- it's a really novel idea and will be much more interesting to build than a test answer checker like we discussed before.

This looks like it's ready to be broken up into steps. I'll send you a calendar invite

[2020-04-08 07:17] scissorsneedfoodtoo commented on #243
@jdelarubia, awesome, thank you for your input. Your solution looks great :+1: :+1:

[2020-04-08 07:25] scissorsneedfoodtoo commented on #232
@mramire6, thank you for your patience.

I went ahead and updated that sentence in the [main project](https://repl.it/@freeCodeCamp/fcc-time-calculator) based on your input. Thanks again for your help making the instructions as clear as possible.

[2020-04-08 21:01] jdelarubia commented on #244
Awesome project, I liked very much. Here is the [link to my fork](https://repl.it/@jdelarubia/fcc-brute-force-password-cracker).

I noticed the tests fail when the function calls are chained, like
[code]
Instead, I needed to split the calls in 2 lines.
[code]

[2020-04-09 07:18] scissorsneedfoodtoo commented on #244
Thanks for your feeback @jdelarubia.

I took a look at your solution and agree -- it is a bit strange that you can't chain `.encode()` to `.rstrip()`. As far as I can tell, strings in Python are immutable, so string methods should return a new string.

Not sure why your original code doesn't work. Glad you were able to find a solution in the end.

[2020-04-09 13:32] beaucarnes commented on #100
I like this project idea. I'm still not totally clear what part the user will be creating and what part will be given.

[2020-04-09 15:49] mesporas1 commented on #100
@beaucarnes , thanks for looking at my prototype! I was thinking that the users will primarily write the tests in the "tests" directory. The tests will be for the garden code that I wrote. The garden code will be provided to the user.

I was also thinking that I could purposefully put bugs in my garden code in the final version. The user can write tests, find the bugs according to the failing test

[2020-04-09 21:32] jdelarubia commented on #232
Fun project in which we need to manipulate dates as strings.
I coded a few extra validation tests in the file `test_extra.py` to prove my solution since I noticed that although I was getting green tests, the logic of my 'add_time()' function was faulty when I was trying some other inputs.
[Link to my solution](https://repl.it/@jdelarubia/02-fcc-time-calculator)

[2020-04-10 07:35] scissorsneedfoodtoo commented on #232
@jdelarubia, thanks for your input. Could you describe some of the false positives you got with your original code? We may be able to add some of your tests to `test_module.py` to prevent the same thing from happening to other learners.

[2020-04-11 18:35] jdelarubia commented on #232
Hi Kristofer, My issues were on edge cases. I updated my code and my extra `test_extra.py` file to include as much of these cases. Even now, I still get 2 cases wrong so my code is not complete (although it passes the specification).
I'll give you a few examples of the edge cases I mean.
1:59 AM + 0:01 = 12 PM
1:59 PM + 0:01 = 12 AM
10 AM + 24:00 = 10 AM, and its counterpart with PM
10 PM + 0:00 =

[2020-04-13 05:26] scissorsneedfoodtoo commented on #232
@jdelarubia, great, thank you for including those tests. Even though this is only the second project in the Scientific Computing with Python section, we may want to include a couple of those tests just to make sure the student's code is working properly.

Seems like some people don't consider 0 to be a whole number, so we may need to modify the description to read something like:

"The minutes in

[2020-04-13 20:17] mramire6 commented on #232
When I was writing my initial comment I debated with myself quite a bit on which term might be clearer and correct to use: integers or whole numbers. The issue with using the term integers is that it includes negative values. Since the exercise seems to want to add time (and not subtract it), including the term integers might be confusing to some learners who expect a negative value as a test case

[2020-04-15 06:33] scissorsneedfoodtoo commented on #232
@mramire6, that's a very good point about integers including negative numbers. Thank you for pointing that out -- we definitely don't want to suggest that the calculator should also subtract time.

I think you're right, we should stick with whole numbers rather than non-negative integers. It might be overkill, but maybe the description could read "The minutes in the duration time will be a whole n

[2020-04-18 22:58] vkWeb commented on #111
@scissorsneedfoodtoo Hey. I'm back again. I am getting back to working on some unfinished projects. I am planning to complete the Intermediate algorithm scripting project - Yahtzee by this week. I was just looking at the help-wanted issues and found this one interesting. It looks like @karuppiah7890 has already done some great work here ✨.

I took a quick look at the code. I was just thinking inst

[2020-04-19 05:20] scissorsneedfoodtoo commented on #111
Hey @vkWeb, glad to hear that you're making good progress on the Yahtzee project.

Creating a local server is a great idea, though I'll have to check on the updated order for the new curriculum with @QuincyLarson. I believe we'll move a few of the Data Visualization projects into the Front End Libraries section of the curriculum. The current plan is to have the practice projects for the first 3 ce

[2020-04-19 12:05] vkWeb commented on #111
@scissorsneedfoodtoo Sounds cool. Most developers already use VSCode so it makes sense to run the backend curriculum there. Btw I'm curious as to how we'll run the curriculum in VSCode?

In my opinion, APIs and Microservices section will already have a ton of concepts to learn. So AJAX might add some overhead there.

<hr>

If the team plans to put the first three parts - Responsive Web Design, Alg

[2020-04-20 03:38] scissorsneedfoodtoo commented on #111
@vkWeb, sorry, I wasn't clear in my last message. The current plan is to make the Data Visualization a legacy certificate and move some of the planned projects into different certificates. So unfortunately we probably won't have a Data Visualization certificate in the new curriculum.

I'll talk to the others about the best place for this project. If we decide to keep it in one of the three certifi

[2020-04-20 11:08] vkWeb commented on #111
@scissorsneedfoodtoo Ohhh.

I believe we should be able to access the local server from /learn too. But yeah then campers might need to download the server runtime to their system like Node.js for a Node server or Python for flask / Django. Let things get finalized and then we'll see what can be done on this :)

[2020-04-22 19:39] anastasiasoenjoto opened #296 "Add lessons to Rosetta Code (Coding Interview Section)"
Hi I wanted to add these challenges to Rosetta Code in the coding interview section:
-  FizzBuzz: I made a [pull request](https://github.com/freeCodeCamp/freeCodeCamp/pull/38610) for this.
- Self Describing Numbers: I made a [pull request](https://github.com/freeCodeCamp/freeCodeCamp/pull/38727) for this.

[2020-04-23 20:37] jdelarubia commented on #237
Very nice project. I had some idea about Pandas but this project helped me to brush up my skills. Here is the link to [my solution](https://repl.it/@jdelarubia/07-fcc-demographic-data-analyzer).
I installed Jupyter on my local dev environment to help me finish the project. First time I use it and it's really awesome!

[2020-04-23 20:54] beaucarnes commented on #232
After some quick Google searching, it seems like everyone that 0 is a whole number. So I'm not sure we need to specify "but the hour can be any whole number _including 0_."

[2020-05-05 10:08] #288 closed

[2020-05-05 10:08] #285 closed

[2020-05-05 10:15] scissorsneedfoodtoo commented on #296
@anastasiasoenjoto, sorry I'm just seeing this now. I'll take a look at your ports ASAP.

Also, I saw that you were directed to open an issue here to discuss more Rosetta Code ports. @NitronR has really been a huge help improving the Rosetta Code challenges on freeCodeCamp. This issue will be a good place to discuss future ports so you both don't end up working on the same challenges.