[2017-01-08 15:21] smileytechguy commented on #74
@QuincyLarson yeah sure, however all i see available is graph traversal and I'm not sure how to do that yet.

[2017-01-08 19:28] no-stack-dub-sack commented on #66
@Christian-Paul @paycoguy  Hey guys, this is awesome! I love the new project choice. Sorry for my delayed responses lately, Ive been incredibly busy between work and trying to get some other contributions done to help us get the new curriculum into beta... but that's finally done so I can turn my attention back to this a bit more. I also think I would be an excellent candidate for QAing these sinc

[2017-01-08 19:32] no-stack-dub-sack commented on #65
@paycoguy @Christian-Paul @QuincyLarson - could we give them a choice of data sets and still have the tests work for all of them? I know with some of the earlier projects the tests are highly data set dependent... I like the idea of this project as well though, I think it's a solid replacement

[2017-01-08 20:22] JosephLivengood commented on #76
An update, the prototype and bp are done, just need to write the tests on the tester.

_Changed to Issue Tracker as to not require authentication_

*User Stories*

- Prevent cross site scripting(XSS attack).
- I can POST /api/issues/{projectname} with form data containing required issue_title, issue_text, created_by, and optional assigned_to and status_text.
- The object saved (and returned) will

[2017-01-08 21:28] no-stack-dub-sack commented on #66
@QuincyLarson Hey Quincy, I unlisted this forum discussion for the time being since we do not yet have a blank pen that has this test suite available and since we do not yet have links for the JSON files either on S3 or as github raw data (like for the already existing projects).

Once @Christian-Paul and @paycoguy file a PR against the repo and the test suite is integrated, we can get this suite

[2017-01-08 22:10] TheeMattOliver commented on #17
Hey @QuincyLarson @erictleung @bonham000, I realize I'm coming into to the conversation pretty late, but what an amazing resource!

I was just peeking at a couple of them @bonham000 and I think using the Prototypal instantiation pattern is pretty clear. *But*, if campers aren't solid on the 'this' keyword, doing them in functional style may help solidify these conceptually without having to worry

[2017-01-08 22:30] no-stack-dub-sack commented on #66
@QuincyLarson Also, I am working on adding copy for each project to the repo for when we actually integrate these projects into the curriculum. Since things are working a little differently with the new testable projects, I figured new copy explaining things will be needed. Here's an example of what I have in mind (this is all html, not markdown):

<h2>Intro:</h2>
<p>For this project, we will be u

[2017-01-09 07:27] QuincyLarson commented on #66
@no-stack-dub-sack agreed on de-listing the forum post for now.

Yes - I think it'd be good to have a description on the GitHub repo. At the same time, we want a single source of truth so we won't have to worry about conflicting or out-of-date information. I plan to add all of this information to the project description on FreeCodeCamp.com, so maybe instead we could just link to that page in the d

[2017-01-09 07:29] QuincyLarson commented on #17
@TheeMattOliver thanks for your feedback. Yes - I agree. I'd be interested in hearing your thoughts on the feedback as well. I'm going to try and publish all of these to beta as quickly as possible. I'm hoping for a firehose of issues :)

[2017-01-09 07:33] QuincyLarson commented on #65
@no-stack-dub-sack that's fine with me. Ideally, I'd like for campers to be able to choose from a variety of data sets on all of these. We can worry about adding those later if it will take a substantial amount of time or require modifying the test suite.

@paycoguy @Christian-Paul if you email me the datasets, I can upload them to s3.

[2017-01-09 07:35] QuincyLarson commented on #74
@smileytechguy there are a ton of [help wanted issues on our core repo](https://github.com/FreeCodeCamp/FreeCodeCamp/labels/help%20wanted) if you're interested in those. Once we transitioning these challenges to the staging branch, it will be easier to hop in and work on them.

[2017-01-09 07:36] QuincyLarson commented on #76
@JosephLivengood awesome. This looks great! I looked at it and all the tests passed. I've created a forum thread here: https://forum.freecodecamp.com/t/issue-tracker-project-with-testable-user-stories-guinea-pigs-needed/74449

[2017-01-09 07:36] #76 closed

[2017-01-09 14:27] paycoguy commented on #65
@QuincyLarson @no-stack-dub-sack

It's possible for this project to be data agnostic, but since we can't validate the project against a specific dataset, the tests won't be as rigorous.    In general, we would only be testing if their D3 project "looks" like a treemap, and we wouldn't be able to test if their treemap is actually correct.

I think this project is the best choice for being data agno

[2017-01-09 19:59] no-stack-dub-sack commented on #66
@QuincyLarson That's totally fine, I guess my main point was just to get started on the copy until there was an official place to put it. Are you ok with the way this looks or is this something you prefer to handle yourself? I'm ok with it either way, just thought I'd get a head start. We can discuss in greater detail offline soon.

[2017-01-10 03:29] QuincyLarson commented on #65
@paycoguy Awesome! There's going to be some trade-off between freedom and testability, so just use your best judgement. I'm excited to see the data-agnostic tests :)

[2017-01-10 03:33] QuincyLarson commented on #66
@no-stack-dub-sack actually, now that I read your copy, I think it's great. I think we can use similar copy on the back end challenges, too. I'll talk with @Em-Ant and see what his thoughts are on this.

[2017-01-10 03:36] no-stack-dub-sack commented on #66
@QuincyLarson Ok, great, sounds good. Thanks!

[2017-01-10 03:57] HKuz commented on #74
@smileytechguy -thanks for writing that challenge! I actually split it up into two - one that covers DOCTYPE and `html` tags, and one that covers `head` and `body`. Plan is to get the new challenges seeded when these sections are split apart. Stay tuned...

[2017-01-10 05:36] no-stack-dub-sack commented on #66
@paycoguy @Christian-Paul That was easy! I merged the PR - thanks guys! I also pulled out the `getTooltipStatus` and `getRandomIndex` functions into the entry point and added them to the global library object so all the D3 tests can now share those functions - so that's a bit less repeated code, but I have yet to figure out how to share the whole tooltip test among suites. But it's a step in the r

[2017-01-10 11:19] smileytechguy commented on #74
Alright, thanks!

[2017-01-10 12:56] HKuz commented on #74
@QuincyLarson - I see this issue getting ticked off up top! If you're seeding the new stuff, here are the two structure challenges (if not, it's here for completeness). They're already formatted with `code` and `blockquote` tags per FCC style, so hopefully it's just a copy paste into the json. I'll try to get to the Nested CSS challenge(s) this week.

# Declare the Doctype of an HTML Document

##

[2017-01-10 17:09] TheeMattOliver commented on #17
@QuincyLarson @bonham000 Here's a pseudoclassical implementation of Singly Linked Lists that I think may read better than the original. It implements the list with a tail property. For people who have never seen or heard of a linked list,  I think it is the first CS structure that's moderately difficult to attain mastery over. But it's such a fundamental stepping stone on the way to tree traversal

[2017-01-10 17:17] TheeMattOliver commented on #17
Create node:

[code]

Create list and methods:
[code]

[2017-01-10 17:22] no-stack-dub-sack commented on #65
@paycoguy Sounds good, I 100% defer to your judgement on this - and I think it's def good to have at least one data agnostic project, so I'm on board. Last one! Very exciting. Everything is looking great with these D3 projects and the new test suite UI makes for an infinitely better user experience. I think we're well on our way!

[2017-01-10 19:12] bonham000 commented on #17
@TheeMattOliver I agree about LL being an important data structure and a good one to begin learning really well. And yes, about adding the `tail` property that's probably a good addition. Right now the LL section has like 3 authors I believe, not counting your suggestion, so that would be a good place to go through and review once this is on beta.

[2017-01-11 07:00] QuincyLarson commented on #74
@HKuz yes - I'm going through and adding these to the seed files and working toward prepping the PR for staging. I've been checking challenges off as I add them to the seed file.

Thanks for creating these two new challenges. I'll import them as well 😄

[2017-01-11 07:02] QuincyLarson commented on #66
@no-stack-dub-sack Awesome - thank you for filling us in on this, and for re-listing the forum post.

By the way, @Christian-Paul @paycoguy if these forum posts aren't getting much attention yet, don't worry - the will. Once we get the curriculum expansion live on beta.freecodecamp.com, I'll make a big announcement to the entire community to stimulate interest in QA'ing them.

[2017-01-11 13:54] systimotic commented on #89
@QuincyLarson

I'd like to, but my ToDo list if already overflowing, so I'm focusing on that first. I'll pass on this one 🙂

[2017-01-11 19:48] erictleung commented on #17
## Depth-First Search

**Challenge Description**

**Challenge Seed**

[code]

**Challenge Tests**

[code]

**Challenge Solution**

[code]

[2017-01-12 03:21] QuincyLarson commented on #66
@no-stack-dub-sack here is the copy we agreed upon for the front end projects:

[code]

[2017-01-13 00:11] no-stack-dub-sack commented on #65
@QuincyLarson So I forked all the example projects over to FCC's official CodePen and updated them all with the new CDNs I created off the new repo under FCC ownership (I knew we were forgetting something when we did that yesterday). So good to go! They have all been added to this collection: http://codepen.io/collection/npZPmR/. I also ran every test suite after updating the CDNs to make sure the

[2017-01-13 21:29] QuincyLarson commented on #74
I've finished importing this. Great work everyone, and thanks for the extra challenges, @HKuz.

Once we get these into beta, we can verify that the resequencing didn't cause anything from showing up in the challengeSeed before it's introduced.

[2017-01-13 21:29] #74 closed

[2017-01-14 05:30] QuincyLarson commented on #34
I've imported these into our seed files and we'll open a further issue off of staging to add tests and QA. Thanks, everyone!

[2017-01-14 05:30] #34 closed

[2017-01-16 19:03] QuincyLarson commented on #65
@paycoguy @Christian-Paul any updates on this? Everything else is ready to roll and I'm importing it into our seed files. Hoping to have a PR into staging ready by tomorrow with the full curriculum expansion. We can add this last project in once it's ready 😄

[2017-01-16 19:54] Christian-Paul commented on #65
@QuincyLarson We're working on some final finishing touches, but it's 99% done. We're hoping to make a pull request tonight or tomorrow. Here's what we have so far:
http://codepen.io/paycoguy/pen/JERVGa

The tests are data agnostic and we've included three sample datasets

[2017-01-17 01:51] paycoguy commented on #65
@QuincyLarson @no-stack-dub-sack

We just did PR and updated the Codepen with the latest example Treemap project code.

Here is the codepen link:
http://codepen.io/paycoguy/pen/JERVGa

Here are the user stories:

1. My tree map should have a title with a corresponding id="title"
2. My tree map should have a description with a corresponding id="description"
3. My tree map should have <rect> element

[2017-01-17 02:02] paycoguy commented on #65
@QuincyLarson @no-stack-dub-sack

We just did PR and updated the Codepen with the latest example Treemap project code.

Here is the codepen link:
http://codepen.io/paycoguy/pen/JERVGa

Here are the user stories:

1. My tree map should have a title with a corresponding id="title"
2. My tree map should have a description with a corresponding id="description"
3. My tree map should have <rect> element

[2017-01-17 02:03] paycoguy commented on #65
test

[2017-01-17 04:49] QuincyLarson commented on #89
@bonham000 I've imported these and sequenced them according to your suggestions.

[2017-01-17 04:49] #89 closed

[2017-01-17 04:50] QuincyLarson commented on #17
@erictleung @bonham000 @alayek I've imported these into the seed file. I'm closing this issue and we can open issues on a challenge-by-challenge basis over on the staging branch.

[2017-01-17 04:50] #17 closed

[2017-01-17 04:52] QuincyLarson commented on #49
@AngelKyriako @Greenheart I haven't heard from either of you on this so I'm closing this issue and we can handle these on an challenge-by-challenge basis over on staging.

[2017-01-17 04:52] #49 closed

[2017-01-17 06:19] no-stack-dub-sack commented on #66
@QuincyLarson The pen link that is in this boiler plate is not the official one I forked over to FCC, I missed this when we were going over all of this. I just saw your PR [#12570](https://github.com/freeCodeCamp/freeCodeCamp/pull/12570) and noticed all the projects were included - this URL will have to be switched out at some point. One of us can submit a PR once this one is merged into staging.

[2017-01-17 10:04] AngelKyriako commented on #49
@QuincyLarson I understood that the rest of the team will take care of integrating the challenges into the FCC repo. Do you need more help/pointers from me on that ?

[2017-01-18 16:07] TheeMattOliver commented on #17
@erictleung @bonham000 @alayek @QuincyLarson I know the issue is closed, but I don't see these in the Staging branch. I just rebased with the upstream and not seeing them. Is there somewhere else I should be looking?

[2017-01-18 17:36] erictleung commented on #17
@TheeMattOliver you can find the new challenges being added in this not-yet-merged PR https://github.com/freeCodeCamp/freeCodeCamp/pull/12570

[2017-01-18 17:43] TheeMattOliver commented on #17
Got it thanks.

On Wed, Jan 18, 2017 at 11:36 AM, Eric Leung <notifications@github.com>
wrote:

[2017-01-20 06:43] QuincyLarson commented on #49
@AngelKyriako Actually, we haven't made any progress on this since you stopped working on it. We have managed to build the interactive back end projects, though. We are currently QA'ing the entire back end curriculum.

I know you are a busy guy, but would you be interested in picking up where you left off and finishing these advanced Node/Express challenges?

[2017-01-20 06:44] QuincyLarson commented on #66
@no-stack-dub-sack OK - I can quickly change those out. What is the URL for the official boilerplate pen?

[2017-01-20 07:06] QuincyLarson commented on #65
@paycoguy awesome! I've created a forum post here: https://forum.freecodecamp.com/t/tree-map-d3-project-with-testable-user-stories-guinea-pigs-needed/78623

Even though we haven't seen much activity on these threads, we will. I'm going to an announcement to steer traffic toward them and get people QA'ing these.

And I will create a pull request to get this challenge up onto beta tomorrow. Thanks!

[2017-01-20 18:51] no-stack-dub-sack commented on #66
@QuincyLarson Sorry, didn't see this til now and looks like its already been merged. I just opened an issue though and can fix it if you'd like. Also, we're not doing this line anymore?

[2017-01-20 22:00] #65 closed

[2017-01-21 11:25] AngelKyriako commented on #49
@QuincyLarson I need an additional hook(before) in the json that describes what unit tests to run for the challenge, so that it runs a javascript string before all the test cases.
.eg https://github.com/AngelKyriako/FccAdvancedNodejsExpressApp/blob/master/testApp/public/seeds.js

This will let us update the unit tests with less pain when the challenges need polishing.

I could help on adding this

[2017-01-22 08:19] QuincyLarson commented on #49
@AngelKyriako are all these challenges working properly on GoMix.com (formerly HyperDev.com)? If so, what is the current URL for both the boilerplate and the tester? The tester we're using for all the other projects only has one test on it: https://narrow-plane.gomix.me/

I can talk with @BerkeleyTrue about how we might go about adding such a Git Hook, and whether this is the best way to go about

[2017-01-22 11:45] AngelKyriako commented on #49
@QuincyLarson since the tests are client side I did not upload them on GoMix, The challenges on the other hand were developed on hyperdev in a first place, to always have in mind its restrictions: https://gomix.com/#!/project/luminous-dart. Notice that it does not run since its on the challenge 1 state.

You can copy the content of these files: https://github.com/AngelKyriako/FccAdvancedNodejsExpr

[2017-01-22 19:09] QuincyLarson commented on #49
@AngelKyriako thank you for the additional detail.

I will talk with @Em-Ant about how we can add these to the current tester.

"Git hook" was a typo - I meant to type "hook."

[2017-01-22 20:33] Em-Ant commented on #49
@QuincyLarson  I'm looking at @AngelKyriako 's code. If I understood correctly, he needs a script to run before each test. It's probably possible to add this functionality to our testing framework on gomix, but more important this also needs to be implemented in the FCC backend code (by Berkeley).

[2017-01-23 02:00] BerkeleyTrue commented on #49
@AngelKyriako Can you clarify this sentence? Perhaps with user stories.

[2017-01-23 10:23] AngelKyriako commented on #49
@BerkeleyTrue Check this example: https://github.com/AngelKyriako/FccAdvancedNodejsExpressApp/blob/master/testApp/public/seeds.js. Its part of my custom test app which works if you clone it and run it yourself.

The value of the 'before' key will be evaluated and run, before the test cases start to run.

before, beforeEach, after & afterEach might be found helpful by other challenge unit tests in

[2017-01-23 23:10] BerkeleyTrue commented on #49
@AngelKyriako Would this work in the tail section?

[2017-01-24 11:13] AngelKyriako commented on #49
@BerkeleyTrue By 'tail section' u are talking about file formatting or runtime order? I need it to run before all the tests, I don't really mind where the hook will be located.

[2017-01-24 19:36] BerkeleyTrue commented on #49
Challenges can have a head/tail property. This is code that is prepended/appended to the users code. This could potentially be used similar to a `before` in testing. It would run immediately after users code and before the tests run.

[2017-01-25 15:07] AngelKyriako commented on #49
Cool, that should do the trick.

@BerkeleyTrue  Last time I checked I was lost while trying to import the challenges. I Could not find where to put the server's URL among other things. is there any documentation regarding the backend challenges setup. Is there a branch with the backend framewok in a stable state ?

[2017-01-30 17:02] AngelKyriako commented on #49
@BerkeleyTrue @QuincyLarson

I updated the readme with usage instruction & explanations on how to setup.

Let me know when you are ready, to port it together on the fcc site.

Cheers

[2017-01-31 19:54] QuincyLarson commented on #49
@AngelKyriako awesome! Thanks for these additional updates and details. I'm working with @Em-Ant to get these into our codebase as quickly as possible :)

[2017-01-31 22:57] QuincyLarson commented on #91
@smileytechguy I've added this to our seed files and it will show up in its own new section as soon as we deploy.

[2017-01-31 23:46] smileytechguy commented on #91
@QuincyLarson aright, awesome!  thanks

[2017-02-15 19:33] pmbenjamin opened #92 ""Unit Testing" Waypoints"
There were a few github issues in FreeCodeCamp repo that were opened to discuss "Unit Testing" lessons/waypoints. I could not find any resolution for them in FreeCodeCamp repo or in CurriculumExpansion repo.

Namely, these 2 related issues:
- https://github.com/freeCodeCamp/freeCodeCamp/issues/5602
- https://github.com/freeCodeCamp/freeCodeCamp/issues/5847

Is this suggestion still being considere

[2017-02-15 20:00] erictleung commented on #92
@pmbenjamin here are the challenges on unit testing https://github.com/freeCodeCamp/CurriculumExpansion/issues/48

[2017-02-15 21:24] pmbenjamin commented on #92
Thank you, I will continue the discussion there!

[2017-02-15 21:24] #92 closed

[2017-04-04 12:26] Flarp opened #227 "Generators and Iterators for ES6 [FCC BETA]"
Generator functions are a big feature in ES6, and the building blocks for the new async/await feature in ES201(6/7). It should certainly be covered in some way, like an introduction, and maybe a tutorial on how to make a version of async/await using generators.

Something like

* Generators
* Some generator practice
* Async/await using generators

[2017-04-26 02:52] QuincyLarson opened #195 "Course idea: React Native basics using REPL.it's new classroom feature"
REPL.it just announced support for React Native. Here's the announcement: https://repl.it/site/blog/react_native

If we can build an interactive course with automated tests using REPL.it, we can host it through REPL.it's embed feature at something like freecodecamp.com/react-native

Is there anyone reading this who's interested in React Native and willing to port Facebook's React Native documentat

[2017-06-02 10:30] betaalpha987 commented on #22
I'm finding this exercise on regex very useful. Cheers for creating it!

Positive and Negative Lookahead really stumped me and I had to look for the answer. Some of the complexity is because you have to do two lookaheads. I suggest splitting it into two exercises - one where you do just a single lookahead, then another exercise based on negative lookaheads where you also do two lookaheads.

[2017-06-02 16:12] erictleung commented on #22
@betaalpha987 thanks for the feedback. Someone has already suggested them split up in https://github.com/freeCodeCamp/freeCodeCamp/issues/13051.

[2017-08-02 09:24] DusanSacha commented on #14
@HKuz, as we discussed I designed a new challenge and used this thread for review. Any comments are welcome. I would place this challenge right after [Basic JavaScript: Return a Value from a Function with Return](https://beta.freecodecamp.com/en/challenges/basic-javascript/return-a-value-from-a-function-with-return). Also the structure of this new challenge is very similar to mentioned challenge,

[2017-08-03 06:28] DusanSacha commented on #14
@QuincyLarson Hmm, I see now...
My another idea would be to modify a global variable and show that a function can 'work' also without <code>return</code> statement.

[code]

[2017-08-03 17:06] QuincyLarson commented on #14
@DusanSacha Great - I think this is a better approach. What do you think, @hkuz?

[2017-08-03 18:05] chuckadams commented on #14
While I know the curriculum isn't about beating one particular paradigm into peoples heads, I'd be more reassured by some kind of note about the evils of side effects (and globals), namely how you don't know what's going on, spooky action-at-a-distance, how you can't change the thing being modified, etc.  Seems if you're going to introduce what functions are and how they work, it's a good place to

[2017-08-05 17:25] QuincyLarson commented on #14
@chuckadams I agree, but there's a careful balance between trying to be exhaustive and trying not to overload new learners. This seems like a topic we could cover later in the curriculum - perhaps in a "JavaScript Best Practices" section that falls after be basic algorithm section. Would you be interested in helping design this?

[2017-08-10 17:04] HKuz commented on #14
@DusanSacha - this looks great, especially with the proposed change (modify a global variable vs. the console statement)! Thanks for writing this 👍

[2017-08-11 12:05] DusanSacha commented on #14
Challenge implemented in PR #15751

[2017-08-19 13:51] Ruchika30 commented on #46
@Quincy Larson. Would like to know when is the beta FCC coming live ?

[2017-08-19 22:49] QuincyLarson commented on #46
@Ruchika30 Please read the FAQ: http://beta.freecodecamp.com/en/challenges/coding-interview-take-home-projects/p2p-video-chat-application

[2017-08-24 01:30] QuincyLarson opened #93 "Planning the Math for Programmers Curriculum"
The freeCodeCamp community has started building an interactive, browser-based Math for Programmers curriculum. It's just a matter of designing the thousands of LaTeX-driven challenges necessary to teach campers all the math they'll need to succeed in software engineering roles.

### The interactive prototype

We have a prototype for our [testable LaTeX math for programmers challenges here]( https:

[2017-08-24 05:13] no-stack-dub-sack commented on #93
@QuincyLarson I have to say that I'd be a bit concerned about this. This feels like scope creep to me. It takes me quite a while just to scroll through this list, let alone code the challenges and integrate them in.

I don't mean to sound negative, but we're currently sitting on a major curriculum update that's overdue by quite some time, which many people's hard work has gone into, which is still

[2017-08-24 14:18] QuincyLarson commented on #93
@no-stack-dub-sack thanks for sharing your concern here.

The Math for Programmers curriculum will be done in complete parallel, by different contributors than are working on the beta web development curriculum and platform.

We will roll these out as they're ready. None of these extra challenges - the Math for Programmers, Interview Prep, or data science & machine learning - should cause any addi

[2017-08-25 20:36] w96k commented on #93
Wow Quincy, it's huge, looks promising and great, I hope I will get into React soon to help.

[2017-08-25 21:23] QuincyLarson commented on #93
@w96k You can work through the alpha React challenges (designed by @bonham000 and @no-stack-dub-sack) here: http://hysterical-amusement.surge.sh/

@BerkeleyTrue is in the process of getting these to run well on the freeCodeCamp platform. It's one of the final steps before we can ship beta.

[2017-08-26 03:47] thomaskuntzz commented on #93
Looks great, but doesn't Khan Academy have some kind of similar Maths curriculum? Why create another one?

[2017-08-26 15:57] w96k commented on #93
@thomaskuntzz Khan Academy is great, but it has a different format and target audience I guess. Plus Quincy course will teach latex, which is the great tool for writing math & science docs.

[2017-08-26 16:05] Catherinesjkim commented on #93
Hi Quincy, the list looks great. I was just thinking that I need to improve on my math skills. Thank you for your hard work! Please let me know if I can assist.

[2017-08-26 21:03] QuincyLarson commented on #93
@w96k Khan Academy's curriculum is primarily aimed at kids. This math curriculum will be designed specifically for adult-aged developers.

[2017-08-26 21:35] zk433 commented on #93
This is fantastic. I definitely want to contribute - will send you an email shortly.

[2017-08-27 05:03] ericabell commented on #93
I agree -- this looks fantastic. As a former Calculus and DiffEq teacher turned developer, I have quite a bit of LaTeX materials. Would love to help where I can.

[2017-08-27 18:33] heggy231 commented on #93
I just sent Quincy an email.  With my background in Math and Stat, I will volunteer in basic section first and see how it goes.  Thank you for initiating this project for the community, Quincy.

[2017-08-30 11:17] UsamaHameed commented on #93
I would love to contribute to this. Let me know what is the plan.

[2017-09-25 12:18] kaileeagray commented on #93
I hope to contribute as long as life and new baby allow. I have a undergrad and masters in math. Taught pre algebra, college algebra, intro to discrete math for a few years. I love teaching intro to proofs - I have some videos on YouTube already (youtube.com/c/kaileegray) warning: lots of room for improvement, I know 😬... PLUS LaTex was my segway into coding and one of the reasons I am a web dev n

[2017-09-25 21:18] DusanSacha commented on #14
@QuincyLarson @HKuz  I was thinking about the two proposed challenges in [#15388](https://github.com/freeCodeCamp/freeCodeCamp/issues/15388).

_Create a function with a single parameter that also has an inner function with its own parameter.
Create a function with two parameters that also has an inner function that has its own parameter._

Honestly, I was not sure how @revisualize ment this new ch

[2017-09-26 22:20] VRamazing commented on #46
@quincy Will I still be able to earn a full stack certificate if I complete the old certifications and projects

[2017-09-28 00:20] HKuz commented on #14
Hi @DusanSacha - I wasn't very close to the original discussion of the new challenges, so I'm afraid I can't shed too much light there. (Not sure if the original suggestion was to define a function inside another one, then use it in the 'outer' function?). That said, I think what you've proposed makes sense. I've found the hardest part of writing a challenge is coming up with an interactive (and t

[2017-10-01 16:53] thomaskuntzz commented on #93
@QuincyLarson I'd love to know what's used to handle LaTeX expressions on this site, is it an existing tool or is it a homemade solution? 🙂

[2017-10-01 16:55] thomaskuntzz commented on #93
Oh, looks like it MathJax, it it?

[2017-10-04 03:57] QuincyLarson commented on #46
@VRamazing To earn the Full Stack Certificate you'll need to complete all of the new certificates. You'll still be able to earn the old certificates, though, if you want.  Please read the FAQ: https://forum.freecodecamp.org/t/frequently-asked-questions-about-the-freecodecamp-beta/134331/

[2017-10-04 04:14] QuincyLarson commented on #93
@thomaskuntzz Yes - we're using MathJax to handle this. We're still working on some of the structure and getting all of this running on the beta.freeCodeCamp.org platform.

In the meantime, if you, @UsamaHameed and @kaileeagray want to help, I recommend you contribute directly to the math section of the freeCodeCamp Guide: https://guide.freecodecamp.org

If you haven't read this announcement, it w

[2017-10-04 04:14] #93 closed

[2017-12-08 15:30] t3h2mas commented on #3
@QuincyLarson It saddens me to see that all of the effort and time I spent writing the challenges in this issue seamed to have been tossed aside w/o communication.

[2017-12-11 21:02] QuincyLarson commented on #3
@t3h2mas That wasn't our intention here. Would you be interested in helping incorporate some of the challenges you designed into the new React+Redux challenges once we finish importing it?

[2018-01-01 19:10] QuincyLarson opened #194 "Teaching Git interactively in the browser"
We want to eventually teach Git interactively in the browser. The best example I've found of doing this is this: https://github.com/pcottle/learnGitBranching

It's open source and runs completely client-side.

![learn_git_branching](https://user-images.githubusercontent.com/985197/34470328-ae01c054-eef4-11e7-8e68-52af45391530.png)

This something we could potentially fork and get working within th

[2018-01-12 19:09] AngelKyriako commented on #49
@QuincyLarson I was wondering what's going on regarding the challenges. Were they ever added in fcc ?

[2018-01-15 14:20] AngelKyriako commented on #49
Looks great. From the high level overview I see, it seems quite better and more detailed that my initial design.

I will try to look it up in detail if I can put in the time.

Cheers & Good luck.

[2018-01-15 19:52] QuincyLarson commented on #49
@AngelKyriako Awesome! I'm thrilled to hear you like what we've done with it. There's plenty of room for further expanding these and we'd welcome your help! :)

[2018-03-01 13:58] Jamiemufu opened #94 "Basic Data Structures: Modify an Array Stored in an Object"
Just going through the beta challenges and learning in the process, I think I may have found a problem with passing Basic Data Structures: Modify an Array stored in an Object.

In my Dev Tools console I have passed, I see the the new array with "Pete" under friends, but can't pass the challenge

[code]
First time posting a problem, so apologise if wrongly done

[2018-03-01 14:04] #94 closed

[2018-06-06 03:18] IgorSilveira00 opened #95 "Bug in Regular Expressions - Reuse Patterns Using Capture Groups"
Hi, I've been solving the Regular expression exercises but there is a bug at this one.

I have ran the `console.log` with the string that is returning error and indeed it returns true, as it should.

![captura de ecra 2018-06-06 as 04 18 25](https://user-images.githubusercontent.com/22747386/41014836-bc5248d8-6940-11e8-9f60-6733ecc5294f.png)

[2018-06-06 03:19] #95 closed

[2018-06-14 02:35] doanldbanton commented on #94
You're not suppose to return the entire user object :
 // change code below this line
 userObj.data.friends.push(friend);
    return userObj.data.friends;
  // change code above this line

[2018-06-30 14:55] TomaszRybacki opened #96 "Test error"
Remove Elements from a Linked List.
Provided solution fails tests on freeCodeCamp site.
Consol output: currentNode is not defined.

[2018-06-30 17:34] erictleung commented on #96
Thanks for your issue! For any current issues with the curriculum, I'd suggest to first share this on the [Contributors](https://gitter.im/FreeCodeCamp/Contributors) Gitter channel to verify that this is indeed a problem. Once they approve or at least double check that it is a problem, you can go ahead to open an issue on the [main repository](https://github.com/freeCodeCamp/freeCodeCamp/issues/ne

[2018-06-30 17:34] #96 closed

[2018-07-17 08:51] Napoleonsolo51 opened #97 "Basic Data Structures: Combine Arrays with the Spread Operator"
The question is: We have defined a function spreadOut that returns the variable sentence, modify the function using the spread operator so that it returns the array ['learning', 'to', 'code', 'is', 'fun'].

my solution is:

function spreadOut() {
  let fragment = ['to', 'code'];
  let sentence = ["learning", ...fragment, 'code', "is", "fun"]; // change this line
  return sentence;
}

// do not cha

[2018-07-17 09:04] Napoleonsolo51 commented on #97
let fragment = ['to', 'code'];
   let sentence = ['learning', ...fragment, 'is', 'fun']

[2018-07-17 09:04] #97 closed

[2018-08-19 23:07] ZokiMar commented on #10
solution to https://github.com/freeCodeCamp/CurriculumExpansion/issues/10#issuecomment-239407872:

<style>

  h2 {
      width: 80vw;
  }

  p {
      width: 75vmin;
  }
</style>

[2018-09-20 09:44] LudwigJedde commented on #90
**you have to put this on to validate the exercise**
9 and not '9' in arr.push

function mixedNumbers(arr) {

[2018-09-25 15:06] QuincyLarson commented on #90
@LudwigJedde Thanks for catching this. Could you create a GitHub issue on github.com/freecodecamp/freecodecamp instead? This repo is archived. Then we can tackle fixing this.

[2019-03-08 01:11] QuincyLarson opened #98 "Learn Websockets by Building a Chat Room"

[2019-03-08 01:11] QuincyLarson opened #99 "Learn Authentication by Building a Signup Page"

[2019-03-08 01:12] QuincyLarson opened #100 "Learn Testing Basics by Building a Recipe Ingredient Parser"

[2019-03-08 01:12] QuincyLarson opened #101 "Learn Cryptography By Building a Digital Signature System"

[2019-03-08 01:12] QuincyLarson opened #102 "Learn Information Security by Building a Contact Form"

[2019-03-08 01:12] QuincyLarson opened #103 "Learn MongoDB by Building a Movie Review Database"

[2019-03-08 01:12] QuincyLarson opened #104 "Learn RESTful APIs by Building a Grocery List App"

[2019-03-08 01:12] QuincyLarson opened #105 "Learn Express.js by Building an Stock Trading Platform"

[2019-03-08 01:12] QuincyLarson opened #106 "Learn Node.js by Building a Web Server"

[2019-03-08 01:13] QuincyLarson opened #107 "Learn npm by Building an npm Module"

[2019-03-08 01:13] QuincyLarson opened #108 "Learn D3 by Building a Map of Earth"

[2019-03-08 01:13] QuincyLarson opened #109 "Learn SVG by Building a Solar System"

[2019-03-08 01:13] QuincyLarson opened #110 "Learn Data Visualization by Building a Dashboard"

[2019-03-08 01:13] QuincyLarson opened #111 "Learn AJAX by Building a View Counter"

[2019-03-08 01:13] QuincyLarson opened #112 "Learn XML by Building an RSS Feed"

[2019-03-08 01:14] QuincyLarson opened #113 "Learn JSON by Building a Sports Team"

[2019-03-08 01:14] QuincyLarson opened #114 "Learn CSV by Building a Mailing List"

[2019-03-08 01:14] QuincyLarson opened #115 "Learn TypeScript by Building a Poker Game"

[2019-03-08 01:14] QuincyLarson opened #116 "Learn Intermediate Redux by Building Tetris"

[2019-03-08 01:14] QuincyLarson opened #117 "Learn Intermediate React by Building Flappy Bird"

[2019-03-08 01:14] QuincyLarson opened #118 "Learn Functional Programming by Building a Spreadsheet"

[2019-03-08 01:14] QuincyLarson opened #119 "Learn Basic Algorithms by Building an Algorithmic News Feed"

[2019-03-08 01:14] QuincyLarson opened #120 "Learn Data Structures by Building a Shopping Cart"

[2019-03-08 01:15] QuincyLarson opened #121 "Learn Debugging by Building a Dice Game"

[2019-03-08 01:15] QuincyLarson opened #122 "Learn Regular Expressions by Building a Spam Filter"

[2019-03-08 01:15] QuincyLarson opened #123 "Learn Intermediate JavaScript by Building a Calorie Counter"

[2019-03-08 01:15] QuincyLarson opened #124 "Learn CSS Grid by Building a Magazine"

[2019-03-08 01:15] QuincyLarson opened #125 "Learn CSS Flexbox by Building a Photo Gallery"

[2019-03-08 01:15] QuincyLarson opened #126 "Learn Responsive Web Design by Building a Piano"

[2019-03-08 01:15] QuincyLarson opened #127 "Learn Accessibility by Building a User Feedback Survey"

[2019-03-08 01:16] QuincyLarson opened #128 "Learn Typography by Building a Nutrition Label"

[2019-03-08 01:16] QuincyLarson opened #129 "Learn CSS Animations by Building a Ferris Wheel"

[2019-03-08 01:16] QuincyLarson opened #130 "Learn CSS Variables by Building a City Skyline"

[2019-03-08 01:16] QuincyLarson opened #131 "Learn the CSS Box Model by Building a Rothko Painting"

[2019-03-08 01:16] QuincyLarson opened #132 "Learn Intermediate CSS by Building a Picasso Painting"

[2019-03-08 01:16] QuincyLarson opened #133 "Learn Basic JavaScript by Building a Role Playing Game"

[2019-03-08 01:16] QuincyLarson opened #134 "Learn HTML by Building a Cat Photo App"

[2019-03-08 01:58] Ethan-Arrowood commented on #98
Can I take up this project?

[2019-03-10 00:40] briancbarrow commented on #125
@QuincyLarson I'd be interested in helping with this one.

[2019-03-10 14:32] ykrueng commented on #117
Would love to help with this project.

[2019-03-12 14:57] perezvon commented on #116
This is something I'd like to help build. Wondering if we are trying to keep things Codepen-first, as they are now? I ask because a Redux project in Codepen would be a big wall of JS compared to the neater `/store` `/actions` `/reducers` folder structure that's common to Redux projects.

[2019-03-13 04:26] karuppiah7890 commented on #111
Let me know if I understood this project right - it's a single web page which has a counter showing number of views for that web page. And there's a backend which stores this counter value.

[2019-03-13 05:55] lmilliken commented on #123
I'm interested in helping out with this one.

[2019-03-13 11:39] lavanganji commented on #119
Hi @QuincyLarson  how can i help in this issue.

[2019-03-15 01:17] scissorsneedfoodtoo commented on #131
@QuincyLarson, is it okay if I start working on this?

[2019-03-15 01:21] scissorsneedfoodtoo commented on #128
@QuincyLarson, could I start working on this, too?

[2019-03-15 01:30] picolloo commented on #119
I would like to help with this too

[2019-03-15 01:31] picolloo commented on #125
I'm interested in help with this issue too.

[2019-03-15 01:32] picolloo commented on #98
I would like to help if I can

[2019-03-15 01:33] picolloo commented on #104
I'm interessed to participate in this one

[2019-03-15 01:36] picolloo commented on #120
I'd like to help with this project

[2019-03-15 01:38] picolloo commented on #103
I'd like to help with this project

[2019-03-15 05:57] scissorsneedfoodtoo commented on #131
Here's an example project: https://codepen.io/scissorsneedfoodtoo/pen/KEoKqe

[2019-03-15 09:37] lionel-rowe commented on #114
I'd be interested in contributing to this challenge.

I'm assuming the best approach for this one would be pulling in a library, rather than generating/parsing CSV files from scratch? Doing it from scratch could be valuable for teaching a few CS concepts, but isn't a very practical approach for how a developer would usually approach this problem, nor is it particularly related to data viz.

[2019-03-15 09:39] lionel-rowe commented on #122
I'd be interested in contributing to this challenge.

[2019-03-15 09:39] lionel-rowe commented on #127
I'd be interested in contributing to this challenge.

[2019-03-15 09:43] Marmiz commented on #117
I'm working on a basic demo that involves no game engine, no canvas, and minimal physics, to keep things as simple as possible.
I hope for it to be ready by next week (extra time is short right now).

I'll post an update as soon as I can.

[2019-03-15 11:39] scissorsneedfoodtoo commented on #128
Here's an example project I'm still working on: https://codepen.io/scissorsneedfoodtoo/pen/MxVpLK

[2019-03-16 00:26] Gcoded commented on #123
I'm also interested in helping with this.

[2019-03-17 09:03] karuppiah7890 commented on #111
I am planning to build it by assuming the above idea. Let me know if it's a different idea @QuincyLarson

[2019-03-19 11:25] codingk8 commented on #132
OK to contribute to this one.

[2019-03-19 11:25] codingk8 commented on #118
OK to contribute to this one.

[2019-03-19 15:02] lavanganji commented on #120
@QuincyLarson  could you guide us to take part in this project

[2019-03-19 15:08] lavanganji commented on #101
I am interested in working this out @QuincyLarson

[2019-03-19 21:47] beaucarnes commented on #133
I made a PR for this with my first draft of the updated curriculum. Maybe I should move it to the `CurriculumExpansion` repo. https://github.com/freeCodeCamp/freeCodeCamp/pull/35634

[2019-03-20 00:20] RafaelDavisH commented on #126
I’m ready to get my hands dirty with this issue! 🙋🏽‍♂️

[2019-03-20 16:09] QuincyLarson commented on #111
@karuppiah7890 Awesome! It's all yours. You can get started on this.

[2019-03-20 16:19] #112 closed

[2019-03-20 16:20] QuincyLarson commented on #114
@lionel-rowe @RandellDawson has an idea for a CSV project that would involve quotations, commas within values, and other considerations so let's see what he comes up with first.

[2019-03-20 16:21] QuincyLarson commented on #108
@HKuz This is a tentative project idea - really anything that involves D3 would be a good project.

[2019-03-20 17:47] ahmadabdolsaheb commented on #130
I removed my assignment just in case someone is interested in contributing to this while I work on the other parts of the curriculum.

[2019-03-20 23:00] Ethan-Arrowood commented on #98
@picolloo go for it! I'm going to be reviewing many of these challenges so I'd rather someone else focus on writing this one.

[2019-03-21 19:03] brandenbyers commented on #100
@QuincyLarson What do you mean by a Fact Checker? As in what a human does when fact checking journalism? Or something simpler like checking the "facts" of a website or checking some kind of array of facts?

[2019-03-21 22:12] QuincyLarson commented on #132
@codingk8 Awesome! We would welcome your contribution! The first step is to build the project itself. Then you can work backward to break it down into steps, like this: https://github.com/freeCodeCamp/CurriculumExpansion/pull/135/files#diff-99314d694942b489d28d8a6f0c3bc5a3

[2019-03-21 22:15] QuincyLarson commented on #131
@scissorsneedfoodtoo Well done! That looks great!

Can you work backward to break the building of the project down into steps like these?

https://github.com/freeCodeCamp/CurriculumExpansion/pull/135/files#diff-99314d694942b489d28d8a6f0c3bc5a3

[2019-03-21 22:15] QuincyLarson commented on #130
@ahmadabdolsaheb Sounds good. Thanks for freeing this up.

[2019-03-21 22:16] QuincyLarson commented on #128
@scissorsneedfoodtoo Wow - this is uncanny! Excellent work!

[2019-03-21 22:20] QuincyLarson commented on #98
@picolloo Thanks for your patience. Yes - we would welcome your help!

The first step is to build the project itself. Then you can work backward to break it down into steps, like this: https://github.com/freeCodeCamp/CurriculumExpansion/pull/135/files#diff-99314d694942b489d28d8a6f0c3bc5a3

[2019-03-21 22:23] QuincyLarson commented on #100
@brandenbyers I was naively thinking something that check for the presence of numbers to and maybe superlative words in statements. If you can come up with a better project idea to teach people testing, I would welcome it.

[2019-03-21 22:24] QuincyLarson commented on #101
@lavanganji Great - we would welcome your help with this.

The first step is to build the project itself. Then you can work backward to break it down into steps, like this: https://github.com/freeCodeCamp/CurriculumExpansion/pull/135/files#diff-99314d694942b489d28d8a6f0c3bc5a3

[2019-03-21 22:25] QuincyLarson commented on #103
@picolloo OK - great! Do you have any ideas for the initial project you'd like to build, and how you'd teach MongoDB concepts / commands by building it?

[2019-03-21 22:26] QuincyLarson commented on #104
@picolloo OK - cool. You have expressed interest in several of these. I recommend tackling these one at a time. Which project do you want to build first?

[2019-03-21 22:27] QuincyLarson commented on #126
@RafaelDavisH Awesome! We would welcome your contribution!

The first step is to build the project itself. Then you can work backward to break it down into steps, like this: https://github.com/freeCodeCamp/CurriculumExpansion/pull/135/files#diff-99314d694942b489d28d8a6f0c3bc5a3

[2019-03-21 22:27] QuincyLarson commented on #125
@briancbarrow Thanks for your patience. It's good to see you again, Brian!

We would welcome your help with this.

The first step is to build the project itself. Then you can work backward to break it down into steps, like this: https://github.com/freeCodeCamp/CurriculumExpansion/pull/135/files#diff-99314d694942b489d28d8a6f0c3bc5a3

[2019-03-21 22:28] QuincyLarson commented on #127
@lionel-rowe Great - what are you thinking for the project?

The first step is to build the project itself. Then you can work backward to break it down into steps, like this: https://github.com/freeCodeCamp/CurriculumExpansion/pull/135/files#diff-99314d694942b489d28d8a6f0c3bc5a3

[2019-03-21 22:29] QuincyLarson commented on #119
@lavanganji @picolloo Both of you have claimed other projects, and I recommend building those first. This one is going to be a real challenge and one or both of you can tackle it a bit later 😄

[2019-03-21 22:30] QuincyLarson commented on #118
@codingk8 OK - cool. See if you can build a very basic spreadsheet in JavaScript on a site like CodePen and we can go from there. This is going to be a particularly exciting project.

[2019-03-21 22:31] QuincyLarson commented on #117
Thanks for your patience.

@Marmiz Awesome! I am excited to see your demo once you build it.

@ykrueng I'd be interested in seeing your demo too if you get a chance to build it.

The first step is to build the project itself. Then you can work backward to break it down into steps, like this: https://github.com/freeCodeCamp/CurriculumExpansion/pull/135/files#diff-99314d694942b489d28d8a6f0c3bc5a3

[2019-03-21 22:33] QuincyLarson commented on #116
@perezvon Thanks for your patience.

To answer your question, you could build this on Glitch instead, or any other place where the demo is live on the internet alongside the code that powers it. Glitch is better for multi-file demos imho.

The first step is to build the project itself. Then you can work backward to break it down into steps, like this: https://github.com/freeCodeCamp/CurriculumExpa

[2019-03-21 22:34] QuincyLarson commented on #120
@picolloo @lavanganji Which of you is interested in tackling this one? This should be a fun one!

[2019-03-21 22:36] QuincyLarson commented on #122
@lionel-rowe Awesome! I think this will be a fun one. See if you can get an extremely simple demo that checks a line of input for spam words and the use of characters meant to mask spam words like v1agr@ or something like that 😄 - I'm excited to see what you come up with.

[2019-03-21 22:37] QuincyLarson commented on #123
@lmilliken @Gcoded Thanks for your patience. Which of you is interested in building this?

The first step is to build the project itself. Then you can work backward to break it down into steps, like this: https://github.com/freeCodeCamp/CurriculumExpansion/pull/135/files#diff-99314d694942b489d28d8a6f0c3bc5a3

[2019-03-22 01:31] picolloo commented on #120
I guess we can cooperate, I don't mind to split work

[2019-03-22 01:40] picolloo commented on #120
I guess we can cooperate, I don't mind to split work

[2019-03-22 02:39] picolloo commented on #103
I think a  CRUD API made with Node would be cool for this one, I can use the MongoDB free Atlas trial to be possible for the user to follow.

[2019-03-22 02:41] picolloo commented on #103
I have a question, do I have to make a step-by-step tutorial or a full project and then a tutorial?

[2019-03-22 02:44] picolloo commented on #119
So I'll choose another one to start

[2019-03-22 02:51] picolloo commented on #98
So I'll build a 0.1.0 version for this one, thanks for helping me

[2019-03-22 02:59] picolloo commented on #120
I can leave  this one to other contribuitors and comeback later if it's necessary

[2019-03-22 03:02] picolloo commented on #104
So I'll finisih those I'm involved with and help with this one later if it's necessary

[2019-03-22 03:53] lavanganji commented on #119
I will start on this one . @picolloo  you can start on the Shopping Cart

[2019-03-22 03:55] karuppiah7890 commented on #111
@QuincyLarson have questions regarding this challenge.

I am not sure if I understand the goals of the project. I feel like it has mixed things in it. Like, Ajax coming under data viz - I think Ajax is pretty common and not specific to data viz, no? About the data viz part, the visualization is just showing the number of views of that web page? or is it like a graph of the number of the views over

[2019-03-22 05:02] perezvon commented on #116
Agreed, I like Glitch. OK I'll get started on building it then!

[2019-03-22 07:19] scissorsneedfoodtoo commented on #131
Sure! I'll use that as an inspiration to break the project down.

[2019-03-22 09:39] lionel-rowe commented on #127
I have a few preliminary ideas. It would start with an existing project (probably something with lots of form fields) that breaks all the accessibility best practices, then the student is tasked with fixing it. It'd be interesting to consider the various use cases (use of a screen reader to aid partial sight, exclusive use of screen reader, mouse vs. keyboard navigation, color blindness, etc.)

[2019-03-22 10:13] UsamaHameed commented on #115
Hello, I would like to work on this. Please let me know what the requirements are. Also, if you need help with any other typescript related curriculum challenges/projects, please feel free to ask me. I'd be more than happy to help.

[2019-03-22 10:26] lionel-rowe commented on #122
I'm actually wondering how best to approach this one. In order to make a truly extensible filter that would catch v1agr@, vi@gra, v|agRa, V I A G R A, etc. it'd really make more sense to have programmatically-generated regexes, rather than regex literals:

https://gist.github.com/lionel-rowe/0724546e4b5c1a71be29502aac4c825e

However, this approach would probably introduce too many disparate concep

[2019-03-22 11:17] codingk8 commented on #132
@QuincyLarson OK. I'm gonna start with this one (will indicate in the other issue that someone can come in the meantime while I'm busy here).
Does "Angry bull in the sunset" sounds good?
I've started a list of things we would want to validate with this project. Will share it asap. Feel free to share ideas if you have some.
Do you have any idea how many steps we'd like to have in this project?

[2019-03-22 11:19] codingk8 commented on #118
I'm currently busy with a CSS project. Feel free to come and move on with this one in the meantime.

[2019-03-22 11:20] lionel-rowe commented on #127
Something like this as a skeleton of the pre-refactoring version:

https://codepen.io/lionel-rowe/pen/QozEKZ

[2019-03-22 11:55] codingk8 commented on #132
@QuincyLarson Another question: how do I start? With CodePen?

[2019-03-22 14:17] briancbarrow commented on #125
@QuincyLarson ok cool. I'll try to get started with it this next week.

[2019-03-22 14:55] brandenbyers commented on #122
Yes, programmatically might make the most sense in the real world but as you have pointed out, it really readable (nor does it teach much about regex). What about making the lesson slowly build on itself? Go from a normal spelling of a spam word. Next lesson is to add an alternative spelling. Next is more alternative spellings. Oh, wait...the spammers have gotten smarter and are now doing “x” thin

[2019-03-22 15:19] ritute commented on #120
Hi, I'm interested in building an example project for this!

[2019-03-22 16:24] ritute commented on #104
Is the type of service set in stone for this, or can we suggest a different one (such as a recipe book) that would be simpler and translate better to a typical application, since weather is something usually read from another service (openweathermap) and would be more unusual to implement (it also consists largely of numeric data that would make the API more cumbersome in testing and potentially d

[2019-03-22 19:07] lionel-rowe commented on #122
@brandenbyers yeah, that sounds like a good way to approach it. Here's an updated version:

https://gist.github.com/lionel-rowe/72a19bf346858ede6f406ad20e7c157a

As I've split out the logic of deleting intra-word spaces from the logic of de-mangling, his version has a clearer path for how to iterate:
* Step 1 - plain words (can be solved with `includes`, doesn't even need regexes)
* Step 2 - plain

[2019-03-23 01:01] HKuz commented on #113
Here are my initial thoughts for the project - I made a sports team vs a league, but can tweak this if we want. I went for an international, retro flair with the Argentinian World Cup winning team in 1986, mainly because I think the story that one of their players (Diego Maradona) hand-balled a goal in the tournament and called it the 'hand of god' is funny 🤣 .

# JSON Project

## Concepts to teac

[2019-03-23 01:02] HKuz commented on #113
First draft of the JSON project:

[code]

[2019-03-23 01:56] karuppiah7890 commented on #113
This looks👌

On Sat, Mar 23, 2019, 6:32 AM Heather Kusmierz <notifications@github.com>
wrote:

[2019-03-23 14:55] thecodingaviator commented on #130
@QuincyLarson Can I pick this one up? You can check my [CodePen](https://codepen.io/thecodingaviator/pens/public/) I have some examples of CSS things I've done over there, if it looks good, please assign it!

[2019-03-23 18:26] thecodingaviator commented on #124
@QuincyLarson Can I pick this one up? You can check my [CodePen](https://codepen.io/thecodingaviator/pens/public/) I have some examples of CSS things I've done over there, if it looks good, please assign it!

Edit: If you also want me to teach CSS variables in JS, I can do that for the project too

Edit 2: I've made an example project [here](https://codepen.io/thecodingaviator/full/BbMLQM). I know

[2019-03-24 06:46] EvonyJade8 commented on #75
im not quite sure how to do the functional testing for the api routing....... im having difficulties with my lessons, so i went straight for the projects to see what i could at least learn while i regroup for the lessons..... im almost done with this project but not uite sure what i need to do on this last bit.... help?

[2019-03-24 12:33] RandellDawson commented on #75
@EvonyJade8 Please use the [forum](https://freecodecamp.org/forum) or our [Gitter channels](https://gitter.im/FreeCodeCamp/Help) for help with challenges or projects.

Thank you.

[2019-03-25 10:58] codingk8 commented on #132
Working on it on a CodePen.
Should be finished during the coming week.
Will share link and details when done.

[2019-03-26 00:32] QuincyLarson commented on #132
@codingk8 Yes - CodePen is a great place to start. Thanks for keeping us posted on this. Happy coding!

[2019-03-26 00:34] QuincyLarson commented on #124
@thecodingaviator Awesome! I've assigned this to you in GitHub.

Your initial project looks great! I'm a huge Carl Sagan fan, and this is the first time I remember hearing that quote about the US and Mars.

Yes - you can tweak the CSS a bit to make it look even better. Once you're ready, you can start working backward to create the test text.

[2019-03-26 01:22] padunk commented on #106
Hi, I would love to help with this one. I made a simple server here:
[codesandbox](https://codesandbox.io/s/zxl9yl9o74)
But I don't know if this is good enough.
Thanks.

[2019-03-26 01:59] padunk commented on #116
Hi, I would love to help on this project.
Please let me know if you need help with this @perezvon
Note: I prefer to build it on CodeSandbox, but I think Glitch will do 😄

[2019-03-26 02:51] karuppiah7890 commented on #111
@QuincyLarson ping^

[2019-03-26 07:32] thecodingaviator commented on #124
That is because the US and Mars quote is Neil deGrasse Tyson's 🤣

[2019-03-26 08:29] thecodingaviator commented on #124
@QuincyLarson I'm totally out of ideas on what part of the CSS could need changes, any tips?

[2019-03-26 08:37] thecodingaviator commented on #127
@QuincyLarson `Blind people` is a very strong and controversial term to use, besides not only blind people require such accessibility. Something like `for People with Vision Difficulties` would be better and less controversial

[2019-03-26 10:59] lionel-rowe commented on #127
@thecodingaviator I have to admit I'm not super familiar with the terminology around blindness and sight loss, but usually I see "blind and visually impaired" as a catch-all term, with "blind" implying complete or almost complete lack of sight. I'm not aware of anyone taking offense to the term "blind", as long as it's being used accurately for the context. WHO definitions for both terms are given

[2019-03-26 14:05] thecodingaviator commented on #127
@QuincyLarson What do you thin?

@lionel-rowe I guess it's best to leave it to Quincy to decide what to do

[2019-03-26 18:43] QuincyLarson commented on #103
@picolloo Yes - though we don't actually want to have to use MongoDB here - we want to mock out the commands and the output and the state of the database, and use regular expressions to test their input. That way people won't have to host their own database.

[2019-03-26 18:44] QuincyLarson commented on #98
@picolloo Awesome! Thanks for keeping us posted on your progress with this.

[2019-03-26 18:56] QuincyLarson commented on #113
@HKuz This looks great! Your concepts section is really well done and clear, and I think it sets the standard for how we discuss and organize these projects going forward.

Also, good job on coming up with the subject matter and deciding which attributes to use.

My only feedback would be to reduce the number of team members a bit so people don't have to type in quite so many. I think 5 would be e

[2019-03-26 20:30] QuincyLarson commented on #122
@lionel-rowe I agree with Branden that it's much more important that we teach these regex techniques even if real life approaches to spam filtering would be different.

Remember that the entire curriculum will be a series of individual tests, and getting one test to pass at a time. So we will only be testing one aspect of their regular expressions at a time. And any concepts we want to impart, we

[2019-03-26 20:32] QuincyLarson commented on #104
@ritute the service isn't set in stone. And we won't be using a real API - we'll just use dummy data for reliability, and so that the curriculum can still be completed without internet access (we are gradually working toward making freeCodeCamp an offline-first application.)

[2019-03-26 20:33] QuincyLarson commented on #120
@ritute OK - great! See if you can get an example project together that we can then discuss before you start creating tests for it.

[2019-03-26 20:33] QuincyLarson commented on #125
@briancbarrow OK - thank you for keeping us posted on your progress on it.

[2019-03-26 20:44] QuincyLarson commented on #111
@karuppiah7890 The reason we're including AJAX in the data visualization section is it's a common way of retrieving and updating visualizations, and this is the certification that has the least amount of tools that need to be learned. In the interest of keeping all the certifications at roughly 300 hours of learning, I think this is a good place to put it.

We won't have a back end for any of thes

[2019-03-26 20:46] QuincyLarson commented on #116
@perezvon Have you had any time to work on this yet? Please keep us posted on your progress. Once you have a demo - even a really rough one - please share it with us so we can give you feedback 👍

[2019-03-26 20:49] QuincyLarson commented on #115
@UsamaHameed Awesome! Welcome back! We would welcome your help. First of all, I recommend implementing a basic poker game in TypeScript - something that can give out two hands of cards and determine which one wins.

From there we can discuss specific ways we can incorporate TypeScript features into the project and how we can teach them through a series of tests.

[2019-03-26 20:49] QuincyLarson commented on #118
@codingk8 OK - thanks for confirming. This one project is open for contributors.

[2019-03-26 20:51] RandellDawson commented on #118
@QuincyLarson I will take this one instead of the CVS one if that is ok.

[2019-03-26 20:57] QuincyLarson commented on #127
@thecodingaviator I don't think there's anything wrong with saying "blind people". We have several blind people in the freeCodeCamp community who often give us feedback on accessibility. I will @-mention @zersiax here to get his opinion on this matter.

[2019-03-26 21:28] zersiax commented on #127
i wouldn't say blind people is especially offensive. This, however, is a hotly debated topic and the terminology changes quite rapidly. I most often see "the blind and visually impaired"  a lot in the wild, but you don't want to even mention a specific disability in my opinion.
Keyboard accessibility also benefits RSI patients. Proper labeling of form fields and buttons also really helps mobility-

[2019-03-26 22:17] Em-Ant commented on #103
this ca be useful https://github.com/louischatriot/nedb is a js database with an api which is a subset of mongo db's one. it works in the browser (in memory) and is available also via cdn. I always use it for my test projects (and some of the apis on glitch)

[2019-03-26 22:49] S1ngS1ng commented on #121
Hey Quincy, quick question here.
Personally, I consider debugging to be a way-of-thinking (methodology) or skill rather than a technology. Which means, we utilize debugging (as a handy tool) while programming, but we simply don't build a real-world project with "debugging", directly.
Though, if the initial idea is to utilize debugging during development, IMHO a video guide/session would be more he

[2019-03-26 23:27] perezvon commented on #116
@QuincyLarson Yep, I've got a skeleton in place and am just getting started on game logic. I'm building in my local environment (because apparently I've developed preferences) but I'll push it to a repo or to Glitch so that others can help (@padunk I'd be happy to collaborate)! Should be able to get to that tonight or tomorrow.

[2019-03-26 23:34] S1ngS1ng commented on #115
Hey Quincy, I'm interested in this project as well. To clarify:
1. Does the application works something like:
    - Two (or more) players sitting in front of ONE computer
    - Each player places their initial bet
    - One (or two?) cards are given to each player. The winner is determined at this point
2. If this is the case, we may need to utilize Local Storage (or maybe Firebase) for storing us

[2019-03-27 00:25] QuincyLarson commented on #127
Thanks for your feedback, @zersiax. Based on your many insights, I recommend we use the title "Learn Accessibility by Building a Website for People with Disabilities" and we can focus on making the website accessible for people with a range of disabilities, including mobility impairment and.

[2019-03-27 00:41] zersiax commented on #127
Yep, that one fits. That way you even cover temporary disabilities like a broken arm

[2019-03-27 03:32] QuincyLarson commented on #106
@padunk Wow - this looks great! Can you start breaking it down into individual test descriptions that walk people through building it step-by-step?

[2019-03-27 03:35] QuincyLarson commented on #124
@thecodingaviator Ah - that makes sense. Never give up - trust your instincts, Fox!

We can ship it looking the way it is and other contributors can come in and pretty it up later.

Regarding those basic files, they are only a few lines. You could also have people build those real quick at the beginning something like "first let's set the stage". That way people will feel like they built the entir

[2019-03-27 03:36] QuincyLarson commented on #118
@RandellDawson Sure thing - I've assigned it to you. Best of luck!

[2019-03-27 03:37] QuincyLarson commented on #114
@lionel-rowe I just messaged with @RandellDawson and he is focusing on the Learn Functional Programming by Building a Spreadsheet project instead of this one. If you're still interested in building this one, we would welcome your help.

[2019-03-27 03:39] QuincyLarson commented on #103
@Em-Ant That's a good resource.

@picolloo Are you interested in tackling this project? Can I assign it to you?

[2019-03-27 03:41] QuincyLarson commented on #121
@S1ngS1ng Yes - this is a good point. For this, it might be better to have a larger existing project and have them debug it with common mistakes present (off-by-one errors, etc) that they can spot and fix. Would you be interested in helping brainstorm such a project and build a prototype?

[2019-03-27 03:41] QuincyLarson commented on #116
@perezvon Awesome! I am pumped to see it and play with it!

[2019-03-27 03:49] QuincyLarson commented on #115
@S1ngS1ng Great questions.

It doesn't need to be that complicated. I think a single-player version where people play against the computer would be fine, and it could treat each hand as one-off. The main thing would be determining which player's hand won.

If it's only one player, and we don't store data between hands, then we wouldn't need to worry about covering local storage here.

The main goa

[2019-03-27 05:25] S1ngS1ng commented on #121
@QuincyLarson I'd definitely love to. Hopefully, I am able to bring up some valid points.

Totally, but I don't have any on my side.
freeCodeCamp is open source, but it might hard to get started for teaching debugging, IMO.

Here are the common mistakes/methodology I could come up:
1. Honestly, the most common mistakes (to me) is "Cannot read property 'x' of null/undefined"
    - This is easy to d

[2019-03-27 08:14] thecodingaviator commented on #124
@QuincyLarson I'm just confused how to write the steps, do you want me to write all of them as a list in one `.txt`  file or make different `.txt` files for each step or do something on an `.html` file or so?

[2019-03-27 13:15] moT01 commented on #130
I can try and take this one. So what's going to happen to flappy the penguin? ☹️

[2019-03-27 15:56] picolloo commented on #103
I think it might be too much for me, I'm currently working on WebSocket's project so I'll have to pass it, at least for now.

[2019-03-27 16:23] QuincyLarson commented on #103
@picolloo OK - thanks for confirming. Best of luck with the Web Socket project!

[2019-03-27 16:24] QuincyLarson commented on #130
@moT01 We may be able to keep it as a separate project, like "Learn Basic CSS by Building a CSS Penguin" or something like that.

[2019-03-27 16:25] QuincyLarson commented on #124
@thecodingaviator The simplest way would be to do these as separate files.

You can see how @beaucarnes is doing this here: https://github.com/freeCodeCamp/CurriculumExpansion/pull/135/files

[2019-03-27 16:25] QuincyLarson commented on #124
@thecodingaviator The simplest way would be to do these as separate files.

You can see how @beaucarnes is doing this here: https://github.com/freeCodeCamp/CurriculumExpansion/pull/135/files

[2019-03-27 16:28] QuincyLarson commented on #121
@S1ngS1ng I'm CC'ing @HKuz to see what ideas she has about this. She created our current debugging curriculum.

[2019-03-27 16:39] thecodingaviator commented on #124
@QuincyLarson I'm doing something on #136 , does that look fine?

[2019-03-27 20:39] UsamaHameed commented on #115
@S1ngS1ng Hey! I am busy this week and then I am on vacation for two more weeks. Feel free to go ahead and take a shot at this. When I get back to work, I will let you know and we can work on it if there is something that needs doing.

[2019-03-27 22:56] HKuz commented on #113
Thanks @QuincyLarson and @karuppiah7890! The concept outline was more to organize my thoughts to make sure the project covered all the points I thought the section needed to - if it's helpful to others to use a similar approach, that's awesome!

And I agree on the team members comment - sorry if it weren't clear, my intention with the entire data structure was to make the campers type the first fe

[2019-03-27 23:21] HKuz commented on #121
Hi @S1ngS1ng - lot of good ideas coming off this thread! As @QuincyLarson noted, I helped write the current debugging challenges and can give you the general idea of what we were trying to do that go around if it helps.

The challenges focused on teaching campers the basic types of errors, how to catch them, and to treat debugging as a systematic approach. They admittedly didn't really touch on pr

[2019-03-28 05:07] perezvon commented on #116
@QuincyLarson Here's what I got so far -- like I said, very skeletal. Pieces are just one square each and there's no line-completion check yet. But it's a start. https://glitch.com/edit/#!/perezvon-fcc-redux-tetris

[2019-03-28 06:59] S1ngS1ng commented on #115
@UsamaHameed Sure, enjoy your vacation 🏖

[2019-03-28 07:29] S1ngS1ng commented on #115
@QuincyLarson Thanks for your clarification.
Here is a quick summary, please let me know if there is any mistake below:
1. Hands ranking
![image](https://user-images.githubusercontent.com/13592559/55138046-bffdd500-50ef-11e9-8f0d-d6c361f6a3ea.png)
2. Algorithm
![image](https://user-images.githubusercontent.com/13592559/55138072-ce4bf100-50ef-11e9-9b92-f3ede5ba9fe8.png)

Also, a sorted value array

[2019-03-28 21:46] moT01 commented on #130
Looking for some initial feedback...
full page -> https://codepen.io/moT01/full/RdzNPr
code -> https://codepen.io/moT01/pen/RdzNPr?editors=1100

So are we going to want users to create all the code?
Or is it acceptable for me to like create some div's or something and just tell them to "add 'class' to all the div's"

[2019-03-29 02:05] padunk commented on #106
Ok, I will do it this week.

[2019-03-29 06:02] lmilliken commented on #105
I would be interested in helping out with this.  Since this is to learn Express.js, this module would teach how to create API endpoints to buy or sell stocks?

[2019-03-29 06:25] lmilliken commented on #123
I can take a stab at this.  Just to clarify, this "Fitness Tracker" will be more of an activity tracker where people log their workouts (type of activity, duration), which will be saved in local storage.  Let me know if you are thinking of something else (like connecting to like a FitBit api and presenting the data?)

[2019-03-29 10:59] ahmadabdolsaheb commented on #130
@moT01, so on this curriculum iteration we are focusing on repetition. So the project need to be built from the first line of code. you could checkout other topics for reference.

[2019-03-29 12:24] thecodingaviator commented on #130
@moT01 Looks awesome!

[2019-03-29 13:25] moT01 commented on #130
Thanks guys! So will I want a single HTML file with all the CSS in style tags like the current challenges? And how much do I want in there? doctype, html, head? Have the user create all of that, or will the editor basically be the body tag and just have them create the stuff in there?

[2019-03-30 01:40] QuincyLarson commented on #124
@thecodingaviator Yes - this looks great. How you do this doesn't matter too much as long as:
1) you specify the state of the code at the beginning of each test
and 2) You put the test text around where the change needs to be made.

And you're doing both of these. Keep up the great work on this!

[2019-03-30 01:56] QuincyLarson commented on #130
@moT01 That's a thing of beauty. Brought a tear to my eye.

Yes - we will want to have people write ever line of code if possible. In doing so, not only do they get the repetition @ahmadabdolsaheb mentioned, but they also get more of a feel of accomplishment that they are actually building the full project themselves.

[2019-03-30 02:00] QuincyLarson commented on #123
@lmilliken Ah - I had forgotten we already had a fitness tracker project in our curriculum! We should probably focus on something similar but different - like a calorie counter or something like that, where you  post the number of calories in a meal you ate, and it then tells you how much you are over/under the recommended daily recommended caloric intake (2,500 calories for a man, 2,000 for a wom

[2019-03-30 02:03] QuincyLarson commented on #105
@lmilliken Yes - it would teach people how to create API endpoints for buying and selling stocks, and checking their value. We would welcome your help with this. Note that we won't actually be running the API in express - we will have dummy endpoints that get stock prices for fictitious stocks. So you can design this however you want, and we can add additional paths as necessary (for example, /sto

[2019-03-30 02:03] QuincyLarson commented on #106
@padunk Awesome! Thanks for keeping us posted on your progress.

[2019-03-30 02:05] QuincyLarson commented on #115
@S1ngS1ng This all looks correct. And yes - that algorithm all looks right based on my reading of it.

I'm excited to see this. Thanks again for your contributions, and for keeping us posted on your progress on this. 🍻

[2019-03-30 02:06] QuincyLarson commented on #121
@HKuz Thanks for sharing these details. Your debugging curriculum has been extremely useful, and it sounds like there is so much more we can teach with this as well.

@S1ngS1ng What are your thoughts on this?

[2019-03-30 02:07] QuincyLarson commented on #113
@HKuz Ah - that clears things up. We definitely want repetition, but we don't want them to feel like they're working a data entry job 😉

I'm excited to see your PRs. Have a fun weekend, and happy coding! 👍

[2019-03-30 02:09] QuincyLarson commented on #116
@perezvon It looks like this is off to a great start! You even have the "hold down to drop the piece faster" functionality.

I think if people are able to build something like this step by step, it will really help them feel empowered.

Keep up the great work!

[2019-03-30 05:23] S1ngS1ng commented on #121
@HKuz Thanks for your sharing, that has been really helpful.

@QuincyLarson Sorry, I read through HKuz's comment above, but haven't got a chance for some brain-storming on this.
I'll finish the Poker Game ASAP, and come back to this in a few days. I think it might take me a couple of days to have a viable code base for this, which covers as much use cases as mentioned above.

[2019-03-30 13:59] moT01 commented on #130
Thanks @QuincyLarson, I used a lot of `linear-gradient` - I'm not sure how much that will be covered in other projects, should we expand this to cover that in depth a little more? Maybe `Learn CSS Variables and Linear-Gradient by Building a Skyline`. I will pretty much have to cover it regardless, but maybe not as much if it was already taught.

[2019-03-31 03:10] lmilliken commented on #105
Ok, I can help with this.  Here is a draft in Glitch: https://glitch.com/edit/#!/lxm-trade
Let me know if you have any initial feedback/direction.

[2019-03-31 04:01] lmilliken commented on #123
Ok, I can help with this.  To clarify, this is a single front-end page and the UI components are controlled by plain Javascript, correct?  No jQuery or other libraries?

[2019-03-31 06:10] RafaelDavisH commented on #126
update: The responsive design piano is almost complete. I am reaching out for input to the rest of the contributor at FreeCodeCamp Gitter forum. Here is the link to this project https://codepen.io/RafaelDavisH/project/editor/DyanzQ#

[2019-03-31 13:24] Em-Ant commented on #103
@QuincyLarson I'll take this, if it's ok for you

[2019-04-01 15:31] QuincyLarson commented on #130
@moT01 This may be the first place gradients will be covered, so you can go into relative depth with lots of tests around this. We may consider changing the name to `Learn CSS Variables and Gradients by Building a Skyline` though that is a bit of a mouthful. 😄 Best of luck writing the tests, and let me know if I can be of any help. I am excited to get people working through these tests and buildin

[2019-04-01 15:34] codingk8 commented on #132
75% and working on it

[2019-04-01 17:01] S1ngS1ng commented on #115
@QuincyLarson Hey Quincy, here are some update for the poker game.
#### Disclaimer: this is not an April fool 😈

### Here is the [link to the source code](https://github.com/S1ngS1ng/freeCodeCampProject/tree/master/poker-game)
### And here is the [link of online preview](https://singsing.io/freeCodeCampProject/poker-game/)

## Achieved so far:
1. Generate poker hand randomly: [source code](https:/

[2019-04-02 01:59] picolloo commented on #98
Hey guys, I'm working on this project using Node.js with Express and serving static html/css files. I was wondering if I am doing it right to just use pure DOM Api or if I should use some framework to manipulate de page.
I know it can get the user confused but I really think that it could be good for the project.

[2019-04-02 02:05] picolloo commented on #98
I don't really know how this project will be but I'm trying to make something that I would like to build, maybe some suggestions can help me.

[2019-04-02 02:24] scissorsneedfoodtoo commented on #130
@moT01, your project looks great! Looking forward to building my own city skyline now.

[2019-04-02 02:51] scissorsneedfoodtoo commented on #127
@lionel-rowe, your survey page looks like it's off to a great start! Can't wait to see the finished project. Please let us know when you're done and if there's anything we can do to help.

[2019-04-02 02:57] scissorsneedfoodtoo commented on #126
@RafaelDavisH, I saw your post in the chatroom the other day. Your project looks awesome! Can't wait to build it myself.

Seems like you're ready to start breaking the projects down into steps. Please let me know if you have any questions or if I can help with anything.

[2019-04-02 03:16] scissorsneedfoodtoo commented on #123
@lmilliken, thanks for your patience.

Yes, you're right. All the projects should be a single page with no additional libraries like jQuery. The exception would be projects like the React Flappy Bird game or D3 map of Earth that require libraries.

@Gcoded, have you already started building this? If not, I'll assign @lmilliken to this project.

[2019-04-02 03:19] padunk commented on #106
@QuincyLarson Sorry I can't finish it last week. I put it on my Github repo
https://github.com/padunk/fcc-web-server
Is that OK?
Thanks.

[2019-04-02 03:43] scissorsneedfoodtoo commented on #119
Hi @lavanganji, just wanted to check in and see how everything's going with this project. Please post a link to CodePen here when you're finished, and feel free to reach out if you have any questions.

[2019-04-02 03:45] scissorsneedfoodtoo commented on #120
Hi @ritute, just wanted to check in and see how everything's going with this project. Please post a link to CodePen when you're finished, and feel free to reach out if you have any questions.

[2019-04-02 04:08] scissorsneedfoodtoo commented on #115
@S1ngS1ng, this looks great! And thank you for your thorough breakdown of the project and the bonus April Fools joke :+1: :+1:

As for the UI, don't worry so much about how it looks. The main focus is to teach TypeScript, and I'm sure users will appreciate spending more time building the game rather than making the page look good. For showing the poker hands, using Unicode could be a good option:

[2019-04-02 04:15] S1ngS1ng commented on #115
@scissorsneedfoodtoo Thanks for your suggestions.
Yes, I've found some similar stuff on CodePen as well 😃
As per the suits, I've noticed that an HTML entity could work as well.
Should we use Unicode or HTML entity, or either one should be fine (#bikeshedding)?

[2019-04-02 04:21] scissorsneedfoodtoo commented on #115
@S1ngS1ng, it's totally up to you! Go with whichever you feel is best.

[2019-04-02 04:24] scissorsneedfoodtoo commented on #117
Hi @ykrueng and @Marmiz, just wanted to check in and see how everything's going with this project. Have either of you had a chance to work on it? Please feel free to reach out if you have any questions.

[2019-04-02 04:34] S1ngS1ng commented on #115
@scissorsneedfoodtoo Cool. Thanks

[2019-04-02 04:48] lavanganji commented on #119
@scissorsneedfoodtoo  trying to build the pen but not sure where to begin with, any starting suggestion would be very helpful and great.

[2019-04-02 04:51] lavanganji commented on #101
@QuincyLarson  i am working on the other one.
@All anyone who is interested can take over this . if need will come back later to this.

[2019-04-02 05:40] scissorsneedfoodtoo commented on #111
@karuppiah7890, just wanted to check in and see how everything's going with this project.

Please correct me if I'm wrong, @QuincyLarson, but I believe this project will be a replacement for the lessons here: https://learn.freecodecamp.org/data-visualization/json-apis-and-ajax. So your project doesn't have to be overly complex, just something along the lines of a basic blog article with a simple v

[2019-04-02 10:48] scissorsneedfoodtoo commented on #106
@padunk, your server looks great! My only suggestion would be to break down each step into even smaller steps, and to show some example code. Check out this PR and you'll see what I mean: https://github.com/freeCodeCamp/CurriculumExpansion/pull/135/files

In that PR, index100.js gives a short explanation of how to use `document.querySelector()`, along with some example code. After expanding on tha

[2019-04-02 14:42] HKuz commented on #111
Hi folks - an FYI only - I'm working on the JSON challenges, which cover `JSON.stringify()` and `JSON.parse()`, but to keep things simple I'm not including lessons on `XMLHttpRequest` or `fetch()`. I'm guessing the JSON section will be ordered before this one, so one of my challenges is currently referencing them and saying they're taught in the AJAX section (which seems to make more sense). I'll

[2019-04-02 16:58] karuppiah7890 commented on #111
@scissorsneedfoodtoo @QuincyLarson thanks for the inputs! I still haven't started. Will start working on it. I have to learn about mocking though and see how I can incorporate it in the challenge. Will create a very basic project and post the link to it here 😄

@HKuz sure ! 👍

[2019-04-02 17:36] huyenltnguyen commented on #130
@moT01 Wow, I just checked out your pen and it's awesome! Have to admit that after looking at it in the full-page mode, I had to change the view to editor to make sure I wasn't looking at an svg or png 🤣

[2019-04-02 20:36] moT01 commented on #130
Thanks everyone - I need to disclose something here... Before I built this, I did a quick search for images and basically built this from an Image. Specifically, [this image](https://www.kisspng.com/png-building-flat-design-skyline-cartoon-city-521247/). So that person should get some visual design credit. My result has many differences, but is quite similar. I didn't think anything of it at first

[2019-04-03 02:43] Gcoded commented on #123
Sorry all for being MIA. I haven't done anything for this project, but I'm still interested in helping with the new curriculum so I'll look to see what else is available.

[2019-04-03 02:53] scissorsneedfoodtoo commented on #105
Just tested this and it looks great! I know this is still a draft, but I have a couple of suggestions. First, consider renaming `dummyPrices` to something like `prices` so users feel like they're building a real app as they're working through your lessons. Second, try to make sure your code has consistent spacing and semicolons:

[code]

Once you finish the route to check the value of a stock, you

[2019-04-03 03:43] scissorsneedfoodtoo commented on #123
@Gcoded, no worries! There are still a few other projects that are available. Please take a look at the ones with the "help wanted" label and leave a comment if you'd like to work on it.

[2019-04-03 04:16] scissorsneedfoodtoo commented on #104
@ritute, just wanted to check in and see if you've made any progress on this. Please let me know if there's anything I can help with.

[2019-04-03 04:17] scissorsneedfoodtoo commented on #103
@Em-Ant, it's all yours. Looking forward to seeing your project :+1: :+1:

[2019-04-03 04:30] scissorsneedfoodtoo commented on #98
@picolloo, great to hear that you're making progress on this and are building something you're excited about! I'm sure your enthusiasm will really come through in your lessons.

About the framework, I think we're trying to avoid those unless the project requires it. As you mentioned, it's often better to focus on teaching one thing at a time to avoid confusion. What framework were you thinking abo

[2019-04-03 06:58] scissorsneedfoodtoo commented on #122
@lionel-rowe, just wanted to check in and see how everything's going with the project. Your gist looks like a great start!

My only suggestion would be to keep things simple, teaching just one regex concept with some repetition/review of earlier concepts between. Your project will be replacing the lessons [here](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/regular-expre

[2019-04-03 07:55] scissorsneedfoodtoo commented on #119
@lavanganji, I imagine this project will go over concepts that are covered in [Basic Data Structures](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-data-structures) (using JS objects to store key-value pairs, checking properties of an object, and working with arrays), and fall somewhere between the challenges in the [Basic](https://learn.freecodecamp.org/javascript

[2019-04-03 14:43] lavanganji commented on #119
@scissorsneedfoodtoo  out of curiosity i am asking this, is okay i use JAVA as language in JS , this is just a personal preference.

[2019-04-03 16:11] picolloo commented on #98
Actually I was think of how this project should be and realize that its better to make things simplest as possible, I can use just DOM Api or a Express view engine (ejs) to manipulate the page and maybe localStorage to hold relevant data during session.

I openned a PR to show you what I've done so far and I'm all ears to suggestion and critics

[2019-04-03 16:35] RafaelDavisH commented on #126
@scissorsneedfoodtoo hey thanks 👋! So which Repo do I clone to push the code and PR from?

[2019-04-03 16:39] scissorsneedfoodtoo commented on #119
@lavanganji, sorry, but we're mainly focused on teaching people web development with HTML, CSS, and JavaScript rather than Java. Are you able to build the project using JavaScript?

[2019-04-03 16:49] scissorsneedfoodtoo commented on #126
@RafaelDavisH, you can clone and push to this repo. There's no code to speak of, so you'll have to create all the directories and files for each step yourself. Here's a good example: https://github.com/freeCodeCamp/CurriculumExpansion/pull/135/files

[2019-04-03 16:57] scissorsneedfoodtoo commented on #98
@picolloo, just skimmed through your code and everything looks good so far! Would you be able to get this working on [Glitch](https://glitch.com/)? It'll be much easier for me and others to review if we can get your app up on an easily accessible site.

[2019-04-03 17:11] S1ngS1ng commented on #115
@QuincyLarson Here is another update
F.Y.I. @scissorsneedfoodtoo Here is the [online preview](https://singsing.io/freeCodeCampProject/poker-game/), if you are interested 😃
## Tasks
### Process
- [x] `Next` button (to start a new bet)
- [x] `End` button (to end current session)
### Logic
- [x] Cash calculation
- [x] Refill cash, when applies
### UI
- [x] Show winner and cash earned/lost
- [x] ~~Ale

[2019-04-03 17:50] lavanganji commented on #119
@scissorsneedfoodtoo I am able to build the project using JS. Will update the project soon

[2019-04-03 20:04] DanCouper commented on #109
@scissorsneedfoodtoo I'd be interested in taking this. I can get an example together by the end of next week and go from there?

[2019-04-04 03:39] padunk commented on #106
@scissorsneedfoodtoo yup, I already checked that PR.
Let me see how can I break it down into smaller steps.
Thks.

[2019-04-04 04:01] scissorsneedfoodtoo commented on #106
@padunk, great! Looking forward to seeing them.

[2019-04-04 04:17] scissorsneedfoodtoo commented on #109
@DanCouper, sure, sounds great! Looking forward to seeing your project.

[2019-04-04 04:18] scissorsneedfoodtoo commented on #119
@lavanganji, sounds good! Just let me know if there's anything I can help with.

[2019-04-04 08:44] lionel-rowe commented on #122
The idea will be to build each regex up incrementally (based on the second gist I posted, not the first, which I agree is overcomplicated). The only thing I'm concerned about is not covering _enough_ concepts (e.g. `\d`, `\w`, etc. won't be covered). I think this is probably OK as long as the broader concept is covered. For example, if `u` flag isn't covered, the idea of flags _in general_ is cove

[2019-04-04 08:48] lionel-rowe commented on #127
@scissorsneedfoodtoo Thanks! I'm working on turning this into a proper first draft/PR now.

[2019-04-04 10:18] scissorsneedfoodtoo commented on #122
@lionel-rowe, okay, that sounds great! I don't think you need to worry about the coverage of your project. Like you said, teaching the broad concept of flags and using several in depth is better than covering all the flags. Looking forward to seeing your lessons!

[2019-04-04 14:40] truclyle commented on #99
I'd like to help with this project!

[2019-04-04 19:27] raisedadead commented on #130
The image is licenses for personal use and can't be used. Let's find a replacement.

[2019-04-05 04:00] lmilliken commented on #105
@scissorsneedfoodtoo , can you clarify what you mean by "breaking down the project into small steps?"  The example seems to show code for a game.  I'm not sure what I need to do since this stock trading platform is just to teach students to create an API.

[2019-04-05 04:29] scissorsneedfoodtoo commented on #105
@lmilliken, yes, that's exactly right.

Users will code the actual project in freeCodeCamp's (upcoming revised) editor, so the first step can start with a blank file telling users to include Express with `const express = require('express');`, or something like that. I just wrote up some FAQs that might help as your writing out your instructions: https://www.freecodecamp.org/forum/t/freecodecamp-cu

[2019-04-05 04:32] huyenltnguyen commented on #130
I just found this website: https://publicdomainvectors.org/en/
It offers free illustration images which are licensed under [Creative Commons Deed CC0](https://creativecommons.org/publicdomain/zero/1.0/deed.en). Worth taking a look, I guess.

[2019-04-05 05:34] lmilliken commented on #105
Ok, here's the draft https://github.com/lmilliken/fcc-trading-platform.  Let me know if it's too much/little instructions or if the steps are too small/big.  Will ping you again when finished.

[2019-04-05 05:37] scissorsneedfoodtoo commented on #99
@truclyle, great! It's all yours. Start building the project on CodePen, Glitch, or whatever site you prefer and let us know when you're finished. Then you can start breaking down the project into steps like this: https://github.com/freeCodeCamp/CurriculumExpansion/pull/135/files#diff-99314d694942b489d28d8a6f0c3bc5a3

Here are some FAQs that might help: https://www.freecodecamp.org/forum/t/freecod

[2019-04-05 06:55] scissorsneedfoodtoo commented on #105
@lmilliken, looking good so far! Before you get too much further, my only suggestion would be to try and break the steps down a bit more. For example, `server010.js` could be a blank file with the text:

[code]

Then `server020.js` could read:

[code]

Anyway, hope that helps. Looking forward to seeing all of your instructions later

[2019-04-05 13:14] moT01 commented on #130
alright, is this still too similar? https://codepen.io/moT01/full/OGXLZd

[2019-04-06 00:11] picolloo commented on #98
@scissorsneedfoodtoo I'll move it to glitch as soon as possible, thank you for listening

[2019-04-06 06:37] S1ngS1ng commented on #115
@QuincyLarson @UsamaHameed @scissorsneedfoodtoo Here is the final version. Please let know how you guys like it 🍻
The source code is [here](https://github.com/S1ngS1ng/freeCodeCampProject/tree/master/poker-game), and here is the [online preview](https://singsing.io/freeCodeCampProject/poker-game/)

And a quick gif demo:
### Basic process
![demo - basic process (1)](https://user-images.githubuserco

[2019-04-06 07:53] dingjy94 commented on #107
I would like to work on this. Please let me know the more detail requirement.

Is this means create a module, edit `package.json`, write some code and run it locally or even include test and instruction on publishing the module to npm server?

[2019-04-08 02:36] padunk commented on #106
@scissorsneedfoodtoo, I break some step into a smaller one.
Would you mind checking it?
Thanks.

[2019-04-08 03:04] Ethan-Arrowood commented on #106
Hi @padunk can you submit your work as a pull request to this repository? If you need help let me know!

[2019-04-08 03:06] Ethan-Arrowood opened #141 "Write CONTRIBUTING.md"
We've been receiving a ton of great work from all of you! Some of your challenges are nearly ready too. I'm going to work on an official contributing guideline doc so y'all will have all of the information you need to make better curriculum and amazing pull requests.

[2019-04-08 08:06] padunk commented on #106
@Ethan-Arrowood Sure, but I never do pull request before, how to do that?

[2019-04-08 08:10] scissorsneedfoodtoo commented on #98
Sounds good! Looking forward to seeing it.

[2019-04-08 08:36] scissorsneedfoodtoo commented on #115
@S1ngS1ng, wow! This looks amazing. Just played a few hands and had a lot of fun.

Unfortunately, I noticed a couple of bugs:
- Since users can input their bets into the text box, it's possible for the player to bet more money than they currently have.
- If a player bets more than they have and loses, they will start a new game with a negative value.

Could you add some logic to prevent these from

[2019-04-08 10:47] codingk8 commented on #132
@QuincyLarson  [Here's the first draft](https://codepen.io/codingk8/pen/xBMxrG?editors=1100)
Needs some fine tuning but I would like a feed-back before I move on.
Is it what was expected? What could be improved to reach the goal?

[2019-04-08 16:43] S1ngS1ng commented on #115
@scissorsneedfoodtoo Thanks! That was a good catch, [spot on!](https://github.com/S1ngS1ng/freeCodeCampProject/blob/master/poker-game/util/handler.js#L68).
Looks like I did `set` the `max` for range input, while not for the text input 🤦‍♂️
Sure, I'll fix that tonight.

Also, thanks for your thought on the questions.
- That makes a lot of sense, it could be confusing to people that have no idea on

[2019-04-09 03:13] lmilliken commented on #105
Hey @scissorsneedfoodtoo , this is the full finished draft: https://github.com/lmilliken/fcc-trading-platform

[2019-04-09 06:56] S1ngS1ng commented on #115
@scissorsneedfoodtoo I've made some changes. Now that the text input is removed. Here is what it looks like now:
![image](https://user-images.githubusercontent.com/13592559/55779133-8adf7400-5a59-11e9-84af-92a389c5c125.png)
In this way, at least it minimize the effort to deal with the input validation XD
For displaying the poker hand details, I am still working on it. There are some method to be r

[2019-04-10 02:19] scissorsneedfoodtoo commented on #115
@S1ngS1ng, looks great! Removing the text input is a good way to avoid that issue. I like the slider more anyway :+1:

Just one more thing I noticed with the text. Could we change it to:
"You bet $__. Good luck!"

"You're the winner! Yay!"
"You won $__!"

"The bot won. Darn it!"
"You lost $__!"

About discussing about `extends`, I'd be happy to talk about that or other parts of your project if you

[2019-04-10 02:32] scissorsneedfoodtoo commented on #105
@lmilliken, awesome! Just skimmed through and everything looks good. Can you open up a pull request to this repository? Then we'll be able to do a more thorough review before merging.

[2019-04-10 06:50] lmilliken commented on #101
I would be interested in working on this.  I'm thinking that this would be an Express app using the bcrypt library that hashes and store passwords in a local object?

[2019-04-10 09:53] scissorsneedfoodtoo commented on #107
@dingjy94, great! The project is all yours.

Yes, we want to teach the entire process: everything from creating a `package.json` file (maybe using `npm init`?), writing a simple module, using `export` and `require` to use the module somewhere else within the project, and publishing the module to npm.

The first step is creating the actual module. Do you have anything in mind? It doesn't have to be

[2019-04-10 11:22] scissorsneedfoodtoo commented on #101
@lavanganji, yes, I think that's a good way to go. Originally I thought this would be a tutorial about building something like an MD5 encoder/decoder. But we would have to make it really clear that MD5 is considered unsafe, and shouldn't be used for passwords.

A login page that uses bcrypt to has the passwords might work. The lessons could explain the basics of cryptography and how to safely hand

[2019-04-10 11:46] lavanganji commented on #119
@scissorsneedfoodtoo  , please review the first draft of code pen , please ignore the coloring and cosmetics
https://codepen.io/lganji/pen/xeboyO
Idea is to developer the car page application , where user can add cars to list, search the best cars by model and brands and also we have main search engine like search box in body of the page.
All this needs to implemented. this is just a sample design

[2019-04-11 01:24] lsurasani commented on #110
@QuincyLarson what kind of data visualization are you thinking? like d3?

[2019-04-11 02:38] scissorsneedfoodtoo commented on #119
@lavanganji, this looks great! I really like the idea of a car page app to teach these concepts. It's definitely a realistic project and a lot of students will probably work on something like this once they're hired. Can't wait to see the finished project :+1: :+1:

[2019-04-11 03:50] scissorsneedfoodtoo commented on #141
@Ethan-Arrowood, sorry, I just saw this issue. This would be really helpful! What sort of information will you me including here? Will it be similar to the Contributor's Guide in the main repo?

[2019-04-11 05:18] scissorsneedfoodtoo commented on #132
@codingk8, thank you for your patience. I like the idea of a minotaur painting! Had no idea that they were featured in a lot of Picasso's work. What do you think, @QuincyLarson?

Since your project will cover a lot of the concepts taught in the [basic CSS](https://learn.freecodecamp.org/responsive-web-design/basic-css) section (but not things like fonts or CSS variables), it's good that you alread

[2019-04-11 06:45] S1ngS1ng commented on #115
@scissorsneedfoodtoo
![image](https://user-images.githubusercontent.com/13592559/55936105-361f3300-5bea-11e9-8551-c4f057ae0270.png)

Few updates here:
1. Update the text, as discussed above
2. Add style to the `result-rank-container`
3. As per the offline discussion, change the `timeout` to 0.5 seconds

I'd like to hear about your thought on the text: `The bot has Three of a kind, Your have High c

[2019-04-11 07:39] codingk8 commented on #132
Great! Thanks for the feedback @scissorsneedfoodtoo Very helpful! I'll do as you suggest and add these features.
Yes, quite a few bulls and minotaurs in Picasso's work. They're a typical Spanish/Mediterranean symbolic figure.
May take a few days though because I have a 4 days full-time training next week. Will (at) you with a new draft asap.

[2019-04-11 09:47] scissorsneedfoodtoo commented on #115
@S1ngS1ng, lookin' good! Thanks again for taking the time to walk me through your project yesterday and for your updates.

It seems like you're using `rankMap` to update the language in the `result-rank-container`, so maybe you could modify the text to the following:

[code]

I'm not sure if it's more appropriate to say "The bot has the high card" or "The bot has high card," but it seems like they

[2019-04-11 11:13] scissorsneedfoodtoo commented on #132
@codingk8, sounds great. Looking forward to seeing the new draft!

[2019-04-11 18:58] briancbarrow commented on #125
@QuincyLarson I haven't had a lot of time to work on this sorry.  I have a basic layout with css but I don't know how much I'll be able to work on it in the next couple of weeks. Do you want me to create a pull request with what I have and let someone else take it from here?

Here is what I have so far: https://github.com/briancbarrow/CurriculumExpansion/tree/fix/update-learn-flexbox

[2019-04-11 22:43] S1ngS1ng commented on #115
@scissorsneedfoodtoo Sounds good! I'll be working on that tonight. Thanks for the advice

[2019-04-12 02:18] Ethan-Arrowood commented on #141
I'm thinking like
- make sure challenges are in a folder
- make sure there are no spelling mistakes
- be thorough but keep challenges to a couple minutes each; shorter is better

What else can you think of?

[2019-04-12 03:21] scissorsneedfoodtoo commented on #141
Yes, that all sounds great! Your last point is mentioned in the Style Guide, but it was written with the older challenge format in mind. I wrote some [FAQs](https://www.freecodecamp.org/forum/t/freecodecamp-curriculum-7-0-faqs/269346) about the new curriculum over on the forum, and it goes over:
* breaking projects down into separate steps/files
* writing test descriptions in the file/area the use

[2019-04-12 05:13] S1ngS1ng commented on #115
@scissorsneedfoodtoo Done. See [here](https://singsing.io/freeCodeCampProject/poker-game) for the online preview
🍻

[2019-04-12 06:05] scissorsneedfoodtoo commented on #126
@RafaelDavisH, I saw you merged into the master branch here. Sorry, I believe this is because I was unclear in my last message.

What you need to do is clone this repo, create a branch named something like `feat/responsive-web-design-piano` with all of your changes, then open a Pull Request targeting the master branch here. Then we can all take a look at your code and review it. Is that something

[2019-04-12 06:19] RafaelDavisH commented on #126
yikes!

[2019-04-12 06:19] scissorsneedfoodtoo commented on #130
@moT01, sorry! Totally missed your update. Your new project looks great! Different enough that it shouldn't be an issue with the license.

Pinging @QuincyLarson for a second opinion.

[2019-04-12 06:21] scissorsneedfoodtoo commented on #126
@RafaelDavisH, it's no problem! I've done the same thing before. We should probably adjust the settings for this repo to prevent this from happening in the first place.

[2019-04-12 06:22] RafaelDavisH commented on #126
@scissorsneedfoodtoo thanks,  I'll get this going. If do have any problems I'll let you know

[2019-04-12 06:23] scissorsneedfoodtoo commented on #126
@RafaelDavisH, sure thing. Don't worry about what you pushed to the master branch. I can submit a PR to clear that up. Go ahead and create your pull request and I'll take a look at your draft soon.

[2019-04-12 06:25] scissorsneedfoodtoo commented on #127
@lionel-rowe, just wanted to check in and see how everything's going with your draft. Is there anything you can show us? If so, we could give some early feedback.

[2019-04-12 06:28] scissorsneedfoodtoo commented on #123
@lmilliken, just checking in to see how things are going with your prototype. Do you have anything you can show us? If so, we could give some early feedback.

[2019-04-12 06:31] scissorsneedfoodtoo commented on #122
@lionel-rowe, just checking in to see how things are going. Did you start breaking this project down into steps?

[2019-04-12 06:34] scissorsneedfoodtoo commented on #121
@S1ngS1ng, just wanted to check in and see if you've started working on this already. If not, I think it's best that we open this project up to someone else while you finish the poker game. It'll take some time to break that project down!

[2019-04-12 06:36] scissorsneedfoodtoo commented on #120
@ritute, any progress on your prototype?

[2019-04-12 06:38] scissorsneedfoodtoo commented on #118
@RandellDawson, just checking in to see how things are going with your prototype. Do you have anything you can show us? If so, we could give some early feedback.

[2019-04-12 06:40] scissorsneedfoodtoo commented on #116
@perezvon, just checking in to see how things are going with your prototype. Were you able to make more progress?

[2019-04-12 06:42] scissorsneedfoodtoo commented on #111
@karuppiah7890, just checking in to see how things are going with your prototype. Do you have anything you can show us? If so, we could give some early feedback.

[2019-04-12 06:45] scissorsneedfoodtoo commented on #110
@lsurasani, yes, any sort of D3 project that teaches most or all of the concepts [here](https://learn.freecodecamp.org/data-visualization/data-visualization-with-d3) would be fine. Do you have any ideas about what kind of dashboard you'd like to build?

[2019-04-12 07:01] S1ngS1ng commented on #121
@scissorsneedfoodtoo I've been thinking about it. Hopefully, I could get write some summaries by the end of this weekend. Though, probably not a workable project AFAIC. 😞
But yeah, if anyone else is interested in working on this, feel free to take it over.

[2019-04-12 08:41] scissorsneedfoodtoo commented on #121
@S1ngS1ng, no worries! Any sort of summary would be greatly appreciated. I'll post a "help wanted" label for now, but you're welcome to pick it up again later down the road.

[2019-04-12 08:55] scissorsneedfoodtoo commented on #106
@padunk, I could help you with that. It's similar to the process outlined in this guide: https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-setup-freecodecamp-locally.md

It would probably be easier to hop on a call to walk you through the process. I'll send you an email and we can decide on a time.

[2019-04-12 14:05] scissorsneedfoodtoo commented on #100
@brandenbyers, just checking in to see how things are going. Were you able to start on this project? If not, did you have another idea for a project to teach testing?

[2019-04-12 14:50] QuincyLarson commented on #132
@codingk8 Thanks for your patience. I love your minotaur CSS illustration.

I didn't communicate this well originally, so please allow me to clarify my thoughts on this. I think rather than making a painting using Picasso motifs like minotaurs, we could quite literally have them remake a Picasso painting using CSS.

This is a well-known painting that features a lot of shapes. You could simplify so

[2019-04-12 15:06] QuincyLarson commented on #119
@lavanganji I proposed this based off of Udacity's old Search Engine Python course, and I think we could have taught a lot of concepts by helping people build a search engine. This said, it would be much simpler if we built something without any UI, that was just outputting results from a hard-coded dataset.

So instead of doing a search engine and trying to build the crawler and indexes and every

[2019-04-12 15:07] QuincyLarson commented on #141
@Ethan-Arrowood could you use @scissorsneedfoodtoo's forum post and then add the usual contributing.md boilerplate around it?

[2019-04-12 15:37] scissorsneedfoodtoo commented on #101
@lavanganji, I'm sorry, please ignore my last message. After thinking more about this project, it would be better to avoid libraries like bcrypt so the project can function seamlessly offline. Instead, it would be better to focus on the fundamentals of cryptography and have students build their own simple password hasher -- something that can encrypt and decrypt strings, and maybe cover other topi

[2019-04-12 15:46] codingk8 commented on #132
@QuincyLarson OK. That's a different story then. Didn't get you had a specific painting in mind. I'll look at this closely and see what I can do 🎨

[2019-04-12 19:06] RafaelDavisH commented on #126
@scissorsneedfoodtoo All done. Hopefully, everything looks good.

[2019-04-13 02:33] lionel-rowe commented on #127
Sure, I'll get something up over this weekend.

[2019-04-13 02:36] lionel-rowe commented on #122
I'll open a work-in-progress PR sometime this weekend.

[2019-04-14 03:04] karuppiah7890 commented on #111
@scissorsneedfoodtoo No. I just have a small html page with some css. I am still looking at options on how to mock the response https://github.com/berniegp/mock-xmlhttprequest , https://www.wheresrhys.co.uk/fetch-mock and I am not sure how it will be explained to the students if I put the mock code

[2019-04-14 07:33] lmilliken commented on #123
@scissorsneedfoodtoo , sorry I was pulled away on the stock trading app.  I'll try to put something together shortly.

[2019-04-14 07:34] lmilliken commented on #101
@scissorsneedfoodtoo , I'm working on the calorie counter and haven't started on this.  Can someone else work on this?

[2019-04-14 18:46] lmilliken commented on #123
@scissorsneedfoodtoo , here is the work in progress draft: https://codepen.io/millifly/pen/eoGBPv.  Let me know what you think.  Not sure if this is too basic or how deeply we want to teach DOM manipulation with javascript

[2019-04-15 02:38] scissorsneedfoodtoo commented on #101
@lmilliken, okay, thanks for letting me know. Feel free to circle back to this project later if it's still unclaimed!

[2019-04-15 02:48] scissorsneedfoodtoo commented on #123
@lmilliken, this is looking great so far! To answer your questions, since this project will cover intermediate JavaScript, teaching DOM manipulation is totally fine. Would be useful for students to learn how to do all of that. We're trying to avoid all libraries as much as possible. Could you provide the styling instead?

[2019-04-15 04:59] scissorsneedfoodtoo commented on #111
@karuppiah7890, that's great! Looking forward to seeing your view counter soon.

It's my understanding that we'll try to keep things as realistic feeling as possible, and will probably not explain the fact that we're mocking these services. I did some a bit of searching and found [this](https://michael-kuehnel.de/api/2016/11/04/data-mocking-ways-to-fake-a-backend-api.html) page that suggests using

[2019-04-15 05:52] scissorsneedfoodtoo commented on #126
@RafaelDavisH, yes, everything looks good now. We'll review your project ASAP!

[2019-04-15 06:06] scissorsneedfoodtoo commented on #115
@S1ngS1ng, awesome! This looks and plays great. Looking forward to seeing it in TypeScript now :+1: :+1:

[2019-04-15 06:09] brandenbyers commented on #100
I have a tentative idea that I'm planning to work on but available time has been slipping away from me. I'm hoping to get something submitted this week though!

[2019-04-15 06:12] scissorsneedfoodtoo commented on #108
@HKuz, just wanted to check in and see how things are going with this project. Were you able to start working on a prototype?

[2019-04-15 06:13] scissorsneedfoodtoo commented on #109
@DanCouper, just wanted to check in and see how everything's going with the project. Were you able to start working on a prototype?

[2019-04-15 06:15] scissorsneedfoodtoo commented on #103
@Em-Ant, just wanted to check in and see how everything's going with the project. Were you able to make any progress on a prototype?

[2019-04-15 06:16] scissorsneedfoodtoo commented on #100
@brandenbyers, okay! Looking forward to it.

[2019-04-15 06:18] scissorsneedfoodtoo commented on #99
@truclyle, just wanted to check in and see how everything's going with the project. Were you able to make some progress on a prototype?

[2019-04-15 06:51] Em-Ant commented on #103
I will do it during the easter holidays.
Do you want me to build something like the mongo console (like command
interface ? ) . I found that it's not so simple to simulate a console step
by step, because of the asyncronicity of js (you need to do things inside a
callback). Worst case, i'll do a text file with the steps, and then we'll
figure out how to implement it.

Il lun 15 apr 2019, 08:15 Kris

[2019-04-15 07:33] RandellDawson commented on #118
@scissorsneedfoodtoo I have been busy with my job search, so I have not spent as much time on it as I had hoped.  If you want someone else to take on this project who can spend, I am fine with that.

[2019-04-15 09:08] scissorsneedfoodtoo commented on #103
@Em-Ant, great! Looking forward to seeing it after the holidays.

Please correct me if I'm wrong, @QuincyLarson, but I imagine this project using a mock Mongo console rather than being a CRUD app. Don't feel like you have to implement the whole interface yourself -- we can work out all of those details later. Like you mentioned, it would probably be best to have a series of .js files, each with th

[2019-04-15 09:13] scissorsneedfoodtoo commented on #118
@RandellDawson, no problem! Thank you for letting us know. I'll put the help wanted label back on for now, but please feel free to pick it up again later if it's still unclaimed and you have some time. Good luck with your job search!

[2019-04-15 16:00] shimphillip commented on #120
@scissorsneedfoodtoo  Would love to take this!

I noticed you are in Korea, are you working as a dev? I am from Korea :)

[2019-04-16 01:26] HKuz commented on #108
Hi @scissorsneedfoodtoo - just started digging into this one now that JSON is in good shape! I'm reviewing some D3 now (little rusty 😅 ) and creating an outline, and hope to start a skeleton project by the weekend 👍

[2019-04-16 02:16] scissorsneedfoodtoo commented on #125
@briancbarrow, no problem! No need to create a pull request. @picolloo is hard at work on the WebSocket project, so I'll put the help wanted label back on for now. If someone else comes along they can use the code you posted as a jumping off point. Feel free to pick this project back up if it's still unclaimed later.

[2019-04-16 02:25] scissorsneedfoodtoo commented on #120
@shimphillip, 안녕하세요? We would love your help on this project! You can read @QuincyLarson's [announcement](https://www.freecodecamp.org/forum/t/help-us-build-version-7-0-of-the-freecodecamp-curriculum/263546) about the new curriculum, along with some [FAQs](https://www.freecodecamp.org/forum/t/freecodecamp-curriculum-7-0-faqs/269346) I wrote. Hopefully those will help you get started, but feel free

[2019-04-16 02:34] scissorsneedfoodtoo commented on #108
@HKuz, sounds good! Really looking forward to seeing your project. It'll be good review for me since I forgot almost everything about D3!

[2019-04-16 02:34] scissorsneedfoodtoo commented on #107
@dingjy94, just wanted to check in and see how everything's going. Were you able to make any progress on a prototype?

[2019-04-16 06:00] scissorsneedfoodtoo commented on #98
@picolloo, were you able to move your project to Glitch or a similar platform? We'd love to see your prototype and give some feedback.

[2019-04-16 11:05] Marmiz commented on #117
Hello @scissorsneedfoodtoo, sorry for the silence.

I am playing right now, so I'm ready to show a working demo.
Just adding some final touch to the UI and should be ready for a first inspection.

I'll deploy it somewhere and post a link here with source code included since there are a couple of point I'd like to discuss.

[2019-04-16 11:50] #141 closed

[2019-04-16 12:18] scissorsneedfoodtoo commented on #117
@Marmiz, no problem! Glad to hear that you have a working demo. Just post it when you can and I'd be happy to discuss those points with you.

[2019-04-16 14:44] shimphillip commented on #120
반가워요! Yes, that should be enough to get me started.

Great! I figured you went to Korea to teach English initially. Austin is great! Supposedly one of the best places to live. Definitely a place to checkout.

I am excited to start :) I will work on my demo.

[2019-04-16 15:34] shimphillip commented on #104
@scissorsneedfoodtoo

I am also interested in taking this one. Can I take two projects at a time?

[2019-04-16 20:29] picolloo commented on #98
I'm currently working on my fork and working to have an MVP and then move it to Glitch.

The project itself is not that hard but I'm missing time to get it done, and now that FreeCodeCamp's contribute styles changed I'l have to change some layout properties. I'll finish it in a week and send you de Glitch's link to get feedback.

[2019-04-16 22:55] dingjy94 commented on #107
@scissorsneedfoodtoo, sorry for the late reply, I just found I muted the github notification..... I had create a sample npm package to modify the text case (upper case, lower case, proper case and sentence case). I had published the module [here](https://www.npmjs.com/package/case_converter_fcc_sample), and [linked to a github repo](https://github.com/dingjy94/case_converter_fcc_sample).

In the R

[2019-04-17 02:08] lavanganji commented on #119
@scissorsneedfoodtoo  I am just thinking what will be prototype so that i can work in that direction

[2019-04-17 02:25] scissorsneedfoodtoo commented on #104
@shimphillip, sorry, but it's best if you just take one at a time. Which project would you like to work on first? This one, or the shopping cart?

[2019-04-17 02:29] scissorsneedfoodtoo commented on #120
@shimphillip, nice! Glad you're enjoying it out there in Austin. Heard that the food out there is amazing.

Looking forward to seeing your demo :+1: :+1:

[2019-04-17 03:15] scissorsneedfoodtoo commented on #107
@dingjy94, no need to apologize! Thank you for all of your hard work. Just checked out your package and it works great! The only thing I noticed is that `const caseConverter = require('./index');` should be `const caseConverter = require('case_converter_fcc_sample');`, at least if you're an end user like me installing your NPM package rather than someone who is forking the repo itself.

Now you ca

[2019-04-17 06:31] dingjy94 commented on #107
@scissorsneedfoodtoo I just read the contribution guide and the RPG game, and some questions:
1. I actually didn't understand what "Instead, contributors should create their own return statements, error messages, and output to mock the functionality of those services. " means. Is this means for each step, I have to write a script to parse the user input and simulate the npm console output?

2. For

[2019-04-17 06:39] truclyle commented on #99
@scissorsneedfoodtoo Not yet. I just finished my bootcamp last week and have been taking a little break. I will get started this weekend.

[2019-04-17 07:10] scissorsneedfoodtoo commented on #99
@truclyle, congratulations on finishing your bootcamp! :tada: :1st_place_medal:

Hope you enjoy your break! Feel free to start on this project whenever you're ready.

[2019-04-17 07:44] scissorsneedfoodtoo commented on #107
@dingjy94, great questions, and this is something I'm still trying to figure out myself. Thanks for bearing with me!

No, you don't have to write your own script/bash terminal and actually parse user input. The current plan is just to mock or fake that functionality and test user input with regex. You're right in that we'll have to simulate the NPM console output.

What would be good here is to si

[2019-04-17 10:22] Marmiz commented on #117
Right, here we go:

playable demo [here](https://marmiz.github.io/flappybird-react/) (gh page)
repo [here](https://github.com/Marmiz/flappybird-react)

Now I'd love if someone with experience in React and Teaching could spare its feedback, manly because the whole app...

doesn't feel "reacty" at all.

I work daily on a React project, but this demo was more about Math and Game physics that React,
C

[2019-04-17 16:58] lsurasani commented on #110
Sorry for lack of response, just got back from vacation.

That sounds good, I'm thinking maybe a dashboard related to world population data by continent?

[2019-04-17 18:03] dingjy94 commented on #107
@scissorsneedfoodtoo Thank you for your explanation. This is very helpful! I'll start to work on this project this weekend, and finish it as soon as possible.

[2019-04-18 01:49] scissorsneedfoodtoo commented on #107
@dingjy94, no problem. Feel free to reach out if there's anything I can do to help.

[2019-04-18 03:15] scissorsneedfoodtoo commented on #110
@lsurasani, no problem! Hope you had a nice vacation.

There is another project that teaches D3 by building a world map, so I'm worried there will be a bit of overlap between the two. Sorry, I have trouble keeping all of these projects straight sometimes!

Rather than teach D3 here, it would be better to focus on the fundamentals of data visualization by building a simple dashboard. According to [

[2019-04-18 04:06] shimphillip commented on #120
@scissorsneedfoodtoo

I am thinking of implementing the newest features 'private variables' which is only available in babel 7 and stage 3 preset. Do you know if the curriculum is going to support that?

[2019-04-18 04:47] scissorsneedfoodtoo commented on #120
@shimphillip, good questions!

Generally we don't want to use additional libraries or compilers like Babel and instead focus on the fundamentals using vanilla HTML, CSS, and JS. There are exceptions like the React Flappy Bird or D3 map of Earth projects, but other than that we'll try to keep things simple so everything works offline.

I agree that we don't need a UI element, at least for now. Your

[2019-04-18 08:05] scissorsneedfoodtoo commented on #127
@lionel-rowe, thanks for your patience. This is looking good so far, but would you be able to rewrite this so it uses plain CSS? We're trying to avoid things like SASS unless the project specifically requires or teaches it. Also, could you show us your prototype on CodePen or some other site?

[2019-04-18 16:57] thecodingaviator opened #155 "Learn git Interactively In The Browser"
Refer to https://github.com/freeCodeCamp/freeCodeCamp/issues/16390

[2019-04-18 20:38] shimphillip commented on #120
Thanks it was helpful.

Here is the basic skeleton. https://codepen.io/shimphillip/pen/BEYrPg?editors=0010, Quincy took a look as well during our study group leader call and liked it.

Wasn't sure how much content I needed to create. If I need to make more, you can look at the comments under additional features.

Let me know what you think :)

[2019-04-19 02:14] lmilliken commented on #123
@scissorsneedfoodtoo , here is the final draft: https://codepen.io/millifly/pen/eoGBPv.  Let me now if any recommendations before I start breaking it down to steps.

Any help with styling from anyone would be greatly appreciated!

[2019-04-19 03:42] scissorsneedfoodtoo commented on #123
@lmilliken, this is looking good! Really good use of function expressions and arrow functions at the bottom that would be good to teach at this point in the curriculum.

I just noticed that you can pass negative values in for breakfast, lunch, or dinner. Could you have a check to prevent that? There doesn't need to be a UI warning or anything, just defaulting to 0 and updating the value in the tex

[2019-04-19 06:03] scissorsneedfoodtoo commented on #120
@shimphillip, wow, this is looking great! I'm sure our users will learn a lot as they go through these lessons.

Looking at your commented out code, combining the `getTotal` and `setTotal` functions into one `calculateTotal` is a good idea. For the additional features you listed, I like the idea of calculating the taxes and adding that to the total. Having users build an item is also a good idea.

[2019-04-19 08:05] scissorsneedfoodtoo commented on #117
@Marmiz, sorry for the late response. This looks great so far! Like you mentioned, adding a title screen, countdown, and those other elements would be a good way conditional events. And don't worry so much about the balance now -- that can be tweaked before you start breaking down the project into steps. I found it a bit difficult, but I'm not the best judge since I tend to play slower, turn based

[2019-04-19 08:15] scissorsneedfoodtoo commented on #98
@picolloo, that sounds good. Please post the link to your project on Glitch when you can. Though the Contributor's Guide was added recently, a lot of it applies to the broken down project rather than the prototype itself. Don't feel pressured to make a lot of changes to your prototype! Those are just for early feedback before you start breaking the project down into steps.

[2019-04-19 14:50] lsurasani commented on #110
@scissorsneedfoodtoo okay! that makes sense. So to make sure I totally understand, the objectives with this project are:

1. Learn fundamentals of data vis (specifically related to dashboards and when to use which types of graphs)
2. Build a really simple dashboard (without using D3) to illustrate these concepts

So for action items to start on this, I'm guessing I should build the dashboard? And

[2019-04-20 05:30] shimphillip commented on #120
@scissorsneedfoodtoo

Here it is. https://codepen.io/shimphillip/pen/BEYrPg?editors=0010

You can look at the current functionalities comments to learn the new updates I made. They are in bullet points.

Instead of using credits, I thought using promotion discounts was bit more intuitive and natural so I went ahead and made a method called applyDiscount.

I assume that I can make a helper script/c

[2019-04-20 15:17] akintoluvic commented on #125
I will like to help with this project @QuincyLarson, I would like to contribute to this freeCodeCamp. You have been of great help in my learning process

[2019-04-21 01:05] lionel-rowe commented on #127
Sure thing, I'll remove the SCSS in the final version (write with SCSS, compile to CSS, then do any cleanup needed). The student will barely need to touch the CSS, anyway — almost all required changes are in the HTML.

Is including Bootstrap OK? Zero knowledge required, but it's included as a dependency. IMO it better represents something you'd see in production, and it also helps reinforce the po

[2019-04-21 02:09] QuincyLarson commented on #130
@moT01 This looks great to me. This will be a lot of tests - do you want to go ahead and start the process?

This may very well be hundreds of tests - we should have a test for every significant step - we want them building this up one or two lines of code at a time.

Do you plan to have them build the basic skyline first, then go through and add the details to each building afterward?

[2019-04-21 02:11] QuincyLarson commented on #132
@codingk8 Thanks again for your flexibility on this. I am excited to see what you come up with. It can be dramatically simplified to just a few dozen shapes.

[2019-04-21 02:15] QuincyLarson commented on #111
@karuppiah7890 I hope you're having a good weekend. Please keep us posted on your progress - I'm super excited to see what you build with this.

[2019-04-21 02:22] QuincyLarson commented on #115
@S1ngS1ng You did a great job on the UI. I'm excited to go through and build this project myself based on your tests! :)

[2019-04-21 02:29] QuincyLarson commented on #103
@Em-Ant OK - I am excited to see what you come up with.

@scissorsneedfoodtoo Yes - we just want to make sure that we don't actually need a server running. All the files necessary should be static and/or in the code itself. I know there are challenges with this, and we'll just have to make tradeoffs as necessary.

[2019-04-21 02:32] QuincyLarson commented on #119
@lavanganji I just have a foggy idea of what this might look like in my mind. I encourage you to experiment and share your prototypes as you progress.

I am optimistic that as you build it and contemplate the design decisions, the project will come together. I'm looking forward to seeing what you come up with 👍

[2019-04-21 02:36] QuincyLarson commented on #125
@akintoluvic Thanks for your kind words!

We would welcome your help with this. Please read this: https://github.com/freeCodeCamp/CurriculumExpansion/blob/master/CONTRIBUTING.md

Then go ahead and start building the example project. Keep it as simple as possible, and post your updates here (I recommend linking to the project on CodePen so we can see your code and the example app at the same time).

[2019-04-21 02:38] QuincyLarson commented on #127
@lionel-rowe Awesome! I'm excited to see this.

We want to use as foundational tools as we can, which means we shouldn't use bootstrap.

It's OK for this to look rough. The focus shouldn't be on the design, but rather the specific accessibility considerations.

[2019-04-21 04:59] karuppiah7890 commented on #111
@scissorsneedfoodtoo here's what I got working https://karuppiah7890.github.io/view-counter-example/ and the source code is [here](https://github.com/karuppiah7890/view-counter-example) .

Let me know how it looks. I made it very simple. I only used a `GET` request to get the mock view count; didn't do any `POST` to increment view count as I wasn't sure to persist it and also I wanted to keep it s

[2019-04-21 11:27] akintoluvic commented on #125
@QuincyLarson thanks for the chance to contribute. I should have a rough draft in a week.

[2019-04-21 11:48] HKuz commented on #108
Alright, here's a skeleton of this project [here](https://hkuz.github.io/fCC_D3_CurrExp/), with code repo [here](https://github.com/HKuz/fCC_D3_CurrExp). I would have liked to have gotten a little farther along, but D3v5 threw me and the example code I was using a few curveballs 😅 .

This is a start / WIP, with the following things I want to add in:
- Find country data (like population) to also bi

[2019-04-21 14:42] shimphillip commented on #120
@scissorsneedfoodtoo

Worked on it some more, moved away from codepen to codesandbox. https://codesandbox.io/s/4r6mvpm23w

Finished writing unit tests for each method but I am not sure if they are good tests since I am pretty new to testing. Cleaned up some code as well :)

[2019-04-21 17:16] shimphillip commented on #120
@scissorsneedfoodtoo

I am looking at https://github.com/freeCodeCamp/CurriculumExpansion/tree/master/basic-javascript-role-playing-game

Names of javascript files differ from each other by 10s and 5s. Is this a convention?
Also noticed that he's not handling any bad or wrong inputs, should I not worry about it either?

[2019-04-22 00:03] moT01 commented on #130
@QuincyLarson I made a PR with my first rendition of the instructions - it's linked above. Feel free to look over them if you want, any feedback is appreciated. @scissorsneedfoodtoo was thinking it needs to be broken up a little more, sounds like you are leaning the same way. So I'll probably have to at least do some of that. There's more than a few tests that have additions of way more than two l

[2019-04-22 02:39] scissorsneedfoodtoo commented on #120
@shimphillip, thank you for your patience.

Promotions and discounts is totally fine! You're right that it's more natural in this context. Just forked your project on CodeSandbox and everything LGTM.

There won't be a helper script as far as I'm aware. If you look at the JSON Sports Team project, the user finishes building the basic structure for the team with one player in [index11.js](https://gi

[2019-04-22 02:43] scissorsneedfoodtoo commented on #125
@akintoluvic, sounds good! Just keep us posted. Looking forward to seeing your prototype :+1: :+1:

[2019-04-22 02:59] scissorsneedfoodtoo commented on #119
@lavanganji, sorry for the late response. I've started working on this, but haven't gotten a whole lot done. Mostly just research about how we could do this and starting to work on the JSON structure for the actual articles.

Feel free to pick this up again! I'm always available here on GitHub or to hop on a call if you'd like to talk more about this project.

[2019-04-22 03:16] lmilliken commented on #123
@scissorsneedfoodtoo , here is the updated draft based on your feedback: https://codepen.io/millifly/pen/eoGBPv.  Maybe it's because I haven't done JS DOM manipulation in a while, but it feels very clunky and laborious (it's going to be complicated to explain this in the in-depth instructions).

Let me know if you have further feedback on the code itself and ways to potentially simplify it for a l

[2019-04-22 04:57] scissorsneedfoodtoo commented on #123
@lmilliken, this looks great! Thank you for being so open to my rambling input.

I think that fCC users will learn a lot while working through your lessons to build this. You did a great job here, and used all the best practices as far as I can tell (creating and removing text nodes rather than using `innerHTML`). I suppose you could build a template literal string and `textContent` for the output

[2019-04-22 05:40] S1ngS1ng commented on #115
@QuincyLarson Thanks! I am working on converting that to TypeScript.
Also, I've added `pug` as the template engine.
For the bundle tool, I've been trying out `Parcel` and would add that to the TypeScript version as well.

[2019-04-22 15:39] scissorsneedfoodtoo commented on #110
@lsurasani, thank you for your patience.

I'm sorry, but I misunderstood the goal of this project. I just got off a call with @QuincyLarson and using D3 is totally fine for this project. What we're thinking is that the D3 World Map project will teach the basics of D3 and this one will be more conceptual, teaching things like how to build a simple dashboard and how to build the four basic charts (p

[2019-04-22 22:40] shimphillip commented on #120
@scissorsneedfoodtoo no prob.

I've made first 10 steps so far. I forked and created a branch called shopping-cart. What do you think? https://github.com/shimphillip/CurriculumExpansion/tree/shopping-cart/learn-data-structures-by-building-a-shopping-cart

I wasn't sure how deep I needed to explain certain concepts. I assumed the students know basic JavaScript though.

Had a question on index08.js.

[2019-04-23 02:15] picolloo commented on #98
I'm working on this project and trying to move it to Glitch but something is going wrong when I try to clone the repo, my files do not appear, only the assets directory.

@scissorsneedfoodtoo do you have any idea what I might be doing wrong? I'm simply creating a new project direct from my fork on github.

[2019-04-23 03:24] scissorsneedfoodtoo commented on #120
@shimphillip, this is off to a great start! My only suggestions would be to try and break things down a bit more. Like you mentioned, it's true that students probably would know basic JavaScript by this point in the curriculum, but we can't be sure of how comfortable they are with those concepts yet. It's also possible that they skipped ahead a bit and landed on this project. That said, you don't

[2019-04-23 03:57] scissorsneedfoodtoo commented on #98
@picolloo, I just tried it and it seems like it's not possible since you're working from a mono repo with a lot of other directories. Unfortunately cloning https://github.com/picolloo/CurriculumExpansion/tree/master/issue98-websockets doesn't work, either.

It should be up and running here: https://codesandbox.io/s/mwovmm1jx. Just had to rename `src/server.js` to `src/index.js` due to something ha

[2019-04-23 05:20] scissorsneedfoodtoo commented on #108
@HKuz, looks great so far! Showed your prototype to @QuincyLarson and we're both looking forward to seeing what you do with this. He suggested that you include the world map JSON, along with whatever other data sets you'll use, in your project directory. We should be able to host everything on the platform, and it will be nice for students to open up those files and take a look at them.

Your idea

[2019-04-23 06:05] scissorsneedfoodtoo commented on #124
This project is open for anyone to pick up. See the to do file for more information: https://github.com/freeCodeCamp/CurriculumExpansion/blob/master/css-grid-magazine/TODO.md

[2019-04-23 11:12] scissorsneedfoodtoo opened #160 "Image Hosting for Contributor's Guide"
![faqs-popout-example](https://user-images.githubusercontent.com/2051070/56576362-1c76e600-6603-11e9-9655-5870a68bbb0f.gif)

[2019-04-23 11:12] #160 closed

[2019-04-23 18:47] lsurasani commented on #110
okay, sounds good!

[2019-04-23 19:35] borntofrappe commented on #109
@scissorsneedfoodtoo if possible I'd like to contribute to this project.

Last Sunday I made [this pen](https://codepen.io/borntofrappe/pen/qwKwoV) inspired by a [set of icons on Dribbble](https://dribbble.com/shots/4193533-Best-Icons-Of-The-Month) and I was thinking it could be a great start. It may look simple, but it allows to go through many important features of SVG syntax, from drawing basic

[2019-04-23 21:05] beaucarnes commented on #123
@lmilliken I just checked out the code pen. It looks good to me!

[2019-04-24 02:08] scissorsneedfoodtoo commented on #110
@lsurasani, looking forward to seeing your project!

[2019-04-24 02:25] scissorsneedfoodtoo commented on #109
@borntofrappe, those look amazing! I really dig the style and animations. This would be a great starting point for this project.

No need to send a short list describing your process here. Just going by your pen and message above, I can already tell that you'll teach all of the important concepts that we'd like to cover.

Really looking forward to seeing your finished prototype! This will make for

[2019-04-24 02:33] lmilliken commented on #123
work in progress instructions: https://github.com/lmilliken/CalorieCounter

[2019-04-24 02:50] scissorsneedfoodtoo commented on #123
@lmilliken, that's great! Looking forward to reading all of your instructions soon :+1: :+1:

[2019-04-24 04:03] truclyle commented on #99
@scissorsneedfoodtoo Are there any specific requirements for learning authentication? I am mostly familiar with this process: user provides username & password during signup, password gets hashed and stored in the database with username, and when user logs in, the password is fed through the hashing algorithm to ensure it's the right password. Should I try to incorporate more technology?

[2019-04-24 05:38] scissorsneedfoodtoo commented on #99
@truclyle, I think the process you laid out will be more than enough to teach in this project. No need for anything else!

The problem is that we're trying to get the curriculum working offline, without the use of libraries except where absolutely necessary. This may be one of those cases where a few external libraries are required. We also won't be able to run a server, so many services will have

[2019-04-24 05:50] truclyle commented on #99
I think the only library I will need is bcryptjs. Maybe jsonwebtoken as well if I want to incorporate jwts?

[2019-04-24 05:55] lmilliken commented on #105
I'm currently working on the lessons for the the Calorie Counter.

I'll loop back to update the instructions for this Express.js lesson in a couple of weeks.  In the meantime, anyone is welcome to fork and update: https://github.com/freeCodeCamp/CurriculumExpansion/tree/master/express-strock-trading-platform

[2019-04-24 05:59] scissorsneedfoodtoo commented on #99
I'm sure those are fine! Let's just wait for confirmation before you start building out the entire project.

Until then, can you start building a simple signup page? We can figure out the backend stuff as we go along.

[2019-04-24 06:49] scissorsneedfoodtoo commented on #111
@karuppiah7890, this is definitely off to a great start! Glad that you were able get the `GET` request working. Were you able to get `POST` working in some way? Since this is just a prototype, using local storage or even a simple DB to keep track of the count is totally fine -- we can figure out the offline functionality later.

[2019-04-24 07:29] borntofrappe commented on #109
@scissorsneedfoodtoo great to hear!

I'll get working on the complete project and update you promptly.

If you have any suggestion or a specific SVG topic you'd like me to include let me know. Glad to be of help.

[2019-04-24 08:13] scissorsneedfoodtoo commented on #109
@borntofrappe, awesome! Just keep us posted.

I'll keep thinking on SVG topics and will let you know if I come up with anything.

[2019-04-24 12:28] karuppiah7890 commented on #111
@scissorsneedfoodtoo I didn't try the `POST`. Will try that and try to use local storage to store the count and use it for the `GET` too!

[2019-04-24 14:24] beaucarnes commented on #99
That all sounds good to me. @truclyle Your process looks right. Using bcryptjs makes since.

[2019-04-25 01:59] scissorsneedfoodtoo commented on #99
Thanks for checking this out @beaucarnes!

In that case @truclyle, could you start building the full prototype? Feel free to use any packages or libraries like bcryptjs to get things working. We would like to keep the front end as simple as possible, though, so stick to plain old HTML and CSS for that. When you're finished, please post a link to your prototype on Glitch, CodeSandbox, or some other

[2019-04-25 04:18] scissorsneedfoodtoo commented on #117
@Marmiz, just wanted to check in and see how things are going. I saw your post in the Contributor's Chatroom! Seems like there was some positive feedback.

Were you able to make any progress on the title screen, countdown, and other screens?

[2019-04-25 04:20] scissorsneedfoodtoo commented on #111
@karuppiah7890, okay, no problem! Looking forward to seeing what you come up with :+1: :+1:

[2019-04-25 04:22] scissorsneedfoodtoo commented on #107
Hi @dingjy94, just wanted to check in and see how everything's going with your prototype. Is there anything we can help with?

[2019-04-25 04:26] scissorsneedfoodtoo commented on #100
Hi @brandenbyers, just wanted to check in and see how things are going with your prototype. Is there anything we can help with?

[2019-04-25 08:06] lavanganji commented on #119
@scissorsneedfoodtoo  @QuincyLarson  My idea is to basic search filter and implement algorithms one by one like binary search , linear search etc..
Here is the sample pen https://codepen.io/lganji/pen/rbQLBm. where i used the just the index to search. given address . please share your thoughts

[2019-04-25 12:38] picolloo commented on #98
Oh thanks for helping me @scissorsneedfoodtoo , I'll keep working in codepen from now

[2019-04-26 02:07] scissorsneedfoodtoo commented on #98
@picolloo, no problem! Just let me know if there's anything else I can do. Are you working on the frontend in CodePen now?

[2019-04-26 03:13] scissorsneedfoodtoo commented on #115
@S1ngS1ng, sounds good! Parcel seems like a really neat tool to get things up and running quickly. I don't think we'll be able to use actual Pug template files on the final platform, but we'll certainly be able to use any HTML files that it renders!

[2019-04-26 04:20] shimphillip commented on #120
@scissorsneedfoodtoo

Made some changes to reflect what you suggested. More beginner friendly in the start and teach with examples. How do they look now?

https://github.com/shimphillip/CurriculumExpansion/tree/shopping-cart/learn-data-structures-by-building-a-shopping-cart

[2019-04-26 04:21] Marmiz commented on #117
Hello @scissorsneedfoodtoo, I was waiting for some more feedback from the community about the game before proceeding, but at this point it's probably better to just complete the whole game with those extra features and then seek for more ideas.

I'll work on them in the upcoming days, I'll keep you posted. 👍

[2019-04-26 05:20] scissorsneedfoodtoo commented on #117
@Marmiz, alright, sounds good! You have a really strong project here, so I agree that it's best to add some of those features and start breaking it down into short lessons.

Looking forward to playing the full game!

[2019-04-26 05:53] scissorsneedfoodtoo commented on #120
@shimphillip, looking better! Definitely getting there.

Unfortunately, I think some of the instructions are a bit too long. If you take a look at the [RPG game](https://github.com/freeCodeCamp/CurriculumExpansion/tree/master/basic-javascript-role-playing-game), the instructions are short with as little explanation as possible. Of course that's a beginner's JS project, so yours will probably requi

[2019-04-26 07:40] scissorsneedfoodtoo commented on #119
@lavanganji, teaching different algorithms is definitely a good idea, though I think binary search might be too difficult for students at this point.

If you take a look at the [Learn Algorithms and Data Structures](https://www.freecodecamp.org/forum/t/help-us-build-version-7-0-of-the-freecodecamp-curriculum/263546) section in the post about the new curriculum, your project will fall after basic a

[2019-04-26 09:45] borntofrappe commented on #109
Just wanted to give a quick update to assure you I'm still active. 💪

Two highlights are worth mentioning:

- I've realized I was missing a rather important topic in the `<text>` element;

- I might have found a way to describe the `viewBox` attribute, which is quite important and also not immediatly understood.

[2019-04-26 10:01] scissorsneedfoodtoo commented on #109
@borntofrappe, thanks for the update! Don't feel like you have to teach everything in your project -- a couple of the projects I've been working on don't touch on everything. But if you find a way to incorporate `<text>` elements and the `viewBox` attribute, then go for it!

[2019-04-26 15:53] akintoluvic commented on #125
Already working on the prototype, I should have it on codepen by tomorrow. I'm building it with just html and pure css

[2019-04-26 20:06] S1ngS1ng commented on #115
@scissorsneedfoodtoo All right.
Though, I am using `pug` right now. Here is the [repo](https://github.com/S1ngS1ng/freeCodeCampProject/tree/master/poker-game-ts) for your interest.
Now I am working on the logic part. You may expect some updates this weekend if things are working out on my side 😂

[2019-04-26 21:22] HKuz commented on #108
Alright - getting there on this one! I pulled population data from the World Bank, added the functionality above, and pulled both the JSON and population data files into the project. (That's a good call having it available for students to look at vs manipulating it blindly). Also, I was able to include a scale at the bottom so we can cover the main steps of tying an axis to a scale 👍 . Let me know

[2019-04-27 21:55] akintoluvic commented on #125
@QuincyLarson @scissorsneedfoodtoo this is the link to the prototype on codepen
https://codepen.io/akintoluvic/pen/zXbYrq

[2019-04-28 06:50] truclyle commented on #99
@scissorsneedfoodtoo I started on the front-end part. Can you take a look and let me know if I have enough input fields. https://glitch.com/~fccce-authentication

[2019-04-28 16:11] karuppiah7890 commented on #111
@scissorsneedfoodtoo I used local storage and it worked great! I have deployed the new site https://karuppiah7890.github.io/view-counter-example/ . Check it out and let me know how it looks 😄

[2019-04-28 16:11] karuppiah7890 commented on #111
I just assumed success scenarios for the `GET` and `POST` requests to get the whole thing working

[2019-04-29 01:01] scissorsneedfoodtoo commented on #99
@truclyle, this looks great! There's just the right amount of inputs for a simple, modern authentication page.  Can't wait to see the rest of your project :+1: :+1:

[2019-04-29 01:05] eschafer commented on #127
Hi! I'm just starting to learn about freeCodeCamp, and love the concept. Thanks for all the work you're putting into this!

I had a few thoughts about this accessibility project:

- The title sounds a little off to me. It makes it sound like there are lots of different kinds of websites you can build, and if you happen to need to build a site aimed directly at people with disabilities, this is how

[2019-04-29 01:28] scissorsneedfoodtoo commented on #115
@S1ngS1ng, it's no problem for the prototype! Just wanted to let you know before you start breaking things down into steps, even if you'll only be breaking down the JS/TS parts. Everything in that repo LGTM :+1: :+1:

Alright, sounds good. Just let us know how everything's going and if we can help with anything.

[2019-04-29 01:56] scissorsneedfoodtoo commented on #125
@akintoluvic, looks great! I think students will really learn a lot from your project. I noticed that the photos are a bit stretched, though, so I played around with your code here: https://codepen.io/scissorsneedfoodtoo/pen/rbRZQd

Seems like there are a few options to fix this. You could use `object-fit: cover;` in `.gallery img` to zoom in on the larger/longer photos, explicitly set the height

[2019-04-29 03:03] lionel-rowe commented on #127
Yeah that's sorta what I was trying to get at earlier, but I think your suggestion is better as it expresses the actual end "product". @QuincyLarson @scissorsneedfoodtoo thoughts?

This project won't cover _every_ aspect of a11y by any stretch of the imagination. It's more of a beginner's tutorial that will teach the basics and hopefully provide a solid foundation for adopting it as a way of think

[2019-04-29 04:40] scissorsneedfoodtoo commented on #108
@HKuz, awesome! Everything looks great, especially scale and the tool tip which are really slick. I'm excited to build this!

One small thing I noticed is that the tool tip seems to interrupt the mouse over, for lack of a better term. Maybe it's because of the opacity? I found [this](https://bl.ocks.org/mbostock/1087001) example that has the tool tip move along the mouse. After playing around with

[2019-04-29 06:44] scissorsneedfoodtoo commented on #111
@karuppiah7890, this is coming along really well! I was able to get your code up and running with locally with `parcel`, which is neat little tool. I believe another contributor is using the same package for the Typescript Poker Game.

My only suggestion at this point would be to add a bit of error handling in the `addEventListener`method. It's fine to assume success scenarios at first, but it wou

[2019-04-29 08:17] akintoluvic commented on #125
Thanks @scissorsneedfoodtoo , I will surely note your observations.

[2019-04-29 08:38] scissorsneedfoodtoo commented on #132
@codingk8, just wanted to check in and see how things are going with your project. Were you able to make any progress on a new prototype?

[2019-04-29 08:42] scissorsneedfoodtoo commented on #106
@padunk, just wanted to check in and see how everything's going with this project. Were you able start breaking your lessons down into smaller ones? I left a review here that might help: https://github.com/freeCodeCamp/CurriculumExpansion/pull/148

[2019-04-29 15:15] karuppiah7890 commented on #111
Sure, I will see what basic error scenarios I can think of and try to
implement them!

On Mon, Apr 29, 2019, 12:14 PM Kristofer Koishigawa <
notifications@github.com> wrote:

[2019-04-29 16:12] codingk8 commented on #132
@scissorsneedfoodtoo Yes I did. I followed Quincy's suggestions, identified 15 steps and started working around them.
It's under way but slowly because I'm having a few busy weeks. I plan to finish it next week when I'm back to my normal working rhythm.
The busy weeks were unexpected. Hope it's no problem. I'm sorry of it is.

[2019-04-29 16:33] picolloo commented on #98
@scissorsneedfoodtoo I've already implemented the socket signals and now I'll work on frontend.

I got a question and maybe you can help me:
I want every logged-in user to have a username that was entered on the login screen and attach it to every sended message. I don't have any storage so I tought to use LocalStorage, but I couldn't figure out how I'm suppose to deal with it since I'm using node

[2019-04-30 01:28] picolloo commented on #98
Actually maybe I found the solution, I can use express-session to keep user logged and add a logoff button to the chatroom

[2019-04-30 03:25] scissorsneedfoodtoo commented on #98
@picolloo, glad you found a solution! Looking forward to seeing the final chat room :+1: :+1:

[2019-04-30 03:30] scissorsneedfoodtoo commented on #111
@karuppiah7890, cool! Sounds good. Any sort of basic error handling is fine, doesn't have to be complicated. Let me know if there's anything I can do to help.

[2019-04-30 04:01] scissorsneedfoodtoo commented on #132
@codingk8, awesome! Glad to hear it's underway. Thank you again for all of your hard work and for being so flexible with this project.

Next week is totally fine, no need to apologize. Just keep us posted and let us know whenever your prototype is ready :+1: :+1:

[2019-04-30 05:36] dingjy94 commented on #107
Hi, @scissorsneedfoodtoo . Really sorry for the delay, I had some interviews last weeks so didn't have enough time to work on that.

I had finished that last weekend and it's on [here](https://github.com/dingjy94/build_npm_module). What should I do next? should I make a PR for this?

[2019-04-30 07:53] scissorsneedfoodtoo commented on #107
@dingjy94, no need to apologize! Hope your interviews went well :1st_place_medal:

Yes, please submit a PR here when you can. Then we'll be able to review all of your lessons.

[2019-04-30 16:01] shimphillip commented on #120
Thanks for being descriptive! @scissorsneedfoodtoo

Can you take a look at my index02a.js and index03.js? Tried to make them more similar like your given examples.

https://github.com/shimphillip/CurriculumExpansion/tree/shopping-cart/learn-data-structures-by-building-a-shopping-cart

If you approve, I will follow this format to finish up writing steps for the project.

[2019-04-30 17:21] brandenbyers commented on #100
Sorry this keeps slipping. 😔 My idea, that I still haven't had time to develop, is as follows:

Instead of a fact checker, I'm thinking we focus on a recipe ingredient parser. Then, break this testing lesson up into two parts (either one lesson with two parts or two lessons). One part focuses on the "happy path" and the other focuses on the "not so happy and kind of scary path."

Testing the happy

[2019-04-30 21:48] HKuz commented on #108
Thanks for the thorough review @scissorsneedfoodtoo ! Very helpful comments and thanks for taking the time to figure out that mouseover fix - I thought it was my mouse being glitchy 😅 but it works much better now. The latest project has those changes incorporated. I'm traveling through the weekend, but can get started breaking this down next week 👍

[2019-05-01 02:08] scissorsneedfoodtoo commented on #120
@shimphillip, no problem. Thank you for being so open to feedback and for all of your hard work here!

Those files read much better now. The only suggestion I have is that you can remove some of the explanatory text for things like objects and arrays since students should be pretty familiar with them by now. For example, you don't need to explain that arrays can hold multiple values separated by c

[2019-05-01 11:15] lionel-rowe commented on #127
**Live demos:**

* [Before (challenge at start)](https://fcc-a11y-project.glitch.me/before.html)
* [After (completed challenge)](https://fcc-a11y-project.glitch.me)
* [Source](https://glitch.com/edit/#!/fcc-a11y-project)

**Questions:**

* Based on my understanding of the HTML5 spec, each _section_ (including `nav`, `article`, etc.) has its own hierarchy of `h1`..`h6`. The default Chrome styles ev

[2019-05-01 12:00] zersiax commented on #127
@eschafer  I agree with you regarding the title. A smaller tweak than the one you are suggesting might be to make "for " into "that works for" , e.g. make a website that works for people with disabilities. That still has a ring of "This is a nitch thing" to it, but less so, and it indicates that accessibility is the focus of the exercises.
What we need to get rid of is this mindset that somehow th

[2019-05-01 12:11] lionel-rowe commented on #127
Awesome, thanks for the insight @zersiax !

I'm asking about `h1`s because my "finished" version has a `main > h1` (the main page heading) and also a `nav > h1` (the main heading for that specific `nav` element). In my opinion, it seems unsemantic to change the `nav > h1` to an `h2`, and even less semantic to change the `main > h1` to an `h2`. Ultimately though, I'd rather base this on how screen

[2019-05-01 12:16] zersiax commented on #127
@lionel-rowe  I would lose the h1 above the nav and rely on the fact screen readers can jump to landmarks like a nav element for your instant jump instead. Having a heading 1 above your nav is somewhat non-standard. You could add an h2 to the nav, if your site title is an h1 and your main is also an h2, but you're right that adding an h2 to the nav f your main content is preceded by h1 is a bit od

[2019-05-01 14:57] lionel-rowe commented on #127
@zersiax I'll probably keep the "skip to main content" link for the benefit of keyboard-first or keyboard-only users who _aren't_ using screen readers, though I wasn't aware that modern screen readers include that functionality - good to know!

If `h1` isn't suitable for the `secondary-nav` heading, what would be the most semantic way to mark it up? I suppose I could just use a plain div and style

[2019-05-01 15:50] zersiax commented on #127
You could just not have a heading before the nav, which solves the semantics issue. I actually quite rarely see headings above main navigation bars. When I see them, generally the site title is a heading 1, which actually is rather useless but solves the issue, making the sections (navigation, main, etc) heading two's below the context of the entire page.
If you want to have a heading 1 above the

[2019-05-01 16:02] UsamaHameed commented on #118
Hello, I am back from vacation and can see that the typescript project is in good hands. I think I can take on this one instead. What kind of project do you want here? How versatile should it be? Can we limit it to some simple operations?

[2019-05-01 16:18] lionel-rowe commented on #127
The rationale for the heading is that it's a secondary nav for the specialized purpose of displaying links to previous events. The whole thing is kinda contrived anyway, as they're fictitious events for a pretend organization :wink: .

Due to the specialized purpose, perhaps this shouldn't be a `nav` at all? I could make it an `aside` or something, instead.

[2019-05-01 17:03] scissorsneedfoodtoo commented on #100
@brandenbyers, awesome! @QuincyLarson and I both agree that a recipe ingredients parser is an excellent idea to teach testing. By the way, I had no idea you wrote a cookbook and have a podcast! Seems like a recipe parser is right up your alley. And don't worry, you aren't holding up the project in any way. Feel free to work on it whenever you have some free time!

Right now the best project to loo

[2019-05-01 17:09] scissorsneedfoodtoo commented on #118
@UsamaHameed, sure, the project is all yours! As @QuincyLarson mentioned above, a very simple spreadsheet on a platform like CodePen is totally fine. My thinking is that the spreadsheet doesn't have to be too versatile, and limiting it to a few simple operations is fine. The main goal here is to teach functional programming, so we're good as long as we can do that.

[2019-05-01 18:52] lionel-rowe commented on #127
I've removed all dependencies and updated PR #152 with steps `020` to `230`.

@scissorsneedfoodtoo Does my numbering follow the convention correctly? Switching between changes to the HTML and CSS files, I'm just continuing to increment the numbers each time (e.g. `html010` => `css020` => `html030`).

[2019-05-02 02:22] scissorsneedfoodtoo commented on #127
Hi everyone, great discussion here. @eschafer, you bring up a good point about narrowing the scope of the title. Doing this will make the title read similarly to some of the other projects. Like @lionel-rowe mentioned, this project won't cover every aspect of designing for accessibility, so narrowing of the scope of the title and project is a good idea.

@zersiax, thank you for your insight! As yo

[2019-05-02 05:30] brandenbyers commented on #100
Thanks for the RPG Game recommendation. I'll take a look at that. And yes, I could do a call next week if that works for you.

[2019-05-02 06:20] scissorsneedfoodtoo commented on #100
@brandenbyers, no problem. And I'll send you a calendar invite for sometime next week. Looking forward to talking with you!

[2019-05-02 09:35] scissorsneedfoodtoo commented on #100
@brandenbyers, I sent you an email using the contact form on brandenbyers.com. Not sure if you'll see that or this message first, so please email me at kris@freecodecamp.org whenever you can.

[2019-05-03 05:13] scissorsneedfoodtoo commented on #126
@RafaelDavisH, just wanted to check in and see if you were able to start breaking down this project a bit more. Please take a look at my review here: https://github.com/freeCodeCamp/CurriculumExpansion/pull/146

[2019-05-03 05:17] scissorsneedfoodtoo commented on #110
@lsurasani, just wanted to check in and see how things are going. Were you able to make some progress on your prototype?

[2019-05-03 05:19] scissorsneedfoodtoo commented on #109
@borntofrappe, just wanted to check in and see how everything's going. Were you able to make some progress with your prototype?

[2019-05-03 05:23] scissorsneedfoodtoo commented on #103
@Em-Ant, how's everything going? Were you able to start on this project?

[2019-05-03 07:47] borntofrappe commented on #109
@scissorsneedfoodtoo thanks for checking in

I have made progress in the current prototype, perhaps less than I would have liked, and I am already quite confident in the first 15-20 solutions explaining the project one step at a time.

SVG can be a daunting subject, and I'm trying to balance heavier concepts (the SVG canvas, the viewBox attribute) with lighter and more visually appealing steps (dr

[2019-05-03 20:06] Em-Ant commented on #103
I am quite busy at the moment, I don't think I can do it, sorry. If somebody else want to contribute I think it's better.

[2019-05-04 05:58] sw-yx commented on #115
i am belatedly arriving here and realizing this project is mostly done. any typescript stuff you may want me to look at let me know! is this [the source](https://github.com/S1ngS1ng/freeCodeCampProject/tree/master/poker-game)? where is the typescript in this?

[2019-05-04 06:02] sw-yx commented on #129
it  looks like this issue should be closed, @beaucarnes

[2019-05-04 16:52] S1ngS1ng commented on #115
@sw-yx Hey, thanks for the comment.
Yes, that is the source. I am working on the conversion to TypeScript right now.

[2019-05-04 20:47] waltmurray commented on #133
Hi,

I'm a new student of JS and reviewed this from that perspective. This is my first time contributing to open source, so not sure where the best place is to put my comments ... but here they are:

-Overall it was a nice experience with a cool end product
-The difference between `var` and `let`wasn't explained too clearly at the beginning. Also, the lesson never shows in what scenario you would

[2019-05-05 06:19] karuppiah7890 commented on #111
@scissorsneedfoodtoo I simulated and handled some error scenarios based on the features the mock module provided. I published the changes to https://karuppiah7890.github.io/view-counter-example/ , just clear your storage after loading the page and then reload to see the messages in the console

[2019-05-05 13:05] borntofrappe commented on #109
@scissorsneedfoodtoo sorry for the delay, I've underestimated the amount of time it takes to break down and explain the steps.

I've divided the project in 19 parts, and I'm approaching the end with a few more challenges on the `path` element and the `viewBox` attribute.

As recommended, I tried not to stretch the project too much and stick to a few, important topics. That being said, I'm sure the

[2019-05-06 03:09] scissorsneedfoodtoo commented on #103
@Em-Ant, no problem! Thank you for letting us know. I'll put the help wanted label back on, but please feel free to contribute to the discussion or pick the project back up later if it's still unclaimed.

[2019-05-06 03:25] scissorsneedfoodtoo commented on #109
@borntofrappe, sorry for the delay.

Seems like you're making great progress! Yes, SVG is a pretty daunting subject, so I'm sure students will learn a lot while working through your project.

A spaceship to explain `<path>` sounds like a great idea! Before you continue breaking your project down into steps, could you show us your finished prototype? Would be great to see your spaceship and the res

[2019-05-06 05:15] sw-yx commented on #115
sure thing tag me when you want me

[2019-05-06 06:36] scissorsneedfoodtoo commented on #115
Thank you for your help, @sw-yx!

[2019-05-06 07:51] borntofrappe commented on #109
@scissorsneedfoodtoo Sure 👍

[Here's the complete project](https://codepen.io/borntofrappe/full/WBNmYo). Hope it's enough 🤞

### Notes

- I was unsure as to how explain the `<polyline>`, `<polygon>` and most importantly the `<path>` element while giving precise coordinates. I resolved using circle elements as guiding point, which also plays nicely with the theme of the project. The curve command `

[2019-05-06 07:52] borntofrappe commented on #109
@scissorsneedfoodtoo I completed the description for most steps,

Let me know how I should proceed 👍

[2019-05-06 09:52] scissorsneedfoodtoo commented on #133
@ryanwaltmurray, thank you for your review! You bring up some interesting points that hopefully I'll be able to answer.

For the difference between `var` and `let`, there's a lot to go over that could be overwhelming for the complete beginners this lesson is aimed at. A better explanation is given [here](https://github.com/freeCodeCamp/CurriculumExpansion/blob/master/basic-javascript-role-playing-

[2019-05-06 10:06] scissorsneedfoodtoo commented on #129
@sw-yx, thanks for dropping in! I think we'd like to keep this open until the actual project has shipped. Eventually someone will have to circle back to this project and start writing the actual tests, porting them to Markdown files, and so on. I'll leave this open for now so we can keep the discussion going throughout the rest of the process.

[2019-05-06 10:07] scissorsneedfoodtoo commented on #125
Hi @akintoluvic, how's everything going with this project? Were you able to start breaking this down into steps?

[2019-05-06 10:10] scissorsneedfoodtoo commented on #119
@lavanganji, how's everything going? Hope our discussion last week helped. Were you able to make any progress on this prototype? Is there something we can help with?

[2019-05-06 10:30] scissorsneedfoodtoo commented on #107
Hi @dingjy94, any progress on your PR? Let me know if there's anything I can do to help!

[2019-05-06 10:57] ryanwaltmurray commented on #133
Thanks, that all makes sense. I'll see where I can help out with the unclaimed projects. I could also review more completed projects, but if the new UI is rolling out soon then I'll wait until then to review them. I'll be quite busy until mid-June, but I'll try to chunk out some time.

[2019-05-06 11:00] scissorsneedfoodtoo commented on #105
This project is open for anyone to work on. See the to do file for more information: https://github.com/freeCodeCamp/CurriculumExpansion/blob/master/express-strock-trading-platform/TODO.md

[2019-05-06 11:01] scissorsneedfoodtoo commented on #106
This project is open for anyone to work on. See the to do file for more information: https://github.com/freeCodeCamp/CurriculumExpansion/tree/master/node-js-web-server

[2019-05-06 11:02] scissorsneedfoodtoo commented on #126
This project is open for anyone to work on! See the to do file for more information: https://github.com/freeCodeCamp/CurriculumExpansion/blob/master/responsive-web-design-piano/TODO.md

[2019-05-06 11:17] scissorsneedfoodtoo commented on #133
Thank you for your help! Anything from participating in discussions about each project to reviewing one or building your own is greatly appreciated.

And sorry, I may have overstated how soon the new UI will come out. Really there are two things going on with the UI. There's a refresh coming out soon, and is detailed in the forum post I linked to above. A bigger overhaul is planned for release alo

[2019-05-06 12:59] lsurasani commented on #110
Hey @scissorsneedfoodtoo -- been busy for last two weeks with some stuff at work, so I haven't quite completed it yet, but hopefully tonight or tomorrow. Thanks for checking in!

[2019-05-06 13:10] scissorsneedfoodtoo commented on #110
@lsurasani, no problem! Looking forward to seeing it.

[2019-05-06 15:05] scissorsneedfoodtoo commented on #109
@borntofrappe, thank you again for all of your hard work here. These look great, and the steps you outlined seem like a good way to teach important SVG concepts.

I'm sorry, but I wasn't clear enough at the onset. While we all really like the style of your planets, what we're really looking for is something more along the lines of an actual solar system with multiple planets and a sense of scale.

[2019-05-06 15:37] borntofrappe commented on #109
@scissorsneedfoodtoo absolutely no problem, I misunderstood the assignment. It's been already a very teaching effort so there's no work lost here.

I might need a moment to think it through. but I think there is a way to adapt most steps to create a solar system as shown in the picture. I'll let you know as soon as possible ⚡️

[2019-05-06 22:06] RandellDawson commented on #127
@lionel-rowe, @scissorsneedfoodtoo There is [an open issue for the current curriculum](https://github.com/freeCodeCamp/freeCodeCamp/issues/17503) that has some valid points.  I am wondering if we should incorporate these points into this project?

[2019-05-07 04:42] imvetri opened #164 "Roadmap Question: Is there a plan of having Machine learning in curriculum?"
Hi,

I really appreciate how freecodeCamp's curriculum and currently its mostly about web development. Is there a plan to also have AI / ML in the curriculum just like how web development is taught ?

Thanks!

[2019-05-07 05:37] sw-yx commented on #116
i am interested in helping!

[2019-05-07 05:41] sw-yx commented on #129
ah, apologies. didnt know the norms.

[2019-05-07 06:31] scissorsneedfoodtoo commented on #129
No need to apologize! I'm still figuring them out myself.

[2019-05-07 08:26] scissorsneedfoodtoo commented on #127
@RandellDawson, yes, we definitely should incorporate them. Thank you for bringing them to our attention!

[2019-05-07 08:37] scissorsneedfoodtoo commented on #116
@sw-yx, awesome! We appreciate any help we can get!

It's true that @perezvon's demo is almost there, but we haven't had an update in some time, so I think it's safe to assume that no further progress was made. The project is all yours! I'm sure he won't mind if you fork his Glitch above if you don't want to start from scratch. If he comes back later and can contribute, perhaps the two of you can

[2019-05-07 08:44] ryanwaltmurray commented on #124
I could chip away at this one. This month is very busy for me, so leaving the 'help wanted' tag on wouldn't be a bad idea. I can collaborate with anyone who wants to sign onto it.

[2019-05-07 08:50] scissorsneedfoodtoo commented on #108
@HKuz, hope you had a nice trip over the weekend! Just wondering, do you have about 20 to 30 minutes to hop on a call to talk about your projects? If so, please send me an email at kris@freecodecamp.org!

[2019-05-07 09:00] scissorsneedfoodtoo commented on #124
@ryanwaltmurray, that sounds great! Any help would be greatly appreciated. For this, it would be best to fork the [finished project](https://codepen.io/thecodingaviator/pen/BbMLQM) on CodePen and try to make it more mobile friendly. The [TODO.md](https://github.com/freeCodeCamp/CurriculumExpansion/blob/master/css-grid-magazine/TODO.md) file has some other CSS Grid examples that might serve as insp

[2019-05-07 11:14] lionel-rowe commented on #127
I'm a little confused by that issue and not convinced it's entirely correct, will continue the discussion in that issue's thread.

[2019-05-07 17:18] karuppiah7890 commented on #111
@scissorsneedfoodtoo The gist looks great! I will make those changes in my code and commit it. For `fetch` I need to see how the mocking of `fetch` is done, and accordingly do it. Not sure if I would call it a refactor, there will be some major changes in the code, and I will remove the xml http request mock module. Or I can let xml http request mock to co exist with the fetch mock. The consumer c

[2019-05-07 19:37] sw-yx commented on #116
i will email you :)

[2019-05-07 20:18] borntofrappe commented on #109
@scissorsneedfoodtoo I started working on the new prototype. It's quite barebone, but [here it is](https://codepen.io/borntofrappe/pen/gJpKxx).

While researching the topic I realized that considering the size of the planets **and** their distance at the same time would have made for a very wide canvas, in which the planets get lost.

 Taking inspiration from [the graph in the wiki page](https://u

[2019-05-08 05:44] scissorsneedfoodtoo commented on #111
@karuppiah7890, glad it looks good! Please take another look because there's a good chance I missed a semicolon somewhere.

Don't worry! No need to make major changes to your code. My thinking was that your project would first teach `XMLHttpRequest`, then refactor that code to use `fetch`. I've been playing around with it a bit, but I couldn't get `fetch` to work with `MockXMLHttpRequest`. I was a

[2019-05-08 05:52] karuppiah7890 commented on #111
Sounds good to me 👍 and what will we do to mock XML http request or even
fetch later? Like in the platform

On Wed, May 8, 2019, 11:14 AM Kristofer Koishigawa <notifications@github.com>
wrote:

[2019-05-08 09:43] scissorsneedfoodtoo commented on #111
That's a great question! I guess I shouldn't speak too soon since I don't have many details about the updated platform yet. It's possible that a bundler like Parcel or Webpack will be used the more complicated projects like this or the Typescript one, but I really can't say for sure. Just to give you an idea, for other projects like creating an NPM module, we will probably have a fake console and

[2019-05-08 10:30] karuppiah7890 commented on #111
Cool! I'll checkout the RPG Game and ping here if I get stuck

On Wed, May 8, 2019, 3:13 PM Kristofer Koishigawa <notifications@github.com>
wrote:

[2019-05-08 15:06] perezvon commented on #116
Hi, I'm here! I got a bit overrun by other life stuff, though, hard to believe it's been this long, sorry about that! I just pushed my latest to the Glitch; the left/right movement is not working and you can't rotate pieces yet, but it does do collision detection more or less properly, IIRC. Anyways @sw-yx if you want to fork what I've got I'd be more than happy to share the duties, or pass the to

[2019-05-08 16:50] beaucarnes commented on #133
@ryanwaltmurray Thanks for reviewing this project. I'll think about how I better explain the difference between let and var in the project. For the console log, I think the UI will make it more clear where to look once it is complete.

Thanks for pointing out that the pick function is missing. I actually have that on my local copy but for some reason the version on GitHub is missing the last few l

[2019-05-09 01:42] picolloo commented on #98
Hey @scissorsneedfoodtoo, is there a way to get changes made in codesandbox and push to the github repository?

[2019-05-09 02:28] scissorsneedfoodtoo commented on #98
That's a good question! I've never done that, so I can't say for sure. Hopefully this page will help: https://codesandbox.io/docs/git

[2019-05-09 06:47] scissorsneedfoodtoo commented on #164
@imvetri, that's a very good question! From what I understand, there are many things we would like to do with the curriculum in the future, including things like teaching Python, math for programmers, and perhaps even machine learning. I can't say for sure when any of that will happen, though, especially now that we're focused on revamping our current challenged based curriculum to one that's proj

[2019-05-09 06:47] #164 closed

[2019-05-09 07:18] imvetri commented on #164
@scissorsneedfoodtoo I did open a discussion [issue](https://github.com/freeCodeCamp/freeCodeCamp/issues/17486#event-2322319434) in the main repo. I was asked to continue the discussion here.

Like you said, I will continue to the forum to start a discussion thread there. Thanks for the prompt response.

[2019-05-09 07:19] imvetri commented on #164
@scissorsneedfoodtoo  Looking at the project page, the discussion threads there are different from what I'm proposing now.

What I would like to see/have is the future goals of this project. How can contributors initiate conversation about it?

[2019-05-09 11:16] ryanwaltmurray commented on #124
@scissorsneedfoodtoo I reviewed the finished product and CSS grid examples and have a question before continuing. My question is about whether we should incorporate CSS multi-column layout into the lesson and showcase CSS grid in other ways (sidebar images for example). The current lesson basically showcases CSS grid by positioning everything into columns with grid-template-areas. However, this is

[2019-05-09 11:54] UsamaHameed opened #167 "Learn React Hooks by building a scroll bar"
Hello,
I tried searching in the issues but found nothing about react hooks. I think there should be a little project where students are allowed/encouraged to use react hooks only. Or, they are asked to convert one of their existing react projects to use hooks.

In case this is found desirable, I can work on this work.

[2019-05-09 12:45] scissorsneedfoodtoo commented on #164
@imvetri, sorry, I didn't realize that you already created an issue in the main repo. In that case, one thing you could do is create a new general forum post in the fCC forum and label it "Feature Request: Teach Machine Learning". A lot of regular contributors hang out there, and I'm sure they would be happy to discuss adding something like this to the curriculum in the future.

Please let me know

[2019-05-09 13:18] scissorsneedfoodtoo commented on #124
@ryanwaltmurray, yes, I believe you're right in that there's no good way to replicate CSS multi-column layouts in CSS grid, at least without manually wrapping text in `<div>` elements. Like you mentioned, it would be best to showcase CSS grid to layout major elements of the page like the sidebar images and the areas for text. Then inside of those text areas, using `column` or other CSS multi-colum

[2019-05-09 13:37] borntofrappe commented on #109
I'm up for it 👍

I sent you a mail at the provided address (sorry for the mishap).

[2019-05-09 15:03] sw-yx commented on #167
i would recommend not further expanding the scope. react hooks are idiomatic react, lets just include them in all react projects (but also use classes since they are widespread)

[2019-05-09 21:23] beaucarnes commented on #106
I can work on this. I'm not sure the current method of using a switch statement to figure out the files to load is the best / simplest method.

[2019-05-10 07:59] scissorsneedfoodtoo commented on #106
@beaucarnes, thank you for taking this on! Yes, we talked about the switch statements online and how there's probably a better way, but it was never revised.

[2019-05-10 08:14] scissorsneedfoodtoo commented on #167
Yes, I agree. It would be better to try and include this in the [React Flappy Bird](https://github.com/freeCodeCamp/CurriculumExpansion/issues/117) project if possible. Still, thank you for your suggestion, @UsamaHameed!

[2019-05-10 08:14] #167 closed

[2019-05-10 08:43] scissorsneedfoodtoo commented on #116
@perezvon, sorry, I just saw your message. Thank you for your updates! No need to apologize at all. Would you and @sw-yx like to finish this prototype together?

[2019-05-10 12:04] vkWeb commented on #101
@scissorsneedfoodtoo I am interested in tackling this. I am new to the JavaScript world but I have prior experience with C and C++. I am aware of basic ciphering techniques like Caesar's cipher and Vigenere's cipher. These two techniques cover the basics of cryptography like the input string, encryption key, and the out ciphered(encrypted) text.

Umm, I am not sure how we'll demonstrate the saltin

[2019-05-10 14:14] scissorsneedfoodtoo commented on #101
@vkWeb, great to see you again!

This one will be tricky. While CS50's Crack problem looks great, it uses the `crypt` program which I believe we're trying to avoid here. We would like to teach the fundamentals of cryptography here, so it would be best to stick to the basics and implement Vigenere's cipher. There's probably no need to teach about things like salt since that would over complicate th

[2019-05-10 15:37] akintoluvic commented on #125
@scissorsneedfoodtoo I was held back a little by work, will get started on it immediately

[2019-05-10 16:05] ryanwaltmurray commented on #124
Here's the prototype, let me know if there's any comments!

https://codepen.io/ryanwaltmurray/full/mYVgpv

[2019-05-10 16:20] sw-yx commented on #116
i dont understand this weird multicolored pieces and when i move a piece the piece stays behind...
![image](https://user-images.githubusercontent.com/6764957/57541896-0fa20400-731e-11e9-8bce-0d6549673fcf.png)

[2019-05-10 16:41] akintoluvic commented on #125
I like the what you did with the Cat Photo App, it is quite simple to understand

[2019-05-10 19:29] vkWeb commented on #101
@scissorsneedfoodtoo Thanks, man :) I missed you people and freeCodeCamp a lot <3. It's nice to be here. Actually, I was studying for my entrance exams. Now my exams are over. So, I have started my coding journey from scratch. I started only a few weeks ago with CS50, it's my first computer science course. Soon, I'll pick up with freeCodeCamp curriculum but first I'll try to make a grip on Data st

[2019-05-11 01:25] padunk commented on #106
Hi All,

Sorry for the late reply.
I already break it down to smaller steps, but not finished it yet.
I will finish this today.

Thanks.

Sent from Mail for Windows 10

From: Kristofer Koishigawa
Sent: Friday, May 10, 2019 14:59
To: freeCodeCamp/CurriculumExpansion
Cc: abraham anak agung; Mention
Subject: Re: [freeCodeCamp/CurriculumExpansion] Learn Node.js by Building aWeb Server (#106)

@beaucar

[2019-05-11 07:01] scissorsneedfoodtoo commented on #106
@padunk, thank you for reaching out and continuing to work on this! Please hold off for a moment, though. Right now the plan is to change the project so it's more like this example: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Node_server_without_framework

[2019-05-11 11:06] beaucarnes commented on #106
@padunk I already updated your server code to be more similar to the example linked to above. This server will be able to serve any number of files, including css and images. However, it doesn't handle POST requests like yours does. I just thought that could be a good way to simplify things.

I'd love to hear your thoughts on this. Maybe there are some parts of your implementation that would be go

[2019-05-12 03:48] padunk commented on #106
@beaucarnes The server looks good. And I like the idea of serving a different kind of file types, although I think handle POST request is also important, but maybe not at this stage. One thing I don't understand from the code is when it hit `404` why give back status `200`?
[code]
Other than that I think the code is ok.

[2019-05-12 06:14] RafaelDavisH commented on #126
@scissorsneedfoodtoo I got really busy this past week. I can take care of this if its ok and no one has taken it.

[2019-05-13 00:23] truclyle commented on #99
@scissorsneedfoodtoo Can you take a look at my server.js file and see why my form data is not getting sent to the server? https://glitch.com/~fccce-authentication

Based on the error message, I think the form data is not being sent as JSON, therefore I cannot return a JSON object.

[2019-05-13 00:30] dingjy94 commented on #107
@scissorsneedfoodtoo I had created the PR #168 . Please check and tell me what I should do to improve it.

[2019-05-13 02:01] scissorsneedfoodtoo commented on #107
@dingjy94, great! I'll take a look at it ASAP :+1: :+1:

[2019-05-13 02:05] scissorsneedfoodtoo commented on #126
@RafaelDavisH, no problem! Yes, please take another pass at it if you have some time. Please take a look at the review comments I left in [your PR](https://github.com/freeCodeCamp/CurriculumExpansion/pull/146) before it was merged for a more detailed review. Also, do you have about 20 to 30 minutes for a quick call later this week? I'd be happy to discuss your project and how we can break down som

[2019-05-13 02:12] scissorsneedfoodtoo commented on #125
@akintoluvic, no problem! Work definitely comes first. And the Cat Photo App was actually done by @beaucarnes, it's just showing me as a contributor because I changed the directory name after it was already merged. He has a knack for writing these short instructions/test descriptions. Please use that or the [CSS Animations Ferris Wheel](https://github.com/freeCodeCamp/CurriculumExpansion/tree/mast

[2019-05-13 03:18] scissorsneedfoodtoo commented on #99
@truclyle, I just took a look and see why you were having some issues. This threw me off, too! Middleware like body-parser are included in Express 4.16.x again, so no need to install it separately with npm. All you have to do is configure body-parser and any other middleware you need before defining your routes. So adding the following lines should solve your issue:

[code]

Here's a great post on

[2019-05-13 03:53] truclyle commented on #99
@scissorsneedfoodtoo This is my second time making this mistake! Thank you so much. I've added bcrypt to hash the user's password. Right now I'm at two roadblocks: what do I do with the user's registration info (_we don't want to use a database, right?_) and should I add client-side validation (_password fields should match_)?

I'll take a look at my calendar and email you a time tomorrow. Thank y

[2019-05-13 06:59] scissorsneedfoodtoo commented on #99
@truclyle, no problem, glad it helped!

Those are great questions. For the prototype, feel free to use any sort of database or package just to get things working. In the future we might look at using something like local storage to mimic a real DB. And yes, client side validation would be great if it's not overly complicated!

[2019-05-13 15:04] shimphillip commented on #120
@scissorsneedfoodtoo

Just letting you know that this project isn't abandoned. I am slowly making progress. I hope to finish writing test descriptions by next week.

[2019-05-13 18:56] beaucarnes commented on #106
@padunk Yeah, you are right, that should be `404`. I had taken over the project since we hadn't heard from you for awhile. But you can take it back over if you would like.
Just let me know if you want to keep working on this or if I should do it.

[2019-05-13 19:43] beaucarnes commented on #103
@QuincyLarson I notice there is no project that specifically teaches mongoose. In the current curriculum, MongoDB and mongoose are taught together. Are you ok with mongoose and MongoDB being taught together in this project.

I am thinking this project could be a simple node / express web server with CRUD API endpoints that all connect to MongoDB using mongoose. That will be more real-world than a

[2019-05-13 21:05] Em-Ant commented on #103
I agree. I tried, but it's quite hard to mock/simulate a mongo console in the browser. A CRUD app would be much  easier.

[2019-05-14 02:16] scissorsneedfoodtoo commented on #103
@beaucarnes, that's a very good point! I could definitely see it going that way where students build out the different DB operations for each endpoint, and it would be a more realistic application. Sorry @Em-Ant, I was under the impression that this would be more like the NPM module project that requires a mock CLI. But an actual CRUD app would allow for more possibilities like teaching Mongoose.

[2019-05-14 03:22] lavanganji commented on #119
Hi @scissorsneedfoodtoo <https://github.com/scissorsneedfoodtoo> i am
working on it , i will post an update soon this week.

On Mon, May 6, 2019 at 5:10 AM Kristofer Koishigawa <
notifications@github.com> wrote:

[2019-05-14 04:46] sw-yx commented on #116
i have gotten started with a fork: https://glitch.com/edit/#!/swyx-redux-tetris-fcc?path=src/reducers/game.js:59:26

it doesnt work yet but i've updated the reducers to the format in which i think makes sense. needs a little more design work around the game tick and row clearing and scoring.

[2019-05-14 13:05] codingk8 commented on #132
@scissorsneedfoodtoo @QuincyLarson
Working on it + urgent question!
Are we all OK that this project is NOT supposed to be responsive???!!!?!
Because all the positioning makes it a bit of a mess. Please let me know asap about your expectations on that point so that I can adjust what I'm doing.
Many thanks 🌸

[2019-05-14 13:54] lionel-rowe commented on #127
PR #152 is now a complete first draft. It'd be great if someone could code review the new content.

[2019-05-14 14:27] sw-yx commented on #99
rooting for you from the sidelines @truclyle!

[2019-05-14 15:12] QuincyLarson commented on #103
Yes - I agree with @Em-Ant - until we design a browser-based mock command line interface type environment (which we will eventually need for teaching Bash and Git) we will just want to focus on building a CRUD app and explaining what the endpoints would do (or perhaps yet having mock responses for endpoints when they run the tests).

[2019-05-15 01:12] scissorsneedfoodtoo commented on #108
@HKuz, thanks again for taking the time to talk! I took a quick look at the [D3 page](https://d3js.org/), and there are some instructions for including the library locally. Just thought I'd mention it before you get too deep into writing your test descriptions.

I'm really looking forward to seeing your completed project :+1: :+1: Please just let me know if there's anything I can do to help.

[2019-05-15 02:36] scissorsneedfoodtoo commented on #132
@codingk8, I think it's fine for this project not to be responsive since there is already a responsive piano project. Still, it would probably be best if the Picasso painting isn't too large so it's still possible to work on it even on smaller screens. What do you think, @QuincyLarson?

Also, do you have about 20 to 30 minutes to talk sometime next week? I'd just like to learn more about you and a

[2019-05-15 03:50] padunk commented on #106
@beaucarnes Ok, I will work on this project. Do you have any idea about this project?
I will be happy to hear it. Thanks.

[2019-05-15 15:48] codingk8 commented on #132
OK. Here's the [first draft](https://codepen.io/codingk8/full/qGOXmM?editors=1100)
Could probably been fine-tuned but I find it quite complex already. I let you tell me what you think is OK and what you think should be changed.
It's not responsive, there's a mix of px and %. It looks rather cool on my 12', I hope it still does on a bigger screen.
@scissorsneedfoodtoo Emailing you right now

[2019-05-15 17:49] QuincyLarson commented on #132
@codingk8 Wow - this looks really cool! A side-by-side comparison for everyone's reference:

<img width="1357" alt="Learn_CSS_by_Building_a_Picasso_Painting_·_Issue__132_·_freeCodeCamp_CurriculumExpansion_and_Picasso_CSS_-_Three_musicians" src="https://user-images.githubusercontent.com/985197/57796564-1c539d00-770e-11e9-97b1-328a9d474b2c.png">

As @scissorsneedfoodtoo mentioned, this doesn't need

[2019-05-15 19:00] beaucarnes commented on #106
@padunk I just made a PR with everything I did when I didn't know you were working on the project. I simplified the HTML files. Plus I added some images and a simple CSS file. You don't have to use what I created. But maybe it will give you some ideas.

[2019-05-16 03:06] scissorsneedfoodtoo commented on #132
@codingk8, this is looking great! Really simplifies things nicely while still capturing the spirit of the original painting.

I agree with adding in a rectangle for the guitar neck, but other than that, this looks ready to be broken down into steps.

[2019-05-16 04:33] scissorsneedfoodtoo commented on #132
@codingk8, I just noticed a couple of things while taking a closer look at your prototype. First, I notice that you use a lot of IDs for your styling. Would it be possible to change those to classes? Styling IDs is fine, especially if they're for unique elements like you have here. Though it's my understanding that it's better to style with classes whenever possible because ID selectors have a hig

[2019-05-16 07:13] padunk commented on #106
@beaucarnes Ok. I will take a look at it.

[2019-05-16 09:56] scissorsneedfoodtoo commented on #124
@ryanwaltmurray, thank you for your patience. This looks great! Thank you for updating this prototype. The mobile responsiveness works really well, and I like the way the larger elements shift from vertical to horizontal alignment depending on the screen size.

This definitely seems ready to break down into short lessons. The [CSS Animations Ferris Wheel](https://github.com/freeCodeCamp/Curriculum

[2019-05-16 10:07] scissorsneedfoodtoo commented on #101
@vkWeb, so sorry for the delay. I responded over the weekend, but for some reason my message isn't showing here.

Definitely glad to have you back! Hope all of your exams went well. I've heard so many good things about CS50, and I'm sure it'll help as you practice more data structures and algorithms with this project.

Caesar's Cipher would be a simple way to introduce some cryptography fundamenta

[2019-05-16 11:03] scissorsneedfoodtoo commented on #116
@sw-yx, awesome, thank you for the update. Looking good so far! Can't wait to play the full game when you're finished.

[2019-05-16 11:05] scissorsneedfoodtoo commented on #118
@UsamaHameed, just wanted to check in and see how everything's going with this project. Were you able to make some progress on a prototype?

[2019-05-16 11:06] scissorsneedfoodtoo commented on #110
Hi @lsurasani, were you able to finish your prototype? Looking forward to seeing it soon!

[2019-05-16 11:09] scissorsneedfoodtoo commented on #117
Hi @Marmiz, just wanted to see how everything's going. Were you able to add those features to your project? If so, could you post an updated prototype here?

[2019-05-16 11:10] scissorsneedfoodtoo commented on #119
@lavanganji, that's great! Looking forward to hearing more about your project :+1: :+1:

[2019-05-16 11:12] scissorsneedfoodtoo commented on #98
@picolloo, how's everything going? Were you able to sync your changes on CodeSandbox to your GitHub repo? Anything I can help with?

[2019-05-16 11:45] picolloo commented on #98
@scissorsneedfoodtoo I'm working on the session task, the logged users are being saved in memory with an ID and name thanks for the express-session. Now I have to connect the user identified by the request to the socket.io but the way I did it is getting a little hard since all the users are in a list in a single file that is not accessible through the socket module.
Do you have any idea of how sh

[2019-05-16 11:47] picolloo commented on #98
The most updated code still in codesandbox if you want to take a look.

[2019-05-16 12:51] codingk8 commented on #132
@QuincyLarson @scissorsneedfoodtoo Thanks for the positive feedback! Glad you like the result!
I'm going to do the changes we talked about and see how it all can be improved.
I get back to you with a next version of the draft probably middle of next week.

[2019-05-16 16:05] sw-yx commented on #117
i played it a bit, i do agree its a little too hard :) but hey its really great for a first react project regardless!

[2019-05-16 16:06] sw-yx commented on #118
as someone who's tried doing this.. we may need to limit the scope a bit. spreadsheets are very hard to make right.

[2019-05-16 16:07] sw-yx commented on #116
yeah trouble is finding time for it right now. i also took way too long to arrive at the gameTick model i wanted.

[2019-05-16 19:56] shimphillip commented on #120
@scissorsneedfoodtoo

Alright I am done! Can you take a look?

https://github.com/shimphillip/CurriculumExpansion/tree/shopping-cart/learn-data-structures-by-building-a-shopping-cart

[2019-05-16 21:23] UsamaHameed commented on #118
@scissorsneedfoodtoo I worked on it a bit but nothing to see right now. Just caught up in my job (thanks to fcc btw) and daily routine. @sw-yx I will definitely only work on a minimal working project first.

[2019-05-17 03:37] Marmiz commented on #117
@scissorsneedfoodtoo still a WIP I'm afraid, I will post an update as soon as I am happy with the result.

@sw-yx glad you liked it. I will play around with game design and see how it could be eased.
Imho the two main things are: the pipes goes too fast / the delta height of adjacent pipes couple can be too much.
Anyway this can be a nice "extra" for future campers: make your own gameplay 😄

Lastl

[2019-05-17 04:26] scissorsneedfoodtoo commented on #117
@Marmiz, no problem! Thank you for the update. Reducing the speed and the height of the pipes would go a long way in reducing the difficulty. And that's a great idea -- maybe a short note at the end of the project inviting students to modify the project so the difficulty ramps up over time, or some other gameplay feature.

About hooks, I think it would be better to teach the older way first. You c

[2019-05-17 05:11] scissorsneedfoodtoo commented on #98
I'm not sure of the best way to store the users right now, but I'd be happy to look into it over the next few days. Perhaps a single file with a bunch of user objects would be best, as long as we can get it working with socket.io. When we start breaking this project down we might have to work with local storage to hold the user list since we want this to work offline. But anyway, that's something

[2019-05-17 05:14] scissorsneedfoodtoo commented on #118
@sw-yx, yes, that might be something to consider. Really these projects are all just suggestions, and can be changed if a better idea comes along. Anything that teaches functional programming would be fine!

@UsamaHameed, no worries. Glad you got caught up at work! Please let us know when you have a simple spreadsheet, or if you have another idea for a project.

[2019-05-17 18:38] sw-yx commented on #117
i use hooks in my redux project :)

[2019-05-18 06:27] sw-yx commented on #116
woohoo! basic stuff working. https://glitch.com/edit/#!/swyx-redux-tetris-fcc?path=src/utils.js:20:96

![tetris](https://user-images.githubusercontent.com/6764957/57965610-876ec080-7914-11e9-9fd8-a200a3405c1f.gif)

[2019-05-18 09:16] vkWeb commented on #101
@scissorsneedfoodtoo, No problem mate. Yes, my exams went well :)

Umm... If we implement Vigenere then we'll ultimately give away the logic of the Caesar. I think we should implement Caesar and update the project to Vigenere or any other more difficult ciphering technique. What do you think?

Btw, I am planning to first quickly push the ciphering prototype and then the hasher because it'll take s