[2020-05-05 10:40] NitronR commented on #296
@scissorsneedfoodtoo I have noticed that some problems from Arcade mode were not moved to curriculum. For example, some of the problems from [this](https://github.com/freeCodeCamp/arcade-mode/tree/master/client/scripts/challenges/rosettacode/formatted/F)  folder were not moved.
@anastasiasoenjoto Thank you for the work. You can go ahead and add these. I am currently working on the challenges that

[2020-05-05 10:54] scissorsneedfoodtoo commented on #296
Awesome, thanks for confirming that @NitronR. Perhaps @anastasiasoenjoto can work on those missing problems next.

@anastasiasoenjoto, just to give you a bit of context, @NitronR and other were working on Arcade Mode some time ago, but eventually that got folded into the main platform's Coding Interview Prep section. The only thing we need to be careful of is not to port over problems that already

[2020-05-05 17:56] anastasiasoenjoto commented on #296
@scissorsneedfoodtoo @NitronR Thank you for your response! I can definitely work on these missing problems next. I'll make sure to double check so that I don't create similar problems.

[2020-05-06 04:41] scissorsneedfoodtoo commented on #296
@anastasiasoenjoto, awesome, thank you for helping us improve this section of the Coding Interview Prep section! Looking forward to seeing all the challenges you and @NitronR create.

[2020-05-06 06:41] anthonyzeng99 commented on #296
I've added a lesson for "Run-length Encoding" here:
https://github.com/freeCodeCamp/freeCodeCamp/pull/38743

@NitronR Sorry, I didn't see that you were working on lessons through S. I finished this
one before I saw your comment.

[2020-05-06 06:55] NitronR commented on #296
@anthonyzeng99 No problem. Thank you for your hard work :)

[2020-05-08 17:04] kylayujiri commented on #296
Hi, I'm working with @anastasiasoenjoto and I was looking through the Arcade mode challenges that @NitronR linked. If my crosschecking is correct, then the following problems have not been moved over to the Interview Prep section:

- FASTA
- Find largest left truncatable prime in a given base
- Find palindromic numbers
- Find last Sunday (however, this one is similar to Project Euler's Find Sunday

[2020-05-08 17:25] NitronR commented on #296
@kylayujiri Thanks for checking those out. You can definitely work on these. I would suggest using the content from the files themselves as only the format is different and it would be faster to port these over. These file contents were already reviewed and hence they are mostly good to use as is.

[2020-05-09 11:25] TevaHenry commented on #251
This project is really well done.

- The documentation is thorough enough.
- Inclusion of DOM manipulation.
- There is more of a focus on writing tests (than current projects in the curriculum).

A minor change, especially for non native english speakers, could be to add a comment on the different word sets (e.g. as shown in attached screenshot).

![wordlist-comments](https://user-images.githubuse

[2020-05-10 15:55] gulshansainis commented on #251
The project requirements are very clear and test cases cover the requirements pretty well.
We should encourage the person to write test first. It is possible to submit the solution even if we do not write any tests.

[2020-05-11 09:14] scissorsneedfoodtoo commented on #296
Thanks for taking a look at all of those @kylayujiri. You're right, all of those seem to be missing from the current Rosetta Code challenges. Also, feel free to port "Find Last Sunday" challenge -- it seems different enough from the Project Euler problem.

And thanks for joining the porting effort @anthonyzeng99. I'll take a look at your PR now.

[2020-05-12 04:35] scissorsneedfoodtoo commented on #251
Thank you for taking a look at this project and for your suggestions @TevaHenry and @gulshansainis. I like the idea of adding the comment for the different word sets. I'll make sure to add that to the boilerplate and solution now.

Yes, that's unfortunately a problem with a lot of the new projects and a handful in the current curriculum -- we aren't able to ensure that all tests pass or that the p

[2020-05-12 04:41] TevaHenry commented on #250
Seemed quite challenging in the beginning, and not as well documented as the American/British Translation Project.

There is also a reference to a function in the HTML code, on textArea input, that could be predefined in sudoku-solver.js
This would not only give an idea on where to begin, but also avoid experiencing a bug pertaining to code not written by the student.

![Screen Shot 2020-05-12 at

[2020-05-12 05:17] TevaHenry commented on #251
I have completed the project, @scissorsneedfoodtoo.
Given the student follows the freeCodeCamp curriculum in order, this project is quite feasible. As you have a clear sense of what you should be doing throughout the project, I would have it as one of the first projects from the certification to build confidence.

[2020-05-12 08:27] scissorsneedfoodtoo commented on #251
Awesome, thank you for taking the time to build the project and for your valuable feedback, @TevaHenry. It's great to know that you think it's appropriate for students at this point the curriculum. We'll certainly consider rearranging the projects for this certification so this is one of the first projects and helps build confidence like you mentioned.

[2020-05-12 08:42] scissorsneedfoodtoo commented on #250
Great, thank you for catching that @TevaHenry. I must have forgotten to remove that when creating the boilerplate. That's something students should implement themselves.

Also, great point about the documentation not being as good as the American/British Translator. I'll make sure to update the solution and boilerplate so it's more clear where the error message should be appended, and so on.

[2020-05-12 19:12] julieg18 commented on #251
Great project! I had a lot of fun, and it was really well made. The only issue I had difficulty with was with the unit tests. My code was working perfectly but the unit tests failed due to a function that didn't work in NodeJS, but worked fine browser side.

[2020-05-13 01:43] TevaHenry commented on #250
Glad to help in anyway I can, @scissorsneedfoodtoo.

I would have this as one of the last projects in the section as it is quite challenging (in contrast to other freeCodeCamp projects). The difficulty lies in writing the algorithm to solve the sudoku puzzle. So much so that it overshadows the testing and feels out of place in this section. However, as @gulshansainis suggested, emphasis on writing

[2020-05-14 10:29] scissorsneedfoodtoo commented on #250
Thanks for your feedback @TevaHenry. I agree that this challenge will be quite difficult, mostly due to writing the sudoku solver code like you mentioned. We're thinking of increasing the difficulty for some of the current certifications, though we want them to be challenging, not frustrating.

What I'm thinking is that we can include some simple sudoku puzzle strings and their solutions in the `p

[2020-05-14 10:37] scissorsneedfoodtoo commented on #251
Awesome! Thanks for your feedback @julieg18. Could you share your solution? I'm curious about the function you mentioned. It's possible that other campers will run into similar issues.

After a meeting the other day, we decided to increase the difficulty of this project slightly. We're thinking that we should require the translator to handle quotations ("..." vs '...'), titles (Dr. vs Dr), and may

[2020-05-14 10:52] julieg18 commented on #251
I was using `Object.fromEntries()` but since that code doesn't work in node, I wrote my own function that did the same thing as `Object.fromEntries`. That would definitely up the challenge of the project! Sounds fun for me, but I'm not sure how it would feel for newer coders. Maybe you could make it optional, for the coders who want to challenge themselves more.

[2020-05-15 00:06] TevaHenry commented on #250
I think that is a good sentiment, @scissorsneedfoodtoo. Although challenging, this project never felt frustrating.

The additions you mention are great, and I don't think they remove the challenging aspect of the project. It just provides guidance to not linger with the algorithm.

[2020-05-15 00:23] TevaHenry commented on #251
I think this is a good idea. Given the current requirements, it wouldn't be a major rise in difficulty.

[2020-05-15 01:55] scissorsneedfoodtoo commented on #251
@julieg18, that sounds like a great way to handle the problem. Surely much cleaner than the way I used multiple arrays to track different changes. That's a good point, we may try to make these things optional, or at least give very simple examples in the unit tests file.

@TevaHenry, awesome, glad you think it wouldn't make the project too difficult.

[2020-05-15 02:00] scissorsneedfoodtoo commented on #250
Great, thank you @TevaHenry. Your feedback really puts my mind at ease with this project.

It's certainly daunting to build a sudoku solver, but hopefully those additions will help communicate that we don't expect a perfect solution and that writing tests is more important.

[2020-05-15 20:22] kylayujiri commented on #296
I believe I missed the following challenges when cross-checking so I'll work on moving these to the Rosetta Code Interview Prep Section as well.

- Fast Fourier transformation
- Filter
- Find common directory path
- Flatten a list
- Floyd’s triangle

[2020-05-17 06:13] TevaHenry commented on #245
Here are a few issues I was able to pick up on while completing this project:
- The README mentions clicking on "Full Page Console" in the "tools" dropdown. For me it was "Terminal"
![Screen Shot 2020-05-17 at 6 02 11 PM](https://user-images.githubusercontent.com/35941084/82137061-9b6f3a00-9868-11ea-8c43-36fdfd7a78a5.png)

- Boilerplate code has the Player and Collectible class constructors expect

[2020-05-19 04:10] scissorsneedfoodtoo commented on #245
@TevaHenry, thank you for your detailed feedback. You caught a lot of the things I removed when I shouldn't have, or forgot to update from my local copy.

Also, thank you for catching that bit with the README file. I've gone in and fixed it for this project, along with the sudoku and American/British English translator projects.

[2020-05-19 05:52] natea123 commented on #243
Got stuck on socket.setdefaulttimeout() as I was not familiar with the socket package so staring at a blinking cursor after running had me confused if my tests were failing or the socket connection was failing.

Other than that clear instructions and gave just enough info to get Googling around to learn about the socket package.

[Link to solution](https://repl.it/@natea123/fcc-port-scanner)

[2020-05-19 19:17] kunalrustagi08 commented on #231
This is a great project to get learn string formatting. I enjoyed solving it.
This is the link to my [arithmetic_arranger](https://gist.github.com/kunalrustagi08/3fc1163035f35627a29b4ae60b4d4830) .

[2020-05-21 00:09] robertue1 commented on #231
It really helped me to learn some formatting.

Here is the link of my resolution: [arithmetic_arranger](https://repl.it/repls/ReliableThreadbareSort)

Roberto.

[2020-05-22 04:40] scissorsneedfoodtoo commented on #243
Great, thank you for your feedback @natea123 and for posting a link to your solution. I believe others have mentioned that `setdefaulttimeout()` threw them off as well. That might be something we can mention in the README to prevent learners from getting stuck.

[2020-05-22 14:33] CatalanCabbage commented on #122
Hi!
I've built up a [basic lesson plan here](https://github.com/CatalanCabbage/CurriculumExpansion/blob/6e1d2fe4e0ee7620a49a65ed309f24516b816f79/learn-regular-expressions-by-building-a-spam-filter/lessonPlan.md#lesson-plan-for-regex-course), please check it out; any feedback/discussion is appreciated. :)

Some comments:
* Proceeded with the basic idea we had: **start off small, add complexity to t

[2020-05-22 15:34] CatalanCabbage commented on #122
**A suggestion regarding the UI:**
I believe the stance is:

However, imo, regex isn't like other lessons.
In other lessons, we have outputs/errors that we debug; however, here, we have 'matches' that **we need to convey** to the learner.
**There are no errors/outputs per se; only expectations of matches.**
Now, we can convey this by text or the UI; I find that the UI is very intuitive and helps g

[2020-05-23 01:36] mike-lloyd03 commented on #231
The README.md says:

But the UnitTests look for:

There should be a period at the end of the sentence in the .md file to be consistent with the other error strings.

[2020-05-24 10:46] username1001 opened #299 "Final Project"
The freeCodeCamp curriculum is lacking something, IMO. A project which is built from the heart of the developer.
I think FCC should have one final, CRUD application project, with specific user requests(i.e. should be secure, should be responsive, should allow anyone in the world to visit(if that's not already the case), whatever). Anyway a "final" *real* project, where the students submit to the f

[2020-05-24 19:55] salasy commented on #231
Link to my solution:
[fcc-arithmetic-arranger](https://repl.it/@sasakr/fcc-arithmetic-arranger#arithmetic_arranger.py)

[2020-05-25 19:53] casraysa commented on #236
Hi there!

This is the first project I tried and the instructions were really clear. I didn't find any problems to solve this assignment.

My proposed solution code below:
https://repl.it/@casraysa/fcc-mean-var-std

[2020-05-26 04:44] scissorsneedfoodtoo commented on #231
@mike-lloyd03, awesome, thank you for catching that. I'll update the README to reflect that.

[2020-05-26 06:19] scissorsneedfoodtoo commented on #250
@TevaHenry, I just updated the user stories for the solution and boilerplate. Hopefully they're more clear now. Could you take a look when you have a chance and let us know what you think?

[2020-05-26 07:29] scissorsneedfoodtoo commented on #251
@TevaHenry and @julieg18, I just updated the README and index.html with a could of new user stories. Could you take a look and let us know if everything looks good?

[2020-05-26 07:29] mike-lloyd03 commented on #232
There's some issues with the UnitTests giving bad feedback. It looks like some of the test times were changed but not in the msg argument:

[code]

the assertEqual msg argument should read:
[code]

[2020-05-26 07:38] mike-lloyd03 commented on #232
Also, similar inconsistencies on:

[code]
(Similar to error shown in previous comment)

[code]
(The day in the msg should be `tuesday` not `Tuesday`)

[2020-05-26 17:08] robertue1 commented on #232
Hi there guys! Here is my solution to this problem

[time_calculator_@robertue1](https://repl.it/@robertue1/fcc-time-calculator#time_calculator.py)

[2020-05-26 18:27] casraysa commented on #244
Hi there!

This project was very interesting and good fun. Instructions and the help link were useful and clear. I didn´t find any misunderstanding or problem to solve it.

Solution code below:
https://repl.it/@casraysa/fcc-brute-force-password-cracker

[2020-05-28 01:09] TevaHenry commented on #250
@scissorsneedfoodtoo the user stories are more thorough; however user story 5 is confusing/verbose and undermines user stories 2 and 4.
Given the description of the first unit test, I think it would be fine to just describe a valid input as digits 1-9.

[2020-05-28 01:14] TevaHenry commented on #251
@scissorsneedfoodtoo the additional user stories to accommodate the added difficulty are very well written. I think the project looks great.

[2020-05-28 04:34] scissorsneedfoodtoo commented on #250
Very good point, thank you @TevaHenry. I'll change user story 5 so it reads "The text area should only update the corresponding sudoku grid cell when a whole number between 1 and 9 is entered."

[2020-05-28 04:37] scissorsneedfoodtoo commented on #251
Awesome, thank you for confirming that @TevaHenry, and for all of your feedback.

[2020-05-28 22:55] robertue1 commented on #280
Hi there guys! I'm here to upload my solution to this problem.

[Budget App](https://repl.it/@robertue1/fcc-budget-app#budget.py)

[2020-05-29 20:55] casraysa commented on #233
Hi there!

I've really enjoyed this project, although I've found some parts are a little bit tricky to understand.

I've found a format typo. That word should have the same font format like the rest of "content" words.
![image](https://user-images.githubusercontent.com/14315712/83303588-9661a180-a1fd-11ea-9db1-f53027dbe87a.png)

Finally, I had trouble to get the correct probability until I realize

[2020-05-31 14:02] manshul1807 commented on #231
Hi, Loved the project. Found no glitches. Learnt formatting and googled a lot.

Link : https://repl.it/@ManshulArora/ArithmeticArranger#main.py

[2020-06-02 06:06] scissorsneedfoodtoo commented on #231
@manshul1807, great, thank you for your feedback. Please let us know what you think about the other projects, too.

[2020-06-02 06:26] scissorsneedfoodtoo commented on #233
@casraysa, thanks for your feedback. I'll go in and fix the formatting now.

About the sentence you point out, I agree that it could use a little more clarification. How about "`contents` must be a list of strings where each item is the color of a ball in the hat. For example, if your hat is `{"red": 2, "blue": 1}`, `contents` should be `["red", "red", "blue"]`."

[2020-06-02 06:42] scissorsneedfoodtoo commented on #280
Hi @robertue1, thanks for your feedback. Also, great catch with the description in the Readme. I'll go in and fix that now.

[2020-06-02 21:04] manshul1807 commented on #232
Hi,

Please find my solution. It was a fun simple project. Have to think of completing exceptions one by one.

Link : https://repl.it/@ManshulArora/time-calculator

[2020-06-03 09:52] casraysa commented on #233
Hi Kris,

I agree with you. I think the phrase you suggest is much clearer.

Kind regards,
Salva

________________________________
De: Kristofer Koishigawa <notifications@github.com>
Enviado: martes, 2 de junio de 2020 8:27
Para: freeCodeCamp/CurriculumExpansion <CurriculumExpansion@noreply.github.com>
Cc: casraysa <casraysa@hotmail.com>; Mention <mention@noreply.github.com>
Asunto: Re: [freeCodeC

[2020-06-04 19:28] beaucarnes commented on #232
@ mike-lloyd03 Thanks for catching those. I just updated the tests.

[2020-06-04 20:45] beaucarnes commented on #233
I liked the ideas of @casraysa and @scissorsneedfoodtoo about changing the wording of that sentence. Below is what I came up with and I already updated the project with this wording (though I'm open to changing it again).

"`contents` should be a list of strings containing one item for each ball in the hat. Each item in the list should be a color name representing a single ball of that color. For

[2020-06-05 20:02] beaucarnes commented on #269
@maikroservice Thanks for this advice. I updated the project so the file reading and parsing code is given. If you have time, it would be great to get your input on the rest of this project.

[2020-06-05 21:31] beaucarnes commented on #270
@maikroservice Thanks for putting this together. I really like what you've done. I'm trying to think of the best way to turn this into a project for people to complete while guiding them in the correct direction. Are you available to get on a call to discuss this since I think you would have some good insights.

[2020-06-07 17:36] casraysa commented on #243
Hi there!

To solve this project, first I tried to get open ports list working and I left the verbose output for the final part.

I faced a similar problem to @natea123. I wasn't familiar with the socket package and, until I managed to deal with the socket timeout and closing the connection, I suffered a bit.

Once I got that part done, and I headed to create the verbose part. When I started to te

[2020-06-12 08:08] manshul1807 commented on #232
Had fun completing this project and got more confident in oop.
Personally I felt making chart tough.
Link : https://repl.it/@ManshulArora/budget-app

[2020-06-12 13:40] borntofrappe commented on #231
I'm revisiting the project since I first examined it back in February. Am I correct to assume the prototype is now at the following URL @scissorsneedfoodtoo ?

https://repl.it/@freeCodeCamp/fcc-arithmetic-arranger

It seems there's an additional test with respect to the original. I hope to have something constructive to add soon 👍

[2020-06-12 16:38] salasy commented on #232
@mike-lloyd03  Great that you pointed out the problem with the feedback, it made it a lot easier.

I have noticed that when we get used to using modules, even simple tasks like this become a challenge ...... a very fun challenge.
Link to my solution:
https://repl.it/@sasakr/fcc-time-calculator#time_calculator.py

[2020-06-12 20:31] beaucarnes commented on #231
@borntofrappe Yes, that is the new URL to review. And you are right, there is a new test. Thanks for your help reviewing this!

[2020-06-13 13:22] borntofrappe commented on #231
A few notes on the starter files.

## arithmetic_formatter.py

The starter code fails not because the function is incomplete, but because there is an error in the return value

[code]

I believe this comes from the previous version of the project, but it's worth a fix.

## test_module.py

A very minor fix to line 7, where the word arrangement is missing a letter.

[code]

## README.md

The README

[2020-06-13 13:26] borntofrappe commented on #231
In the spirit of discussion, I also have a couple of questions regarding the code of `arithmetic_arranger.py`

## Function definition

In the starter project, the function is defined as accepting a single argument.

[code]

However, the assignment asks for an optional second argument.

[code]

Should we initialize the argument, or let the campers fill in the required syntax? Given the structure of

[2020-06-14 16:07] manshul1807 commented on #234
Liked doing this project. Particularly found it easier after doing budget app project. I found no mistakes but would recommend to make the projects a bit harder and the steps to do this was mentioned in detailed way which is not true in actual sense. My two cents. Thanks for these projects :)

Link : https://repl.it/@ManshulArora/shape-calculator#shape_calculator.py

[2020-06-14 16:15] manshul1807 commented on #280
Had fun completing this project and got more confident in oop.
Personally I felt making chart tough.
Link : https://repl.it/@ManshulArora/budget-app

[2020-06-15 08:45] borntofrappe commented on #232
I revisited the project at the [new URL](https://repl.it/@freecodecamp/fcc-time-calculator), and have but a few notes on the updated version.

## time_calculator.py

The starter code has the function return a variable which is never initialized. Perhaps it is better to have the `return` statement refer to the start time.

[code]

The function should also accept an optional argument, but perhaps it

[2020-06-15 21:27] robertue1 commented on #237
![Screen Shot 2020-06-15 at 5 25 01 PM](https://user-images.githubusercontent.com/34829066/84707716-34a77400-af2d-11ea-93a0-65a0286a7e4f.png)

Hey there... I was working on this project, I spent some days without using it and when I decided to finish it, I'm facing this problem that doesn't allow me to try my answer. Does anyone has any idea of how to overcome this?

[2020-06-16 04:47] scissorsneedfoodtoo commented on #231
Hi @borntofrappe, thanks for all of your helpful suggestions.

I went in and changed `test_arangement` to `test_arrangement` in the test module. As for `return arranged_problems`, I believe that was intentional to help communicate that the problems should be arranged as a string, which students should create themselves. But we could certainly change it since the test module isn't directly calling

[2020-06-16 07:38] scissorsneedfoodtoo commented on #237
Hi @robertue1, thanks for reporting this.

I see a lot of 404 errors in the dev console. Installing packages is also an issue in new projects. I think this is a repl.it issue, unfortunately.

Please feel free to download your current progress and continue coding locally until they're able to resolve the issue.

[2020-06-16 07:46] borntofrappe commented on #231
I see your point @scissorsneedfoodtoo

Using the `re` library requires building a regular expression, which in and of itself is a good exercise.

I now also understand the reasoning behind the default return statement, and apologize for having made the same suggestion in the Time Calculator project. It works as a prompt, to give a direction to campers 👍

[2020-06-16 08:06] borntofrappe commented on #234
I revisited the project [at the new URL](https://repl.it/@freecodecamp/fcc-shape-calculator), and found a potential issue with one of the tests.

The issue is with the Square class and the test `test_set_atributes`: since the test updates the width of the shape with `set_width`, it's enough to have the `__str__` method use the width to have the test succeed.

[code]

In this instance, there's no g

[2020-06-16 08:28] borntofrappe commented on #234
I've a couple of additional notes with regards to the starter project.

## README.md

The instructions are very clear. The only suggestion I have is for the paragraphs describing how the shapes are represented as a string.

Instead of using hard-coded values:

I would specify the format as follows:

Similarly, and for the Square class

## main.py

The script includes a series of methods to show ho

[2020-06-16 20:37] manshul1807 commented on #233
Another nice but tricky project. Have to read a couple of times to understand the experiment and draw function.

Link : https://repl.it/@ManshulArora/fcc-probability-calculator#prob_calculator.py

[2020-06-16 21:22] jaynguyens commented on #125
Hi @scissorsneedfoodtoo is it issue still active?

If yes, I would like to help. Following on, besides adjusting breakpoints for the images, is there anything else that you would like to implement?

[2020-06-17 05:09] scissorsneedfoodtoo commented on #231
No worries @borntofrappe, thanks for all of your great suggestions. It's definitely worth considering everything you pointed out, even with the default return statement. I'm sure other people will point out the same thing and we're always open to making changes to improve clarity.

[2020-06-17 12:25] borntofrappe commented on #280
I completed the [new version of the project](https://repl.it/@freecodecamp/fcc-budget-app). and have a few notes on the starter project.

## main.py

This is trivial, but the class and the function are imported with a different syntax.

[code]

Perhaps it's better to use a single technique for both:

- import `budget`

[code]

    The category and function are then called with `budget.Category` an

[2020-06-18 08:39] borntofrappe commented on #233
Revisiting the project [at the new URL](https://repl.it/@freecodecamp/fcc-probability-calculator), I've found the changes have helped describing the assignment. I've only a few notes for the README.

- I found the line introducing the project to be mildly confusing

    Personally, I'd feel the following would be clearer

- when describing the arguments of the `experiment` function, I found the de

[2020-06-18 19:32] manshul1807 commented on #236
Done with this project. Pretty easy i must say. I would be interested to know what was the intention of this project ( in a positive way ) . Probably to get familiar with a bit of numpy. It would have been better if some more situations are added in the project.

Also, I believe there should be error if the length of list is greater than 9.

Link : https://repl.it/@ManshulArora/fcc-mean-var-std#me

[2020-06-19 01:58] scissorsneedfoodtoo commented on #125
Hey @jaynguyens, thank you for your interest in this project. Yes, it's still active.

Besides adding/adjusting the breakpoints for images, we'd also like to make sure this is mobile first and responsive. Also, it would be good to cover some of the other properties and values in our [current Flexbox challenges](https://www.freecodecamp.org/learn/responsive-web-design/css-flexbox/), as long as they

[2020-06-19 13:56] anant772 opened #300 "Test 1 and test 6 failed"
My ouptut is same as the desired output but still it is showing Test 1 and Test 6 failed

   32      3801      45      123
+ 698    -    2    + 43    +  49
-----    ------    ----    -----

F..

F..
======================================================================
FAIL: test_arangement (test_module.UnitTests)
----------------------------------------------------------------------
Traceback (mo

[2020-06-19 13:57] #300 closed

[2020-06-19 13:58] anant772 commented on #231
It is Showing i have failed Test 1 and Test 2 but my output is correct

   32      3801      45      123
+ 698    -    2    + 43    +  49
-----    ------    ----    -----

F..

F..
======================================================================
FAIL: test_arangement (test_module.UnitTests)
----------------------------------------------------------------------
Traceback (most recent call las

[2020-06-19 14:00] anant772 commented on #231
`

   32      3801      45      123
+ 698    -    2    + 43    +  49
-----    ------    ----    -----

F..

F..
======================================================================
FAIL: test_arangement (test_module.UnitTests)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "c:\Users\anant\OneDrive\Desktop\Study Material\puthon pro

[2020-06-19 14:10] anant772 commented on #231
Can anyone tell me what is the problem in my code .
Code is running successfully and the output is also same as the required output but I can not clear the Test.
**PLEASE HELP ME**
`def arithmetic_arranger(problem,x=False):
    ab=False
    ab=x
    x=[]
    y=[]
    z=[]
    cal=[]
    row1=""
    row2=""
    row3=""
    row4=""
    for key in problem:
        problem1 = key.split()
        x.app

[2020-06-23 06:14] scissorsneedfoodtoo opened #301 "Learn Basic Redux by Building an Exercise Tracker"

[2020-06-23 06:14] scissorsneedfoodtoo opened #302 "Learn Basic React by Building a Quiz App"

[2020-06-24 04:50] manshul1807 commented on #237
Had fun completing this project. One thing which can be added that to which level rounding has to be done. However, it can be checked from test files.

Link : https://repl.it/@ManshulArora/demographic-data-analyzer#demographic_data_analyzer.py

[2020-07-01 15:58] borntofrappe commented on #236
I've revisited the project and have a few suggestions for [the most recent README](https://repl.it/@freecodecamp/fcc-mean-var-std#README.md).

- in the introduction, I found the instructions to be redundant. Instead of repeating the requirements of the project, perhaps it's better to describe the first two paragraphs as follows

- following the example, the README should describe how the error mes

[2020-07-01 16:19] borntofrappe commented on #237
I've revisited the project in its most recent version, and the instructions are much clearer.

The only thing I found strange is that the README adds the title of the project in the **Assignment** section

[code]

This is the first time the title is actually included in a python project. It might be worth to consider a common structure.

For the rounding, [the most recent README](https://repl.it/@

[2020-07-01 21:05] borntofrappe commented on #279
I've just completed the project, and I'd agree with @beaucarnes with regards to the project difficulty. I found it more approachable than the projects visualizing medical data and the time series, and including the project earlier is a good idea.

For the project at hand, the line describing the `y-axis` mispells the word axis

Past this typo, the instructions are rather clear, but I found the not

[2020-07-01 21:18] borntofrappe commented on #279
I'd like to add another note for the lines of best fit. At first, I drew the lines using two datapoints only:

[code]

This works, as the line is represented by a straight segment and it's enough to consider its two extremes. Unfortunately however, the code doesn't pass the test comparing the values in their `y` coordinate (the `test_plot_lines` test). The test in question describes one value for

[2020-07-07 15:04] imkleats commented on #233
I would second previous comments about multiple ways to (correctly if regardless of efficiency) implement random draws that would not satisfy the final test, even with the current delta fuzziness. My recommendation would be some combination of 1) increasing N by some degree for greater convergence; and 2) deriving the delta allowance from the theoretical standard deviation to target a specific con

[2020-07-08 19:52] rafaelmelhem commented on #236
I wrote my code almost like you but was getting trouble with my arrays, will correct mine using yours as reference :)
Thanks for sharing!

[2020-07-18 20:07] markerikson commented on #116
Hi, following up on this.

I just published a brand new ["Redux Essentials" core docs tutorial](https://redux.js.org/tutorials/essentials/part-1-overview-concepts).  It teaches "how to use Redux, the right way", to folks who have never used Redux before, and shows use of our latest recommended APIs and approaches: Redux Toolkit, React-Redux hooks, "slice/ducks" files, etc.

I'd specifically like t

[2020-07-19 13:00] yashvarshney003 commented on #234
Everything seems fine but at line number 73 in test_module.py
 self.sq.set_width(4)
 actual = str(self.sq)
 expected = "Square(side=4)"
self.assertEqual(actual, expected, 'Expected string representation of square after setting width to be "Square(side=4)"')
Why square object calling set_width method . It should be "self.sq.set_side(4)".
Pls take a look at that.

[2020-07-21 18:20] filbranden opened #304 "Problematic usage of assertAlmostEqual in Mean-Variance-Standard Deviation Calculator"
This is about [Data Analysis with Python Projects - Mean-Variance-Standard Deviation Calculator](https://www.freecodecamp.org/learn/data-analysis-with-python/data-analysis-with-python-projects/mean-variance-standard-deviation-calculator), also tracked [here in this repository](https://github.com/freeCodeCamp/CurriculumExpansion/blob/master/mean-variance-standard-deviation-calculator/mean-var-std.m

[2020-07-24 10:49] scissorsneedfoodtoo commented on #116
Hi @markerikson, thanks for your patience and the update. We're working on some of the very early HTML and CSS projects at the moment, but we'll make sure to dive into the docs before we start porting this project over.

[2020-07-25 18:08] GohEeEn commented on #243
Hi here,

So when I was reading the comments here, it seems like we are not required to do input validation on parameter **target**. However, I found the following statements, that sounds the opposite.

![image](https://user-images.githubusercontent.com/34720382/88463249-5b03ec00-cea9-11ea-823e-29cdf745b1b9.png)

I wasn't sure if my understanding is correct, but what is the invalid URL and IP mean

[2020-07-31 14:19] JoshuaPelealu commented on #115
Is this project still being worked on?

[2020-07-31 19:44] S1ngS1ng commented on #115
Code wise, it is ready to go. I was working on the documentation (guide) and have yet to update the codebase.
@scissorsneedfoodtoo As far as I remember, you mentioned that this was not on a high priority when we talked about it last time. Is there any updates regarding this (i.e. the project-based challenge, as mentioned last time)?

[2020-08-04 02:11] scissorsneedfoodtoo commented on #115
Hi @JoshuaPelealu, thanks for your interest. Also thanks for the update @S1ngS1ng. Awesome to hear that you were able to rework everything into TypeScript.

There's still a lot of deliberation about how to handle these later Front End Libraries projects, especially this one since we need a way to run TypeScript in the browser. At the moment we're working on getting the Front End Libraries projects

[2020-08-04 10:35] Twaha-Rahman commented on #248
@beaucarnes I am really excited about the FCC v7 curriculum and would love to contribute to it. But I have some questions about this project that needs to be cleared before I can start -

1) Is this going to be a full stack E-commerce site?

2) Are we going to do testing with Jest, Mocha and Chai for Unit Testing, Integration Testing and e2e testing?

3) If we are doing e2e testing, we'll we be us

[2020-08-04 12:50] Twaha-Rahman commented on #246
@beaucarnes I am really excited about the FCC v7 curriculum and would love to contribute to it. But I have some questions about this project that needs to be cleared before I can start -

1) Is this going to be a full stack E-commerce site?

2) We are using Jest for Unit testing, right?

I'm looking forward to your reply!

[2020-08-10 15:58] S1ngS1ng commented on #115
@scissorsneedfoodtoo  Sorry for the delay Kris. We were mostly out of town last week and over the weekends.
I'll create a PR this evening. I will link this issue to the PR as well.
Again, sorry for the delay 🤦‍♂️

[2020-08-11 06:19] S1ngS1ng commented on #115
PR created https://github.com/freeCodeCamp/CurriculumExpansion/pull/305
Feel free to include more reviewers. In case of any comments/concerns, I'd address that as soon as I can.
@scissorsneedfoodtoo Please take a look at the [README](https://github.com/freeCodeCamp/CurriculumExpansion/blob/feat/learn-typescript-by-building-a-poker-game/learn-typescript-by-building-a-poker-game/poker-game-ts/README

[2020-08-17 21:09] darren-stoll commented on #114
I was looking to help with this since it was marked with "Help Wanted", but it looks like @Ramon92 was working on updating the prototype?

With regards to typing CSV into a text file, could that be done with instruction on codepen.io? I feel like that instruction is already given in the latest sandbox that I see [here](https://codesandbox.io/s/learn-csv-by-building-a-mailing-list-z52ue). I'd love

[2020-08-19 12:07] scissorsneedfoodtoo commented on #115
Hey @S1ngS1ng, thank you for your patience and all the hard work you put into this. I took a quick look and everything LGTM :+1: :+1: Like you mentioned, the README will really help break this project down into steps.

We're in the process of moving some projects around and trying to figure out the best way to implement this one. We'll definitely reach out about how you might break this project do

[2020-08-19 12:12] scissorsneedfoodtoo commented on #304
Hi @filbranden, thank you for your patience and your very detailed comments. I'll transfer this to the main freeCodeCamp repo for more visibility.

[2020-08-19 18:56] darren-stoll commented on #114
Haven't heard anything, but I got impatient and started on a thing [here](https://codesandbox.io/s/learn-csv-by-building-a-mailing-list-template-i18yd?file=/README.md).

I took a lot of ideas from Ramon92's code and added them to my implementation, but I also added a more descriptive readme file to help guide the student as to what needs to be done. I tried to stick with basic JavaScript where I c

[2020-08-20 17:04] S1ngS1ng commented on #115
@scissorsneedfoodtoo Glad it helps! Feel free to lemme know later when we need to break it down. I'd be more than happy to help.

[2020-08-24 09:30] scissorsneedfoodtoo commented on #114
Hi @darren-stoll, thanks for your patience and your improvements on the current prototype. I really like the direction you're heading.

We've paused development on this and other projects in the upcoming [Data Visualization](https://www.freecodecamp.org/news/python-curriculum/#-javascript-data-visualization-11-projects-), at least for the time being. The current plan is to move some of these pract

[2020-08-26 04:18] HansUXdev commented on #103
I just learned about this a few days ago when I posted about how stuff is being built on FCC.
https://forum.freecodecamp.org/t/how-is-new-content-created-at-fcc/416191/2

The repo I built so far is:
https://github.com/HansUXdev/LearnMongoGitPod

It's still very much a work in progress but I built it as a proof of concept.
The idea is to leverage GItPod's remote developer environment for educationa

[2020-08-27 04:33] scissorsneedfoodtoo commented on #103
Hi @HansUXdev, thanks for all of the hard work and thought you put into this proof of concept. I ran through what you have and I like the direction this is heading.

As Quincy mentioned in the forum post you linked to, we're working on a way to run MongoDB in VS code and test it. GitPod works fine for a prototype, though.

The idea of building this project as a CRUD app with Node and Mongoose was

[2020-08-27 04:45] scissorsneedfoodtoo commented on #233
Hi @imkleats, thanks for your patience and your detailed recommendations. They sound good if they make the project more flexible, though if I'm being honest I don't fully understand your suggestions.

Could you give us an example of your preferred changes and post a link to a project on Repl.it?

[2020-08-27 05:50] imkleats commented on #233
I'll see if I can find the time soon. Apologies for the stats jargon. It's basically saying that, rather than expanding the range of acceptable results each time we come across an alternative approach, we could use what we know about the general/theoretical probability formulas to make a range that works for a lot of possible solutions.

[2020-08-28 02:50] scissorsneedfoodtoo commented on #233
No need to apologize @imkleats, thank you for clarifying that for me. I'm sure what you originally wrote makes total sense if you have a better grasp of math than I do!

Sure, please feel free to write back when you have some time. We'd really appreciate your help opening up this project to more possible solutions.

[2020-08-30 19:54] HansUXdev commented on #103
I recently found this.
https://marketplace.visualstudio.com/items?itemName=hansvn.instant-mongo

It was originally a classroom but I changed it to statebar for fun.
I want to eventually do a resume version based off [resume.json](https://jsonresume.org/), the idea being it can eventually can used for a profile or other projects throughout their career.

[2020-08-31 07:31] scissorsneedfoodtoo commented on #103
Hi @HansUXdev, that extension is a great find. Will be good to keep it in mind as we discuss how this and other Mongo projects will be taught.

Also, feel free to pitch a basic outline or simple prototype of what you have in mind. We can discuss the ideas you have and perhaps open another issue for a new project if we decide to go that route.

[2020-09-01 17:53] ylevental commented on #237
I saw an error in the prototype.  The last block of code in demographic_data_analyzer.py should read

`  return {'race_count': race_count, 'average_age_men': average_age_men, 'percentage_bachelors': percentage_bachelors, 'higher_education_rich': higher_education_rich, 'lower_education_rich': lower_education_rich, 'min_work_hours': min_work_hours, 'rich_percentage': rich_percentage, 'highest_earnin

[2020-09-06 19:02] Sky020 commented on #302
Hey @scissorsneedfoodtoo , is this project up for grabs? Or, is there something more urgent this side of the platform could use work on?

[2020-09-12 02:29] scissorsneedfoodtoo commented on #302
Hi @Sky020, thanks for your patience and your interest in this project.

I talked with @RandellDawson and we decided that we could use some help on the Responsive Design section. If you don't mind, give us a few days to discuss this and we'll have some options for projects/prototypes you can take.

[2020-09-26 16:56] RafaelDavisH commented on #173
Hi @scissorsneedfoodtoo I see this project is still open. I'm sorry I have being absent for awhile.  May I complete this project ?

[2020-09-28 06:15] scissorsneedfoodtoo commented on #173
Hey @RafaelDavisH, good to hear from you.

@RandellDawson and I have made some changes to this and many of the other projects for the first certificate. If you have some time to hop on a quick call I can let you know what's going on.

[2020-09-28 06:18] RafaelDavisH commented on #173
Sure. Right now?

[2020-09-28 06:23] RafaelDavisH commented on #173
Sorry I miss read the text. I have tmw, Monday available- morning 9-11am PT. I'm on Freecodecamp Discord maybe through there?

[2020-12-05 14:22] kelvinho1234 commented on #232
https://repl.it/@kelvinho1234/boilerplate-time-calculator#time_calculator.py

here is my solution. it is very challenging for new learner

[2020-12-27 03:46] Ventuscoder commented on #235
Hi! I am looking forward to contributing to this project. I checked the section labelled **scientific computing with python projects**
but there wasn't a project labelled **n queen solver**. Is this a new project altogether?

[2021-02-03 06:51] psyduck1203 commented on #265
Hey, can I work on this issue?

[2021-02-17 20:38] sevketcansefer commented on #233
Hello everyone, i would like to bring my curiosity here about using np.random.randint and random.randint.

`for _ in range(quantity):`
`randomNum = random.randint(0,len(self.contents)-1)`
`returnList.append(self.contents.pop(randomNum))`
`return returnList`

At the start `i used np.random.randint(0,len(self.contents))` and encounter with the error **Expected hat draw to return two random items fro

[2021-02-17 20:48] ieahleen commented on #233
@sevketcansefer please use the forum (forum.freefodecamp.org) to ask for help with coding, this is not the place

[2021-04-10 17:58] alwaysasking commented on #231
Hey! When I tried running your code, I received some errors.

(can't use .split() on a list, nor on integers)

for i,problem in enumerate(problems):
        num1,op,num2=problems.split()

remedied by:
 for i in problems:
        a=str(i).split()
        num1=a[0]
        op=a[1]
        num2=a[2]

Then I have a question--I know the test runs to check if we followed the guidelines, but is the outpu

[2021-04-12 06:06] scissorsneedfoodtoo commented on #231
Hi @alwaysasking, thanks for reaching out about this.

For help with the coding challenges, please check out the forum at https://forum.freecodecamp.org. The contributors there are very active, and can help answer and questions you might have.

Also, there's a good chance that someone else had a similar issue and was able to work it out, so please make sure to search through the existing threads b

[2021-04-24 13:57] neo-10 opened #308 "Traceback (most recent call last): File "/home/runner/boilerplate-mean-variance-standard-deviation-calculator-1/test_module.py", line 18, in test_calculate_with_few_digits self.assertRaisesRegex(ValueError, "List must contain nine numbers.", mean_var_std.calculate, [2,6,2,8,4,0,1,]) AssertionError: ValueError not raised by calculate"
import numpy as np

def calculate(list):
    if len(list) != 9:
        return 'ValueError, '
    x = np.array(list).reshape(3,3)
    result = {
        k:[func(x,axis=ax).tolist()
          for ax in [0,1,None]]
        for (k,func)
        in zip(["mean", "variance", "standard deviation", "max", "min", "sum"],
              [np.mean, np.var, np.std, np.max, np.min, np.sum])
    }
    return resu

[2021-04-24 14:20] gikf commented on #308
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Get Help"** button on the challenge on freeCodeCamp and choose the **"Ask for help"** option, which will help you create a question in the right part of the forum. Volunteers on the forum usually respond to questions with

[2021-04-24 14:20] #308 closed

[2021-05-26 12:19] saeedtlb commented on #302
Hi @scissorsneedfoodtoo , How can I help on this issue??

[2021-05-27 09:54] sultonbayevogabek commented on #98
Hi

[2021-05-28 02:52] scissorsneedfoodtoo commented on #302
Hi @saeedtlb, thank you for your interest in helping with the curriculum.

Currently we're doing a lot of the curriculum development for the front 3 (Responsive Web Design, JavaScript Algorithms and Data Structures, and Front End Libraries) in-house. Once we have a system in place and tooling to make it easier to contribute, we'll open things up again for volunteers.

You can follow our progress i

[2021-05-28 15:35] sudhirdontha72 commented on #272
@beaucarnes , I will be happy to help and contribute to the same repo in case if this issue is still open.
Please feel free to drop a comment here.

Thank you!
Stay safe :)

[2021-07-13 12:18] FlamerJay commented on #237
Hello guys !
I want to start off by saying thank you and great job!
I have a question I would like to ask which is related to the below :
`  average_age_men = round(df.loc[df['sex'] == 'Male', 'age'].mean(), 1`

What does the number 1 stand for in this code, furthermore since im new to ccoding I am having diffuclties knowing when to use () or [] so if you guys can give some advice I would really a

[2021-07-16 16:50] lavish2801 commented on #237
Hello Everyone,
Trying to learn from free code camp data analyst course.
There is an error in my code for #Demographic_data_analyzer .. it will be a pleasure if someone can resolve this issue. try to run .. link is below
https://replit.com/@LavishSinghal/boilerplate-demographic-data-analyzer-1#demographic_data_analyzer.py
Thank You

[2021-07-29 02:37] scissorsneedfoodtoo commented on #237
Hi @FlamerJay and @lavish2801.

For help with the coding projects or challenges, please check out the forum at https://forum.freecodecamp.org. The contributors there are very active, and can help answer any questions you might have.

[2021-08-28 16:49] A-GHOSH-dev commented on #125
I am interested in contributing here. This will be my first contribution so I need a little guidance please. Just give me an overview of what has to be done.

Is this issue still active?

[2021-09-01 02:53] scissorsneedfoodtoo commented on #125
Hi @A-GHOSH-dev, thanks for your interest in contributing to the project based curriculum.

This is still in active development, though we're handing a lot of the curriculum development internally at the moment. You can track our progress on this Google sheet: https://docs.google.com/spreadsheets/d/1KXEJvgnAziiePMp2Ovf_ssDqCFFWYuycXWBNp91k3qM/

It'll take us some time to open this project up to co

[2021-09-06 13:10] ShaunSHamilton commented on #120
Hey @BrijeshYadav001st

Apologies, for the delay in replying. For help with the Machine Learning curriculum, we would appreciate feedback on the curriculum outline, which can be given through [this Google Form](https://docs.google.com/forms/d/e/1FAIpQLScLiGgmYh2DxdTmPxS141J5knuOtcYN9ulOtBwsRbkuVwXRRQ/viewform)

For the Frontend curriculum, we have not done much development on the tests for these.

[2021-11-29 10:39] Schawnnara commented on #115
hi

[2021-12-13 05:58] scissorsneedfoodtoo commented on #115
Hey @S1ngS1ng, hope everything's been going well on your end. Thank you again for all of your hard work on this project, and to everyone else who participated.

I just got a ping about this in my notifications, though I'm not sure why. Still, I wanted to give you a quick update on how curriculum development is going on our end.

Currently we're working hard on releasing the first certification (HT

[2022-01-13 05:26] S1ngS1ng commented on #115
@scissorsneedfoodtoo Got it, thanks a lot for the updates.
Lemme know anytime if I need to update some of the code here, or if we are planning to include more functionalities within this project. I'd be more than happy to help

[2022-04-05 11:10] GedalyaBlau commented on #121
hi... this project is both "not started" in front three projects, and also "ready to code project tests" in back seven projects... so which is it?

[2022-04-05 12:55] scissorsneedfoodtoo commented on #121
Thanks for pointing that out, @GedalyaBlau. I've removed it from that project board.

We've largely moved over to a spreadsheet for curriculum planning. The spreadsheet makes it easier to see the big picture, sequence the projects, and track which concepts are taught / reviewed across multiple projects.

Here's a link if you're interested in our progress: https://docs.google.com/spreadsheets/d/1KX

[2022-04-05 13:20] GedalyaBlau commented on #121
thank you!

On Tue, Apr 5, 2022 at 3:55 PM Kristofer Koishigawa <
***@***.***> wrote:

[2022-04-08 19:15] NikolaVlat commented on #232
Hey folks, am I just lacking some sleep or should '11:59 PM' + '24:05' return '0:04 AM (2 days later)' not '12:04 AM (2 days later)'.
11: 59 PM is a minute before midnight, so clock goes back to 0:00 after that not 12:00.

[2022-07-26 03:57] #281 closed

[2022-07-26 03:58] #280 closed

[2022-07-26 03:58] #279 closed

[2022-07-26 03:59] #278 closed

[2022-07-26 03:59] #274 closed

[2022-07-26 03:59] #273 closed

[2022-07-26 03:59] #272 closed

[2022-07-26 04:00] #271 closed

[2022-07-26 04:00] #270 closed

[2022-07-26 04:00] #269 closed

[2022-07-26 04:01] #268 closed

[2022-07-26 04:01] #267 closed

[2022-07-26 04:02] #251 closed

[2022-07-26 04:02] #250 closed

[2022-07-26 04:02] #243 closed

[2022-07-26 04:03] #238 closed

[2022-07-26 04:03] #237 closed

[2022-07-26 04:03] #236 closed

[2022-07-26 04:04] #234 closed

[2022-07-26 04:04] #233 closed

[2022-07-26 04:04] #232 closed

[2022-07-26 04:05] #231 closed

[2022-07-26 04:06] #134 closed

[2022-07-26 04:08] #244 closed

[2022-07-26 04:10] #132 closed

[2022-07-26 04:10] #131 closed

[2022-07-26 04:11] #130 closed

[2022-07-26 04:11] #129 closed

[2022-07-26 04:11] #128 closed

[2022-07-26 04:11] #127 closed

[2022-07-26 04:11] #126 closed

[2022-07-26 04:12] #124 closed

[2022-07-26 04:12] #125 closed

[2022-07-26 04:16] #302 closed

[2022-07-26 04:17] #241 closed

[2022-07-26 04:17] #242 closed

[2022-07-26 04:17] #245 closed

[2022-07-26 04:17] #246 closed

[2022-07-26 04:17] #247 closed

[2022-07-26 04:17] #248 closed

[2022-07-26 04:17] #249 closed

[2022-07-26 04:17] #252 closed

[2022-07-26 04:17] #253 closed

[2022-07-26 04:17] #254 closed

[2022-07-26 04:17] #255 closed

[2022-07-26 04:17] #256 closed

[2022-07-26 04:17] #257 closed

[2022-07-26 04:17] #258 closed

[2022-07-26 04:17] #259 closed

[2022-07-26 04:17] #260 closed

[2022-07-26 04:17] #261 closed

[2022-07-26 04:17] #262 closed

[2022-07-26 04:17] #263 closed

[2022-07-26 04:17] #264 closed

[2022-07-26 04:17] #265 closed

[2022-07-26 04:17] #266 closed

[2022-07-26 04:17] #296 closed

[2022-07-26 04:17] #299 closed

[2022-07-26 04:17] #301 closed

[2022-07-26 04:19] #105 closed

[2022-07-26 04:19] #106 closed

[2022-07-26 04:19] #107 closed

[2022-07-26 04:19] #108 closed

[2022-07-26 04:19] #109 closed

[2022-07-26 04:19] #110 closed

[2022-07-26 04:19] #111 closed

[2022-07-26 04:19] #113 closed

[2022-07-26 04:19] #114 closed

[2022-07-26 04:19] #115 closed

[2022-07-26 04:19] #116 closed

[2022-07-26 04:19] #117 closed

[2022-07-26 04:19] #118 closed

[2022-07-26 04:19] #119 closed

[2022-07-26 04:19] #120 closed

[2022-07-26 04:19] #121 closed

[2022-07-26 04:19] #122 closed

[2022-07-26 04:19] #123 closed

[2022-07-26 04:19] #133 closed

[2022-07-26 04:19] #173 closed

[2022-07-26 04:19] #209 closed

[2022-07-26 04:19] #217 closed

[2022-07-26 04:19] #235 closed

[2022-07-26 04:19] #239 closed

[2022-07-26 04:19] #240 closed

[2022-07-26 04:21] markerikson commented on #116
Hah, I'd kinda forgotten about this :)

@jdwilkin4 : outta curiosity, what's the final resolution here?

[2022-07-26 04:21] #98 closed

[2022-07-26 04:21] #99 closed

[2022-07-26 04:21] #100 closed

[2022-07-26 04:21] #101 closed

[2022-07-26 04:21] #102 closed

[2022-07-26 04:21] #103 closed

[2022-07-26 04:21] #104 closed

[2022-07-26 04:21] #194 closed

[2022-07-26 05:40] jdwilkin4 commented on #116
HI @markerikson !

The freeCodeCamp team has decided to focus on the new vanilla JS curriculum and building out the prototypes in house.
It will be a while before the team gets to the new frontend libraries curriculum.

Once the team moves to the frontend libraries curriculum, then we will definitely revisit these earlier projects. 👍

[2022-07-26 05:56] markerikson commented on #116
Ah.  That's... a bit disappointing tbh.  I do understand trying to prioritize limited resources and time (goodness knows I have enough of that problem myself), but as I understand it FCC's curriculum is _still_ teaching legacy Redux patterns that we've deprecated years ago and _don't_ want people learning or using for actual apps today.  (Granted I haven't had time to go through the current curric

[2022-07-26 06:02] phryneas commented on #116
Or at least a warning on the old tutorial and linking to the docs?

[2022-07-26 06:04] jdwilkin4 commented on #116
I am going ping @QuincyLarson because he would be better suited to answer that 😄

[2022-07-26 15:02] QuincyLarson commented on #116
@markerikson Would you be interested in helping us develop a more up-to-date project-oriented Redux curriculum?

[2022-07-26 15:04] markerikson commented on #116
Interested in theory, yes :) the catch is that I've already got a ton of stuff on my plate between day job and other maintainer-ish stuff (including a mile-long list of maintainer todos I don't have time to get to), so my ability to put time into this would be very limited.  But happy to start talking and see what we can figure out!

[2022-07-29 00:22] bbsmooth opened #319 "music-playlist-app accessibility enhancements"
Hey @jdwilkin4, I'm starting with the big stuff first. I know that accessibility probably isn't the main concern for this project. But it is also nice to set a good example.

- [x] The four control buttons at the top need text associated with them. I would probably use sr-only text but you can use aria-label if you prefer. Additionally, the text for the play/pause button should be updated dependin

[2022-07-29 04:55] jdwilkin4 commented on #319
Hi @bbsmooth

Thank you for your feedback.

I will have some time this weekend to implement those changes 👍

[2022-08-14 20:08] jdwilkin4 commented on #319
@bbsmooth
I have made all of the changes mentioned in the list 👍

[2022-08-21 22:43] julien-aw commented on #257
I would be interested in helping with this project too

[2022-08-21 22:44] julien-aw commented on #113
I would be interested in helping with this project.

[2022-08-21 23:08] jdwilkin4 commented on #113
Hi @julien-aw !

Thank you for your interest in freeCodeCamp.

All of the project development has been moved in house by the fcc team.
If you are interested in contributing please look at our other repos with `help wanted` or `good first issue` labels.
https://github.com/freeCodeCamp/freeCodeCamp/issues

[2022-08-26 19:17] shithilIRON commented on #133
Thank you for your help! Anything from participating in discussions about each project to reviewing one or building your own is greatly appreciated

[2022-09-06 19:57] bbsmooth opened #325 "music-playlist-app additional accessibility enhancements"
@jdwilkin4 More accessibility improvements after we finish [#319](https://github.com/freeCodeCamp/CurriculumExpansion/issues/319).

[ ] When the user clicks the prev/next song button, screen readers should automatically announce the name of the new song. I think this would be best done with a hidden active region. I will be happy to implement this once we have the other issues in [#319](https://gi

[2022-09-27 21:26] thaNorthStar commented on #173
Can we use someone more handsome in the pic? this guy distracts from everything else , no one will be able to concentrate on anything else if we dont change the pic

[2022-09-27 21:56] jdwilkin4 opened #327 "Testing of music player app and fixing bugs"
There are couple of bugs that found in the music player project.

Here is one of them:
If you delete the first two songs in the list and then try to play the third song (which is now the first song in the list) it won't play and you'll get the following console error:

[code]

I want to do some more testing and find/fix any bugs left in the app.

[2022-09-27 21:59] #319 closed

[2022-09-27 22:02] jdwilkin4 commented on #325
If you are interested in working on this and creating a PR, that is totally fine with me. 👍

I am going to be working on [this issue](https://github.com/freeCodeCamp/CurriculumExpansion/issues/327) and reach out to Naomi and Kris to help me test out the app some more to find any more bugs.

[2022-09-29 08:25] solution234 commented on #327
I have tried to recreate the bug here:https://rebrand.ly/lub4f9a